<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>a</title>
    <meta charset="UTF-8">
    <script src="/static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
    <script src="/static/assets/js/json2.js" th:src="@{/assets/js/json2.js}"></script>
    <script src="/static/assets/js/jquery.history.js" th:src="@{/assets/js/jquery.history.js}"></script>
</head>
<body>
    a页面<br>
    <a id="jump" href="javascript:">跳转到报名页面</a><br>
    <a id="jump1" href="javascript:">跳转到签到列表页面</a><br>
</body>
<script type="text/javascript">
    $("#jump").click(function () {
        window.location.href = "http://reading.chaoxing.com/qd/api/sign-up?signUpId=1";
    });
    $("#jump1").click(function () {
        window.location.href = "http://reading.chaoxing.com/qd/sign-in/list?signId=1";
    });
</script>
</html>