<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>海报</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mobile/assets/css/public.css" th:href="@{/mobile/assets/css/public.css}">
    <link rel="stylesheet" href="/static/mobile/assets/css/poster.css" th:href="@{/mobile/assets/css/poster.css}">

</head>

<body>
    <div class="poster-app" id="capture" v-cloak>
        <div class="capture-box">
            <div class="poster-box" v-show="showOriginDom">
                <div class="img-box">
                    <img :src="activity.coverCloudId | imgUrlFilter">
                </div>
                <div class="text-box">
                    <p class="text-title marginb6">{{activity.name}}</p>
                    <dl class="text-list">
                        <dt class="label">活动时间&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                        <dd class="info"> {{ activity.startTime | timestampScopeFormat(activity.endTime, 'YYYY-MM-DD HH:mm') }}</dd>
                    </dl>
                    <dl class="text-list" v-show="activityAddress">
                        <dt class="label">活动地点&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                        <dd class="info">{{activityAddress}}</dd>
                    </dl>
                    <dl class="text-list" v-if="activity.organisers">
                        <dt class="label">主办方&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                        <dd class="info">{{activity.organisers}}</dd>
                    </dl>
                    <dl class="text-list" v-if="signUp">
                        <dt class="label">报名容量&nbsp;&nbsp;&nbsp;&nbsp;</dt>
                        <dd class="info" v-if="signUp.limitPerson">{{signUp.personLimit}}人</dd>
                        <dd class="info" v-else>无限制</dd>
                    </dl>
                </div>
                <div class="qrcode-box">
                    <div id="canvas" class="qrcode"></div>
                </div>
                <div class="text-tip">扫码访问活动</div>
            </div>
            <img id="canvasImage" src="">
        </div>
        <div class="btn-download" v-if="isShowDownloadBtn()" @click="download">保存到本地</div>
    </div>

    <div th:replace="mobile/include/common_js :: common_js(~{::script})">
        <script src="/static/mobile/assets/lib/qrcode.min.js"  th:src="@{/mobile/assets/lib/qrcode.min.js}"></script>
        <script src="/static/mobile/assets/lib/html2canvas.min.js" th:src="@{/mobile/assets/lib/html2canvas.min.js}"></script>
        <script th:inline="javascript">
            Vue.filter("imgUrlFilter", function (cloudId) {
                return ctx + '/cloud-proxy/image/' + cloudId;
            });
            posterVue = new Vue({
                el: "#capture",
                data: {
                    activity: [[${activity}]],
                    signUp: [[${signUp}]],
                    imageData: null,
                    showOriginDom: true
                },
                computed: {
                    activityAddress: function () {
                        var $this = this;
                        var address = '';
                        if ($this.activity) {
                            address += $this.activity.address || '';
                            address += $this.activity.detailAddress || '';
                        }
                        return address;
                    }
                },
                mounted: function () {
                    var $this = this;
                    $this.init();
                },
                methods: {
                    init: function () {
                        var $this = this;
                        var text = $(".text-list .info");
                        for (var i = 0; i < text.length; i++) {
                            $this.getHeight(text[i], 40);
                        }
                        $this.getHeight($('.text-title')[0], 52);
                        new QRCode(document.getElementById('canvas'),{
                            text: $this.activity.previewUrl,
                            width: 128,
                            height: 128,
                            colorDark : "#000000",
                            colorLight : "#ffffff",
                        });
                        html2canvas(document.querySelector(".poster-box"),{useCORS: true}).then(canvas => {
                            $this.imageData = canvas.toDataURL('image/png', 1);
                            $('#canvasImage')[0].src = $this.imageData;
                            $('#canvasImage').addClass('hasData');
                            $this.showOriginDom = false;
                        });
                    },
                    getHeight: function (el, lineheight){
                        var heightSome = el.clientHeight;
                        var wareNameText = el.innerHTML;//获取内容
                        if (heightSome > lineheight) { //这个数字是两行的时候的高度，根据你设定的字体大小有关
                            for (var i = 0; heightSome > lineheight; i++) {
                                //每次删掉最后一个然后返回
                                wareNameText = wareNameText.substring(0, wareNameText.length - 1);
                                //重新返回的字符在写在span里面 ，计算新的高度
                                el.innerHTML = wareNameText;
                                heightSome = el.clientHeight;
                            }
                            //得到正好符合高度的字符，删除最后一个变为省略号 填充在页面里
                            el.innerHTML = wareNameText.substring(0, wareNameText.length - 1) + '...';
                        }
                    },
                    download: function () {
                        var $this = this;
                        var base64str = $this.imageData.replace(/^data:image\/\w+;base64,/, "");
                        app.savePicToSys("", base64str, "png");
                    },
                    isShowDownloadBtn: function () {
                        return app.isChaoxingApp();
                    }
                }
            })
        </script>
    </div>
</body>
</html>
