<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>海报</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/mobile/assets/css/public.css" th:href="@{/mobile/assets/css/public.css}">
	<link rel="stylesheet" href="/static/mobile/assets/css/poster-new.css" th:href="@{/mobile/assets/css/poster-new.css}">
	<style>
		[v-cloak] {
			display: none;
        }
	</style>
</head>

<body>
<div class="poster-app" id="capture" v-cloak>
	<div class="capture-box">
		<div class="poster-box">
			<div class="img-box js-crop-img">
				<img :src="activity.coverCloudId | imgUrlFilter">
			</div>
			<div class="text-box">
				<p class="text-title">{{activity.name}}</p>
				<dl class="text-list">
					<span class="icon icon-time"></span>
					<dd class="info"> {{ activity.startTime | timestampScopeFormat(activity.endTime, 'YYYY-MM-DD HH:mm') }}</dd>
				</dl>
				<dl class="text-list" v-show="activityAddress">
					<span class="icon icon-addr"></span>
					<dd class="info">{{activityAddress}}</dd>
				</dl>
				<dl class="text-list" v-if="fieldCodeNameRelation['activity_organisers'] && activity.organisers">
					<span class="icon icon-host"></span>
					<dd class="info">{{activity.organisers}}</dd>
				</dl>
			</div>
			<div class="split-line"><span></span></div>
			<div class="qrcode-box">
				<div id="canvas" class="qrcode"></div>
			</div>
			<div class="text-tip">扫码访问</div>
		</div>
		<img id="canvasImage">
	</div>
	<div class="btn-download" v-if="isShowDownloadBtn()" @click="download"><i class="icon"></i> 下载</div>
</div>
<div th:replace="mobile/include/common_js :: common_js(~{::script})">
	<script src="/static/mobile/assets/lib/qrcode.min.js"  th:src="@{/mobile/assets/lib/qrcode.min.js}"></script>
	<script src="/static/mobile/assets/lib/html2canvas.min.js" th:src="@{/mobile/assets/lib/html2canvas.min.js}"></script>
	<script src="/static/mobile/assets/lib/jqthumb.min.js" th:src="@{/mobile/assets/lib/jqthumb.min.js}"></script>
	<script th:inline="javascript">
		Vue.filter("imgUrlFilter", function (cloudId) {
			return ctx + '/cloud-proxy/image/' + cloudId;
		});
		function ready() {
			vm = new Vue({
				el: "#capture",
				data: {
					activity: [[${activity}]],
					webDomain: [[${webDomain}]],
					signUp: [[${signUp}]],
					fieldCodeNameRelation: [[${fieldCodeNameRelation}]],
					imageData: null
				},
				computed: {
					activityAddress: function () {
						var $this = this;
						var address = '';
						if ($this.activity) {
							address += $this.activity.address || '';
							address += $this.activity.detailAddress || '';
						}
						return address;
					},
					openedSignUp: function () {
						var $this = this;
						return !activityApp.isEmpty($this.signUp) && !$this.signUp.deleted;
					}
				},
				mounted: function () {
					var $this = this;
					$this.init();
				},
				methods: {
					init: function () {
						var $this = this;
						var text = $(".text-list .info");
						for (var i = 0; i < text.length; i++) {
							$this.getHeight(text[i], 40);
						}
						$this.getHeight($('.text-title')[0], 42);
						var height = $('.img-box img').height();
						var imgContainerHeight = $(".img-box").height();
						if (height > imgContainerHeight) {
							var top = 0 - parseInt((height - imgContainerHeight) / 2);
							$('.img-box img').css('margin-top', top);
						}
						var activityUrl = $this.webDomain + "/activity/" + $this.activity.id;
						new QRCode(document.getElementById('canvas'), {
							text: activityUrl,
							width: 107.5,
							height: 107.5,
							colorDark: "#000000",
							colorLight: "#ffffff",
						});
						var height = $('.img-box img').height();
						var imgContainerHeight = $(".img-box").height();
						if (height > imgContainerHeight) {
							var top = 0 - parseInt((height - imgContainerHeight) / 2);
							$('.img-box img').css('margin-top', top);
						}
						html2canvas(document.querySelector(".poster-box"), {useCORS: true}).then(canvas => {
							$this.imageData = canvas.toDataURL('image/png', 1.0);
							$('#canvasImage')[0].src = $this.imageData;
							$('#canvasImage').addClass('hasData');
						});
					},
					getHeight: function (el, lineheight){
						var heightSome = el.clientHeight;
						var wareNameText = el.innerHTML;
						if (heightSome > lineheight) {
							for (var i = 0; heightSome > lineheight; i++) {
								//每次删掉最后一个然后返回
								wareNameText = wareNameText.substring(0, wareNameText.length - 1);
								//重新返回的字符在写在span里面 ，计算新的高度
								el.innerHTML = wareNameText;
								heightSome = el.clientHeight;
							}
							//得到正好符合高度的字符，删除最后一个变为省略号 填充在页面里
							el.innerHTML = wareNameText.substring(0, wareNameText.length - 1) + '...';
						}
					},
					download: function () {
						var $this = this;
						var base64str = $this.imageData.replace(/^data:image\/\w+;base64,/, "");
						app.savePicToSys("", base64str, "png");
					},
					isShowDownloadBtn: function () {
						return app.isChaoxingApp();
					}
				}
			});
		}
	</script>
</div>
</body>
</html>