<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="/var/folders/8d/j7bsqgyd03n1x1q79jq_f5pr0000gn/T/startLearnGo-darwin-10.6-amd64.dylib10117424636448394150" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>