<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="/var/folders/tw/wvs4h44j4pz_h0qxj2v4dxxw0000gn/T/startLearnGo-darwin-10.6-amd64.dylib15479537612686695686" />
        <option name="userMacSet">
          <set>
            <option value="00-1C-42-00-00-09" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>