<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>活动市场</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" href="/static/mobile/assets/css/public.css" th:href="@{/mobile/assets/css/public.css}" />
    <link rel="stylesheet" href="/static/mobile/assets/css/index.css" th:href="@{/mobile/assets/css/index.css}" />
    <link rel="stylesheet" href="/static/mobile/assets/css/dialog.css" th:href="@{/mobile/assets/css/dialog.css}" />
    <link rel="stylesheet" href="/static/mobile/assets/lib/mescroll/mescroll.css" th:href="@{/mobile/assets/lib/mescroll/mescroll.css}" />
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="index" id="activity-vue" v-cloak>
    <!-- 搜索 -->
    <div class="topFixed">
        <div class="searchDiv searchDivFocus">
            <i class="searchIcon"></i>
            <input id="search-input" type="text" placeholder="搜索" v-model.trim="sw" @focus="searchShow = true" @keyup.enter="search">
        </div>
        <div class="filter active" v-show="!searchShow" @click="toFilter">
            <i class="filterIcon"></i>筛选
        </div>
        <span class="Scancel" v-show="searchShow" @click="searchCancel">取消</span>
    </div>
    <div class="activity-list">
        <ul>
            <li v-for="(activity, index) of activities" :key="'activity-' + index" @click="detail(index)">
                <img :src="activity | getCloudImgUrl">
                <div class="info">
                    <h2 class="title">{{activity.name}}</h2>
                    <div class="time">
                        <span :class="{'status': true, 'status2': (activity.status == 2), 'status3': (activity.status == 3), 'status4': (activity.status == 4)}">{{activity.status | activityStatusInstructions}}</span>
                        <span>{{activity.startTime | timestamp2YMD}} ～ {{activity.endTime | timestamp2YMD}}</span>
                        <div class="clear"></div>
                    </div>
                    <p class="dec">{{activity.organisers}}</p>
                    <p class="address">{{activity.address}}{{activity.detailAddress ? activity.detailAddress : ''}}</p>
                </div>
            </li>
        </ul>
    </div>
    <!-- 无结果 -->
    <div class="noContent" v-show="loaded && activities.length < 1">
        <p>无搜索结果</p>
    </div>
    <!-- 遮盖层 -->
    <div class="fixedBg" v-show="searchShadeShow"></div>
    <!-- 弹出层 -->
    <div class="pop" v-show="filterWindowShow">
        <div class="popInner">
            <div class="popList mescroll-touch">
                <div class="list-item">
                    <div class="title">类型</div>
                    <ul>
                        <li :class="{'active': activityClassify.selected}" v-for="(activityClassify, index) of activityClassifies" :key="'activity-classify' + index" @click="changeActivityClassify(index)">{{activityClassify.name}}</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="list-item">
                    <div class="title">时间</div>
                    <ul>
                        <li :class="{'active': time.selected}" v-for="(time, index) of activityQueryDates" :key="'time-' + index" @click="changeTime(index)">{{time.name}}</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="list-item" v-show="regions.length > 0">
                    <div class="title">地区</div>
                    <ul>
                        <li :class="{'active': region.selected}" v-for="(region, index) of regions" :key="'region-' + index" @click="changeRegion(index)">{{region.name}}</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="list-item">
                    <div class="title">状态</div>
                    <ul>
                        <li :class="{'active': status.selected}" v-for="(status, index) of statuses" :key="'status-' + index" @click="changeStatus(index)">{{status.name}}</li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="btn">
                <a href="javascript:" class="btn-a btn-0" @click="filterCancel">取消</a>
                <a href="javascript:" class="btn-a btn-1" @click="filterSure">确定</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="mobile/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/set-iframe-height-child.js" th:src="@{/pc/assets/lib/set-iframe-height-child.js}"></script>
    <script src="/static/mobile/assets/lib/mescroll/mescroll.js" th:src="@{/mobile/assets/lib/mescroll/mescroll.js}"></script>
    <script th:inline="javascript">
        Vue.filter("timestamp2YMD", function (timestamp) {
            var dateObj = activityApp.millisecond2DateObj(timestamp);
            return dateObj.year + "-" + dateObj.month + "-" + dateObj.day;
        });
        function ready() {
            activityVue = new Vue({
                el: "#activity-vue",
                data: {
                    activityClassifyNames: [[${activityClassifyNames}]],
                    activityQueryDates: [[${activityQueryDates}]],
                    activityClassifies: [],
                    regions: [[${regions}]],
                    areaCode: [[${areaCode}]],
                    // 状态
                    statuses: [],
                    sw: "",
                    queryParams: {},
                    activities: [],
                    loaded: false,
                    mescroll: null,

                    filterWindowShow: false,
                    searchShadeShow: false,
                    searchShow: false
                },
                created: function () {
                    var $this = this;
                    // 定制右上角菜单
                    app.customMenu("我的", "", {
                        option: "activityVue.my();"
                    });
                    // 活动分类列表
                    $($this.activityClassifyNames).each(function () {
                        $this.activityClassifies.push({name: this, value: this, selected: false});
                    });
                    $this.activityClassifies.splice(0, 0, {
                        name: "全部",
                        value: "",
                        selected: true
                    });
                    $($this.activityQueryDates).each(function (i) {
                        $this.$set($this.activityQueryDates[i], "selected", i == 0);
                    });
                    // 地区
                    var regions = [];
                    if ($this.regions.length > 0) {
                        $($this.regions).each(function () {
                            var region = this;
                            region.value = this.code;
                            region.selected = false;
                            regions.push(region);
                        });
                        regions.splice(0, 0, {
                            name: "全部",
                            value: "",
                            selected: true
                        });
                    }
                    $this.regions = regions;
                    // 状态
                    $this.statuses = [
                        {name: "全部", value: "", selected: true},
                        {name: "活动预告", value: "2", selected: false},
                        {name: "进行中", value: "3", selected: false},
                        {name: "已结束", value: "4", selected: false}
                    ];
                    $this.restQueryParams();
                },
                mounted: function () {
                    var $this = this;
                    $this.initMescroll();
                },
                methods: {
                    // 重置查询条件
                    restQueryParams: function () {
                        var $this = this;
                        $this.queryParams = {
                            pageNum: 1,
                            pageSize: 10,
                            sw: "",
                            activityClassifyName: "",
                            date: "",
                            status: "",
                            areaCode: $this.areaCode,
                            topFid: [[${topFid}]]
                        };
                    },
                    initMescroll: function () {
                        var $this = this;
                        if ($this.mescroll == null) {
                            $this.mescroll = new MeScroll("body", {
                                //第一个参数"mescroll"对应上面布局结构div的id (1.3.5版本支持传入dom对象)
                                //如果您的下拉刷新是重置列表数据,那么down完全可以不用配置,具体用法参考第一个基础案例
                                //解析: down.callback默认调用mescroll.resetUpScroll(),而resetUpScroll会将page.num=1,再触发up.callback
                                down: {
                                    use: false
                                },
                                up: {
                                    callback: function () {
                                        $this.loadData();
                                    }, //上拉加载的回调
                                    htmlNodata: '<p class="upwarp-nodata">-- 没有更多了 --</p>',
                                    noMoreSize: 5, //如果列表已无数据,可设置列表的总数量要大于5才显示无更多数据; 避免列表数据过少(比如只有一条数据),显示无更多数据会不好看 这就是为什么无更多数据有时候不显示的原因.
                                }
                            });
                        }
                    },//加载数据渲染页面
                    loadData: function () {
                        var $this = this;
                        var url = ctx + "/api/activity/list/participate";
                        var params = $this.queryParams;
                        $this.loaded = false;
                        $this.searchShow = false;
                        var params = {
                            data: activityApp.getJsonStr(params),
                            pageNum: $this.queryParams.pageNum,
                            pageSize: $this.queryParams.pageSize,
                        };
                        app.ajaxPost(url, params, function (data) {
                            if (data.success) {
                                $this.loaded = true;
                                $this.mescroll.endByPage(data.data.records.length, data.data.pages);
                                $this.activities.pushArray(data.data.records);
                                $this.queryParams.pageNum++;
                            } else {
                                var errorMessage = data.message;
                                if (activityApp.isEmpty(errorMessage)) {
                                    errorMessage = "加载活动列表失败";
                                }
                                $this.mescroll.endErr();
                                app.showMsg(errorMessage);
                            }
                        }, function () {
                            $this.mescroll.endErr();
                            app.showMsg("加载活动列表失败");
                        });
                    },
                    showFilterWindow: function () {
                        var $this = this;
                        $this.filterWindowShow = true;
                        $("body").addClass("overhidden");
                    },
                    hideFilterWindow: function () {
                        var $this = this;
                        $this.filterWindowShow = false;
                        $("body").removeClass("overhidden");
                    },
                    toFilter: function () {
                        var $this = this;
                        $this.showFilterWindow();
                    },
                    changeActivityClassify: function (index) {
                        var $this = this;
                        $($this.activityClassifies).each(function (i) {
                            $this.$set($this.activityClassifies[i], "selected", i == index);
                        });
                    },
                    changeTime: function (index) {
                        var $this = this;
                        $($this.activityQueryDates).each(function (i) {
                            $this.$set($this.activityQueryDates[i], "selected", i == index);
                        });
                    },
                    changeRegion: function (index) {
                        var $this = this;
                        $($this.regions).each(function (i) {
                            $this.$set($this.regions[i], "selected", i == index);
                        });
                        $this.$forceUpdate();
                    },
                    changeStatus: function (index) {
                        var $this = this;
                        $($this.statuses).each(function (i) {
                            $this.$set($this.statuses[i], "selected", i == index);
                        });
                    },
                    condition2QueryParams: function () {
                        var $this = this;
                        $($this.activityClassifies).each(function () {
                            if (this.selected) {
                                $this.queryParams.activityClassifyName = this.value;
                                return false;
                            }
                        });
                        $($this.activityQueryDates).each(function () {
                            if (this.selected) {
                                $this.queryParams.date = this.value;
                                return false;
                            }
                        });
                        $($this.regions).each(function () {
                            if (this.selected) {
                                $this.queryParams.areaCode = this.value;
                                if (activityApp.isEmpty($this.queryParams.areaCode)) {
                                    $this.queryParams.areaCode = $this.areaCode;
                                }
                                return false;
                            }
                        });
                        $($this.statuses).each(function () {
                            if (this.selected) {
                                $this.queryParams.status = this.value;
                                return false;
                            }
                        });
                        $this.activities = [];
                        $this.queryParams.pageNum = 1;
                        $this.mescroll.setPageNum(2);
                    },
                    queryParams2Condition: function () {
                        var $this = this;
                        $($this.activityClassifies).each(function (i) {
                            $this.$set($this.activityClassifies[i], "selected", this.value == $this.queryParams.activityClassifyName);
                        });
                        $($this.activityQueryDates).each(function (i) {
                            $this.$set($this.activityQueryDates[i], "selected", this.value == $this.queryParams.date);
                        });
                        $($this.regions).each(function (i) {
                            $this.$set($this.regions[i], "selected", this.value == $this.queryParams.areaCode);
                        });
                        $($this.statuses).each(function (i) {
                            $this.$set($this.statuses[i], "selected", this.value == $this.queryParams.status);
                        });
                    },
                    filterCancel: function () {
                        var $this = this;
                        // 还原选择
                        $this.queryParams2Condition();
                        $this.hideFilterWindow();
                    },
                    filterSure: function () {
                        var $this = this;
                        // 还原选择
                        $this.condition2QueryParams();
                        $this.hideFilterWindow();
                        // 查询
                        $this.loadData();
                    },
                    searchCancel: function () {
                        var $this = this;
                        $this.searchShow = false;
                        $this.sw = $this.queryParams.sw;
                    },
                    search: function () {
                        var $this = this;
                        $this.condition2QueryParams();
                        $this.queryParams.sw = $this.sw;
                        $("#search-input").blur();
                        $this.loadData();
                    },
                    detail: function (index) {
                        var $this = this;
                        var activity = $this.activities[index];
                        var previewUrl = activity.previewUrl;
                        if (!activityApp.isEmpty(previewUrl)) {
                            // 回收积分
                            activityApp.integralPush(activity.id, activity.name);
                            app.openUrl(previewUrl);
                        }
                    },
                    my: function () {
                        var url = ctx + "/m/activity/my";
                        app.openUrl(url);
                    }
                }
            });
        }
    </script>
</div>
</html>