$color0: #0084FF;
body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.el-button {
  font-weight: normal;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}
.fs0{
  font-size: 0;
}
.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs16 {
  font-size: 16px;
}

.colorBlue {
  color: $color0;
}
.color333{
  color: #333333;
}
.color666{
  color: #666666;
}
.color999 {
  color: #999999;
}
.inlineMiddle{
  display: inline-block;
  vertical-align: middle;
}
.marginr8{
  margin-right: 8px;
}
.paddingb16{
  padding-bottom: 16px;
}
.paddingt16{
  padding-top: 16px;
}
.menu-item-customize {
  font-size: 16px;
  .num {
    font-size: 14px;
    margin-left: 8px;
    color: #999999;
    font-weight: 400;
  }
}

.registered_title {
  color: #333333;
  font-weight: 600;
  line-height: 30px;
  display: inline-block;
  height: 30px;
}

.el-tabs__item {
  height: 30px !important;
  line-height: 30px !important;
  &.is-active {
    font-weight: 600;
    color: $color0;
    .num {
      font-weight: 400;
      color: $color0;
    }
  }
}

.btn-customize {
  padding: 6px 14px !important;
  border: 1px solid #82C3FF;
  font-size: 13px;
  color: $color0;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  &.disabled {
    border: 1px solid #DEF2FF;
    color: rgba(0, 132, 255, 0.3);
    &:hover {
      background: #fff;
      color: rgba(0, 132, 255, 0.3);
    }
  }
  &:hover{
    color: $color0;
    border: 1px solid #82C3FF;
    background-color: #EBF5FF;
  }
  span{
    display: inline-block;
    vertical-align: top;
    height: 16px;
  }
  &+.el-button {
    margin-left: 20px;
  }
}
.btn-bg-blue {
  padding: 6px 14px !important;
  font-size: 13px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  &:hover{
    background-color: rgba(0, 132, 255, 0.8);
  }
  span{
    display: inline-block;
    vertical-align: top;
    height: 16px;
  }
  i{
    margin-right: 4px;
  }
  &+.el-button {
    margin-left: 20px;
  }
}

.header {
  position: relative;
  padding: 16px 24px;
  border-bottom: 1px solid #F0F0F0;
  &.header-type-1{
    padding: 0 24px;
  }
  .top-btns {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    margin-right: 24px;
    font-size: 0;
    .export-btn {
      i{
        margin-right: 4px;
        font-size: 14px;
        margin-top: -2px;
        &:before {
          color: $color0;
        }
      }
    }
  }
}

.header-type-1.top-btns {
  position: absolute;
  right: 0;
  z-index: 2;
  margin-right: 24px;
}

.header-type-2 {
  .el-breadcrumb {
    font-size: 16px;
    line-height: 30px;
    .el-breadcrumb__inner{
      cursor: pointer;
      color: #666666;
    }
    .el-breadcrumb__item{
      .el-breadcrumb__inner:hover{
        color: $color0;
      }
      &:last-child .el-breadcrumb__inner {
        color: #999999;
      }
      .el-breadcrumb__separator{
        font-size: 14px;
        color: #cccccc;
      }
    }
  }
}
.export-box {
  line-height: 30px;
  margin-left: 20px;
  color: #666666;
  cursor: pointer;
  i{
    margin-right: 4px;
  }
  .icon-column{
    &::before{
      margin-right: 4px;
    }
  }
  &:hover {
    color: #0084FF;
  }
  .el-dropdown{
    &:hover {
      color: #0084FF;
    }
  }
}
.search-Box {
  float: right;
  position: relative;
  input {
    width: 220px;
    height: 30px;
    border-radius: 25px;
    font-size: 13px;
    line-height: 15px;
    color: #333333;
  }
  .el-input--suffix .el-input__inner{
    padding-right: 60px;
    &:focus{
      border-color: $color0;
    }
  }
  .btn-cancel {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 36px;
    &:hover{
      &:before{
        color: #999999;
      }
    }
  }
}

.el-input__suffix-inner:hover {
  cursor: pointer;
}

.el-icon-search:hover:before {
  color: $color0;
}

.el-input__icon {
  line-height: 30px !important;
}

.el-tabs__nav {
  padding-bottom: 14px;
  margin-left: 24px;
}

.el-tabs__header {
  margin: 0;
  position: relative;
}

.noData {
  height: 695px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    font-size: 14px;
    line-height: 20px;
    color: #999999;
  }
}

.el-pagination {
  margin-top: 16px;
  text-align: center;
 &.fixPage{
   position: fixed;
   background-color: white;
   left: 0;
   right: 0;
   bottom: 16px;
   width: 100%;
   z-index: 2;
 }
}

.el-pager li {
  border-radius: 2px !important;
  font-size: 14px !important;
  color: #666666 !important;
  font-weight: normal;
  &.active {
    background: $color0 !important;
    color: #ffffff !important;
  }
}

.el-table.table-box {
  color: #333333;
  .cell {
    position: relative;
    line-height: 20px;
    padding: 0 8px;
    box-sizing: border-box;
    .status-dropdown {
      cursor: pointer;
      &:hover{
        opacity: 0.8;
      }
      .el-icon--right{
        margin-left: 0;
      }
    }
    .td-drop-blue{
      .status-dropdown {
        color: $color0;
        &:hover{
          color: $color0;
        }
      }
    }
    .td-drop-grey{
      .status-dropdown {
        color: #333;
        .el-icon--right {
          color: #999;
        }
        &:hover{
          color: $color0;
          .el-icon--right {
            color: $color0;
          }
        }
      }
    }

    .el-date-editor.el-input {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 156px;
      .el-input__inner {
        padding: 0;
        border: 0;
        background-color: inherit;
        cursor: pointer;
        font-size: 14px;
        color: #333333;
        font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        &:hover {
          border: 1px solid #E9E9E9;
          box-sizing: border-box;
          border-radius: 2px;
          padding-left: 8px;
          transition: none;
        }
        &:focus {
          border: 1px solid $color0;
          box-sizing: border-box;
          border-radius: 2px;
          padding-left: 12px;
          transition: none;
        }
      }
      &.datetime-focus{
        .el-input__inner {
          border: 1px solid $color0;
          box-sizing: border-box;
          border-radius: 2px;
          padding-left: 8px;
          transition: none;
        }
      }
      &::-webkit-scrollbar-track-piece {
        background: inherit;
      }
      &::-webkit-scrollbar-corner {
        background: inherit;
      }

      &::-webkit-scrollbar-track {
        background: inherit;
      }
      .el-input__prefix {
        display: none;
      }
    }
    .el-button{
      padding: 0;
    }

    .more-three-link{
      min-width: 150px;
      font-size: 0;
      .status-dropdown{
        margin-left: 16px;
        height: 16px;
      }
      .el-button{
        display: inline-block;
        vertical-align: middle;
        &+.el-button{
          margin-left: 16px;
        }
      }
    }
    .table-img{
      width: 100%;
      max-width: 126px;
      height: 60px;
      display: block;
      border-radius: 2px;
      border: 1px solid #E9E9E9;
      img{
        border-radius: 2px;
      }
    }
    .table-img-top {
      position: absolute;
      left: 8px;
      top: 0;
      background: linear-gradient(99.4deg, #91D3FF -0.2%, #51B9FF 99.8%);
      border-radius: 1px 0px 6px;
      width: 40px;
      height: 22px;
      font-weight: 500;
      font-size: 12px;
      color: #FFFFFF;
      line-height: 22px;
      text-align: center;
    }
    .btn-is-progress {
      cursor: pointer;
      display: inline-block;
      background: rgba(36, 187, 29, 0.12);
      border: 1px solid rgba(36, 187, 29, 0.16);
      box-sizing: border-box;
      border-radius: 4px;
      width: 55px;
      height: 26px;
      font-weight: 500;
      font-size: 13px;
      line-height: 26px;
      text-align: center;
      color: #24BB1D;
    }
    .btn-no-public {
      cursor: pointer;
      display: inline-block;
      background: rgba(0, 132, 255, 0.12);
      border: 1px solid rgba(0, 132, 255, 0.16);
      box-sizing: border-box;
      border-radius: 4px;
      width: 55px;
      height: 26px;
      font-size: 13px;
      line-height: 26px;
      text-align: center;
      color: #0084FF;
    }
    .btn-is-end {
      cursor: pointer;
      display: inline-block;
      background: rgba(127, 142, 152, 0.12);
      border: 1px solid rgba(127, 142, 152, 0.16);
      box-sizing: border-box;
      border-radius: 4px;
      width: 55px;
      height: 26px;
      font-size: 13px;
      line-height: 26px;
      text-align: center;
      color: #7F8E98;
    }
  }
  th {
    background: #fafafa !important;
    color: #999999;
    padding: 10px 0;
    & > .cell {
      font-weight: 400 !important;
      height: 20px;
      &.highlight {
        color: $color0;
      }
      .el-table__column-filter-trigger{
        line-height: 20px;
      }
      .caret-wrapper{
        height: 20px;
        margin-top: -3px;
        .ascending{
          top: -1px;
        }
        .descending{
          bottom: -1px;
        }
      }

    }
    .ascending{
      .sort-caret.ascending{
        border-top-color: $color0;
      }
    }
    .descending{
      .sort-caret.descending{
        border-top-color: $color0;
      }
    }
    &.th-dropdwon{
      cursor: pointer;
      &:hover{
        color: #666666;
        .el-table__column-filter-trigger i{
          color: #666666;
        }
      }
    }
  }
  tr:hover td {
    background: #f8f8f8 !important;
  }
  td {
    padding: 16px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  &::before {
    height: 0;
  }
  & > th.el-table-column--selection > .cell {
    width: 32px !important;
  }
  & > td.el-table-column--selection > .cell > {
    width: 32px !important;
  }
  .is-center{
    .cell .el-date-editor.el-input{
      left: 50%;
      transform: translate(-50%,-50%);
      .el-input__inner{
        text-align: center;
      }
    }
  }
  .el-table__fixed, .el-table__fixed-right{
    background-color: white;
  }
  .input-transparent {
    width: 100%;
    line-height: 27px;
    border: 1px solid transparent;
    background: none;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 2px;
    &:focus{
      border: 1px solid #0084FF;
    }
  }
  .icon-edit-3-stroke {
    margin-left: 4px;
    color: #ccc;
    cursor: pointer;
  }
}

.el-table__empty-block {
  height: 695px !important;
}

.el-button--text {
  color: $color0;
  &:hover {
    color: $color0;
    opacity: 0.8;
  }
}

.content {
  position: relative;
  padding: 16px 24px;
}

#app {
  padding-top: 0;
}

.el-tabs__content {
  padding: 16px 24px;
  position: relative;
}

.el-tabs__nav-wrap::after {
  height: 1px;
}

.required-img {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 12px;
  left: -6px;
}

.table-operate-box {
  height: 30px;
  padding-bottom: 16px;
}

.btn_color {
  color: $color0;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-size: 14px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc;
  font-size: 14px;
}

.table-search-box {
  padding-bottom: 16px;
  .el-input__inner {
    height: 32px;
    line-height: 32px;
    padding-left: 11px;
    font-size: 14px;
    color: #333333;
    margin-right: 20px;
    input {
      cursor: pointer;
      text-align: left;
      color: #333333;
    }
  }
  .el-range-editor {
    &.el-input__inner {
      padding: 0 11px;
      width: 312px;
    }
    .el-range__icon {
      position: absolute;
      right: 10px;
    }
    .el-range__close-icon {
      display: none;
    }
    .el-range-separator {
      line-height: 24px;
      background-image: url("../../assets/images/swap-right.png");
      background-size: auto auto;
      background-position: center center;
      background-repeat: no-repeat;
      padding-right: 8px;
    }
  }
  .el-select {
    margin-right: 20px;
    width: 240px;
    .el-input .el-select__caret{
      color: #999999;
    }
  }
  .btn-customize {
    display: inline-block;
    vertical-align: top;
  }
  .popbtnInput{
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    input{
      border-radius: 4px;
      border: 1px solid #DCDFE6;
      padding: 0 15px;
      width: 240px;
      height: 32px;
      line-height: 32px;
      box-sizing: border-box;
      color: #333;
      font-size: 14px;
      &:focus,
      &:focus-visible{
        border: 1px solid #0084FF;
        outline: none;
      }
    }
  }
  .el-cascader{
    vertical-align: top;
    margin-right: 20px;
    line-height: 32px;
    width: 240px;
  }
}
.el-select-dropdown__item{
  color: #333333;
  padding: 8px 16px;
  line-height: 20px;
  height: auto;
  &.selected {
    color: $color0;
    font-weight: 600;
  }
  &:hover,
  &.hover{
    color: $color0;
    background-color: #F8F8F8;
  }
}

.table-count-box {
  position: relative;
  margin-bottom: 16px;
  line-height: 30px;
}

.setting-box {
  width: 64px;
  height: 30px;
  line-height: 30px;
  color: #333333;
  background: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin-left: 16px;
  cursor: pointer;
  &:hover{
    background: #ECEEEF;
  }
  .icon-setting{
    &::before{
      margin-right: 4px;
      color: #666666;
    }
  }
  .el-dropdown {
    cursor: pointer;
  }
}

.set-dropdown {
  padding: 0;
  .dropdown-lists {
    padding: 8px 0;
    max-height: 273px;
    overflow-y: auto;
  }
  .el-dropdown-menu__item {
    padding: 4px 12px;
    line-height: 22px;
    .el-checkbox{
      color: #333333;
      font-weight: normal;
    }
    .el-checkbox__input.is-checked+.el-checkbox__label{
      color: #333333;
    }
    .el-checkbox__label {
      width: 120px;
      max-height: 44px;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: normal;
      padding: 0;
      margin-left: 8px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 16px;
    }
    .btn-fix {
      margin-right: 0;
    }
  }
  .bottom-btns {
    padding-left: 12px;
    border-top: 1px solid #E9E9E9;
    overflow: hidden;
    .el-button {
      float: left;
    }
    .el-button.is-disabled{
      color: $color0;
      opacity: 0.3;
    }
    .el-button+.el-button {
      margin-left: 8px;
    }
  }
}

.table-box {
  width: 100%;
}
.el-table__column-filter-trigger{
  i{
    font-size: 14px;
    //color: #C0C4CC;
  }
}
.el-dropdown-menu{
  border-radius: 2px;
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
  padding: 2px 0;
  border: 0;
  .el-dropdown-menu__item{
    padding: 8px 16px;
    line-height: 20px;
    &:hover{
      background-color: #F8F8F8;
      color: $color0;
    }
  }
}

.el-table-filter {
  .el-checkbox__label {
    overflow: hidden;
    width: 152px;
    line-height: 22px;
    max-height: 44px;
    display: inline-block;
    vertical-align: middle;
    white-space: initial;
  }
  .el-table-filter__bottom button {
    color: $color0;
    font-size: 14px;
    padding: 2px 4px;
    &.is-disabled {
      opacity: 0.3;
      &:hover{
        opacity: 0.3;
      }
    }
    &:hover{
      opacity: 0.8;
    }
  }
  li.el-table-filter__list-item {
    max-width: 200px;
    line-height: 20px;
    padding: 8px 12px;
    color: #333;
    &.is-active {
      background-color: #ffffff;
      color: #0084FF;
    }
    &:hover {
      background-color: #F8F8F8;
      color: #0084FF;
    }
  }
}

.el-table__body tr.hover-row.current-row>td, .el-table__body tr.hover-row.el-table__row--striped.current-row>td, .el-table__body tr.hover-row.el-table__row--striped>td, .el-table__body tr.hover-row>td {
  background-color: #f8f8f8;
}

//  选项卡分类
.tabs-box {
  .tab-lists {
    margin: 0;
    padding: 0;
    .tab-list {
      border-bottom: 2px solid transparent;
      list-style: none;
      display: inline-block;
      line-height: 30px;
      padding: 16px 0;
      margin-right: 20px;
      cursor: pointer;
      height: 28px;
      &.active{
        color: $color0;
        border-bottom: 2px solid $color0;
        .title{
          color: $color0;
          font-weight: 600;
        }
        .num {
          color: $color0;
        }
      }
      .title{
        color: #666666;
      }
      .num {
        color: #999999;
        margin-left: 8px;
      }
    }
  }
}
.tab-content-box{
  .tab-item{
    position: relative;
    overflow: hidden;
    padding: 16px 24px 48px 24px;
  }
}

.el-popper .popper__arrow{
  display: none;
}

//  toast提示
.toast-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  padding: 9px 20px;
  display: none;
}

/* 参与范围弹窗*/
.dialog-box.selectPop{
    .dialog-wrap{
      width: 464px;
      height: 465px;
      .dialog-content{
        padding: 25px 33px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow-x: hidden;
        .ztree-box{
          box-sizing: border-box;
          border: 1px solid #F0F0F0;
          border-radius: 2px;
          .count-box{
            background-color: #F8F8F8;
            border-radius: 2px 2px 0 0;
            line-height: 20px;
            overflow: hidden;
            padding: 10px;
          }
        }
      }
      .btns{
        font-size: 0;
        text-align: center;
        border-top: 1px solid #E9E9E9;
        padding-top: 14px;
        .btn{
          margin: 0 12px;
        }
      }
    }
}

/* 修改合格状态弹窗 */
.dialog-box.modifyPop{
  .dialog-wrap{
    width: 270px;
    height: 206px;
  }
  .dialog-content{
    height: calc(100% - 56px);
    padding: 24px 0;
    box-sizing: border-box;
    .item{
      width: 100%;
      padding: 8px 0;
      line-height: 34px;
      text-align: center;
      background: #fff;
      font-size: 16px;
      color: #333;
      cursor: pointer;
      &:hover{
        background: #F8F8F8;
        color: #0084FF;
      }
    }
  }
}

/* 修改签到时间弹窗 */
.el-dialog{
  &.changetime_dialog {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    //top: 50%;
    //transform: translateY(-50%);
    //margin-top: 0 !important;
    .el-dialog__header {
      padding: 16px 0;
      .el-dialog__title {
        color: #333333;
        font-weight: 600;
      }
    }
    .el-dialog__body {
      padding: 32px;
      box-sizing: border-box;
      border-top: 1px solid #E9E9E9;
      border-bottom: 1px solid #E9E9E9;
      line-height: 32px;
    }
    .el-dialog__footer {
      padding: 14px 0;
      .el-button {
        border-radius: 30px;
        padding: 6px 14px;
        font-size: 13px;
        line-height: 16px;
      }
      .el-button--default {
        color: #0084FF;
        border: 1px solid #82C3FF;
      }
    }
    .change-time-box{
      .el-date-editor.el-input{
        width: 100%;
        .el-input__inner{
          height: 32px;
          line-height: 32px;
          border-radius: 2px;
        }
      }
    }
  }
}
.el-pagination__sizes .el-input__inner {
  background-color: #F5F5F5;
  border: none;
}
