body {
  background: #F2F4F7;
}
.container {

}
.header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background: #3B5165;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.04);
  .title {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
  }
}
.searchDiv {
  width: 220px;
  height: 30px;
  position: relative;
  .inputStyle {
    color: #333333;
    width: 100%;
    background:none;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 25px;
    padding-right: 61px;
    padding-left: 16px;
    box-sizing: border-box;
    &:focus {
      border: 1px solid #0084FF;
    }
  }
  .icon-cancel {
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: 0;
    line-height: 30px;
    display: inline-block;
    color: #DBDBDB;
    &:hover {
      color: #999999;
    }
  }
  .icon-search{
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 0;
    line-height: 30px;
    display: inline-block;
    color: #CCCCCC;
    &:hover {
        color: #0084FF;
    }
  }
}
.activity-list {
  &.width1000 {
    width: 1000px;
    margin: 0 auto 50px;
    margin-top: 60px;
  }
  .filter {
    display: flex;
    margin: 0 32px;
    .el-dropdown {
      line-height: 30px;
      margin-right: 20px;
      cursor: pointer;
    }
    .marginLeftAuto {
      margin-left: auto;
    }
  }
}
.el-popper .popper__arrow {
  display: none;
}
.item-block {
  background: #ffffff;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 8px;
  position: relative;
  &.paddingNew {
    padding: 24px 32px;
  }
  &.nopadding {
    padding:24px 0;
  }
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    cursor: auto;
  }
  .btns {
    display: block;
    button {
      .addIcon {
        display: inline-block;
        width: 16px;
        height: 26px;
        margin-right: 4px;
        background: url("../images/icon-add-white.png") center center no-repeat;
        background-size: 100%;
      }
    }
  }
  .tab {
    ul {
      li {
        float: left;
        background: rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        font-size: 14px;
        height: 20px;
        color: rgba(0, 0, 0, 0.6);
        line-height: 20px;
        width: 74px;
        padding: 4px 0;
        text-align: center;
        margin-right: 20px;
        cursor: pointer;
        &.active {
          background: rgba(0, 132, 255, 0.1);
          color: #0084FF;
          font-weight: 500;
        }
      }
    }
  }
  .card-list {
    margin-top: 10px;
    margin-bottom: 24px;
    ul {
      li {
        border-bottom: 1px solid #F0F0F0;
        padding: 24px 0;
        position: relative;
        //cursor: pointer;
        .inner {
          padding-left: 168px;
          min-height: 88px;
          position: relative;
        }
        .img-box {
          position: absolute;
          left: 0;
          border: 1px solid #E9E9E9;
          box-sizing: border-box;
          border-radius: 4px;
          width: 168px;
          height: 88px;
          overflow: hidden;
          .js-crop-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 168px;
            height: 88px;
            overflow: hidden;
          }
          .num {
            //display: flex;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
            position: absolute;
            z-index: 10;
            left: 0;
            bottom: 0;
            width: 100%;
            font-size: 13px;
            height: 16px;
            line-height: 16px;
            padding: 26px 0 10px;
            border-radius: 0 0 3px 3px ;
            color: #FFFFFF;
            display: none;
            i{
              display: inline-block;
              width: 16px;
              height: 16px;
              background: url("../images/signed-up-user.png")  center center no-repeat;
              background-size: 100%;
              margin-left: 10px;
              margin-right:4px;
            }
          }
          .tips {
            position: absolute;
            z-index: 22;
            left: 8px;
            top: 8px;
            padding: 0 6px;
            height: 20px;
            line-height: 20px;
            color: #FFFFFF;
            font-size: 12px;
            border-radius: 4px;
          }
          .color1 {
            background: linear-gradient(270deg, #24BB1D 0%, #48DF4E 100%);
          }
          .color2 {
            background: linear-gradient(99.4deg, #91D3FF -0.2%, #51B9FF 99.8%);
          }
          .color3 {
            background: linear-gradient(90deg, #ACB8BF 4.35%, #7F8E98 100%);
          }
          .color4 {
            background: linear-gradient(90deg, #FF7B73 0%, #FF4343 100%);
          }
          .color5 {

            background: linear-gradient(90deg, #FFB673 0%, #FF7043 100%);
          }
        }
        .card-info {
          text-align: left;
          margin-left: 16px;
          .title {
            color: #333333;
            font-size: 16px;
            margin-bottom: 8px;
            line-height: 24px;
            font-weight: 500;
            cursor: pointer;
            max-width: 655px;
            &:hover {
              color: #0084FF;
            }
          }
          .title-box{
            label {
              display: inline-block;
              height: 22px;
              line-height: 22px;
              color: #ffffff;
              padding: 0 7px;
              font-weight: normal;
              font-size: 13px;
              background: linear-gradient(90deg, #91D3FF 0%, #51B9FF 100%);
              border-radius: 4px;
            }
            .title-mark-top{
              background: rgba(0, 132, 255, 0.06);
              border-radius: 4px;
              display: inline-block;
              line-height: 22px;
              margin-top: 1px;
              color: #0084FF;
              font-size: 13px;
              padding: 0 7px;
              margin-left: 4px;
            }
          }
          .time {
            color: #666666;
            font-size: 14px;
            line-height: 24px;
          }
          .time-box{
            margin-bottom: 8px;
            i{
              display: inline-block;
              color: #CCCCCC;
              font-size: 14px;
              line-height: 24px;
              margin-right: 4px;
              position: relative;
              top: 2px;
            }
          }
          .address {
            font-size: 14px;
            line-height: 24px;
            color: #999999;
          }
          .user-box{
            i{
              display: inline-block;
              color: #CCCCCC;
              font-size: 14px;
              line-height: 24px;
              margin-right: 4px;
              position: relative;
              top: 2px;
            }
            .user{
              font-size: 14px;
              line-height: 24px;
              color: #666666;
            }
          }
        }
        .handel {
          position: absolute;
          display: none;
          right: 0;
          bottom: 24px;
          a {
            font-size: 14px;
            line-height: 20px;
            color: #0084FF;
            cursor: pointer;
            margin-left: 16px;
          }
        }
        &:hover {
          .handel {
            display: block;
          }
        }
      }
    }
  }
  .card-list1 {
    ul {
      li {
        border-bottom: none;
        padding: 0 32px;
        cursor: pointer;
        .inner {
         padding-top: 24px;
          padding-bottom: 24px;
          border-bottom: 1px solid #F0F0F0;
        }
        .handel {
          right: 32px;
        }
        &:hover {
          background: #F9FAFB;
          .card-info{
            .title {
              color: #0084FF;
            }
          }
        }
      }
    }
  }
}
.minHeight800 {
  min-height: 800px;
}

//无内容
.noContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  p {
    text-align: center;
    color: #999999;
    font-size: 14px;
    line-height: 20px;
  }
}
.textCenter {
  text-align: center;
}
.myDialogStyle {
  .el-dialog {
    border-radius: 10px;
  }
  .el-dialog__header {
    text-align: center;
    font-weight: 600;
    color: #333333;
    line-height: 22px;
    padding-top: 30px;
  }
  .el-dialog__headerbtn {
    top: 10px;
    right: 10px;
  }
  .el-dialog__body {
    padding-top: 10px;
  }
  .QRcode-div {
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    padding: 20px;
    position: relative;
    img {
      width: 100%;
    }
    .xxt{
      text-align: center;
      color: #999999;
      line-height: 18px;
      margin-top: 10px;
    }
    .xxt1{
      text-align: center;
      color: #333333;
      line-height: 25px;
      margin-top: 10px;
      font-size: 18px;
      span {
        color: #0084ff;
        font-weight: 600;
        margin-left: 10px;
      }
    }
    .downloadIcon {
      cursor: pointer;
      width: 16px;
      height: 16px;
      background: url("../images/icon-16-download.png") no-repeat;
      background-size: 100%;
      position: absolute;
      right: 12px;
      bottom: 12px;
    }
  }
  .participants-list {
    padding: 0 30px;
    max-height: 447px;
    overflow: auto;
    ul {
      li {
        border-bottom: 1px solid #f0f2f7;
        padding: 10px 0;
        img {
          width: 36px;
          height: 36px;
          border-radius: 18px;
          float: left;
        }
        .name {
          float:left;
          color: #333333;
          line-height: 36px;
          margin-left: 14px;
        }
      }
    }

  }
  &.headerLine {
    .el-dialog {
      min-height: 520px;
    }
    .el-dialog__header {
      border-bottom: 1px solid #e9e9e9;
      padding: 16px 20px;
    }
    .el-dialog__body {
      padding: 0 0 30px 0;
    }

  }
  .warning {
    margin-bottom: 20px;
  }
  .tips {
    color: #333333;
    line-height: 24px;
    font-size: 16px;
  }
  .el-dialog__footer {
    text-align: center;
    .el-button{
      border-radius: 15px;
      height: 30px;
      padding: 0 13px;
      font-size: 13px;
      &:first-child {
        border: 1px solid #82c3ff;
        color: #0084ff;
      }
    }
  }
}
