<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>应用详情</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="../css/space-poupop.css">
</head>
<body>
<div class="marsker" style="display: block;"></div>
<!--图标库-->
<div class="pouop iconLibrary" style="display: block;" id="iconLibrary">
    <div class="pu-top">
        <h3>图标图</h3>
    </div>
    <div class="pu-con">
        <div class="app-color">
            <h6>选择颜色</h6>
            <div class="color-list">
                <ul>
                    <li class="active" data-color="28A7FF" style="background: #28A7FF"></li>
                    <li data-color="5B7EFF" style="background: #5B7EFF"></li>
                    <li data-color="9261FF" style="background: #9261FF"></li>
                    <li data-color="C872EB" style="background: #C872EB"></li>
                    <li data-color="FF83A5" style="background: #FF83A5"></li>
                    <li data-color="FF9064" style="background: #FF9064"></li>
                    <li data-color="FF6B6B" style="background: #FF6B6B"></li>
                    <li data-color="FFBF29" style="background: #FFBF29"></li>
                    <li data-color="68CD1E" style="background: #68CD1E"></li>
                    <li data-color="0AC16D" style="background: #0AC16D"></li>
                    <li data-color="0ED2B3" style="background: #0ED2B3"></li>
                    <li data-color="BBBBBB" style="background: #BBBBBB"></li>
                </ul>
            </div>
        </div>
        <div class="app-icon-list" id="app-icon-list">
            <ul>
                <li class="cur">
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon1.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon2.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon3.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon4.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon5.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon6.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon7.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon8.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon9.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon10.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon11.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon12.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon13.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon14.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon15.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon16.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon17.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon18.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon19.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon20.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon21.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon22.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon23.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon24.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon25.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon26.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon27.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon28.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon29.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon30.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon31.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon32.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon33.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon34.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon35.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon36.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon37.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon38.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon39.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon40.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon41.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon42.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon43.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon44.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon45.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon46.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon47.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon48.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon49.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon50.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon51.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon52.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon53.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon54.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon55.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon56.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon57.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon57.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon58.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon59.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon60.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon61.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon62.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon63.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon64.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon65.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon66.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon67.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon68.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon69.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon70.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon71.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon72.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon73.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon74.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon75.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon76.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon77.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon78.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon79.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon80.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon81.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon82.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon83.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon84.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon85.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon86.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon87.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon88.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon89.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon90.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon91.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon92.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon93.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon94.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon95.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon96.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon97.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon98.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon99.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon100.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon101.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon102.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon103.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon104.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon105.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon106.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon107.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon108.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon109.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon110.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon111.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon112.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon113.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon114.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon115.png" alt="">
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <img class="iconBg" src="../images/iconBg/28A7FF.svg" alt="">
                        <img class="iconImg" src="../images/icons/icon116.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="pu-bot" style="padding-top:17px;">
        <span class="cancle">取消</span>
        <span class="confirm">确认</span>
    </div>
</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    //图标库细滚动条
    $("#app-icon-list").mCustomScrollbar({scrollbarPosition: "outside" });
    // 改变图标库的背景色
    $(".iconLibrary .color-list").on('click', 'ul li', function () {
        $(this).addClass('active').siblings().removeClass('active');
        var dataColor = $(this).attr('data-color');
        $("#app-icon-list ul li img.iconBg").attr('src', '../images/iconBg/' + dataColor + '.svg');
    });

    // 图标库切换
    $(".iconLibrary .app-icon-list").on("click", "  ul li", function () {
        $(this).addClass("cur").siblings().removeClass('cur');
    });

</script>

</html>