.iframe-style {
 .header {
   height: 40px;
   background: #3B5165;
   position: fixed;
   left: 0;
   right: 0;
 }
  .tab {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 6px 0;
    background: #283B4D;
    border-radius: 99px;
    ul {
      overflow: hidden;
      li {
        float: left;
        color: #F3F9FF;
        font-size: 13px;
        padding: 0 14px;
        line-height: 28px;
        &.active {
          background: #FFFFFF;
          border-radius: 999px;
          color: #314557;
          font-weight: 500;
        }
      }
    }
  }
  .iframe-div {
    position: absolute;
    top: 40px;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    background: #FFFFFF;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}