@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0 !important;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

q:after,
q:before {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle;
}

input {
  -webkit-appearance: none;
}

legend {
  color: #000;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  background: #F2F4F7;
  width: 100%;
  /* text-align: center; */
  /* font-family: "Microsoft YaHei", Helvetica; */
  font-family: "SF Pro Display","Helvetica Neue",Helvetica,Tahoma,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

.clear {
  clear: both;
}

.tc {
  text-align: center;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mui-ellipsis-5 {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/*媒体查询*/
@media screen and (min-width: 212px) {
  html {
    font-size: 9.088px;
  }
}

@media screen and (min-width: 319px) {
  html {
    font-size: 13.6533px;
  }
}

@media screen and (min-width: 359px) {
  html {
    font-size: 15.36px;
  }
}

@media screen and (min-width: 374px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 383px) {
  html {
    font-size: 16.384px;
  }
}

@media screen and (min-width: 399px) {
  html {
    font-size: 17.0667px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 17.7067px;
  }
}

@media screen and (min-width: 423px) {
  html {
    font-size: 18.0907px;
  }
}

@media screen and (min-width: 479px) {
  html {
    font-size: 20.48px;
  }
}

@media screen and (min-width: 539px) {
  html {
    font-size: 23.04px;
  }
}

@media screen and (min-width: 639px) {
  html {
    font-size: 27.3067px;
  }
}

.msgDialog.layui-layer-msg {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
}

.msgDialog.layui-layer-msg .layui-layer-content {
  line-height: 1.40625rem;
  padding: .5rem 1rem;
}

.msgDialog.layui-layer {
  border-radius: 1.0625rem;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #CCCCCC;
  font-weight: 100; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #CCCCCC;
  font-weight: 100; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #CCCCCC;
  font-weight: 100; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #CCCCCC;
  font-weight: 100; }
  .overHidden1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.overHidden2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

[v-cloak] {
  display: none;
}
/* 公共按钮 */
.border-btn {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  padding: 0 13px;
  border: 1px solid #82c3ff;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #0084ff;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.border-btn:hover {
  background: #EBF5FF;
}

.border-btn.disable {
  opacity: 0.3;
}
.normal-btn-blue {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  background: #0084ff;
  color: #ffffff;
  border: none;
  display: inline-block;
  vertical-align: top;
}

.normal-btn-blue.disable {
  opacity: 0.3;
}

.normal-btn-blue.disable:hover {
  opacity: 0.3;
}

.normal-btn-blue:hover {
  opacity: 0.8;
}

.normal-btn-w80{
  width: 80px;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  background: #0084ff;
  color: #ffffff;
  border: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.normal-btn-w80:hover{
  opacity: 0.8;
}
/* 公共toast */
.toast{
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  padding: 9px 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
/* el重写 */
.el-radio{
  margin-right: 24px;
  font-weight: normal;
}
.el-radio:last-child{
  margin-right: 0;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #0084FF;
  background: #0084FF;
}
.el-radio .el-radio__label{
  color: #333333 !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #0084FF;
  border-color: #0084FF;
}
.el-switch.is-checked .el-switch__core{
  border-color: #0084FF;
  background-color: #0084FF;
}
.marginRight24 {
  margin-right: 24px;
}
.html{
  background: #FFFFFF;
}
.layui-layer-shade {
  background: rgba(255, 255, 255,0.5)!important;
}
//公共弹窗
.normal-dialog {
  .el-dialog {
    box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
  }
  .el-dialog__header {
    padding: 16px 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    border-bottom:1px solid #E9E9E9;
  }
  .el-dialog__title {
    color: #333333;
  }
  .el-dialog__body {
    padding: 16px 32px;
  }
  .el-dialog__footer {
    padding: 14px 0;
    border-top:1px solid #E9E9E9;
    .el-button {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      -khtml-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 13px;
    }
  }
  .el-select,.el-input {
    margin-right: 12px;
  }
  .form-item {
    margin-bottom: 16px;
    .el-input__inner {
      color: #333333;
    }
    .delete-icon-style {
      display: inline-block;
      font-size: 16px;
      color: #CCCCCC;
      line-height: 32px;
      cursor: pointer;
    }
    .plus-circle {
      color: #0084FF;
      font-size: 14px;
      line-height: 20px;
      display: inline-block;
      cursor: pointer;
      i{
        font-size: 16px;
        line-height: 20px;
        margin-right: 4px;
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .set-form {
    .form-item {
      font-size: 0;
    }
    .width120px {
      width: 120px;
    }
    .width100px {
      width: 100px;
    }
  }
}