html {
  height: 100%;
  margin: 0;
}

body {
  background: #F2F4F7;
  margin: 0;
  padding: 20px;
  font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  min-width: 1280px;
}
.clear{
  clear: both;
}

.container {
  border-radius: 8px;
  min-height: 860px;
  height: 100%;
}

.header {
  width: 100%;
  background: #ffffff;
  position: relative;
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #F0F0F0;
  .title {
    color: #333333;
    text-align: left;
    padding: 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 60px;
    float: left;
    max-width: 334px;
  }
  .menu {
    float: left;
    max-width: calc(100% - 440px);
    overflow: hidden;
    white-space: nowrap;
    .menu-item {
      padding: 16px 0;
      border-bottom: 2px solid transparent;
      display: inline-block;
      font-size: 14px;
      margin-right: 32px;
      &:last-child{
        margin-right: 0;
      }
      &.active{
        border-bottom: 2px solid #0084FF;
        font-weight: 600;

        a{
          color: #0084FF;
        }
      }
      a{
        display: inline-block;
        color: #333333;
        text-decoration: none;
        line-height: 30px;
      }
    }
  }
  .right-more-drop{
    float: right;
    margin: 21px 8px;
    &:hover{
      .el-icon-more{
        color: #0084FF;
      }
    }
    .el-dropdown-link{
      cursor: pointer;
      .el-icon-more{
        font-size: 20px;
      }
    }
  }

}

.header-more-drop{
  width: 160px;
  &.el-popper .popper__arrow{
    display: none;
  }
  li.drop-active{
    font-weight: 600;
    color: #0084FF;
  }
}
.item {
  width: 196px;
  height: 24px;
  padding: 14px 0 14px 24px;
  text-align: left;
  cursor: pointer;
}

.menu .menu-item .item:hover {
  background: rgba(0, 132, 255, 0.04);
}

.message .item {
  padding: 14px 0 14px 24px;
}

.item img {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
}

.item span {
  font-size: 14px;
  color: #737886;
  display: block;
  line-height: 24px;
  float: left;
  margin-left: 7px;
}

.content {
  float: left;
  height: calc(100% - 63px);
  width: 100%;
  border-radius: 0 0 8px 8px;
  background: #ffffff;
  iframe {
    border: none;
    width: 100%;
    height: 100%;
  }

}

.active span {
  color: #0084FF;
  font-weight: 500;
}

.edit .item {
  position: absolute;
  bottom: 16px;
}

.edit .item:hover {
  background: rgba(0, 132, 255, 0.04);
}

.v-modal {
  background: rgba(255, 255, 255, 0.5);
}
