<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>志愿服务单</title>
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/service-list.css" th:href="@{/pc/assets/css/service-list.css}">
</head>
<body>
    <div id="volunteerService" class="service-list" v-cloak>
        <div class="item-box title clear">
            <p class="fl name">{{loginUser.realName}}的服务时长记录</p>
            <div class="fr" v-show="appealUrl">
                <div class="btn-border-80 btn" @click="toAppeal">申诉</div>
            </div>
        </div>
        <div class="item-box score-box">
            <p class="bold">总时长</p>
            <p class="score" v-if="volunteerList">
                <template v-if="totalMinute >= hourMinutes">
                    {{totalMinute | hourFormat}}<span class="fine">小时</span>
                </template>
                <template v-if="isShowMinute(totalMinute)">
                    {{totalMinute | minuteFormat}}<span class="fine">分钟</span>
                </template>
            </p>
            <div class="load-div" v-else><img src="/static/pc/assets/images/Spinner-1s-200px.svg" th:src="@{/pc/assets/images/Spinner-1s-200px.svg}">加载中…</div>
        </div>
        <div class="item-box score-detailed">
            <div class="top clear">
                <p class="bold fl">服务时长明细</p>
                <div class="fr">
                    <div class="down-menu">
                        <span class="overHidden1">{{ selectedType.name || '全部类型'}}</span><i class="icon-down"></i>
                        <ul class="menu">
                            <li class="menu-item" v-for="serviceType in serviceTypeList" @click="chooseServiceType(serviceType)">{{serviceType.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul v-if="volunteerList">
                <li class="item" v-for="record in volunteerList">
                    <p class="name">{{record.name}}</p>
                    <p class="classify">{{record.type}}</p>
                    <p class="time clear">{{record.serviceDate}}
                        <span class="fr">
                            <template v-if="record.timeLength >= hourMinutes">
                                <span class="score">{{record.timeLength | hourFormat}}</span>&nbsp;小时&nbsp;
                            </template>
                            <template v-if="isShowMinute(record.timeLength)">
                                <span class="score">{{record.timeLength | minuteFormat}}</span>&nbsp;分钟
                            </template>
                        </span>
                    </p>
                </li>
            </ul>
            <!--  加载中  -->
            <div class="load-div" v-else><img src="/static/pc/assets/images/Spinner-1s-200px.svg" th:src="@{/pc/assets/images/Spinner-1s-200px.svg}">加载中…</div>
            <div class="no-content" v-show="volunteerList && volunteerList.length === 0">暂无内容</div>
        </div>
    </div>
    <div th:replace="pc/include/common_js :: common_js(~{::script})">
        <script th:inline="javascript">
            Vue.filter("hourFormat", function (timeLength) {
                var hours = 0;
                if (timeLength) {
                    var length = parseInt(timeLength);
                    hours = parseInt(length / 60);
                }
                return hours;
            });
            Vue.filter("minuteFormat", function (timeLength) {
                var minutes = 0;
                if (timeLength) {
                    var length = parseInt(timeLength);
                    minutes = length % 60;
                }
                return minutes;
            });

            serviceListVue = new Vue({
                el: "#volunteerService",
                data: {
                    fid: [[${fid}]],
                    loginUser: [[${session._login_user_}]],
                    volunteerList: [[${volunteerList}]],
                    serviceTypeList: [[${serviceTypeList}]],
                    appealUrl: [[${creditAppealUrl}]],
                    selectedType: {},
                    hourMinutes: 60,
                    totalMinute: 0
                },
                mounted: function() {
                    var $this = this;
                    $('.down-menu').on('mouseenter mouseleave',function(){
                        $(this).find('.menu').toggle()
                        $(this).find('.icon-down').toggleClass('active')
                    });

                    var totalMinute = 0;
                    if ($this.volunteerList) {
                        $this.volunteerList.forEach(item => {
                            totalMinute += item.timeLength;
                        });
                    };
                    $this.totalMinute =  totalMinute
                    $this.initData()
                },
                methods: {
                    initData: function () {
                        var $this = this;
                        var list = [
                            {name: '全部类型', type: ''}
                        ];
                        $this.serviceTypeList.forEach(type => {
                            list.push({ name: type, type: type });
                        });

                        $this.serviceTypeList = list;
                    },
                    chooseServiceType: function (serviceType) {
                        var $this = this;
                        if (serviceType.type === $this.selectedType.type) {
                            return;
                        }
                        $this.selectedType = serviceType;

                        $this.loadServiceList();
                    },
                    loadServiceList: function () {
                        var $this = this;

                        var url = ctx + "/api/activity/volunteer/" + $this.fid + "/query";
                        var params = {
                            serviceType: $this.selectedType.type
                        };
                        app.ajaxPost(url, params, function (data) {
                            if (data.success) {
                                $this.loaded = true;
                                $this.volunteerList = data.data;
                            } else {
                                var errorMessage = data.message;
                                if (activityApp.isEmpty(errorMessage)) {
                                    errorMessage = "加载志愿服务时长列表失败";
                                }
                                app.showMsg(errorMessage);
                            }
                        }, function () {
                            app.showMsg("加载志愿服务时长列表失败");
                        });
                    },
                    // 申诉
                    toAppeal: function () {
                        var $this = this;
                        window.open($this.appealUrl);
                    },
                    // 是否限制分钟
                    isShowMinute: function (totalMinute) {
                        if (activityApp.isEmpty(totalMinute)) {
                            return false;
                        }
                        return totalMinute % 60 != 0;
                    }
                }
            });
        </script>
    </div>
</body>
</html>