<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>海报</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/poster-new.css" th:href="@{/pc/assets/css/poster-new.css}">
	<style>
		[v-cloak] {
			display: none;
        }
	</style>
</head>
<body>
<div class="poster-pc" id="vue" v-cloak>
	<div class="btn-download" @click="download()"><i class="icon"></i>下载</div>
	<div id="capture">
		<div class="poster-box">
			<div class="img-box">
				<img :src="activity.coverCloudId | imgUrlFilter" class="jqthumbImg">
			</div>
			<div class="text-box">
				<p class="text-title">{{activity.name}}</p>
				<dl class="text-list marginb12">
					<span class="icon icon-time"></span>
					<dd class="info"> {{ activity.startTime | timestampScopeFormat(activity.endTime, 'YYYY-MM-DD HH:mm') }}</dd>
				</dl>
				<dl class="text-list marginb12" v-show="activityAddress">
					<span class="icon icon-addr"></span>
					<dd class="info">{{activityAddress}}</dd>
				</dl>
				<dl class="text-list marginb12" v-if="fieldCodeNameRelation['activity_organisers'] && activity.organisers">
					<span class="icon icon-host"></span>
					<dd class="info">{{activity.organisers}}</dd>
				</dl>
			</div>
			<div class="split-line"><span></span></div>
			<div class="qrcode-box">
				<div id="canvas" class="qrcode"></div>
				<div class="text-tip">扫码访问</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
	<script src="/static/pc/assets/lib/qrcode.min.js"  th:src="@{/pc/assets/lib/qrcode.min.js}"></script>
	<script src="/static/pc/assets/lib/html2canvas.min.js" th:src="@{/pc/assets/lib/html2canvas.min.js}"></script>
	<script src="/static/pc/assets/lib/jqthumb.min.js" th:src="@{/pc/assets/lib/jqthumb.min.js}"></script>
	<script th:inline="javascript">
		Vue.filter("imgUrlFilter", function (cloudId) {
			return ctx + '/cloud-proxy/image/' + cloudId;
		});
		vm = new Vue({
			el: "#vue",
			data: {
				mainDomain: [[${mainDomain}]],
				webDomain: [[${webDomain}]],
				activity: [[${activity}]],
				signUp: [[${signUp}]],
				fieldCodeNameRelation: [[${fieldCodeNameRelation}]],
				canvasUrl: '',
				ctx: ctx
			},
			created: function () {
				var $this = this;
				document.domain = $this.mainDomain;
			},
			computed: {
				openedSignUp: function () {
					var $this = this;
					return !activityApp.isEmpty($this.signUp) && !$this.signUp.deleted;
				},
				activityAddress: function () {
					var $this = this;
					var address = '';
					if ($this.activity) {
						address += $this.activity.address || '';
						address += $this.activity.detailAddress || '';
					}
					return address;
				}
			},
			mounted: function () {
				var $this = this;
				$this.init();
				$this.handleImg();
			},
			methods: {
				init: function () {
					var $this = this;
					var text = $(".text-list .info");
					for (var i = 0; i < text.length; i++) {
						$this.getHeight(text[i], 40);
					}
					$this.getHeight($('.text-title')[0], 68);
					//    canvas
					var activityUrl = $this.webDomain + "/activity/" + $this.activity.id;
					new QRCode('canvas', {
						text: activityUrl,
						width: 150,
						height: 150,
						colorDark: "#000000",
						colorLight: "#ffffff",
					});
				},
				handleImg: function () {
					$('.jqthumbImg').jqthumb({
						width: '100%',
						height: '100%'
					});
				},
				getHeight: function (el, lineHeight) {
					var heightSome = el.clientHeight;
					var wareNameText = el.innerHTML;
					if (heightSome > lineHeight) {
						for (var i = 0; heightSome > lineHeight; i++) {
							//每次删掉最后一个然后返回
							wareNameText = wareNameText.substring(0, wareNameText.length - 1);
							//重新返回的字符在写在span里面 ，计算新的高度
							el.innerHTML = wareNameText;
							heightSome = el.clientHeight;
						}
						//得到正好符合高度的字符，删除最后一个变为省略号 填充在页面里
						el.innerHTML = wareNameText.substring(0, wareNameText.length - 1) + '...';
					}
				},
				download: function () {
					var $this = this;
					var domId = "a-download";
					var downloadA = document.getElementById(domId);
					if (!downloadA) {
						html2canvas(document.querySelector("#capture"), {useCORS: true}).then(canvas => {
							var imageData = canvas.toDataURL('image/png', 1);
							// 放到一个a标签里面
							downloadA = document.createElement('a');
							downloadA.id = domId;
							downloadA.href = imageData;
							downloadA.download = $this.activity.name + ".png";
							document.body.appendChild(downloadA);
							downloadA.click();
						});
					} else {
						downloadA.click();
					}
				}
			}
		});
	</script>
</div>
</body>
</html>