<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../assets/lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="stylesheet" href="../assets/css/dialog.css">
    <link rel="stylesheet" href="../assets/css/activity-assess.css">
    <title>评价审核</title>
</head>

<body>
    <div class="assess-container" id="vue" v-cloak>
        <div class="assess-header">
            <div class="assess-title">
                书香浙江 云享阅读——2020浙江省云阅读云阅读计划云阅读计划云阅读
            </div>
            <div class="assess-header-right">
                <div class="login-container">
                    <div class="after-login">
                        <img class="login-tx" src="../assets/images/touxiang.png" alt="">
                        <span class="user-name">王小明</span>
                        <i class="icon-down">
                            <img src="../assets/images/icon-down.png" alt="">
                        </i>
                        <ul class="login-downlist-info">
                            <li class="login-downlist-item">
                                <a href="#">进入空间</a>
                            </li>
                            <li class="login-downlist-item">
                                <a href="#">退出登录</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="assess-content">
            <div class="assess-content-header assess-check-header">
                <div class="assess-check-number">共125425份</div>
                <div class="assess-check-btns">
                    <i class="assess-checkd">
                        <el-checkbox v-model="noChecked" :indeterminate="isIndeterminate" @change="checkAllHandle">
                        </el-checkbox>
                    </i>
                    <div class="check-btn">批量通过 2</div>
                    <div class="check-btn">批量删除 2</div>
                    <div class="check-btn btn-disabled">批量删除 0</div>
                </div>
            </div>
            <ul class="assess-list">
                <li class="assess-list-item assess-check-list-item">
                    <el-checkbox v-model="checkedStatus[0]" class="check-item-checkbox fl" @change="checkChangeHandle">
                    </el-checkbox>
                    <img class="fl" src="../assets/images/touxiang.png" alt="">
                    <div class="item-content check-item-content fl">
                        <span class="item-name">郭大帅</span>
                        <span class="item-time">07-02 01:20</span>
                        <div class="item-writing">
                            <div></div>
                            <p class="item-assess">
                                教学要求、教学策略和活动组织，要有利于教学目标的实现，核心素养的落实可行且合理教学要求、教学策略和活动组织，要有利于教学目标的实现，核心素养的落实可行且合理教学要求、教学策略和活动组织，要有利于教学目标的实现，核心素养的落实可行且合理教学要求、教学策略和活动组织，要有利于教学目标的实现，核心素养的落实可行且合理。要有利于教学目标的实现，核心素养的落实可行且合理教学要求、教学真牛逼啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                            </p>
                        </div>
                        <div class="showmore">
                            展开
                        </div>
                        <div class="showless" style="display: none;">
                            收起
                        </div>
                        <div class="assess-footer-btns">
                            <div class="assess-footer-btn assess-footer-btn-pass">通过</div>
                            <div class="assess-footer-btn assess-footer-btn-del" @click="delDialog=true">删除</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="assess-list-item assess-check-list-item">
                    <el-checkbox v-model="checkedStatus[1]" class="check-item-checkbox fl" @change="checkChangeHandle">
                    </el-checkbox>
                    <img class="fl" src="../assets/images/touxiang.png" alt="">
                    <div class="item-content check-item-content fl">
                        <span class="item-name">郭大帅</span>
                        <span class="item-time">07-02 01:20</span>
                        <div class="item-writing">
                            <div></div>
                            <p class="item-assess">
                                教学要求、教学策略和活动组织，要有利于教学目标的实现，核心素养的落实可行且合理教学要求、教学策略和活动组织，要有利于教学目标的实现，核心素养的落实可行且合理教学要求、教学策略和活动组织，要有利于教学目标的实现，核心素养的落实可行且合理教学要求、教学策略和活动组织，要有利于教学目标的实现，核心素养的落实可行且合理。要有利于教学目标的实现，核心素养的落实可行且合理教学要求、教学真牛逼啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊
                            </p>
                        </div>
                        <div class="showmore">
                            展开
                        </div>
                        <div class="showless" style="display: none;">
                            收起
                        </div>
                        <div class="assess-footer-btns">
                            <div class="assess-footer-btn assess-footer-btn-pass">通过</div>
                            <div class="assess-footer-btn assess-footer-btn-del" @click="delDialog=true">删除</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="assess-list-item assess-check-list-item">
                    <el-checkbox v-model="checkedStatus[2]" class="check-item-checkbox fl" @change="checkChangeHandle">
                    </el-checkbox>
                    <img class="fl" src="../assets/images/niming-tx.png" alt="">
                    <div class="item-content check-item-content fl">
                        <span class="item-name">郭大帅</span>
                        <span class="item-time">07-02 01:20</span>
                        <div class="item-writing">
                            <div></div>
                            <p class="item-assess">
                                教学要求、教学策略和活动组织，要有利于教学目标的实现
                            </p>
                        </div>
                        <div class="showmore">
                            展开
                        </div>
                        <div class="showless" style="display: none;">
                            收起
                        </div>
                        <div class="assess-footer-btns">
                            <div class="assess-footer-btn assess-footer-btn-pass">通过</div>
                            <div class="assess-footer-btn assess-footer-btn-del" @click="delDialog=true">删除</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="assess-list-item assess-check-list-item">
                    <el-checkbox v-model="checkedStatus[3]" class="check-item-checkbox fl" @change="checkChangeHandle">
                    </el-checkbox>
                    <img class="fl" src="../assets/images/niming-tx.png" alt="">
                    <div class="item-content check-item-content fl">
                        <span class="item-name">郭大帅</span>
                        <span class="item-time">07-02 01:20</span>
                        <div class="item-writing">
                            <div></div>
                            <p class="item-assess">

                            </p>
                        </div>
                        <div class="showmore">
                            展开
                        </div>
                        <div class="showless" style="display: none;">
                            收起
                        </div>
                        <div class="assess-footer-btns">
                            <div class="assess-footer-btn assess-footer-btn-pass">通过</div>
                            <div class="assess-footer-btn assess-footer-btn-del" @click="delDialog=true">删除</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <div class="page-container">
                <el-pagination background layout="prev, pager, next" :total="200">
                </el-pagination>
            </div>

            <!-- <div class="no-assess">暂无内容</div> -->
        </div>
        <!-- 确认删除模块弹框 -->
        <div class="dailog-box3" v-show="delDialog">
            <div class="dailog delete-dailog">
                <div class="warn"><img src="../assets/images/warning.png" alt=""></div>
                <span>删除后，可重新添加。确定删除？</span>
                <div>
                    <div class="normal-btn" @click="delDialog=false">保留</div>
                    <div class="normal-btn after-sure">删除</div>
                </div>
            </div>
        </div>
    </div>


</body>


</html>
<script src="../assets/lib/vue.js"></script>
<script src="../assets/lib/jquery.min.js"></script>
<script src="../assets/lib/layui/layui.js"></script>
<script src="../assets/lib/element-ui/lib/index.js"></script>

<script>
    var vm = new Vue({
        el: '#vue',
        data: function () {
            return {
                noChecked: false,
                checkedStatus: [false, false, false, false],
                isIndeterminate: false,
                checkAll: false,
                delDialog: false
            }
        },
        created: function () {

        },
        mounted: function () {
            this.layuiInit();
            this.rateList();
            this.showMoreLess();
        },
        updated: function () {
            this.layuiInit();
        },
        methods: {
            layuiInit: function () {
                var _this = this;
                layui.use(['rate', 'layer'], function () {
                    var rate = layui.rate;
                    var layer = layui.layer;
                    rate.render({
                        elem: '#test',
                        value: _this.allRateScore,
                        readonly: true
                    })

                    //弹框的自定义文本
                    rate.render({
                        elem: '#test5',
                        value: _this.dialogRateValue,
                        text: true,
                        setText: function (value) { //自定义文本的回调
                            var arrs = {
                                '0': " ",
                                '1': '较差',
                                '2': '一般',
                                '3': '良好',
                                '4': '很好',
                                '5': '非常棒'
                            };
                            _this.dialogRateValue = value;
                            this.span.text(arrs[value] || (value + "星"));
                        }
                    })

                })
            },

            // 遍历每个li中星星
            rateList: function () {
                var rates = $(".item-writing>div")
                rates.each(function (i, n) {
                    $(n).addClass("testX");

                    layui.use(['rate'], function () {
                        var rate = layui.rate;

                        rate.render({
                            elem: $(n),
                            value: 4,
                            readonly: true,
                        })
                    })
                })
            },
            // 点击展开与收起
            showMoreLess: function () {
                $(".item-assess").each(function (i, n) {
                    if ($(n).height() > 60) {
                        $(n).addClass("overflowThree")
                        $(n).parent(".item-writing").siblings(".showmore").show()
                    } else {
                        $(n).parent(".item-writing").siblings(".showmore").hide()
                    }
                })
                $(".showmore").each(function (i, n) {
                    $(n).on("click", function () {
                        $(this).siblings(".item-writing").children(".item-assess")
                            .removeClass("overflowThree");
                        $(this).siblings(".showless").show()
                        $(this).hide()
                    })
                })
                $(".showless").each(function (i, n) {
                    $(n).on("click", function () {
                        $(this).siblings(".item-writing").children(".item-assess").addClass(
                            "overflowThree");
                        $(this).siblings(".showmore").show()
                        $(this).hide()
                    })
                })
            },
            // 监听所有checkbox改变
            checkChangeHandle: function () {
                var number = 0;
                for (var i = 0; i < this.checkedStatus.length; i++) {
                    if (this.checkedStatus[i] == true) {
                        number++
                    }
                }
                if (number > 0 && number < this.checkedStatus.length) {
                    this.isIndeterminate = true;
                } else if (number == this.checkedStatus.length) {
                    this.isIndeterminate = false;
                    this.noChecked = true;
                } else if (number <= 0) {
                    this.isIndeterminate = false;
                    this.noChecked = false;
                }
            },
            // 全选
            checkAllHandle: function () {
                this.isIndeterminate = false;
                for (var i = 0; i < this.checkedStatus.length; i++) {
                    this.checkedStatus[i] = this.noChecked;
                }
            },
        }
    });
</script>