<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="stylesheet" href="../assets/css/dialog.css">
    <link rel="stylesheet" href="../assets/css/organizer-manage.css">
    <title>活动类型</title>
</head>

<body>
    <div class="manage-container activity-type" id="vue" v-cloak>
        <div class="manage-content">
            <div class="btn-add btn-size fl" @click="addDialogVisible = true">
                <img src="../assets/images/add-small.png" alt="">
                <span>添加</span>
            </div>
            <div v-show="!checkAllStatus" class="btn-del-disable btn-size fl">批量删除</div>
            <div v-show="checkAllStatus" class="btn-del btn-size fl">批量删除</div>
            <div class="clear"></div>
            <table class="table-box">
                <thead>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkAllStatus" class="check-item-checkbox fl"
                                @change="checkAllChange">
                            </el-checkbox>
                        </th>
                        <th>类型名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkedStatus[0]" class="check-item-checkbox fl"
                                @change="checkChangeHandle">
                            </el-checkbox>
                        </th>
                        <th>科技成果</th>
                        <th>
                            <span @click="editDialogVisible=true">编辑</span>
                            <span @click="deleteShow=true">删除</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkedStatus[1]" class="check-item-checkbox fl"
                                @change="checkChangeHandle">
                            </el-checkbox>
                        </th>
                        <th>科技成果</th>
                        <th>
                            <span @click="editDialogVisible=true">编辑</span>
                            <span @click="deleteShow=true">删除</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkedStatus[2]" class="check-item-checkbox fl"
                                @change="checkChangeHandle">
                            </el-checkbox>
                        </th>
                        <th>科技成果</th>
                        <th>
                            <span @click="editDialogVisible=true">编辑</span>
                            <span @click="deleteShow=true">删除</span>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="no-content" style="display: none;">
                暂无内容
            </div>
        </div>

        <!-- 编辑弹出框 -->
        <el-dialog class="manageStatusDialog" title="类型名称" :visible.sync="editDialogVisible" width="400px"
            :before-close="handleClose">
            <div class="edit-input">
                <!--  v-model="editDialogIpt" -->
                <input type="text" placeholder="请输入" v-model="editDialogIpt" @input="IptValueHandle">
                <span class="input-number">{{editDialogIpt.length}} / 8</span>
            </div>
            <span slot="footer" class="dialog-footer">
                <div @click="editDialogVisible = false" class="btn-size btn-cancel">取消</div>
                <div class="btn-size btn-submit">确定</div>
                <div class="btn-size btn-submit-dsiable">确定</div>
            </span>
        </el-dialog>

        <!-- 确认删除分类弹框 -->
        <div class="dailog-box3" v-show="deleteShow">
            <div class="dailog delete-dailog">
                <div class="warn"><img src="../assets/images/warning.png" alt=""></div>
                <span style="width: 100%;">删除后，无法恢复。确定删除？</span>
                <div>
                    <div class="normal-btn" @click="handleSave">保留</div>
                    <div class="normal-btn after-sure" @click="handleSure">删除</div>
                </div>
            </div>
        </div>

        <!--添加弹框-->
        <el-dialog class="manageStatusDialog" title="类型名称" :visible.sync="addDialogVisible" width="400px"
            :before-close="addHandleClose">
            <div class="edit-input">
                <!--  v-model="editDialogIpt" -->
                <input type="text" placeholder="请输入" v-model="editDialogIpt" @input="IptValueHandle">
                <span class="input-number">{{editDialogIpt.length}} / 8</span>
            </div>
            <span slot="footer" class="dialog-footer">
                <div @click="addDialogVisible = false" class="btn-size btn-cancel">取消</div>
                <div class="btn-size btn-submit">确定</div>
            </span>
        </el-dialog>
    </div>
</body>


</html>
<script type="text/javascript" src="../assets/lib/vue.js"></script>
<script type="text/javascript" src="../assets/lib/jquery.min.js"></script>
<script type="text/javascript" src="../assets/lib/element-ui/lib/index.js"></script>
<script type="text/javascript" src="../assets/lib/layer/layer.js"></script>
<script type="text/javascript" src="../assets/lib/layui/layui.js"></script>


<script>
    var vm = new Vue({
        el: '#vue',
        data: function () {
            return {
                checkAllStatus: false,
                checkedStatus: [false, false, false, false],
                editDialogVisible: false,
                addDialogVisible: false,
                value4: false,
                // 删除弹出框
                deleteShow: false,
                //添加弹出框
                addShow: false,
                editDialogIpt: ""
            }
        },
        created: function () {

        },
        mounted: function () {},
        methods: {
            checkChangeHandle: function () {
                if (this.checkedStatus.indexOf(true) >= 0) {
                    this.checkAllStatus = true;
                } else {
                    this.checkAllStatus = false;
                }
            },
            checkAllChange: function () {
                for (var i = 0; i < this.checkedStatus.length; i++) {
                    this.checkedStatus[i] = this.checkAllStatus
                }
            },
            handleClose(done) {
                this.editDialogVisible = false;
            },
            handleSave: function () {
                this.deleteShow = false
            },
            handleSure: function () {
                layer.msg('删除成功');
                this.deleteShow = false
            },
            IptValueHandle: function () {
                if (this.editDialogIpt.length > 8) {
                    this.editDialogIpt = this.editDialogIpt.substring(0, 8)
                }
            },
            addHandleClose: function () {
                this.addDialogVisible = false;
            }

        }
    });
</script>