<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/lib/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="stylesheet" href="../assets/css/dialog.css">
    <link rel="stylesheet" href="../assets/css/organizer-manage.css">
    <title>管理员</title>
</head>

<body>
    <div class="manage-container" id="vue" v-cloak>
        <div class="manage-header">
            管理员
        </div>
        <div class="manage-content">
            <div class="btn-add btn-size fl" @click="addShow = true">
                <img src="../assets/images/add-small.png" alt="">
                <span>添加</span>
            </div>
            <div v-show="!checkAllStatus" class="btn-del-disable btn-size fl">批量移除</div>
            <div v-show="checkAllStatus" class="btn-del btn-size fl">批量移除</div>
            <div class="clear"></div>
            <table class="table-box">
                <thead>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkAllStatus" class="check-item-checkbox fl"
                                @change="checkAllChange">
                            </el-checkbox>
                        </th>
                        <th>姓名</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkedStatus[0]" class="check-item-checkbox fl"
                                @change="checkChangeHandle">
                            </el-checkbox>
                        </th>
                        <th>罗五</th>
                        <th>
                            <span @click="dialogVisible=true">权限设置</span>
                            <span @click="deleteShow=true">移除</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkedStatus[1]" class="check-item-checkbox fl"
                                @change="checkChangeHandle">
                            </el-checkbox>
                        </th>
                        <th>张三</th>
                        <th>
                            <span @click="dialogVisible=true">权限设置</span>
                            <span @click="deleteShow=true">移除</span>
                        </th>
                    </tr>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkedStatus[2]" class="check-item-checkbox fl"
                                @change="checkChangeHandle">
                            </el-checkbox>
                        </th>
                        <th>李四</th>
                        <th>
                            <span @click="dialogVisible=true">权限设置</span>
                            <span @click="deleteShow=true">移除</span>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="no-content" style="display: none;">
                暂无内容
            </div>
        </div>

        <!-- 权限设置弹出框 -->
        <el-dialog class="manageStatusDialog" title="权限设置" :visible.sync="dialogVisible" width="422px"
            :before-close="handleClose">
            <div class="manage-name">
                <span>赵嘉豪</span> 拥有以下模块的管理权限
            </div>
            <div class="manage-status">
                <span class="limit-name">报名管理</span>
                <el-switch v-model="value1"></el-switch><span class="limit-detail">管理报名名单、报名审核等功能</span>
            </div>
            <div class="manage-status">
                <span class="limit-name">签到管理</span>
                <el-switch v-model="value2"></el-switch><span class="limit-detail">管理签到、发布签到</span>
            </div>
            <div class="manage-status">
                <span class="limit-name">评价管理</span>
                <el-switch v-model="value3"></el-switch><span class="limit-detail">管理、审核评价内容</span>
            </div>
            <div class="manage-status last-manage-status">
                <span class="limit-name">成绩管理</span>
                <el-switch v-model="value4"></el-switch><span class="limit-detail">审核用户参与活动的成绩是否为合格</span>
            </div>
            <span slot="footer" class="dialog-footer">
                <div @click="dialogVisible = false" class="btn-size btn-cancel">取消</div>
                <div @click="submithandle" class="btn-size btn-submit">确定</div>
            </span>
        </el-dialog>

        <!-- 确认删除分类弹框 -->
        <div class="dailog-box3" v-show="deleteShow">
            <div class="dailog delete-dailog">
                <div class="warn"><img src="../assets/images/warning.png" alt=""></div>
                <span>确定移除吗？</span>
                <div>
                    <div class="normal-btn" @click="handleSave">保留</div>
                    <div class="normal-btn after-sure" @click="handleSure">移除</div>
                </div>
            </div>
        </div>

        <!--添加弹框-->
        <div class="dailog-box1" v-show="addShow">
            <div class="dailog choose-dialog">
                <div class="header">
                    <span>选择人员</span>
                    <img src="../assets/images/close.png" alt="" class="close" @click="addShow = false">
                </div>
                <div class="body clear">
                    <div class="choose-list fl">
                        <div class="search">
                            <input class="search-ipt" type="text" name="" id="" placeholder="姓名/手机号"
                                v-model="addIptValue" @input="addIptValueHandle">
                            <i class="icon close" v-show="closeValue" @click="clearIptValue"></i>
                            <i class="icon search-icon"></i>
                        </div>
                        <div class="crumb" style="display: block;">
                            <ul class="clear">
                                <li class="back-item">全部</li>
                                <li> > 通讯录1</li>
                            </ul>
                        </div>
                        <div class="catalog-list" style="display: block;">
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog1.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    层级名称层级名称层级名称层级名称层级名称
                                </div>
                                <img class="right-img" src="../assets/images/icon-right.png" alt="">
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog1.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    层级名称层级名
                                </div>
                                <img class="right-img" src="../assets/images/icon-right.png" alt="">
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog2.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <img class="right-img" src="../assets/images/icon-right.png" alt="">
                            </div>
                            <div :class='["catalog-item",checked==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked1==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked1"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                            <div :class='["catalog-item",checked2==true ? "bgc-blue" : ""]'>
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    小组名称
                                </div>
                                <el-checkbox class="right-check" v-model="checked2"></el-checkbox>
                            </div>
                        </div>
                        <div class="loading" style="display: block;">
                            <img src="../assets/images/icon-loading.png" alt="">
                            <span>加载中</span>
                        </div>
                        <div class="empty-content" style="display: none;">
                            无搜索结果
                        </div>
                    </div>
                    <div class="item-choosed fl">
                        <div class="choose-number">已选0人</div>
                        <div class="catalog-list" style="display: block;">
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                            <div class="catalog-item">
                                <div class="catalog-photo">
                                    <img src="../assets/images/catalog-tx.png" alt="">
                                </div>
                                <div class="catalog-title">
                                    侯伟
                                </div>
                                <div class="del-img"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="normal-btn cancle" @click="addShow=false">取消</div>
                    <div class="normal-btn before-sure">完成</div>
                    <div class="normal-btn after-sure">完成</div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
<script type="text/javascript" src="../assets/lib/vue.js"></script>
<script type="text/javascript" src="../assets/lib/jquery.min.js"></script>
<script type="text/javascript" src="../assets/lib/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="../assets/lib/element-ui/lib/index.js"></script>
<script type="text/javascript" src="../assets/lib/layer/layer.js"></script>
<script type="text/javascript" src="../assets/lib/layui/layui.js"></script>


<script>
    var vm = new Vue({
        el: '#vue',
        data: function () {
            return {
                checkAllStatus: false,
                checkedStatus: [false, false, false, false],
                dialogVisible: false,
                // 报名管理状态
                value1: false,
                // 签到管理状态
                value2: false,
                // 评价管理状态
                value3: false,
                // 成绩管理状态
                value4: false,
                // 删除弹出框
                deleteShow: false,
                //添加弹出框
                addShow: false,
                // 添加弹框 input 值
                addIptValue: "",
                // 输入框清空按钮是否显示
                closeValue: false,
                checked: false,
                checked1: false,
                checked2: false
            }
        },
        created: function () {

        },
        mounted: function () {
            this.initScroll()
        },
        methods: {
            checkChangeHandle: function () {
                if (this.checkedStatus.indexOf(true) >= 0) {
                    this.checkAllStatus = true;
                } else {
                    this.checkAllStatus = false;
                }
            },
            checkAllChange: function () {
                for (var i = 0; i < this.checkedStatus.length; i++) {
                    this.checkedStatus[i] = this.checkAllStatus
                }
            },
            handleClose(done) {
                this.dialogVisible = false;
            },
            // 提交事件
            submithandle: function () {
                layer.msg('权限设置成功');
                this.dialogVisible = false;
            },
            handleSave: function () {
                this.deleteShow = false
            },
            handleSure: function () {
                layer.msg('移除成功');
                this.deleteShow = false
            },
            // 监听添加弹框input
            addIptValueHandle: function () {
                if (this.addIptValue.trim() !== "") {
                    this.closeValue = true
                } else {
                    this.closeValue = false
                }
            },
            // 清空输入框的值
            clearIptValue: function () {
                this.addIptValue = "";
                this.closeValue = false;
            },
            initScroll: function () {
                $(".item-choosed,.choose-list").niceScroll({
                    cursorborder: "",
                    cursorwidth: 8,
                    cursorcolor: "#DADADA",
                    boxzoom: false,
                    autohidemode: true
                });
                $(".item-choosed,.choose-list").getNiceScroll().resize();
            }
        }
    });
</script>