html {
    height: 100%;
    margin: 0;
}

body {
    background: #F2F4F7;
    margin: 0;
    padding: 20px;
}

.container {
    border-radius: 8px;
    min-height: 860px;
    height: 100%;
}

.slider {
    float: left;
    height: 100%;
    max-width: 220px;
    background: #ffffff;
    border-radius: 8px 0px 0px 8px;
    position: relative;

}

.slider .title {
    color: #333333;
    text-align: left;
    padding: 24px;
    display: flex;
    align-items: center;
}

.slider .title span {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    flex: 1;
    margin-right: 8px;
}
.slider .title .icon-qr-code {
    display: inline-block;
    width: 16px;
    height: 30px;
    background: url('../images/icon-qr-code.png') center center no-repeat;
    background-size: 100%;
    margin-left: auto;
    cursor: pointer;
    }

.menu {
    width: 220px;
}

.menu-item {
    padding: 12px 0;
    border-top: 1px solid #f0f0f0;
}

.item {
    width: 196px;
    height: 24px;
    padding: 14px 0 14px 24px;
    text-align: left;
    cursor: pointer;
}

.menu .menu-item .item:hover {
    background: rgba(0, 132, 255, 0.04);
}

.message .item {
    padding: 14px 0 14px 24px;
}

.statistics .item {
    padding: 14px 0 14px 24px;
}

.item img {
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

.item span {
    font-size: 14px;
    color: #737886;
    display: block;
    line-height: 24px;
    float: left;
    margin-left: 7px;
}

.content {
    float: left;
    height: calc(100%);
    width: calc(100% - 221px);
    border-radius: 0px 8px 8px 0px;
    background: #ffffff;
    border-left: 1px solid #f0f0f0;
}

.content iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.active {
    background: rgba(0, 132, 255, 0.04);

}

.active span {
    color: #0084FF;
    font-weight: 500;
}

.edit .item {
    position: absolute;
    bottom: 16px;
}

.edit .item:hover {
    background: rgba(0, 132, 255, 0.04);
}
.v-modal {
    background: rgba(255, 255, 255, 0.5);
    }
.qrCode-dialog {
    border: 1px solid #E9E9E9;
    box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin:0 !important;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    /*height:600px;*/
    max-height:calc(100% - 30px);
    max-width:calc(100% - 30px);
    }
.qrCode-dialog .el-dialog__body{
    flex:1;
    overflow: auto;
    }

.qrCode-dialog .el-dialog__header {
    height: 40px;
    padding: 0;
    }
.qrCode-dialog .el-dialog__body {
    padding: 0 40px 40px;
    
    }
.qrCode-dialog .el-dialog__body .inner {
    border: 1px solid #E9E9E9;
    border-radius: 6px;
    padding: 24px 24px 0;
    text-align: center;
    }
.qrCode-dialog .el-dialog__body .tips {
    color: #666666;
    font-size: 16px;
    line-height: 22px;
    margin: 16px 0;
    }
.qrCode-dialog .el-dialog__headerbtn {
    right: 14px;
    top: 14px;
    }
