/* 选人弹窗样式 */
* {
    padding: 0;
    margin: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}

.choose-dialog .el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: #0084FF;
    background: #0084FF;
}

.choose-dialog li {
    list-style: none;
}

.dialog-mask {
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.choose-dialog {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 660px;
    height: 660px;
}

.choose-dialog .header {
    position: relative;
    height: 58px;
    background: #ffffff;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #f0f2f7;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #333333;
    line-height: 58px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choose-dialog .header .close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url("../images/yq-design/close-default.png");
    background-size: cover;
}

.choose-dialog .header .close:hover {
    background-image: url("../images/yq-design/close-hover.png");
}

.choose-dialog .body {
    position: relative;
    padding: 32px;
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 532px;
}

.choose-dialog .body .edit-input .el-input__inner {
    height: 32px;
    line-height: 32px;
    border: 1px solid #E9E9E9;
}

.choose-dialog .body .edit-input .el-input__icon {
    line-height: 32px;
}

.choose-dialog .footer {
    height: 58px;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #f0f2f7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-dialog .footer .btn-box {
    text-align: center;
    font-size: 0;
}

.choose-dialog .footer .border-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    line-height: 28px;
    padding: 0 13px;
    border: 1px solid #82c3ff;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 400;
    color: #0084ff;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
}

.choose-dialog .footer .border-btn:hover {
    background: #EBF5FF;
}

.choose-dialog .footer .border-btn.disable {
    opacity: 0.3;
}

.choose-dialog .footer .normal-btn {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    background: #0084ff;
    color: #ffffff;
    border: none;
    display: inline-block;
    vertical-align: top;
}

.choose-dialog .footer .normal-btn.disable {
    opacity: 0.3;
}

.choose-dialog .footer .normal-btn.disable:hover {
    opacity: 0.3;
}

.choose-dialog .footer .normal-btn:hover {
    opacity: 0.8;
}

.choose-dialog .footer .normal-btn .add-icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    background-image: url(../../assets/images/add-small.png);
}

.choose-dialog .choose-list {
    overflow: hidden;
    width: 353px;
    margin-top: 12px;
    padding-left: 24px;
    border-right: 1px solid #F0F0F0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choose-dialog .search {
    position: relative;
    width: 306px;
    height: 28px;
    border: 1px solid #e9e9e9;
    border-radius: 15px;
}

.choose-dialog .search.focus {
    border: 1px solid #0084FF;
}

.choose-dialog .crumb .back-item .icon-right {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
    width: 16px;
    height: 16px;
    background-image: url(../images/chevron-right.png);
}

.choose-dialog .search .search-ipt {
    border: none;
    position: absolute;
    left: 16px;
    height: 22px;
    width: 240px;
    margin-top: 3px;
}

.choose-dialog .search .search-ipt .el-input__inner {
    border: none;
    height: 22px;
    line-height: 22px;
    padding: 0;
}

.choose-dialog .search .icon {
    cursor: pointer;
    width: 16px;
    height: 16px;
    position: absolute;
    margin-top: 6px;
}

.choose-dialog .search .close {
    top: 0;
    right: 30px;
    background: url("../images/icon-cancel.png") center center no-repeat;
}

.choose-dialog .search .close:hover {
    background: url("../images/icon-cancel-hover.png") center center no-repeat;
}

.choose-dialog .search .search-icon {
    right: 10px;
    margin-top: 6px;
    background: url("../images/icon-search.png") center center no-repeat;
}

.choose-dialog .search .search-icon:hover {
    background: url("../images/icon-search-hover.png") center center no-repeat;
}

.choose-dialog .crumb {
    margin-top: 8px;
    /* height: 18px; */
}

.choose-dialog .crumb>ul {
    overflow: hidden;
}

.choose-dialog .crumb>ul>li {
    float: left;
    font-size: 13px;
    line-height: 18px;
    color: #999999;
    margin-top: 4px;
}

.choose-dialog .crumb .back-item {
    cursor: pointer;
    color: #0084FF;
}

.choose-dialog .crumb .back-item>span {
    display: inline-block;
    vertical-align: top;
    max-width: 91px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.choose-dialog .catalog-list {
    margin-top: 8px;
    height: 464px;
    overflow: auto;
}

.choose-dialog .catalog-list .catalog-item {
    cursor: pointer;
    position: relative;
    width: 328px;
    min-height: 48px;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choose-dialog .bgc-blue {
    background: rgba(0, 132, 255, 0.04) !important;
}
.choose-dialog .catalog-list .catalog-item .catalog-photo{
    position: absolute;
    left: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
}
.choose-dialog .catalog-list .catalog-item:hover {
    background: #F8F8F8;
}

.choose-dialog .catalog-list .catalog-item .catalog-title {
    position: absolute;
    top: 50%;
    left: 48px;
    width: 236px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    position: relative;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    line-height: 32px;
}

.choose-dialog .item-choosed .catalog-item .catalog-title{
    left: 56px;
}

.choose-dialog .catalog-list .catalog-item .right-img {
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.choose-dialog .catalog-list .catalog-item .right-check {
    position: absolute;
    right: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.choose-dialog .loading {
    width: 100%;
    text-align: center;
    padding: 8px 0;
}

.choose-dialog .loading img {
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: top;
}

.choose-dialog .loading>span {
    font-size: 14px;
    line-height: 32px;
    color: #999999;
}

.choose-dialog .item-choosed {
    overflow-y: auto;
    overflow-x: hidden;
    height: 532px;
    width: 306px;
    margin-top: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choose-dialog .item-choosed .choose-number {
    width: 100%;
    height: 32px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 32px;
    color: #999999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choose-dialog .item-choosed .catalog-list {
    width: 100%;
    margin-top: 0;
    height: 500px;
}

.choose-dialog .item-choosed .catalog-item {
    width: 100%;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.choose-dialog .item-choosed .catalog-item .catalog-photo {
    position: absolute;
    left: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    border-radius: 16px;
    overflow: hidden;
}

.choose-dialog .catalog-list .catalog-item .catalog-photo>img {
    width: 100%;
    height: 100%;
}

.dailog.choose-dialog .catalog-list .catalog-item .catalog-title.lineH20 {
    line-height: 20px;
}

.choose-dialog .catalog-item .del-img {
    display: none;
    position: absolute;
    top: 17px;
    right: 17px;
    width: 14px;
    height: 14px;
    background: url("../images/del-img-white.png") no-repeat center center;
}

.choose-dialog .item-choosed .catalog-item:hover {
    background: #F8F8F8;
}

.choose-dialog .item-choosed .catalog-item:hover .del-img {
    display: block;
}

.choose-dialog .item-choosed .catalog-item .del-img:hover {
    background: url("../images/del-img-red.png") no-repeat center center;
}

.choose-dialog>.footer {
    width: 100%;
}

.choose-dialog .empty-content {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    width: 100%;
    text-align: center;
    margin-top: 235px;
}