@charset "UTF-8";
.page {
  padding-top: 68px;
}

button {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cancle-btn {
  padding: 5px 13px;
  height: 30px;
  background: #fff;
  border: 1px solid #82c3ff;
  border-radius: 15px;
  color: #0084ff;
  cursor: pointer;
  font-size: 13px;
  z-index: 2;
}

.cancle-btn:hover {
  background: #EBF5FF;
}

.create-btn {
  padding: 6px 20px 6px 21px;
  height: 30px;
  background: #0084ff;
  border-radius: 15px;
  border: none;
  color: #fff;
  margin-left: 24px;
  cursor: pointer;
  font-size: 13px;
  line-height: 15px;
}

.create-btn:hover {
  background: rgba(0, 132, 255, 0.8);
}

input {
  -webkit-appearance: button;
  height: 36px;
  font-size: 16px;
  color: #333333;
}

.scroll {
  height: 100%;
  overflow: hidden;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
  color: #333333;
}

.el-select-dropdown__item {
  text-align: left;
}

.top {
  height: 68px;
  background: #ffffff;
  /*border: 1px solid #e9e9e9;*/
  border-radius: 8px;
  padding: 0 24px;
  color: #666666;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
}

.top .go-back {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.top .go-back i {
  font-size: 16px;
  margin-right: 6px;
  vertical-align: middle;
  margin-top: 6px;
}

.top .go-back span {
  font-size: 14px;
  line-height: 30px;
  color: #999999;
}

.top .go-back:hover .icon-back:before {
  color: #0084FF;
}

.top .go-back:hover span {
  color: #0084FF;
}

.top .name-txt {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.top .margin-left-auto {
  margin-left: auto;
}

.create {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #333333;
  line-height: 20px;
  margin-left: 6px;
}

.info {
  /* height: 531px; */
  background: #ffffff;
  border-radius: 8px;
  padding: 24px 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.left {
  width: 16px;
  height: 16px;
}

.box {
  margin-top: 16px;
}

.title {
  font-size: 18px;
  line-height: 19px;
  font-weight: 500;
  color: #333333;
  text-align: left;
}

.title span {
  font-weight: 400;
  color: #999999;
  font-size: 13px;
  line-height: 32px;
  margin-left: 16px;
}

.form-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 24px 0;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marginTop16 {
  margin-top: 16px;
}

.form-item.align-start {
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.form-item:last-of-type {
  margin-bottom: 0;
}

.form-item.cancel-margin {
  margin-bottom: 8px;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-item.cancel-margin .label {
  margin-top: 10px;
}

.input-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  margin-left: 24px;
  position: relative;
  color: #999999;
  font-size: 14px;
}

.display-block {
  display: block;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-box > .item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 100%;
  position: relative;
}

.input-box > .item > img {
  position: absolute;
  right: 10px;
  top: 25%;
  width: 16px;
  height: 16px;
}

.input-box > .icon {
  width: 16px;
  height: 16px;
}

.form-item .input-box .el-checkbox__label {
  color: #333333;
  font-weight: 400;
}

.label {
  width: 90px;
  line-height: 20px;
  font-size: 14px;
  color: #333333;
  text-align: left;
  position: relative;
}

.label .spanLabel {
  display: inline-block;
  background: #F0F0F0;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  font-size: 12px;
  color: #999999;
  margin-top: 2px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: #cccccc;
}

input::-moz-placeholder {
  font-size: 14px;
  color: #cccccc;
}

input:-ms-input-placeholder {
  font-size: 14px;
  color: #cccccc;
}

input::-ms-input-placeholder {
  font-size: 14px;
  color: #cccccc;
}

input::placeholder {
  font-size: 14px;
  color: #cccccc;
}

input[type="text"]:not(.el-select__input) {
  width: 100%;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #333333;
  padding: 5px 0 5px 12px;
  height: 32px;
}

input[type="number"]:not(.el-select__input) {
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  color: #333333;
  padding: 5px 0 5px 12px;
  height: 32px;
}

.el-date-editor input[type="text"] {
  padding-left: 30px;
}

.el-input__inner {
  padding: 0;
}

.length {
  position: absolute;
  right: 212px;
  top: 25%;
  color: #999999;
  font-size: 16px;
}

.time {
  width: 180px;
}

.font {
  margin: 0 10px;
}

.radio-box {
  margin-right: 20px;
  color: #333333;
}

.radio-box > input {
  margin-right: 10px;
}

.cover-img {
  width: 192px;
  height: 100px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}

.font-box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #666666;
  line-height: 20px;
  margin-left: 14px;
}

.upload {
  margin-top: 16px;
  text-align: center;
  line-height: 15px;
}

.upload-btn {
  position: absolute;
  bottom: 0;
  height: 32px;
  opacity: 0;
  width: 0;
}

.type-item {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  margin: 4px 16px 4px 0;
  font-size: 14px;
  color: #333333;
}

.paddingR0 {
  padding-right: 0;
}

/* .type-item:hover {
    background: #F8F8F8;
} */
.type-item:hover .add_btn {
  background: url("../images/add-active.png");
}

.type-item.add {
  border: 1px dashed #e9e9e9;
}

.type-item img {
  width: 16px;
  height: 16px;
}

.type-item.add:hover {
  border: 1px dashed #0084FF;
  color: #0084FF;
}

.type-item .more-box:hover > .edit-box {
  display: block;
  z-index: 10;
}

.already_add {
  cursor: pointer;
}

.already_add div {
  font-size: 14px;
  line-height: 16px;
  color: #0084FF;
  float: left;
  margin-right: 4px;
}

.already_add img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.set-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title.set {
  width: 98px;
}

.tips {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #999999;
  line-height: 16px;
  margin-left: 16px;
}

.tips.first {
  margin-left: 0;
  margin-bottom: 14px;
}

.tips.set-information {
  color: #0084FF;
}

select {
  height: 36px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  padding: 0 10px 0 14px;
}

.input-box > .person {
  width: 130px;
  margin-left: 24px;
}

.person-span {
  margin-left: 10px;
}

.select-method {
  width: 200px;
}

.column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select-info {
  width: 200px;
}

input.btn-name,
.btn-name {
  width: 200px;
}

.item-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 24px;
}

.cover-list ul li {
  float: left;
  margin-right: 30px;
  width: 366px;
  margin-top: 30px;
}

.cover-list ul li .img-inner-box {
  width: 100%;
  height: 200px;
  border: 3px solid transparent;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.cover-list ul li .img-inner-box img {
  width: 100%;
  min-height: 100%;
  vertical-align: middle;
}

.cover-list ul li .magnifier {
  position: absolute;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 32px;
  height: 32px;
  border-radius: 8px 0px 0;
  text-align: center;
  cursor: pointer;
  display: none;
}

.cover-list ul li .magnifier i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../images/zoom-in.png") no-repeat;
  background-size: 100%;
}

.cover-list ul li .magnifier:hover {
  opacity: 0.5;
}

.cover-list ul li p {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  margin-top: 12px;
}

.cover-list ul li:hover .magnifier {
  display: block;
}

.cover-list ul li.current .img-inner-box {
  border: 3px solid #0084FF;
}

.picture-list {
  padding: 16px 60px 36px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: #F7F8FA;
  border-radius: 4px;
  position: relative;
}

.picture-list .swiper-slide {
  font-size: 14px;
}

.picture-list .swiper-slide .img-box {
  width: 100%;
  height: 180px;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.picture-list .swiper-slide .check_ {
  width: 32px;
  height: 32px;
  background: url("../images/icon-checked.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.picture-list .swiper-slide .zoom {
  width: 32px;
  height: 32px;
  background: url("../images/icon-zoom.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}

.picture-list .swiper-slide.active {
  border: none;
}

.picture-list .swiper-slide img {
  width: 100%;
  height: 100%;
}

.picture-list .swiper-slide p {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-top: 10px;
}

.picture-list .swiper-slide:hover .img-box {
  border: 2px solid rgba(61, 130, 242, 0.5);
}

.picture-list .swiper-slide:hover .zoom {
  display: block;
}

.picture-list .swiper-slide.active .img-box {
  border: 2px solid #3D82F2;
}

.picture-list .swiper-slide.active .check_ {
  display: block;
}

.picture-list .swiper-next {
  width: 28px;
  height: 28px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
  border-radius: 99px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  z-index: 3;
  right: 16px;
  cursor: pointer;
  text-align: center;
}

.picture-list .swiper-next i {
  font-size: 16px;
  line-height: 28px;
}

.picture-list .swiper-next:hover {
  background: rgba(255, 255, 255, 0.8);
}

.picture-list .swiper-prev {
  width: 28px;
  height: 28px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
  border-radius: 99px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  z-index: 3;
  left: 16px;
  cursor: pointer;
  text-align: center;
}

.picture-list .swiper-prev i {
  font-size: 16px;
  line-height: 28px;
}

.picture-list .swiper-prev:hover {
  background: rgba(255, 255, 255, 0.8);
}

.picture-list .swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 3;
  width: 100%;
  left: 0;
  bottom: 16px;
}

.picture-list .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
  margin: 0 5px;
}

.picture-list .swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.modle-item {
  position: relative;
  width: 190px;
  height: 82px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.modle-item:hover {
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
}

.modle-item > .img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.dellete {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  display: none;
}

.modle-item:hover > .dellete {
  display: block;
}

.modle-item > div {
  width: 50px;
  height: 50px;
  background: #f7f7f7;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
}

.modle-item > div > img {
  width: 20px;
  height: 20px;
}

.page-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-item {
  position: relative;
  width: 455px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #333333;
}

.mask-box {
  width: 455px;
  height: 300px;
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 8px;
}

.mask-box > .img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.page-item > .selected,
.add-item > .selected {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.add-item > .selected {
  display: none;
}

.add-item:hover .selected {
  display: block;
}

.add-item:hover > div {
  border: 1px solid #0099ff;
}

.dailog-box1,
.dailog-box2,
.dailog-box3,
.dailog-box4,
.dialog-box5 {
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
}

.dailog-box2 > .dailog {
  width: 550px;
}

.dailog {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.delete-dailog {
  padding: 30px;
  width: 300px;
  height: 194px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details-dailog {
  width: 540px;
  height: 251px;
  padding: 30px;
}

.warn {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
}

.warn img {
  width: 100%;
  height: 100%;
}

.delete-dailog > span {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  line-height: 24px;
}

.delete-dailog > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.details-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  line-height: 22px;
  padding-top: 20px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #e9e9e9;
  position: relative;
}

.edit-img {
  position: absolute;
  right: 0px;
  top: 46px;
  color: #999999;
  font-size: 16px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
}

.details-item img {
  width: 16px;
  height: 16px;
}

.close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
}

.details-item > .details-img {
  width: 80px;
  height: 80px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.desc {
  max-width: 280px;
  line-height: 22px;
}

.overHidden2 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.visit {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  font-size: 16px;
}

.visit > span {
  margin-right: 10px;
}

.visit > div {
  margin-left: 20px;
}

.dailog > .header {
  position: relative;
  height: 58px;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #f0f2f7;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #333333;
  line-height: 58px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.dailog > .footer {
  height: 58px;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  border-top: 1px solid #f0f2f7;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dailog > .body {
  position: relative;
  padding: 16px;
}

.dailog > .body > .length {
  top: 50%;
  right: 40px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dailog > .body > .fenlei-input {
  width: 340px;
  height: 36px;
  background: #ffffff;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.dailog > .header > .close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.normal-btn {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  padding: 0 14px;
  border: 1px solid #82c3ff;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #0084ff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.before-sure {
  background: rgba(0, 132, 255, 0.3);
  color: #ffffff;
  border: none;
  margin-left: 20px;
}

/*.before-sure:hover {*/
/*background: #0084ff;*/
/*color: #ffffff;*/
/*border: none;*/
/*}*/
.normal-btn.cancle:hover {
  background: #EBF5FF;
}

.after-sure {
  background: #0084ff;
  color: #ffffff;
  border: none;
  margin-left: 20px;
}

.after-sure:hover {
  background: rgba(0, 132, 255, 0.8);
}

.select {
  position: relative;
  width: 200px;
  margin-top: 20px;
}

.select-person {
  position: relative;
  width: 140px;
}

.select-person-radio {
  line-height: 32px;
}

.select-activity {
  position: relative;
  width: 200px;
}

.el-select,
.el-input {
  height: 32px;
}

.down {
  position: absolute;
  right: 10px;
  top: 25%;
  width: 16px;
  height: 16px;
}

.add-modle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* justify-content: space-around; */
}

.add-item {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  line-height: 20px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.add-item:nth-of-type(4n) {
  margin-right: 0;
}

.add-item > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.add-item > div > .img {
  width: 60px;
  height: 60px;
}

.add-details {
  height: 414px;
}

.input-box.add-name {
  width: 396px;
  margin-left: 0;
}

.input-box.add-name .add-img {
  width: 80px;
  height: 80px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.show-addr {
  width: 428px !important;
}

.show-addr-detailed {
  width: 256px !important;
  margin-left: 16px;
}

.upload-icon {
  width: 50px;
  height: 24px;
  border: 1px solid #82c3ff;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #0084ff;
  line-height: 24px;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 14px;
}

#complete {
  line-height: 30px;
}

.section-switch {
  margin-left: 24px;
}

.check {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  float: left;
  margin-top: 2px;
  margin-left: 2px;
}

.show {
  display: block;
}

.active {
  border: 1px solid #0084ff;
  color: #0084ff;
}

.look-dailog {
  width: 527px;
  height: 432px;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.code {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.code > img {
  width: 200px;
  height: 100%;
}

.link-box {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.link-box > .input-link {
  font-size: 16px;
  color: #333333;
  width: 415px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  margin-left: 20px;
}

.link-box > a {
  position: absolute;
  right: 10px;
  z-index: 2;
  font-size: 16px;
  color: #0084ff;
  background-color: #fff;
}

.page-item:hover .mask {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.mask > .preview {
  background: rgba(255, 255, 255, 0.9);
  color: #0084ff;
  border: none;
}

.mask > .preview:hover {
  background: #EBF5FF;
}

.map-dailog {
  top: 191px;
  left: calc(50% - 325px);
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  width: 640px;
  height: 440px;
  border-radius: 8px;
}

.map-dailog .sure-btn {
  padding: 6px 14px;
  background: #0084ff;
  border-radius: 15px;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  margin-left: 16px;
  height: 18px;
}

.map-dailog .sure-btn:hover {
  background: rgba(0, 132, 255, 0.8);
}

.body-head {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-head > .input-addr {
  /* width: 326px; */
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 36px;
  font-size: 16px;
}

.map {
  width: 608px;
  height: 302px;
  margin-top: 16px;
}

.input-addr > .title1 {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.el-scrollbar li {
  position: relative;
  padding-right: 30px;
}

.el-scrollbar li,
.address-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.el-autocomplete-suggestion li:hover .el-icon-close {
  display: block;
}

.el-icon-search {
  margin-right: 10px;
}

.el-select-dropdown__list {
  max-height: 208px;
}

#custom {
  position: relative;
}

.img-box {
  position: relative;
  width: 192px;
  height: 100px;
  font-size: 0;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  cursor: pointer;
}

.edit-box {
  position: absolute;
  top: 32px;
  right: -29px;
  width: 58px;
  height: 72px;
  background: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
  color: #333333;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  padding: 2px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.edit-box div:hover {
  background: #F8F8F8;
  color: #0084FF;
}

.required-img {
  width: 6px;
  height: 6px;
  position: absolute;
  top: 4px;
  left: -6px;
}

.position {
  position: relative;
  margin-right: 10px;
  margin-left: 0;
}

.line-h {
  line-height: unset;
}

.el-input__inner {
  line-height: 32px;
}

.page-demo {
  width: 220px;
  height: 132px;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  overflow: hidden;
}

.pageset-right {
  position: relative;
  margin-left: 30px;
  padding: 16px 0;
}

.pageset-right .cancle-btn {
  margin-top: 48px;
}

.copy-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.pageset-right a {
  z-index: 2;
}

.pageset-right .copy {
  margin-left: 16px;
}

.del-img {
  margin-left: 5px;
}

.tree {
  width: 400px;
  height: 300px;
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.tree-head {
  width: 400px;
  height: 40px;
  background: #f8f8f8;
  border-radius: 2px 2px 0px 0px;
  font-size: 14px;
  color: #666666;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.already {
  color: #0084FF;
}

/* z-tree */
.tree-box {
  height: 259px;
  padding: 10px 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  font-size: 13px;
}

.ztree li span.button.root_open,
.ztree li span.button.roots_open,
.ztree li span.button.bottom_open,
.ztree li span.button.center_open {
  background: url(../images/triangle2.png) center center no-repeat;
}

.ztree li span.button.root_close,
.ztree li span.button.roots_close,
.ztree li span.button.bottom_close,
.ztree li span.button.center_close {
  background: url(../images/triangle1.png) center center no-repeat;
}

.ztree li span.button.chk.checkbox_false_full,
.ztree li span.button.chk.checkbox_false_full_focus {
  width: 15px;
  height: 15px;
  background: url(../images/radio_normal1.png) no-repeat;
  position: relative;
  z-index: 2;
}

.ztree li span.button.chk.checkbox_true_full,
.ztree li span.button.chk.checkbox_true_full_focus {
  width: 15px;
  height: 15px;
  background: url(../images/radio_normal3.png) no-repeat;
}

.ztree li span.button.chk.checkbox_false_part,
.ztree li span.button.chk.checkbox_false_part_focus {
  width: 15px;
  height: 15px;
  background: url(../images/radio_normal2.png) no-repeat;
  position: relative;
  z-index: 2;
}

.ztree li span.button.chk.checkbox_true_part,
.ztree li span.button.chk.checkbox_true_part_focus {
  width: 15px;
  height: 15px;
  background: url(../images/radio_normal2.png) no-repeat;
  position: relative;
  z-index: 2;
}

.ztree li {
  position: relative;
  line-height: 30px;
}

.ztree li a {
  height: 30px;
  border: none;
  padding: 0;
  background-color: transparent;
  text-decoration: none;
  cursor: auto;
}

.ztree .node_name {
  font-size: 13px;
  color: #333333;
  margin-left: 6px;
}

.ztree li a.curSelectedNode {
  background: none;
  border: none;
  opacity: 1;
}

.ztree li span.button.center_docu,
.ztree li span.button.bottom_docu,
.ztree li ul.line {
  background: none;
}

.ztree li span.button.ico_open {
  vertical-align: middle;
  background-image: url(../images/icon-file.png);
  background-position: unset;
}

.ztree li span.button.ico_docu {
  display: none;
  vertical-align: middle;
  /* background-image: url(../images/icon-shcool.png); */
  background-image: url(../images/icon-treeStandard.png);
  background-position: unset;
}

.ztree li span.button.ico_close {
  vertical-align: middle;
  background-image: url(../images/icon-file.png);
  background-position: unset;
}

.configurationForm {
  margin-top: 20px;
  cursor: pointer;
}

.configurationForm img {
  width: 16px;
  height: 16px;
}

.configurationForm .tips {
  margin-left: 5px !important;
}

.copy-link {
  max-width: 496px;
  font-size: 16px;
  line-height: 20px;
  color: #0084FF;
  border: none;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}

.copy-link:hover {
  color: rgba(0, 132, 255, 0.8);
  text-decoration: underline;
}

.copy {
  font-size: 14px !important;
  line-height: 20px;
  color: #999999 !important;
}

.copy:hover {
  color: #0084FF !important;
}

.add_template {
  background: url("../images/icon_add_template.png") no-repeat;
  background-position: center center;
  cursor: pointer;
}

.create_tips {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  margin-left: 16px;
}

.ztree * {
  font-family: PingFangSC;
}

.el-radio__label {
  color: #333;
}

.disable {
  display: none;
}

.el-range-editor.el-input__inner {
  padding: 5px 12px;
  width: 346px;
}

.el-date-editor .el-range-input, .el-date-editor .el-range-separator {
  text-align: left;
}

.el-date-editor .el-range-input {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  width: 131px;
}

.date-piker-icon {
  height: 14px;
  position: absolute;
  left: 319px;
}

.date-piker-icon img {
  width: 14px;
  height: 14px;
}

.create-class .layui-layer-btn .layui-layer-btn0 {
  height: 28px !important;
}

.create-class .layui-layer-btn .layui-layer-btn0:hover {
  background: #EBF5FF;
}

.create-class .layui-layer-btn .layui-layer-btn1 {
  height: 28px !important;
}

.create-class .layui-layer-btn .layui-layer-btn1 {
  background: rgba(0, 132, 255, 0.8);
}

.more-box {
  padding-right: 10px;
  height: 32px;
}

.more-btn {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-top: 8px;
  background: url("../images/icon-more1.png");
}

.type-item .more-box:hover .more-btn {
  background: url("../images/icon-more-hover.png");
}

.add_btn {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url("../images/icon-add-more.png");
}

/* .add_btn:hover {
    background: url("../images/add-active.png");
} */
.del_btn {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background: url("../images/del-little.png");
}

.del_btn:hover {
  background: url("../images/icon-del-active1.png");
}

.el-radio__input.is-checked + .el-radio__label {
  color: #333;
}

.el-checkbox-button__inner, .el-radio {
  font-weight: 400 !important;
}

.el-select-dropdown__item.selected {
  font-weight: 600 !important;
  color: #0084FF;
}

.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background: #F8F8F8;
  color: #0084FF;
}

.popper__arrow {
  display: none !important;
}

.el-popper[x-placement^=bottom] {
  margin-top: 4px !important;
}

.el-select-dropdown__list {
  padding: 2px 0 !important;
}

/* 参与范围新样式 */
.setForm .join-box {
  width: 700px;
  margin-left: 24px;
}

.setForm .join-box .autoRange {
  margin-bottom: -13px;
}

.flexStart {
  -webkit-box-align: start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.setForm .join-box label {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}

.setForm .join-box .join-select {
  position: relative;
  min-height: 32px;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  color: #cccccc;
  line-height: 32px;
}

.setForm .join-box .add-range {
  position: absolute;
  right: 6px;
  top: 6px;
  cursor: pointer;
}

.setForm .join-box .add-tags {
  padding-right: 26px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  color: #333333;
  padding-top: 4px;
  line-height: 20px;
}

.setForm .join-box .add-tags span {
  display: inline-block;
  padding: 2px 6px;
  background: #F2F4F7;
  border-radius: 2px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-right: 4px;
  font-size: 14px;
}

.setForm .join-box .add-tags span i {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  cursor: pointer;
  margin-bottom: 2px;
}

.setForm .score-input {
  width: 120px !important;
  margin-right: 8px;
}

.setForm .score {
  color: #333333;
  margin-right: 24px;
}

.examine-switch {
  margin-right: 16px;
}

.autoAddressClass .el-icon-close {
  position: absolute;
  right: 10px;
  color: #999999;
  display: none;
}

.ueditor {
  border: solid 1px #e9e9e9;
  border-radius: 2px;
  /* height: 186px; */
}

.ueditor .edui-default .edui-editor-iframeholder {
  /* height: 110px !important; */
  padding: 0 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* 报名成功通知弹窗 */
.dialog-box5 .dialog-wrap.edit-prize {
  width: 520px;
}

.btn-forbid {
  padding: 5px 14px;
  line-height: 18px;
  background: rgba(0, 132, 255, 0.3);
  border-radius: 30px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}

.btn-normal {
  padding: 6px 14px;
  line-height: 18px;
  background: #0084FF;
  border-radius: 30px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  cursor: pointer;
}

.btn-normal:hover {
  background: rgba(0, 132, 255, 0.8);
}

.btn-border {
  padding: 5px 14px;
  border: 1px solid #82C3FF;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  color: #0084FF;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
}

.btn-border:hover {
  background: #EBF5FF;
  opacity: 0.8;
}

.dialog-wrap.edit-prize .footer .btn:first-child {
  margin-right: 24px;
}

.dialog-wrap.edit-prize .dialog-content {
  position: relative;
  height: 470px;
  overflow-y: auto;
}

.dialog-wrap.edit-prize .dialog-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clear-cover {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 30px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  padding: 6px 14px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  display: none;
  cursor: pointer;
}

.img-box:hover .clear-cover {
  display: block;
}

.font-box .btn-box {
  font-size: 0;
}

.picture-btn {
  display: inline-block;
  vertical-align: top;
  margin-top: 16px;
  margin-left: 12px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* 图片库弹窗 */
.picture-dialog {
  width: 698px;
}

.picture-dialog .body {
  padding: 10px 22px;
  height: 382px;
  overflow: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.picture-dialog .picture-box {
  overflow: hidden;
}

.picture-dialog .picture-box .item-box {
  position: relative;
  width: 192px;
  height: 100px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin: 10px;
  float: left;
  width: calc(100%/3 - 20px);
}

.picture-dialog .picture-box .img-box {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #DDDDDD;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.picture-dialog .picture-box .img-box img {
  width: 100%;
  height: 100%;
}

.picture-dialog .picture-box .item-box.current .img-box {
  border: 2px solid #0084FF;
}

.picture-dialog .picture-box .item-box.current .select-pic {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 32px;
  height: 27px;
  background: url(../images/select-yes.png);
}

.special-style {
  padding-top: 50px;
  width: 900px;
  margin: 0 auto;
}

.special-style .top {
  height: 50px;
  border-radius: 0;
}

.btn-box-margin {
  margin-top: 20px;
}

/*固定宽度*/
.btn-width-80 {
  width: 80px;
}

.btn-main {
  padding: 0 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  color: #FFFFFF;
  background: #0084FF;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 400;
}

.btn-main:hover {
  background: rgba(0, 132, 255, 0.8);
  color: #FFFFFF;
}

.btn-second-normal {
  height: 30px;
  line-height: 30px;
  border: 1px solid #82C3FF;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 999px;
  color: #0084FF;
  font-size: 13px;
  padding: 0 12px;
  background: #ffffff;
  cursor: pointer;
  font-weight: 400;
}

.btn-second-normal:hover {
  background: #EBF5FF;
}

.cursor {
  cursor: pointer;
}

/* 编辑提醒内容弹窗 */
.dialog-wrap .footer .btn:first-child {
  margin-right: 24px;
}

.dialog-wrap.edit-remind {
  width: 600px;
}

.dialog-wrap.edit-remind .dialog-content {
  min-height: 241px;
  height: auto;
  padding: 16px 32px 0;
}

.dialog-wrap.edit-remind .dialog-content .form-items {
  font-size: 0;
  margin-bottom: 16px;
}

.dialog-wrap.edit-remind .dialog-content .form-items .label {
  display: inline-block;
  vertical-align: top;
  width: 72px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding: 6px 0;
}

.dialog-wrap.edit-remind .dialog-content .form-items .items {
  display: inline-block;
  vertical-align: top;
}

.dialog-wrap.edit-remind .dialog-content .form-items .items .tips-txt {
  font-size: 14px;
  line-height: 32px;
  color: #333333;
  margin-right: 8px;
}

.dialog-wrap.edit-remind .dialog-content .form-items .items .select-time {
  width: 160px;
}

.dialog-wrap.edit-remind .dialog-content .form-items .receive-box {
  position: relative;
  width: 448px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding: 1px;
  padding-right: 35px;
}

.dialog-wrap.edit-remind .dialog-content .form-items .receive-box .add-receive {
  position: absolute;
  top: 6px;
  right: 8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dialog-wrap.edit-remind .dialog-content .form-items .receive-box .add-receive img {
  width: 100%;
  height: 100%;
}

.dialog-wrap.edit-remind .dialog-content .form-items .receive-box .add-box {
  overflow: hidden;
}

.dialog-wrap.edit-remind .dialog-content .form-items .receive-box .add-box li {
  position: relative;
  margin: 2px;
  padding: 2px 8px;
  padding-right: 20px;
  background: rgba(0, 132, 255, 0.08);
  border-radius: 99px;
  line-height: 20px;
  font-size: 14px;
  color: #333333;
  overflow: hidden;
  float: left;
}

.dialog-wrap.edit-remind .dialog-content .form-items .receive-box .add-box li .del-btn {
  position: absolute;
  right: 4px;
  top: 4px;
  width: 16px;
  height: 16px;
  background: url(../images/del-little.png);
  cursor: pointer;
}

.dialog-wrap.edit-remind .dialog-content .form-items .el-textarea {
  width: 448px;
  font-size: 14px;
  line-height: 22px;
}

.resize-none .el-textarea__inner {
  resize: none;
  padding: 5px 11px;
}

.fixed-select {
  height: 203px;
  max-height: 203px;
  padding-bottom: 36px !important;
}

.fixed-select .el-scrollbar {
  position: static;
}

.fixed-select .el-select-dropdown__list {
  max-height: 167px;
}

.fixed-select .el-select-dropdown__list .el-select-dropdown__item {
  padding: 0 12px;
}

.fixed-select .el-select-dropdown__list .el-select-dropdown__item.hover, .fixed-select .el-select-dropdown__list .el-select-dropdown__item:hover {
  background: rgba(0, 132, 255, 0.04);
}

.fixed-select .no-content-self {
  height: 203px;
}

.fixed-select .no-content-self .no-con {
  color: #999999;
  font-size: 14px;
  line-height: 20px;
  margin: 73px auto 74px;
  text-align: center;
}

.fixed-select .setiing-absolute {
  width: 100%;
  height: 36px;
  line-height: 36px;
  position: absolute;
  top: 163px;
  font-size: 14px;
  color: #0084FF;
  background: #ffffff;
  padding: 0 12px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #e9e9e9;
  cursor: pointer;
}

.fixed-select .setiing-absolute i {
  margin-right: 4px;
}

.choose-field {
  width: 498px;
}

.choose-field .body {
  padding: 16px 32px;
  overflow: auto;
}

.choose-field .choose-box .sort-item {
  position: relative;
  padding-left: 16px;
  padding-right: 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.choose-field .choose-box .sort-item .icon-drag-inner {
  position: absolute;
  left: 0;
  font-size: 16px;
  color: #CCCCCC;
  cursor: move;
}

.choose-field .choose-box .sort-item .icon-drag-inner:hover {
  color: #82C3FF;
}

.choose-field .choose-box .sort-item .icon-minus-circle {
  position: absolute;
  right: 0;
  font-size: 16px;
  color: #CCCCCC;
  display: none;
  cursor: pointer;
  margin-left: 8px;
}

.choose-field .choose-box .sort-item .icon-minus-circle:hover {
  color: #FF666D;
}

.choose-field .choose-box .sort-item label {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 8px;
}

.choose-field .choose-box .sort-item:hover .icon-minus-circle {
  display: block;
}

.choose-field .add-option {
  margin-left: 68px;
  color: #0084FF;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.choose-field .add-option i {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-right: 4px;
  color: #0084FF;
}

.choose-field .add-option:hover {
  opacity: 0.8;
}
