.details-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);
  border-radius: 16px;
  padding: 50px 60px;
  width: 480px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.details-container .user-box {
  position: relative;
  padding-left: 56px;
  padding-right: 90px;
  height: 44px;
}
.details-container .user-box .img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.details-container .user-box .name {
  line-height: 24px;
  font-size: 16px;
  color: #333333;
}
.details-container .user-box .hint {
  font-size: 13px;
  color: #999999;
  line-height: 20px;
}
.details-container .user-box .ui-btn {
  height: 30px;
  padding: 0 14px;
  border: 1px solid #DDDDDD;
  border-radius: 15px 15px;
  background: #ffffff;
  position: absolute;
  top: 7px;
  right: 0;
}
.details-container .info-box {
  margin-top: 40px;
  border: 1px solid #F0F0F0;
  padding: 32px 24px;
  background: #FAFAFA;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.details-container .info-box li {
  position: relative;
  padding-left: 80px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 20px;
}
.details-container .info-box li:last-child {
  margin-bottom: 0;
}
.details-container .info-box li .label {
  position: absolute;
  left: 0;
  color: #999999;
}
.details-container .info-box li .color-blue {
  color: #0084FF;
}

.ui-dialog {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ui-dialog .dialog-box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.ui-dialog .dialog-box .icon {
  width: 30px;
  height: 30px;
}
.ui-dialog .dialog-box .name {
  margin-top: 20px;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
  font-weight: 600;
}
.ui-dialog .dialog-box .hint {
  font-size: 14px;
  color: #999999;
  line-height: 24px;
  margin-top: 4px;
}
.ui-dialog .dialog-box .btns {
  margin-top: 30px;
}
.ui-dialog .dialog-box .btns button {
  padding: 0 14px;
  height: 30px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px 15px;
  margin-right: 16px;
}
.ui-dialog .dialog-box .btns button:last-child {
  margin-right: 0;
}
.ui-dialog .dialog-box .btns .btn-cancel {
  background: #ffffff;
  border: 1px solid #82C3FF;
  color: #0084FF;
}
.ui-dialog .dialog-box .btns .btn-sure {
  background: #0084FF;
  color: #ffffff;
  border: none;
}

.my-message {
  background: rgba(0, 0, 0, 0.7);
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 4px;
  border: none;
  width: 104px;
  min-width: 0;
}
.my-message .el-message__icon {
  display: none;
}
.my-message .el-message__content {
  color: #FFFFFF;
}
