.white-border-btn {
  padding: 5px 13px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 0;
  text-align: center;
  cursor: pointer;
}

.white-border-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.blue-border-btn {
  width: 80px;
  height: 30px;
  border: 1px solid #82C3FF;
  background: #FFFFFF;
  border-radius: 30px;
  line-height: 18px;
  color: #0084FF;
  padding: 6px 0px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
}

.blue-border-btn:hover {
  background: #EBF5FF;
}

.btn-width80px-color1 {
  width: 80px;
  height: 30px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  font-weight: 600;
  line-height: 18px;
  color: #0084FF;
  padding: 6px 14px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
}

.btn-width80px-color1:hover {
  background: white;
}

.btn-width80px-color2 {
  width: 80px;
  height: 30px;
  background: #0084FF;
  border-radius: 30px;
  font-weight: 600;
  line-height: 18px;
  color: #FFFFFF;
  padding: 6px 14px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
}

.btn-width80px-color2:hover {
  opacity: 0.8;
}

.border-btn {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  border: 1px solid #82c3ff;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #0084ff;
  cursor: pointer;
}

.border-btn:hover {
  background: #EBF5FF;
}

.normal-btn {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  background: #0084ff;
  color: #ffffff;
  border: none;
}

.normal-btn.disable {
  opacity: 0.3;
}

.normal-btn.disable:hover {
  opacity: 0.3;
}

.normal-btn:hover {
  opacity: 0.8;
}

.w-900px {
  width: 900px;
  background: #FFFFFF;
  border-radius: 8px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.w-1000px {
  width: 1000px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.el-tooltip__popper {
  max-width: 240px;
  font-size: 14px;
  line-height: 20px;
}

.dialog-mask {
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.dailog {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 488px;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.dailog .header {
  position: relative;
  height: 58px;
  background: #ffffff;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #f0f2f7;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #333333;
  line-height: 58px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.dailog .header .close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url("../images/yq-design/close-default.png");
  background-size: cover;
}

.dailog .header .close:hover {
  background-image: url("../images/yq-design/close-hover.png");
}

.dailog .body {
  position: relative;
  padding: 16px 32px;
  font-size: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.dailog .body .custom-box {
  background: #F6F7F9;
  border-radius: 2px;
  padding: 8px 12px;
  color: #666666;
  font-size: 13px;
  margin-bottom: 16px;
}

.dailog .body .custom-box .fr {
  color: #999999;
}

.dailog .body .marginBottom24 {
  margin-bottom: 24px;
}

.dailog .body .marginBottom8 {
  margin-bottom: 8px;
}

.dailog .body .switch-box {
  margin-bottom: 8px;
}

.dailog .body .switch-box .label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-right: 16px;
}

.dailog .body .switch-box .switch {
  margin-right: 32px;
}

.dailog .body .input-box {
  margin-bottom: 16px;
  line-height: 32px;
  height: 32px;
}

.dailog .body .input-box .label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: #333333;
  margin-right: 16px;
}

.dailog .body .input-box .weight348 {
  width: 348px;
}

.dailog .body .input-box .weight372 {
  width: 372px;
}

.dailog .body .input-box .del-circle {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/yq-design/minus-circle.png);
  margin-left: 7px;
  margin-top: 8px;
  cursor: pointer;
}

.dailog .body .input-box .del-circle:hover {
  background-image: url(../images/yq-design/minus-circle-hover.png);
}

.dailog .body .input-box .del-circle.disable {
  cursor: not-allowed;
}

.dailog .body .input-box .del-circle.disable:hover {
  background-image: url(../images/yq-design/minus-circle-disable.png);
}

.dailog .body .add-option {
  display: inline-block;
  margin-left: 52px;
  color: #0084FF;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 24px;
}

.dailog .body .add-option i {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  background-image: url(../images/yq-design/plus-circle-16.png);
  margin-top: 2px;
  margin-right: 4px;
}

.dailog .body .add-option:hover {
  opacity: 0.8;
}

.dailog .footer {
  height: 58px;
  background: #ffffff;
  border-radius: 0px 0px 10px 10px;
  border-top: 1px solid #f0f2f7;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.dailog .footer .btn-box {
  text-align: center;
  padding: 14px 0;
  font-size: 0;
}

.dailog .footer .border-btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
}

.dailog .footer .normal-btn {
  display: inline-block;
  vertical-align: top;
}

.dailog.add-field {
  width: 534px;
}

.dailog.add-field .body {
  max-height: 561px;
  overflow: auto;
}

.dailog.add-field .field-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 223px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin: 8px 0;
  margin-right: 24px;
  padding: 8px 12px;
  line-height: 20px;
  cursor: pointer;
}

.dailog.add-field .field-item:nth-child(2n) {
  margin-right: 0;
}

.dailog.add-field .field-item:hover {
  background: #F8F8F8;
}

.dailog.add-field .field-item .field {
  display: inline-block;
  vertical-align: top;
  max-width: 124px;
  font-size: 14px;
  color: #333333;
  margin-right: 4px;
}

.dailog.add-field .field-item .icon-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  background-image: url(../images/yq-design/info.png);
  cursor: pointer;
}

.dailog.add-field .field-item .icon-info:hover {
  background-image: url(../images/yq-design/info-hover.png);
}

.dailog.add-field .field-item .icon-add {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-image: url(../images/yq-design/plus-circle.png);
  cursor: pointer;
}

.dailog.add-field .field-item .aready {
  font-size: 12px;
  color: #999999;
  line-height: 20px;
}

.dailog.add-field .field-item .remove {
  font-size: 12px;
  color: #FF666D;
  line-height: 20px;
}

.dailog.choose-field .body {
  max-height: 561px;
  overflow: auto;
}

.dailog.delete-dailog {
  width: 300px;
  height: 216px;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-size: 0;
}

.dailog.delete-dailog .text {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 24px 0;
  text-align: center;
  padding: 0 16px;
  color: #333333;
}

.dailog.delete-dailog .btn-box {
  text-align: center;
  font-size: 0;
}

.dailog.delete-dailog .border-btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
}

.dailog.delete-dailog .normal-btn {
  display: inline-block;
  vertical-align: top;
}

.top-con {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  height: 60px;
  background: #082541;
  padding: 15px 24px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.top-con .go-back {
  display: inline-block;
  vertical-align: top;
}

.top-con .go-back i {
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
  width: 16px;
  height: 16px;
  background-image: url(../images/yq-design/arrow-left-small.png);
}

.top-con .go-back span {
  font-size: 13px;
}

.top-con .step-div {
  margin-right: 36px;
}

.top-con .step-div div {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin-left: 24px;
}

.top-con .look-div {
  font-size: 0;
}

.top-con .look-div div {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  margin-left: 24px;
}

.top-con .step-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0;
  width: 380px;
}

.top-con .step-box img {
  display: inline-block;
  vertical-align: top;
  height: 30px;
}

.top-con .step-box img:nth-child(2n) {
  position: absolute;
  left: 118px;
}

.top-con .step-box img:nth-child(3n) {
  position: absolute;
  right: 0;
}

.el-input__inner {
  height: 32px;
  border: 1px solid #E9E9E9;
  border-radius: 2px;
  padding: 0 11px;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: #0084FF;
  background: #0084FF;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #333333;
}

.el-switch.is-checked .el-switch__core {
  border-color: #0084FF;
  background: #0084FF;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  border-color: #0084FF;
  background: #0084FF;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #333333;
}

.content {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.field-setting {
  min-width: 1280px;
}

.field-setting .choose-mould {
  min-height: 600px;
  padding: 32px;
}

.field-setting .choose-mould .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-bottom: 12px;
}

.field-setting .choose-mould .mould {
  font-size: 0;
}

.field-setting .choose-mould .mould .mould-item {
  margin-top: 20px;
  margin-right: 20px;
  width: 194px;
  font-size: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.field-setting .choose-mould .mould .mould-item:nth-child(4n) {
  margin-right: 0;
}

.field-setting .choose-mould .mould .mould-item .img-box {
  width: 100%;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
}

.field-setting .choose-mould .mould .mould-item .img-box img {
  width: 192px;
}

.field-setting .choose-mould .mould .mould-item.active .img-box {
  border: 1px solid #0084FF;
}

.field-setting .choose-mould .mould .mould-item:hover .img-box {
  border: 1px solid #0084FF;
}

.field-setting .choose-mould .mould .mould-item p {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-top: 12px;
}

.field-setting .info-box {
  position: relative;
  padding: 24px 48px 60px;
}

.field-setting .info-box form {
  position: relative;
}

.field-setting .info-box form .el-input__inner:hover {
  border-color: #E9E9E9;
}

.field-setting .info-box form .el-range-editor.is-active, .field-setting .info-box form .el-range-editor.is-active:hover,
.field-setting .info-box form .el-input.is-active .el-input__inner, .field-setting .info-box form .el-input__inner:focus {
  border-color: #E9E9E9;
}

.field-setting .info-box form .el-switch.is-disabled .el-switch__core, .field-setting .info-box form .el-switch.is-disabled .el-switch__label {
  cursor: default;
}

.field-setting .info-box form .el-radio__inner:hover {
  border-color: #DCDFE6;
}

.field-setting .info-box form .el-date-editor .el-range-input {
  text-align: left;
}

.field-setting .info-box .title {
  padding: 12px 24px;
  color: #333333;
  border-radius: 4px;
  line-height: 20px;
  font-size: 0;
}

.field-setting .info-box .title .lable {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  width: 98px;
  margin-right: 24px;
  font-weight: 500;
  padding: 6px 0;
}

.field-setting .info-box .el-input .el-input__count {
  color: #999999;
}

.field-setting .info-box .date-piker-icon {
  position: absolute;
  left: 319px;
  top: 9px;
  height: 14px;
}

.field-setting .info-box .el-radio {
  line-height: 32px;
}

.field-setting .info-box .el-select {
  width: 200px;
}

.field-setting .info-box .el-select .el-input__icon {
  line-height: 32px;
}

.field-setting .info-box .el-switch.is-disabled {
  opacity: 1;
}

.field-setting .info-box .input-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 582px;
}

.field-setting .info-box .input-box .tips {
  font-size: 13px;
  line-height: 20px;
  color: #999999;
  padding: 6px 0;
}

.field-setting .info-box .input-box .tips.first {
  width: 582px;
  margin-top: 4px;
}

.field-setting .info-box .input-box .tips.second {
  width: 526px;
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  line-height: 20px;
}

.field-setting .info-box .input-box .tips.third {
  width: 526px;
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}

.field-setting .info-box .input-box .type-item {
  position: relative;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  background: #ffffff;
  border: 1px dashed #E9E9E9;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  margin: 4px 16px 4px 0;
  font-size: 14px;
  color: #333333;
  display: inline-block;
  vertical-align: top;
}

.field-setting .info-box .input-box .type-item .add_btn {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: 8px;
  background: url(../images/icon-add-more.png);
}

.field-setting .info-box .input-box .already_add {
  line-height: 32px;
  font-size: 14px;
  color: #0084FF;
}

.field-setting .info-box .input-box .already_add img {
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
  margin-top: 8px;
}

.field-setting .info-box .input-box .marginTop6 {
  margin-top: 6px;
}

.field-setting .info-box .input-box.sign-in .radio-item {
  margin-bottom: 0;
}

.field-setting .info-box .input-box .select-input {
  width: 200px;
}

.field-setting .info-box .input-box .arrow-down {
  position: absolute;
  left: 172px;
  top: 8px;
}

.field-setting .info-box .el-checkbox {
  line-height: 32px;
}

.field-setting .info-box .form-item {
  padding: 12px 24px;
  font-size: 0;
  border-radius: 4px;
}

.field-setting .info-box .form-item .label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  width: 98px;
  padding: 6px 0;
  padding-left: 8px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  color: #666666;
}

.field-setting .info-box .form-item .label.required::before {
  position: absolute;
  left: 0;
  top: 10px;
  color: #ff4d4f;
  content: "*";
  font-family: SimSun,sans-serif;
  font-size: 12px;
  line-height: 1;
  margin-right: 4px;
}

.field-setting .info-box .form-item .img-box {
  display: inline-block;
  vertical-align: top;
  width: 192px;
  height: 100px;
  font-size: 0;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
}

.field-setting .info-box .form-item .font-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 400;
  color: #666666;
  line-height: 20px;
  margin-left: 16px;
}

.field-setting .info-box .form-item .upload-btn {
  position: absolute;
  bottom: 0;
  height: 32px;
  opacity: 0;
  width: 0;
}

.field-setting .info-box .form-item .upload {
  margin-top: 16px;
  text-align: center;
  line-height: 15px;
}

.field-setting .info-box .form-item .upload:hover {
  background: #ffffff;
}

.field-setting .info-box .form-item .radio-item {
  margin-bottom: 8px;
  margin-right: 24px;
  color: #333333;
  font-weight: normal;
}

.field-setting .info-box .form-item .address-box {
  position: relative;
}

.field-setting .info-box .form-item .address-box .address-input {
  width: 320px;
  margin-right: 16px;
}

.field-setting .info-box .form-item .address-box .detaile-address {
  width: 246px;
}

.field-setting .info-box .form-item .address-box .address-icon {
  position: absolute;
  left: 294px;
  top: 8px;
  width: 16px;
}

.field-setting .info-box .form-item .person-box {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  font-size: 14px;
  color: #333333;
}

.field-setting .info-box .form-item .person-box .el-input {
  width: 160px;
  margin-right: 8px;
}

.field-setting .info-box .sort-item {
  position: relative;
  cursor: pointer;
}

.field-setting .info-box .sort-item .icon-drag {
  position: absolute;
  top: 20px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url(../images/yq-design/drag.png);
  display: none;
}

.field-setting .info-box .sort-item .icon-drag:hover {
  background-image: url(../images/yq-design/drag-hover.png);
}

.field-setting .info-box .sort-item .icon-div {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 16px;
  display: none;
}

.field-setting .info-box .sort-item .icon-div i {
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  width: 16px;
  height: 16px;
}

.field-setting .info-box .sort-item .icon-div .icon-edit {
  background-image: url(../images/yq-design/edit.png);
}

.field-setting .info-box .sort-item .icon-div .icon-edit:hover {
  background-image: url(../images/yq-design/edit-hover.png);
}

.field-setting .info-box .sort-item .icon-div .icon-delete {
  background-image: url(../images/yq-design/trash.png);
}

.field-setting .info-box .sort-item .icon-div .icon-delete:hover {
  background-image: url(../images/yq-design/trash-hover.png);
}

.field-setting .info-box .sort-item:hover {
  background: #F8F8F8;
}

.field-setting .info-box .sort-item:hover .icon-drag {
  display: block;
}

.field-setting .info-box .sort-item:hover .icon-div {
  display: block;
}

.field-setting .info-box .add-circle {
  position: fixed;
  bottom: 50px;
  width: 50px;
  height: 50px;
  background: #0084FF;
  -webkit-box-shadow: 0px 4px 16px -8px rgba(0, 65, 125, 0.1), 0px 12px 32px rgba(0, 65, 125, 0.2);
          box-shadow: 0px 4px 16px -8px rgba(0, 65, 125, 0.1), 0px 12px 32px rgba(0, 65, 125, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.field-setting .info-box .add-circle::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/yq-design/add-circle.png);
}

.field-setting .info-box .add-circle:hover {
  opacity: 0.8;
}

.field-setting .bubble {
  position: absolute;
  z-index: 5;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  display: none;
}

.basic-setting {
  min-width: 1280px;
}

.basic-setting .basic-con {
  padding: 96px 163px;
  min-height: 600px;
}

.basic-setting .basic-con .input-box {
  margin-bottom: 32px;
  line-height: 32px;
  font-size: 0;
}

.basic-setting .basic-con .input-box .label {
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  width: 90px;
  margin-right: 24px;
  font-size: 14px;
  color: #666666;
}

.basic-setting .basic-con .input-box .el-input {
  display: inline-block;
  vertical-align: top;
  width: 460px;
}

.basic-setting .basic-con .input-box .icon-box {
  display: inline-block;
  vertical-align: top;
  width: 460px;
}

.basic-setting .basic-con .input-box .icon-box .img-box {
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 80px;
}

.basic-setting .basic-con .input-box .icon-box .text-box {
  padding: 4px 0;
}

.basic-setting .basic-con .input-box .icon-box .text-box p {
  font-size: 13px;
  line-height: 18px;
  color: #666666;
}

.basic-setting .basic-con .input-box .icon-box .text-box .btn-box {
  margin-top: 24px;
}

.basic-setting .basic-con .input-box .icon-box .text-box .btn-box .webuploader-pick {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  border: 1px solid #82c3ff;
  border-radius: 15px;
  font-size: 13px;
  font-weight: 400;
  color: #0084ff;
  cursor: pointer;
  background: #ffffff;
  margin-right: 16px;
}

.basic-setting .basic-con .input-box .icon-box .text-box .btn-box .webuploader-pick:hover {
  background: #EBF5FF;
}

.basic-setting .basic-con .input-box .icon-box .text-box .btn-box .webuploader-pick-hover {
  background: #EBF5FF;
}

.basic-setting .basic-con .input-box .icon-box .text-box .btn-box div {
  display: inline-block;
  vertical-align: top;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.show-setting {
  min-width: 1280px;
}

.show-setting .left-tab {
  width: 220px;
  height: 790px;
  overflow: auto;
  background: #FFFFFF;
  border-radius: 8px;
  margin-right: 20px;
  padding: 24px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.show-setting .left-tab .tab {
  position: relative;
  color: #737886;
  font-size: 14px;
  padding: 16px 24px 16px 27px;
  cursor: pointer;
}

.show-setting .left-tab .tab.active {
  background: rgba(0, 132, 255, 0.04);
  color: #0084FF;
}

.show-setting .left-tab .tab.active::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background: #0084FF;
  width: 3px;
  height: 52px;
}

.show-setting .tab-content {
  width: 760px;
  height: 790px;
  overflow: auto;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.show-setting .tab-content .title {
  padding: 16px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  border-bottom: 1px solid #F0F0F0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.show-setting .tab-content .config-box {
  padding: 16px 32px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.show-setting .tab-content .config-box .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #333333;
}

.show-setting .tab-content .config-box .field-config .checkbox-box {
  margin-top: 12px;
  margin-bottom: 8px;
}

.show-setting .tab-content .config-box .field-config .checkbox-box .el-checkbox {
  width: 150px;
  margin-right: 32px;
}

.show-setting .tab-content .config-box .field-config .checkbox-box .el-checkbox:nth-child(4n) {
  margin-right: 0;
}

.show-setting .tab-content .config-box .field-config .checkbox-box .el-checkbox__label {
  line-height: 32px;
  font-weight: 400;
}

.show-setting .tab-content .config-box .preview .tips {
  font-size: 14px;
  line-height: 30px;
  color: #999999;
  margin-bottom: 8px;
}

.show-setting .tab-content .config-box .preview .info-box p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
}

.show-setting .tab-content .config-box .preview .info-box .cover-box {
  font-size: 0;
  line-height: 0;
}

.show-setting .tab-content .config-box .preview .info-box .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.show-setting .tab-content .content2 .info-box {
  border-bottom: 1px solid #E9E9E9;
}

.show-setting .tab-content .content2 .info-box p {
  line-height: 18px !important;
}

.show-setting .tab-content .content2 .info-box .name {
  line-height: 24px !important;
}

.show-setting .tab-content .content2 .info-box .time {
  line-height: 24px !important;
}

.show-setting .tab-content .content2 .info-box .btn {
  width: 110px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background: #0084FF;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
  margin: 16px 0;
  cursor: pointer;
}

.show-setting .tab-content .content2 .info-box .right-text {
  margin-left: 317px;
}

.show-setting .tab-content .content2 .desc {
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  margin-top: 16px;
}
