.topFixed {
  height: 68px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}

.topFixed h2 {
  color: #2B333B;
  font-weight: 600;
  font-size: 20px;
  line-height: 68px;
}

.topFixed .user {
  margin-left: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
}

.topFixed .user img {
  width: 34px;
  height: 34px;
  border-radius: 20px;
}

.topFixed .user p {
  color: #FF8562;
  font-size: 12px;
  margin-left: 6px;
  line-height: 34px;
}

.leftFixed {
  position: fixed;
  left: 0;
  top: 68px;
  bottom: 0;
  width: 240px;
  background: #FFFFFF;
  height: calc(100% - 68px);
}

.menu {
  margin-top: 20px;
}

.menu ul li {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding: 18px 20px;
  cursor: pointer;
}

.menu ul li.current {
  background: #D5DEFF;
  border-left: 4px solid #3355D2;
  color: #4A68D1;
  font-weight: 600;
}

.iframe-content {
  padding-left: 260px;
  padding-top: 88px;
  margin: 0 30px 0 0;
}
