
.page {
    min-width: 1000px;
    max-width: 1900px;
    width: auto;
    margin: 0px auto;
    font-size: 14px;
    color: #999999;
    margin-bottom: 80px;
    padding: 0 220px;
}

.top {
    width: 100%;
    height: 68px;
    background: #ffffff;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 0 24px;
    color: #666666;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    display: flex;
    align-items: center;
}

.box {
    margin-top: 16px;
}

.main {
    position: relative;
    width: 100%;
    /*max-height: 980px;*/
    background: #ffffff;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;
}

.create-btn {
    background: #0084ff;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    padding: 6px 14px;
}

.create-btn:hover {
    background: rgba(0, 132, 255, 0.8);
}

.create-btn img {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    float: left;
}

.create-btn .text {
    font-size: 13px;
    color: #ffffff;
    float: left;
    height: 18px;
}

.search-Box {
    float: right;
    position: relative;
}
.search-Box input {
    width: 220px;
    height: 30px;
    border-radius: 25px;
    font-size: 13px;
    line-height: 15px;
    color: #333333;
}
.search-Box .btn-cancel {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 36px;
}

.el-input__icon {
    line-height: 30px !important;
}

.icon {
    width: 16px;
    height: 16px;
}

table {
    width: 100%;
}

.flex {
    display: flex;
}

.table {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img {
    width: 115px;
    height: 60px;
    border-radius: 2px;
    margin-right: 10px;
    border: 1px solid #E9E9E9;
    position: relative;
    float: left;
}

.img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    margin: auto;
}

.title {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    cursor: pointer;
    line-height: 21px;
    margin-bottom: 16px;
}

.title:hover {
    color: #0084FF;
}
.desc{
    max-width: unset;
}
.desc .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.desc .time {
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    width: auto;
    line-height: 23px;
}

.blue {
    color: #0084FF !important;
}

.blue2 {
    color: #51B9FF;
}

.green {
    color: #24BB1D;
}

.end_color {
    color: #7F8E98;
}

.tree {
    width: 400px;
    height: 300px;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    box-sizing: border-box;
}

.tree-head {
    width: 400px;
    height: 40px;
    background: #f8f8f8;
    border-radius: 2px 2px 0px 0px;
    font-size: 14px;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.already {
    color: #0084ff;
}
.status{
    cursor: pointer;
}
.el-down.rotate{
    transform: rotate(180deg);
}
.filters {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: -12px;
    display: none;
    min-width: 88px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    padding: 0 16px;
    box-sizing: border-box;
}

.filters p,
.more p {
    color: #333333;
    font-weight: 400;
    line-height: 34px;
    font-size: 14px;
}

.more-btn .more {
    width: 74px;
    position: absolute;
    top: 35px;
    right: -50px;
    z-index: 2;
    display: none;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    padding: 2px 0;
}
.more-btn .more p{
    color: #333333;
    white-space: nowrap;
    background: #FFFFFF;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 20px;
}
.more-btn .more p:hover {
    color: #0084FF;
    white-space: nowrap;
    background: #F8F8F8;
}
.more-btn {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.more-btn img {
    transform: translateY(2px);
}
.el-table{
    overflow: unset;
}
.el-table__body-wrapper{
    overflow: unset;
}
.el-table .cell {
    overflow: unset;
}
/* z-tree */
.tree-box{
    height: 259px;
    padding: 10px 0px;
    box-sizing: border-box;
    overflow-y: auto;
    font-size: 13px;
}
.ztree li span.button.root_open ,
.ztree li span.button.roots_open,
.ztree li span.button.bottom_open,
.ztree li span.button.center_open {
    /* width: 8px;
    height: 4px; */
    background: url(../images/triangle2.png) center center no-repeat;
    /* margin-right: 8px; */
}
.ztree li span.button.root_close,
.ztree li span.button.roots_close, 
.ztree li span.button.bottom_close, 
.ztree li span.button.center_close {
    background: url(../images/triangle1.png) center center no-repeat;
    /* margin-right: 8px; */
}
.ztree li span.button.chk.checkbox_false_full, 
.ztree li span.button.chk.checkbox_false_full_focus{
    width: 15px;
    height: 15px;
    background: url(../images/radio_normal1.png) no-repeat;
    position: relative;
    z-index: 2;
}
.ztree li span.button.chk.checkbox_true_full,
.ztree li span.button.chk.checkbox_true_full_focus{
    width: 15px;
    height: 15px;
    background: url(../images/radio_normal3.png) no-repeat;
}

.ztree li span.button.chk.checkbox_false_part,
.ztree li span.button.chk.checkbox_false_part_focus {
    width: 15px;
    height: 15px;
    background: url(../images/radio_normal2.png) no-repeat;
    position: relative;
    z-index: 2;
}
.ztree li span.button.chk.checkbox_true_part,
.ztree li span.button.chk.checkbox_true_part_focus{
    width: 15px;
    height: 15px;
    background: url(../images/radio_normal2.png) no-repeat;
    position: relative;
    z-index: 2;
}
.ztree li {
    position: relative;
    line-height: 30px;
}
.ztree li a {
    height: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
}
.ztree .node_name{
    font-size: 13px;
    color: #333333;
    margin-left: 10px;
}
.ztree li a.curSelectedNode {
    background: none;
    border: none;
    opacity: 1;
}
.ztree li span.button,.ztree li ul.line{
    /* background: none; */
}
.ztree li span.button.center_docu, 
.ztree li span.button.bottom_docu, 
.ztree li ul.line {
    background: none;
  }
  .ztree li span.button.ico_open {
      vertical-align: middle;
      background-image: url(../images/icon-file.png);
      background-position: unset;
  }
  .ztree li span.button.ico_docu {
    vertical-align: middle;
    background-image: url(../images/icon-shcool.png);
      background-position: unset;
  }
  .ztree li span.button.ico_close {
    vertical-align: middle;
    background-image: url(../images/icon-file.png);
    background-position: unset;
  }

.el-table th>.cell {
    font-weight: 400 !important;
}

.el-table--enable-row-hover .el-table__body tr:hover>td{
    background: #F8F8F8; !important;
}
