
.el-pager>li {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
}
.el-pagination{
    text-align: center;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color:#0084FF;
    color: #FFF;
}
.el-input__prefix{
    right: 5px;
    left: unset;
}
.el-input--prefix .el-input__inner {
    padding-left: 14px;
    border: 1px solid #e9e9e9;
    
}
.el-range-editor.el-input__inner{
    height: 32px;
    border: 1px solid #e9e9e9;
}
.el-switch__core{
    background: #d4d4d4;
    border: 1px solid #d4d4d4;
}
.el-switch.is-checked .el-switch__core {
    border-color: #0084FF;
    background-color: #0084FF;
}
.el-checkbox{
    text-align: left;
}
.el-table-filter{
    left: 1062px !important;
}
.el-table td, .el-table th {
    padding: 16px 0;
    font-size: 14px; 
    color: #333333;
}
.el-table .cell{
    line-height: 20px;
}
.el-table thead {
    color:  #999999;
    font-weight: 400;
}
.el-table thead th{
    padding: 10px 0;
    background-color: #fafafa;
    color:  #999999;
}
.el-button--text{
    color: #0084FF;
}
.el-table::before {
    height: 0px;
}
.el-textarea{
    font-size: 16px;
    color: #333333;
}
.el-textarea__inner{
    color: #333333;
}
.el-date-editor .el-range-input{
    font-size: 16px;
    color: #333333;
}
.el-table__header-wrapper {
    overflow: unset;
}
.el-table th {
    overflow: unset;
}
.el-input__icon {
    line-height: 36px;
}