html {
  height: 100%;
  margin: 0;
}

body {
  background: #F2F4F7;
  margin: 0;
  padding: 20px;
  font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  min-width: 1280px;
}

.clear {
  clear: both;
}

.color333 {
  color: #333333;
}

.color666 {
  color: #666666;
}

.color999 {
  color: #999999;
}

.fs14 {
  font-size: 14px;
}

.fs12 {
  font-size: 12px;
}

.font600 {
  font-weight: 600;
}

.container {
  border-radius: 8px;
  min-height: 860px;
  height: 100%;
}

.header {
  width: 100%;
  background: #ffffff;
  position: relative;
  padding: 0 24px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #F0F0F0;
}

.header .title {
  position: relative;
  color: #333333;
  text-align: left;
  padding: 12px 0;
  margin-right: 60px;
  float: left;
  max-width: 334px;
}

.header .title .title-box {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.header .title .title-pop {
  position: absolute;
  top: 50px;
  left: 0;
  width: 260px;
  background: #FFFFFF;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
          filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.12)) drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.12));
  display: none;
}

.header .title .title-pop .img {
  width: 100%;
  height: 128px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.header .title .title-pop .img img {
  width: 100%;
}

.header .title .title-pop .pop-info {
  padding: 12px 16px 16px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.header .title .title-pop .info-time {
  margin-top: 4px;
}

.header .title .title-pop #qrCodeMini {
  cursor: pointer;
}

.header .title .title-pop .icon-qr-code {
  margin-top: 8px;
}

.header .title:hover .title-box {
  background: #F8F8F8;
}

.header .title:hover .title-pop {
  display: block;
}

.header .menu {
  float: left;
  max-width: calc(100% - 440px);
  overflow: hidden;
  white-space: nowrap;
}

.header .menu .menu-item {
  padding: 16px 0;
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-size: 14px;
  margin-right: 32px;
}

.header .menu .menu-item:last-child {
  margin-right: 0;
}

.header .menu .menu-item.active {
  border-bottom: 2px solid #0084FF;
  font-weight: 600;
}

.header .menu .menu-item.active a {
  color: #0084FF;
}

.header .menu .menu-item a {
  display: inline-block;
  color: #333333;
  text-decoration: none;
  line-height: 30px;
}

.header .right-more-drop {
  float: right;
  margin: 21px 8px;
}

.header .right-more-drop:hover .el-icon-more {
  color: #0084FF;
}

.header .right-more-drop .el-dropdown-link {
  cursor: pointer;
}

.header .right-more-drop .el-dropdown-link .el-icon-more {
  font-size: 20px;
}

.header-more-drop {
  width: 160px;
}

.header-more-drop.el-popper .popper__arrow {
  display: none;
}

.header-more-drop li.drop-active {
  font-weight: 600;
  color: #0084FF;
}

.item {
  width: 196px;
  height: 24px;
  padding: 14px 0 14px 24px;
  text-align: left;
  cursor: pointer;
}

.menu .menu-item .item:hover {
  background: rgba(0, 132, 255, 0.04);
}

.message .item {
  padding: 14px 0 14px 24px;
}

.item img {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
}

.item span {
  font-size: 14px;
  color: #737886;
  display: block;
  line-height: 24px;
  float: left;
  margin-left: 7px;
}

.content {
  float: left;
  height: calc(100% - 63px);
  width: 100%;
  border-radius: 0 0 8px 8px;
  background: #ffffff;
}

.content iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.active span {
  color: #0084FF;
  font-weight: 500;
}

.edit .item {
  position: absolute;
  bottom: 16px;
}

.edit .item:hover {
  background: rgba(0, 132, 255, 0.04);
}

.v-modal {
  background: rgba(255, 255, 255, 0.5);
}

.qrCode-dialog {
  border: 1px solid #E9E9E9;
  -webkit-box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*height:600px;*/
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
}

.qrCode-dialog .el-dialog__header {
  height: 40px;
  padding: 0;
}

.qrCode-dialog .el-dialog__body {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  padding: 0 40px 40px;
}

.qrCode-dialog .el-dialog__body .inner {
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  padding: 24px 24px;
  text-align: center;
}

.qrCode-dialog .el-dialog__body .tips {
  color: #333333;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 0;
  text-align: center;
  font-weight: 500;
}

.qrCode-dialog .el-dialog__headerbtn {
  right: 14px;
  top: 14px;
}
