.administrators {
    .title {
        position: relative;
        padding: 1rem;
        background: #ffffff;
        .txt {
          padding-right: 5.6875rem;  
          line-height: 1.5625rem;
          height: 1.5625rem;
          color:#333333;
          font-size: .9375rem;   
          text-align: left; 
        }
        .status {
            position: absolute;
            font-size: .8125rem;
            right: 1rem;
            top: 1rem;
            &.color0 {
                color: #51B9FF;
            }
            &.color1 {
                color: #0084FF;
            }
            &.color2 {
                color: #999999;
            }
        }
    }
    .index-list {
        padding: 0 .75rem;
        .item {
          display: flex;
          background: #FFFFFF;
            box-shadow: 0px .375rem .75rem rgba(0, 0, 0, 0.04);
            border-radius: .5rem;
            padding: 1rem;
            margin-top: .75rem;
          img {
              width: 2.5rem;
              height: 2.5rem;
          }
            .flTxt {
                line-height: 2.5rem;
                color: #333333;
                font-size: .9375rem;
                margin-left: .5rem;
            }
            .frTxt {
                line-height: 2.5rem;
                font-size: .8125rem;
                color: #999999;
                margin-left: auto;
            }
            .icon-arrow-r {
                display: inline-block;
                width: .375rem;
                height: 2.5rem;
                background: url("../images/right-arrow.png")center center no-repeat;
                background-size: 100%;
                margin-left: .5rem;   
            }
            .marginAuto{
                margin-left: auto;
            }
        }
    }
}
.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
//无内容
.noContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    p {
        text-align: center;
        color: #999999;
        line-height: 1.25rem;
        font-size: 0.9375rem;
    }
}
