<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>活动详情</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/activityDetails.css" th:href="@{/pc/assets/css/activityDetails.css}">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="activity-vue" v-cloak>
    <div class="title">{{activity.name}}</div>
    <!--目前还没有标签-->
    <!--<div class="banners">
        <ul>
            <li>文化</li>
            <li>历史</li>
            <li>文学</li>
        </ul>
        <div class="clear"></div>
    </div>-->
    <div class="activity-details">
        <div class="activity-time">活动时间：{{activity.startTime | activityTimeFormatter}} ～ {{activity.endTime | activityTimeFormatter}}</div>
        <div v-if="activityBlockDetailSignStat.signUp" class="sign-time">报名时间：{{activityBlockDetailSignStat.signUp.startTime | signTimeFormatter}} ～ {{activityBlockDetailSignStat.signUp.endTime | signTimeFormatter}}</div>
        <div v-if="activity.address">活动地点：{{activity.address + activity.detailAddress}}</div>
        <div v-if="signUpNumDescribe">已报名：{{signUpNumDescribe}}</div>
        <div class="activity-holder" v-show="activity.organisers">主办方：{{activity.organisers}}</div>
    </div>
    <!--pc端-->
    <div class="chooseItems">
        <ul th:if="${activityCreator}">
            <li class="active" @click="toManage">活动管理</li>
        </ul>
        <ul th:unless="${activityCreator}">
            <li class="active" v-if="!signedUp && !signUpWaitAudit && signUpOnGoing" @click="toSignUp">活动报名</li>
            <li class="btn-disable" v-if="signUpWaitAudit">报名审核中</li>
            <li class="btn-disable" v-if="signedUp && !haveSignIn">已报名</li>
            <li class="active" v-if="signedUp && haveSignIn" @click="toSignIn">去签到</li>
            <li v-if="signedUp || signUpWaitAudit" @click="toSignUpResult">报名详情</li>
            <li class="btn-disable" v-if="signUpNotStarted">报名未开始</li>
            <li class="btn-disable" v-if="signUpEnded">报名已结束</li>
            <!--<li>收藏</li>-->
            <!--<li>评价</li>
            <li>收藏</li>-->
        </ul>
    </div>
    <!--移动端-->
    <div class="bottom-btns" th:if="${activityCreator}">
        <div class="sign-btn" @click="toManage">活动管理</div>
    </div>
    <div class="bottom-btns" th:unless="${activityCreator}">
        <div class="sign-btn" v-if="!signedUp && !signUpWaitAudit && signUpOnGoing" @click="toSignUp">活动报名</div>
        <div class="sign-btn sign-unbegin" v-if="signUpWaitAudit">报名审核中</div>
        <div class="sign-btn sign-unbegin" v-if="signedUp && !haveSignIn">已报名</div>
        <div class="sign-btn" v-if="signedUp && haveSignIn" @click="toSignIn">去签到</div>
        <div class="sign-btn sign-unbegin" v-if="signUpNotStarted">报名未开始</div>
        <div class="sign-btn sign-end" v-if="signUpEnded">报名已结束</div>
        <div class="btn-items">
            <ul>
                <li v-if="signedUp || signUpWaitAudit" @click="toSignUpResult">报名详情</li>
                <!--<li>收藏</li>
                <li>评价</li>-->
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <iframe src="http://reading.chaoxing.com/qd/api/common/user-sign-up-status-notice" style="display: none;"></iframe>
</div>

<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script th:inline="javascript">
        Vue.filter("activityTimeFormatter", function (date) {
            if (activityApp.isEmpty(date)) {
                return "";
            }
            return moment(date).format("yyyy-MM-DD HH:mm");
        });
        Vue.filter("signTimeFormatter", function (date) {
            if (activityApp.isEmpty(date)) {
                return "";
            }
            return moment(date).format("yyyy-MM-DD HH:mm");
        });
        activityVue = new Vue({
            el: "#activity-vue",
            data: {
                activity: [[${activity}]],
                activityBlockDetailSignStat: [[${activityBlockDetailSignStat}]],
                signUpNumDescribe: "",
                // 报名状态
                signUpNotStarted: false,
                signUpOnGoing: false,
                signUpEnded: false,
                // 已报名
                signedUp: false,
                // 审核中
                signUpWaitAudit: false,
                // 有签到
                haveSignIn: false
            },
            created: function () {
                var $this = this;
                document.domain = "chaoxing.com";
                var signUp = $this.activityBlockDetailSignStat.signUp;
                if (!activityApp.isEmpty(signUp)) {
                    // 监听状态变化
                    window.addEventListener("message", function (e) {
                        if (e.origin.endsWith("chaoxing.com") && e.data == signUp.id) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 300);
                        }
                    });
                }
                $this.calData();
            },
            methods: {
                calData: function () {
                    var $this = this;
                    var signUpNumDescribe = "";
                    var signUp = $this.activityBlockDetailSignStat.signUp;
                    if (!activityApp.isEmpty(signUp)) {
                        signUpNumDescribe = $this.activityBlockDetailSignStat.signedUpNum;
                        if (signUp.limitPerson) {
                            signUpNumDescribe += "/" + signUp.personLimit
                        }
                        var signUpStartTimestamp = signUp.startTimestamp;
                        var signUpEndTimestamp = signUp.endTimestamp;
                        var nowTimestamp = new Date().getTime();
                        if (nowTimestamp < signUpStartTimestamp) {
                            $this.signUpNotStarted = true;
                        } else if (nowTimestamp > signUpEndTimestamp) {
                            $this.signUpEnded = true;
                        } else {
                            $this.signUpOnGoing = true;
                        }
                    }
                    var userSignUp = $this.activityBlockDetailSignStat.userSignUp;
                    if (!activityApp.isEmpty(userSignUp)) {
                        var signUpStatus = userSignUp.signUpStatus;
                        if (1 == signUpStatus) {
                            $this.signedUp = true;
                        }else if (2 == signUpStatus) {
                            $this.signUpWaitAudit = true;
                        }
                    }
                    $this.signUpNumDescribe = signUpNumDescribe;
                    if ($this.activityBlockDetailSignStat.signInNum > 0) {
                        $this.haveSignIn = true;
                    }
                },
                // 活动管理
                toManage: function () {
                    var $this = this;
                    var url = "http://manage.hd.chaoxing.com/activity/" + $this.activity.id;
                    $this.openUrl(url);
                },
                // 去报名
                toSignUp: function () {
                    var $this = this;
                    var url = "http://reading.chaoxing.com/qd/api/sign-up?signUpId=" + $this.activityBlockDetailSignStat.signUp.id;
                    $this.openUrl(url);
                },
                // 去报名结果页
                toSignUpResult: function () {
                    var $this = this;
                    var url = "http://reading.chaoxing.com/qd/sign-up/" + $this.activityBlockDetailSignStat.signUp.id + "/result";
                    $this.openUrl(url);
                },
                // 去签到
                toSignIn: function () {
                    var $this = this;
                    var url = "http://reading.chaoxing.com/qd/sign-in/list?signId=" + $this.activityBlockDetailSignStat.signId;
                    $this.openUrl(url);
                },
                openUrl: function (url) {
                    if (parent == window) {
                        window.open(url);
                    } else {
                        parent.postMessage("javascript::window.open('"+ url +"')", "*");
                    }
                }
            }
        });
    </script>
</div>
</body>

</html>