<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>活动详情</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/activityDetails.css" th:href="@{/pc/assets/css/activityDetails.css}">
</head>

<body>
<div class="container">
	<div class="title">【书香浙江 云享阅读】2020浙江省云阅读计划之“晒书房·荐图书·共阅读”0浙江省云阅读计划0浙江省云阅读计</div>
	<!--<div class="banners">
		<ul>
			<li>文化</li>
			<li>历史</li>
			<li>文学</li>
		</ul>
		<div class="clear"></div>
	</div>-->
	<div class="activity-details">
		<div class="activity-time">活动时间：2020-10-10 9:00 ～ 2028-10-1 16:00</div>
		<div class="sign-time">报名时间：2020-10-10 9:00 ～ 2028-10-1 16:00</div>
		<div>活动地点：线上活动</div>
		<div>已报名：12/50 </div>
		<div class="activity-holder">主办方：超星小学</div>
	</div>
	<div class="chooseItems">
		<ul>
			<li class="active">活动报名</li>
			<!--<li>收藏</li>-->
			<!--<li>报名详情</li>-->
			<!--<li>评价</li>-->
			<!-- 禁用状态 -->
		</ul>
	</div>

	<div class="bottom-btns">
		<div class="sign-btn">活动报名</div>
		<div class="btn-items">
			<ul>
				<!--<li>报名详情</li>-->
				<!--<li>收藏</li>
				<li>评价</li>-->
			</ul>
			<div class="clear"></div>
		</div>
	</div>
</div>
</body>
</html>