<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title th:text="|活动评价_${activity.name}|">活动评价</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/lib/layui/css/layui.css" th:href="@{/pc/assets/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/activity-assess.css" th:href="@{/pc/assets/css/activity-assess.css}">
    <link rel="stylesheet" href="/static/assets/lib/mescroll/mescroll.css" th:href="@{/assets/lib/mescroll/mescroll.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/confirm-dialog.css" th:href="@{/pc/assets/css/confirm-dialog.css}">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="assess-container" id="rating-vue" v-cloak>
        <div class="assess-header">
            <div class="assess-title" style="cursor: pointer" @click="activityDetail">
                {{activity.name}}
            </div>
            <div class="assess-header-set" v-if="isCreator()">
                <a href="javascript:" @click="toRatingSetting">评价设置</a>
                <a href="javascript:" @click="toRatingAudit" v-show="activity.ratingNeedAudit">评价审核</a>
            </div>
            <div class="assess-header-right">
                <div class="login-container" v-if="loginUser != null">
                    <div class="after-login">
                        <img class="login-tx" :src="'http://photo.chaoxing.com/p/'+ loginUser.uid +'_80'">
                        <span class="user-name">{{loginUser.realName}}</span>
                        <i class="icon-down">
                            <img src="/static/pc/assets/images/activity-home/icon-down.png" th:src="@{/pc/assets/images/activity-home/icon-down.png}">
                        </i>
                        <ul class="login-downlist-info">
                            <li class="login-downlist-item">
                                <a href="https://i.chaoxing.com/" target="_blank">进入空间</a>
                            </li>
                            <li class="login-downlist-item">
                                <a href="javascript:" @click="loginOUt">退出登录</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="assess-content">
            <div class="assess-content-header">
                <div class="fl inall-assess" v-if="activityRating != null">
                    <span class="inall-value" v-text="formatScore()"></span>
                    <div id="test"></div>
                    <span class="inall-number">{{activityRating.scoreNum}}人评价</span>
                </div>
                <div class="fr btn-addassess" v-if="isCanRating()" @click="toAdd">
                    <img src="/static/pc/assets/images/icon-assess.png" th:src="@{/pc/assets/images/icon-assess.png}"> 写评价
                </div>
                <div v-else-if="activity.openRating" class="fr">
                    报名后可参与评价
                </div>
                <div class="clear"></div>
            </div>
            <div class="assess-close" v-if="ratings.length < 1">暂无评价</div>
            <ul class="assess-list" v-if="ratings.length > 0">
                <li class="assess-list-item" v-for="(rating, index) of ratings">
                    <img class="fl" v-if="isAnonymousShow(index)" src="/static/pc/assets/images/niming-tx.png" th:src="@{/pc/assets/images/niming-tx.png}">
                    <img class="fl" v-else :src="'http://photo.chaoxing.com/p/'+rating.scorerUid+'_80'">
                    <div class="item-content fl">
                        <span class="item-name" v-if="isAnonymousShow(index)">匿名</span>
                        <span class="item-name" v-else>{{rating.scorerUserName}}{{rating.anonymous ? '(匿名)' : ''}}</span>
                        <span class="item-time">{{rating.createTime | timestampFormat}}</span>
                        <span class="item-checking" v-if="rating.auditStatus=='2'">审核中</span>
                        <span class="item-deleted" v-if="rating.auditStatus=='0'">已被管理员删除</span>
                        <!--操作菜单-->
                        <div class="fr icon-assess-more" v-if="isSelfRating(rating) || isManager ">
                            <div class="assess-img-more"></div>
                            <ul class="nav-down-more">
                                <li @click="toDelete(index)">删除</li>
                            </ul>
                        </div>
                        <div class="item-writing" >
                            <div></div>
                            <p class="item-assess">
                                {{rating.comment}}
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
        <!-- 发布评价弹出框 -->
        <el-dialog class="addAssessDialog" title="写评价" :visible.sync="dialogVisible" width="464px">
            <!-- 评分 -->
            <div id="test5"></div><span class="click-rate" v-show="addEditRating.score == 0">点击评分</span>
            <div class="textarea-content">
                <textarea class="dialogTextarea" cols="30" rows="10" maxlength="500" placeholder="请输入"
                    v-model.trim="addEditRating.comment"></textarea>
                <div class="textarea-number">{{addEditRating.comment.length}}/500</div>
            </div>
            <span slot="footer" class="dialog-footer">
                <div @click="dialogVisible = false" class="btn-size btn-cancel">取消</div>
                <div @click="addSubmit()" class="btn-size btn-submit">提交</div>
            </span>
            <!-- 匿名提交按钮 -->
            <div class="switch-box">匿名提交
                <el-switch v-model="addEditRating.anonymous" class="btn-switch"></el-switch>
            </div>
            <div></div>
        </el-dialog>
        <!--取消报名-->
        <vue-confirm ref="deleteWindow" :message="'删除后，无法恢复。确认删除？'" @callback="deleteSubmit"></vue-confirm>
    </div>
</body>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/layui/layui.js" th:src="@{/pc/assets/lib/layui/layui.js}"></script>
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/assets/lib/mescroll/mescroll.min.js" th:src="@{/assets/lib/mescroll/mescroll.min.js}"></script>
    <script src="/static/pc/assets/component/confirm.js" th:src="@{/pc/assets/component/confirm.js}"></script>
    <script th:inline="javascript">
        ratingVue = new Vue({
            el: "#rating-vue",
            data: {
                activity: [[${activity}]],
                activityRating: [[${activityRating}]],
                loginUser: [[${session._login_user_}]],
                canRating: [[${canRating}]],
                isManager: [[${isManager}]],
                ratings: [],
                loaded: false,
                total: 0,
                queryParams: {
                    pageNum: 1,
                    pageSize: 10
                },
                dialogVisible: false,
                scroll: null,
                activeIndex: null,
                addEditRating: null
            },
            created: function () {
                var $this = this;
                $this.initAddEditRating();
                $this.loadRatings();
            },
            mounted: function () {
                var $this = this;
                $this.loadRatingTotalData();
                $this.layuiRateInit(0);
                $this.showMoreLess();
            },
            updated: function () {
                var $this = this;
                $this.layuiRateInit($this.addEditRating.score);
            },
            methods: {
                initAddEditRating: function (obj) {
                    var $this = this;
                    $this.addEditRating = $.extend({
                        activityId: $this.activity.id,
                        anonymous: 0,
                        score: 0,
                        comment: ""
                    }, obj);
                },
                //是否匿名显示
                isAnonymousShow: function(index){
                    var $this = this;
                    var scorerUid = $this.ratings[index].scorerUid;
                    if($this.loginUser!=null){
                        if($this.loginUser.uid == scorerUid){
                            return false;
                        }
                    }
                    return $this.ratings[index].anonymous;
                },
                loadRatings: function(){
                    var $this = this;
                    var url = ctx + "/api/activity/rating/list";
                    var params = {
                        pageNum: $this.queryParams.pageNum,
                        pageSize: $this.queryParams.pageSize,
                        activityId: $this.activity.id
                    };
                    app.ajaxPost(url, params, function (data) {
                        if (data.success) {
                            $this.loaded = true;
                            $this.total = data.data.total;
                            var ratings = data.data.records;
                            $this.ratings.pushArray(ratings);
                            //翻页未找到结果
                            if (ratings.length < 1) {
                                if(!activityApp.isEmpty($this.scroll)){
                                    $this.scroll.endSuccess($this.ratings.length);
                                }
                            }
                            //总数小于分页数量
                            if ($this.ratings.length < $this.queryParams.pageSize) {
                                if (!activityApp.isEmpty($this.scroll)) {
                                    $this.scroll.endSuccess($this.ratings.length);
                                }
                            }
                            $this.queryParams.pageNum++;
                            $this.$nextTick(function () {
                                if (!activityApp.isEmpty($this.scroll)) {
                                    $this.scroll.endUpScroll(false);
                                } else {
                                    $this.initScroll();
                                }
                                $this.rateList();
                            });
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载评价列表失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("加载评价列表失败");
                    });
                },
                isSelfRating: function (rating) {
                    var $this = this;
                    return $this.loginUser && rating.createUid == $this.loginUser.uid;
                },
                isCreator: function () {
                    var $this = this;
                    return $this.loginUser != null && $this.loginUser.uid == $this.activity.createUid;
                },
                isCanRating: function(){
                    var $this = this;
                    return $this.loginUser != null && $this.canRating;
                },
                loginOUt: function(){
                    var $this = this;
                    var refer = window.location.protocol + "//" + window.location.host + ctx + "/rating/" + $this.activity.id;
                    var loginOutUrl = "https://passport2.chaoxing.com/logout.html?refer=" + refer;
                    window.location.href = loginOutUrl;
                },
                formatScore: function(){
                    var $this = this;
                    var score = $this.activityRating.score;
                    var formatScore = score.toFixed(1);
                    return formatScore;
                },
                loadRatingTotalData: function(){
                    var $this =this;
                    if ($this.activityRating != null) {
                        layui.use(['rate', 'layer'], function () {
                            var rate = layui.rate;
                            rate.render({
                                elem: '#test',
                                value: $this.activityRating.score,
                                half: true,
                                readonly: true
                            });
                        });
                    }
                },
                layuiRateInit: function (score) {
                    var $this = this;
                    layui.use(['rate', 'layer'], function () {
                        var rate = layui.rate;
                        //弹框的自定义文本
                        rate.render({
                            elem: '#test5',
                            value: score,
                            text: true,
                            setText: function (value) {
                                var arrs = {
                                    '0': " ",
                                    '1': '较差',
                                    '2': '一般',
                                    '3': '良好',
                                    '4': '很好',
                                    '5': '非常棒'
                                };
                                $this.addEditRating.score = value;
                                this.span.text(arrs[value] || (value + "星"));
                            }
                        });
                    });
                },
                // 遍历每个li中星星
                rateList: function () {
                    var $this = this;
                    var rates = $(".item-writing>div");
                    rates.each(function (i, n) {
                        var score = $this.ratings[i].score;
                        $(n).addClass("testX");
                        layui.use(['rate'], function () {
                            var rate = layui.rate;
                            rate.render({
                                elem: $(n),
                                value: score,
                                half: true,
                                readonly: true
                            })
                        })
                    })
                },
                // 点击展开与收起
                showMoreLess: function () {
                    $(".item-assess").each(function (i, n) {
                        if ($(n).height() > 60) {
                            $(n).addClass("overflowThree")
                            $(n).parent(".item-writing").siblings(".showmore").show()
                        } else {
                            $(n).parent(".item-writing").siblings(".showmore").hide()
                        }
                    })
                    $(".showmore").each(function (i, n) {
                        $(n).on("click", function () {
                            $(this).siblings(".item-writing").children(".item-assess")
                                .removeClass("overflowThree");
                            $(this).siblings(".showless").show()
                            $(this).hide()
                        })
                    })
                    $(".showless").each(function (i, n) {
                        $(n).on("click", function () {
                            $(this).siblings(".item-writing").children(".item-assess").addClass(
                                "overflowThree");
                            $(this).siblings(".showmore").show()
                            $(this).hide()
                        })
                    })
                },
                toAdd: function () {
                    var $this = this;
                    $this.dialogVisible = true;
                },
                // 提交
                addSubmit: function () {
                    var $this = this;
                    if ($this.addEditRating.score <= 2 && activityApp.isEmpty($this.addEditRating.comment)) {
                        layer.msg('请输入低分理由');
                        return;
                    }
                    var url = ctx + "/api/activity/rating/add";
                    var tips = "提交";
                    if (!activityApp.isEmpty($this.addEditRating.id)) {
                        url = ctx + "/api/activity/rating/update";
                        tips = "修改";
                    }
                    var params = {
                        activityId: $this.activity.id,
                        activityRatingDetailJsonStr: activityApp.getJsonStr($this.addEditRating)
                    };
                    app.ajaxPostWithLoading(url, params, function (data) {
                        if (data.success) {
                            window.location.reload();
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = tips + "评价失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg(tips + "评价失败");
                    });
                },
                toEdit: function (index) {
                    var $this = this;
                    $this.initAddEditRating($this.ratings[index]);
                    $this.dialogVisible = true;
                },
                initScroll: function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.scroll)) {
                        $this.scroll = new MeScroll("body", {
                            down: {
                                // 不允许下拉
                                isLock: true
                            },
                            up: {
                                callback: function () {
                                    $this.loadRatings();
                                },
                                htmlNodata: '<p class="upwarp-nodata">-- 没有更多了 --</p>'
                            }
                        });
                    }
                },
                // 删除评价
                toDelete: function (index) {
                    var $this = this;
                    $this.activeIndex = index;
                    $this.$refs.deleteWindow.show = true;
                },
                deleteSubmit: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/rating/" + $this.ratings[$this.activeIndex].id + "/delete";
                    var params = {}

                    // 是否是自己的评价
                    if ($this.isManager && !$this.isSelfRating(this.ratings[$this.activeIndex])) {     // 是管理员，但是处理非自己的评价
                        url = ctx + "/api/activity/rating/" + $this.ratings[$this.activeIndex].id + "/reject";
                        params = {
                            activityId: $this.activity.id,
                            activityRatingDetailId: $this.ratings[$this.activeIndex].id
                        };
                    }
                    app.ajaxPostWithLoading(url, params, function (data) {
                        if (data.success) {
                            window.location.reload();
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "删除评价失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("删除评价失败");
                    });
                },
                // 评价设置
                toRatingSetting: function () {
                    var $this = this;
                    var url = "http://manage.hd.chaoxing.com/activity/" + $this.activity.id + "/rating/setting";
                    window.open(url);
                },
                // 评价审核
                toRatingAudit: function () {
                    var $this = this;
                    var url = "http://manage.hd.chaoxing.com/activity/" + $this.activity.id + "/rating/audit";
                    window.open(url);
                },
                activityDetail: function () {
                    var $this = this;
                    var previewUrl = $this.activity.previewUrl;
                    if (!activityApp.isEmpty(previewUrl)) {
                        window.open(previewUrl);
                    }
                }
            }
        });
    </script>
</div>
</html>


