body {
    background: #F6F7FB;
}
.activity-list {
    .searchDiv {
        padding: .75rem 1rem 0;
        position: relative;
        z-index: 20;
       .searchbefore {
           width: 100%;
           display: flex;
           align-items:center;
            justify-content:center;
         background: #ffffff;
           height: 1.125rem;
           line-height: 1.125rem;
           padding: .375rem 0;
           border-radius: .9375rem;
           font-size: .8125rem;
           color: #999999;
           i{
              display: inline-block;
              width: .96875rem;
              height: .9375rem;
              background: url("../images/icon-30-search.png") center center no-repeat;
              background-size: 100%;
              margin-right: .375rem;
              position: relative;
              top: -0.0625rem;
           }
           span {
               display: inline-block;
               height: 1.125rem;
                line-height: 1.125rem;
                font-weight: 100;
           }
       }
       .searchafter {
           position: relative;
         background: #ffffff;
           border-radius: .9375rem;
           margin-right: 2.875rem;
           .search {
               position: absolute;
               left: .9375rem;
               top: 0;
               display: inline-block;
                width: .96875rem;
                height: 1.875rem;
                background: url("../images/icon-30-search.png") center center no-repeat;
                background-size: 100%;
           }
           .delete {
                position: absolute;
                right: .9375rem;
                top: 0;
                display: inline-block;
                width: 1rem;
                height: 1.875rem;
                background: url("../images/x-circle.png") center center no-repeat;
                background-size: 100%;
           }
           .txt {
               height: 1.875rem;
               line-height: 1.875rem;
               padding: .375rem 2.1875rem;
               background: none;
               font-size: .8125rem;
               width: 100%;
               border: none;
               box-sizing: border-box;
           }

           .cancle {
               position: absolute;
               top: 0;
               height: 1.875rem;
               line-height: 1.875rem;
               right: -2.875rem;
               color: #0084FF;
               font-size: .9375rem;
           }
       }
    }
    .tab {
        padding: .75rem .9375rem 0;
        width: 100%;
        box-sizing: border-box;
        background: #ffffff;
        ul {
            display: flex;
            li{
                line-height: 1.3125rem;
                color: #999999;
                font-size: .9375rem;
                margin-right: 1.5625rem;
                padding-bottom: .75rem;
                font-weight: normal;
                span {
                    margin-left: .25rem;
                }
                &.active {
                    color: #0084FF;
                    font-weight: 600;
                    border-bottom: .125rem solid #0084FF;
                    span {
                        font-weight: 400;

                    }
                }
            }
        }
    }
    .card-list {
        padding: 0 .75rem;
         ul {
            overflow: hidden;
             li {

                 background: #FFFFFF;
                 padding: .75rem;
                 min-height: 5.5rem;
                 margin-top: .75rem;
                 border-radius: .375rem;
                 .inner {
                    position: relative;
                    padding-left: 8.25rem;
                 }
                .img-box {
                        position: absolute;
                        left: 0;
                        box-sizing: border-box;
                        border-radius: .3125rem;
                        width: 7.5rem;
                        height: 5.5rem;
                        overflow: hidden;
                        .num {
                            display: flex;
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 1.875rem;
                            line-height: 1.875rem;
                            border-radius: 0 0 .3125rem .3125rem;
                            color: #FFFFFF;
                            font-size: .75rem;
                            i{
                            display: inline-block;
                            width: .75rem;
                            height: 1.875rem;
                            background: url("../images/pv.png")  center center no-repeat;
                            background-size: 100%;
                            margin-left: .5rem;
                            margin-right: .375rem;
                            }
                        }
                        .js-crop-img {
                            width: 7.5rem;
                            height: 5.5rem;
                        }
                    .tips {
                        position: absolute;
                        right: 0;
                        top: 0;
                        // width: 2.6875rem;
                        z-index: 1;
                        padding: 0 .5rem;
                        font-weight: 500;
                        height: 1rem;
                        line-height: 1rem;
                        color: #FFFFFF;
                        font-size: .5625rem;
                        border-radius: 0px .28125rem 0px .3125rem;
                    }
                    .color1 {
                        background: linear-gradient(279.4deg, #24BB1D 0.2%, #48DF4E 100.2%);
                    }
                    .color2 {
                        background: linear-gradient(99.4deg, #91D3FF -0.2%, #51B9FF 99.8%);
                    }
                    .color3 {
                        background: linear-gradient(99.4deg, #ACB8BF -0.2%, #7F8E98 99.8%);
                    }
                    .color4 {
                        background: linear-gradient(99.17deg, #FD8585 1.9%, #FC564C 99.8%);
                    }
                    .color5 {

                      background: linear-gradient(96.68deg, #FFB763 1.14%, #FF8B20 98.13%);
                    }
                }
                .card-info {
                    text-align: left;
                    .title {
                        color: #333333;
                        font-size: .9375rem;
                        margin-bottom: .25rem;
                        line-height: 1.25rem;
                      font-weight: 500;
                    }
                    .time {
                        color: #666666;
                        font-size: .75rem;
                        line-height: 1.25rem;
                        margin-bottom: .25rem;
                    }
                    .address {
                        font-size: .75rem;
                        line-height: 1.25rem;
                        color: #999999;
                    }
                }
                .handel {
                    position: absolute;
                    top: 0;

                    height: 100%;
                    font-size: 0;
                    .cancel,
                    .cancel1 {
                      display: inline-block;
                      width: 2.75rem;
                      height: 2.75rem;
                      color: #FFFFFF;
                      font-size: .625rem;
                      background: #7F8E98;
                      box-shadow: 0px .375rem .75rem rgba(105, 50, 0, 0.1);
                      border-radius: 1.375rem;
                      position: relative;
                      top: 50%;
                      transform: translateY(-50%);
                      margin-left: 1rem;
                      span {
                          display: block;
                          line-height: .8125rem;
                          padding: .5375rem 0;
                      }
                    }
                    .manage {
                        display: inline-block;
                        width: 2.75rem;
                        height: 2.75rem;
                        color: #FFFFFF;
                        font-size: .625rem;
                        background: #0084FF;
                        box-shadow: 0px 12px 24px rgba(14, 41, 66, 0.1);
                        border-radius: 1.375rem;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-left: 1rem;
                        span {
                            display: block;
                            line-height: .8125rem;
                            padding: .5375rem 0;
                        }
                      }
                    .edit {
                        display: inline-block;
                        width: 2.75rem;
                        height: 2.75rem;
                        background: #0084FF;
                        color: #FFFFFF;
                        font-size: .8125rem;
                        line-height: 2.75rem;
                        box-shadow: 0px .375rem .75rem rgba(2, 111, 213, 0.1);
                        border-radius: 1.375rem;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-right: 1rem;
                        margin-left: 1rem;
                    }
                    .delete {
                        display: inline-block;
                        width: 2.75rem;
                        height: 2.75rem;
                        background: #FF666D;
                        color: #FFFFFF;
                        font-size: .8125rem;
                        line-height: 2.75rem;
                        box-shadow: 0px .375rem .75rem rgba(2, 111, 213, 0.1);
                        border-radius: 1.375rem;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    a{
                      span.text2{
                        line-height: 2.75rem;
                        padding: 0;
                      }
                    }
                }
                .numTotal1 {
                    right: -4rem;
                    width: 4rem;
                }
                .numTotal2 {
                    right: -7.75rem;
                    width: 7.75rem;
                  a{
                    margin-left: 1rem;
                    &:first-child{
                      margin-left: 0;
                    }
                  }
                }
               .numTotal3 {
                 right: -12.25rem;
                 width: 12.25rem;
                 a{
                   margin-left: 1rem;
                   &:first-child{
                     margin-left: 0;
                   }
                 }
               }
                &[data-type="0"] {
                    transform: translate3d(0, 0, 0);
                  transition: all 0.6s ease .1s;
                }
                &[data-type="1"] {
                    transform: translate3d(-4rem, 0, 0);
                  transition: all 0.6s ease .1s;
                }
                &[data-type="2"] {
                    transform: translate3d(-7.75rem, 0, 0);
                  transition: all 0.6s ease .1s;
                }
               &[data-type="3"] {
                 transform: translate3d(-12.25rem, 0, 0);
                 transition: all 0.6s ease .1s;
               }

             }
         }
    }
    .labelTab {
      position: fixed;
      right: 0;
      bottom: 3.125rem;
      box-sizing: border-box;
      //background: rgba(7, 75, 138, 0.6);
      background: rgba(115, 149, 185, 1);
      display: flex;
      box-shadow: 0px 0px .75rem rgba(0, 0, 0, 0.1);
      border-radius: 1.40625rem 0px 0px 1.40625rem;
      padding: .625rem 1rem .625rem 1.0625rem;
      span {
        font-size: .9375rem;
        color: #ffffff;
        height: 1.3125rem;
        line-height: 1.3125rem;
      }
      i{
          display: inline-block;
          //width: .875rem;
          //height: 1.25rem;
        width: 1rem;
        height: 1rem;
          background: url("../images/scan.png") center center no-repeat;
          background-size: 100%;
          margin-right: .3125rem;
        margin-top: 0.1875rem;
      }
    }
}

.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }
//无内容
.noContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  p {
    text-align: center;
    color: #999999;
    line-height: 1.25rem;
    font-size: 0.9375rem;
  }
}
