<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>管理员</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/layui/css/layui.css" th:href="@{/pc/assets/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/dialog.css" th:href="@{/pc/assets/css/dialog.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/organizer-manage.css" th:href="@{/pc/assets/css/organizer-manage.css}">
    <link rel="stylesheet" href="/static/mobile/assets/lib/mescroll/mescroll.css" th:href="@{/mobile/assets/lib/mescroll/mescroll.css}">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body >
<div class="manage-container" id="activity-manager-vue" v-cloak>
    <div class="manage-header">
        管理员
    </div>
    <div class="manage-content" id="manager-content">
        <div class="btn-add btn-size fl" @click="toAdd">
            <img th:src="@{/pc/assets/images/add-small.png}">
            <span>添加</span>
        </div>
        <div class="btn-del-disable btn-size fl" v-show="!batchEnable">批量移除</div>
        <div class="btn-del btn-size fl" v-show="batchEnable" @click="toBatchDelete">批量移除</div>
        <div class="clear"></div>
        <table class="table-box">
            <thead>
            <tr>
                <th class="check-box">
                    <el-checkbox v-model="allChecked" class="check-item-checkbox fl" @change="changeAllChecked"></el-checkbox>
                </th>
                <th>姓名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(manager, index) of managers" :key="'manager-' + index">
                <th class="check-box">
                    <el-checkbox v-model="manager.checked" class="check-item-checkbox fl" @change="changeChecked"></el-checkbox>
                </th>
                <th>{{manager.userName}}</th>
                <th>
                    <span v-if="false">权限设置</span>
                    <span @click="toDelete(index)">移除</span>
                </th>
            </tr>
            </tbody>
        </table>
        <div class="no-content" v-if="managers.length < 1 && loaded">
            暂无内容
        </div>
    </div>
    <!--添加弹框-->
    <div class="dailog-box1" v-show="addShow">
        <div class="dailog choose-dialog">
            <div class="header">
                <span>选择人员</span>
                <img th:src="@{/pc/assets/images/close.png}" class="close" @click="addShow = false">
            </div>
            <div class="body clear">
                <div class="choose-list fl mescroll" id="mescroll-container" >
                    <div>
                        <div class="search">
                            <input class="search-ipt" type="text" placeholder="姓名" v-model.trim="sw" @keyup.enter="search">
                            <i class="icon close" v-show="sw" @click="clearSearch"></i>
                            <i class="icon search-icon" @click="search"></i>
                        </div>
                        <div class="crumb">
                            <ul class="clear" v-if="!sw">
                                <li :class="{'back-item': (index < crumbs.length - 1)}" v-for="(crumb, index) of crumbs" :key="'crumb-' + index" @click="expandCrumb(index)">{{crumb.name}}{{index < crumbs.length - 1 ? ' > ' : ''}}</li>
                            </ul>
                        </div>
                        <template v-if="!sw">
                            <div class="catalog-list">
                                <!--机构-->
                                <template v-if="crumbs[crumbs.length - 1].type == 'all'">
                                    <div class="catalog-item" v-for="(org, index) of orgs" :key="'org-' + index" @click="expandOrg(index)">
                                        <div class="catalog-photo">
                                            <img th:src="@{/pc/assets/images/catalog1.png}">
                                        </div>
                                        <div class="catalog-title">{{org.name}}</div>
                                        <img class="right-img" th:src="@{/pc/assets/images/icon-right.png}">
                                    </div>
                                </template>
                                <!--下级部门-->
                                <template v-if="crumbs[crumbs.length - 1].type == 'org' || crumbs[crumbs.length - 1].type == 'supperDepartment'">
                                    <template v-for="(department, index) of departments">
                                        <div class="catalog-item" @click="expandDepartment(index)">
                                            <div class="catalog-photo">
                                                <img th:src="@{/pc/assets/images/catalog1.png}">
                                            </div>
                                            <div class="catalog-title">
                                                {{department.name}}
                                            </div>
                                            <img class="right-img" th:src="@{/pc/assets/images/icon-right.png}">
                                        </div>
                                    </template>
                                </template>
                                <!--部门下的用户-->
                                <template v-if="crumbs[crumbs.length - 1].type == 'department'">
                                    <div v-for="(user, index) of departmentUsers" :key="'user-' + index" :class='{"catalog-item":true,"bgc-blue": user.checked}'>
                                        <div class="catalog-photo">
                                            <img :src="'http://photo.chaoxing.com/p/' + user.puid + '_80'">
                                        </div>
                                        <div class="catalog-title">
                                            {{user.name}}
                                        </div>
                                        <el-checkbox class="right-check" v-model="user.checked" @change="changeDepartmentUserCheck(index)"></el-checkbox>
                                    </div>
                                </template>
                            </div>
                        </template>
                        <!--关键字搜索-->
                        <template v-else>
                            <div class="catalog-list">
                                <div v-for="(user, index) of searchUsers" :class='{"catalog-item":true,"bgc-blue": user.checked}' :key="'user-' + index">
                                    <div class="catalog-photo">
                                        <img :src="'http://photo.chaoxing.com/p/' + user.puid + '_80'">
                                    </div>
                                    <div class="catalog-title">
                                        {{user.name}}
                                    </div>
                                    <el-checkbox class="right-check" v-model="user.checked" @change="changeSearchUserChecked(index)"></el-checkbox>
                                </div>
                            </div>
                        </template>
                        <div class="empty-content" v-show="searchLoaded && searchUsers.length < 1">
                            无搜索结果
                        </div>
                    </div>
                </div>
                <div class="item-choosed fl">
                    <div class="choose-number">已选{{checkedDepartmentUsers.length}}人</div>
                    <div class="catalog-list">
                        <div class="catalog-item" v-for="(user, index) of checkedDepartmentUsers" :key="'user-' + index">
                            <div class="catalog-photo">
                                <img :src="'http://photo.chaoxing.com/p/' + user.puid + '_80'">
                            </div>
                            <div class="catalog-title">
                                {{user.name}}
                            </div>
                            <div class="del-img" @click="removeCheckedDepartmentUser(index)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="normal-btn cancle" @click="addShow = false">取消</div>
                <div class="normal-btn before-sure" v-if="checkedDepartmentUsers.length < 1">完成</div>
                <div class="normal-btn after-sure" v-else @click="batchAddSubmit">完成</div>
            </div>
        </div>
    </div>
    <!-- 移除弹窗 -->
    <vue-confirm ref="deleteWindow" :message="'确定移除吗？'" :cancel="'取消'" :sure="'删除'" @callback="deleteSubmit"></vue-confirm>
    <!--批量移除弹窗-->
    <vue-confirm ref="batchDeleteWindow" :message="'确定移除吗？'" :cancel="'取消'" :sure="'删除'" @callback="batchDeleteSubmit"></vue-confirm>
</div>
</body>
<th:block th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/jquery.nicescroll.min.js" th:src="@{/pc/assets/lib/jquery.nicescroll.min.js}"></script>
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/layui/layui.js" th:src="@{/pc/assets/lib/layui/layui.js}"></script>
    <script src="/static/pc/assets/component/confirm.js" th:src="@{/pc/assets/component/confirm.js}"></script>
    <script src="/static/mobile/assets/lib/mescroll/mescroll.js" th:src="@{/mobile/assets/lib/mescroll/mescroll.js}"></script>
    <script th:inline="javascript">
        activityManagerVue = new Vue({
            el: "#activity-manager-vue",
            data: {
                activityId: [[${activityId}]],
                managerUids: [[${managerUids}]],
                // 管理员
                managers: [],
                managerQueryParams: {
                    pageNum: 1,
                    pageSize: 10
                },
                allChecked: false,

                loaded: false,
                crumbs: [
                    {name: "全部", type: "all", id: ""}
                ],
                currentDepartmentId: "",
                orgs: [[${orgs}]],
                // 所有的部门，下级部门从里面遍历
                allDepartments: [],
                departments: [],
                niceScroll: null,
                // 搜索相关
                sw: "",
                searchUserQueryParams: {
                    sw: "",
                    pageNum: 1,
                    pageSize: 1000
                },
                searchUsers: [],
                searchLoaded: false,

                // 组织架构通讯录相关
                departmentUserMescroll: null,
                departmentUserQueryParams: {
                    pageNum: 1,
                    pageSize: 10
                },
                departmentUsers: [],
                // 选中的部门用户
                checkedDepartmentUsers: [],

                //添加弹出框
                addShow: false,
                // 输入框清空按钮是否显示
                operateIndex: -1
            },
            created: function () {
                var $this = this;
                // 解决跨域
                document.domain = "chaoxing.com";
            },
            mounted: function () {
                var $this = this;
                $this.loadManagers();
            },
            computed: {
                "batchEnable": function () {
                    var $this = this;
                    var existChecked = false;
                    $($this.managers).each(function () {
                        if (this.checked) {
                            existChecked = true;
                            return false;
                        }
                    });
                    return existChecked;
                }
            },
            watch: {
                "sw": function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.sw)) {
                        $this.searchLoaded = false;
                    }
                }
            },
            methods: {
                loadManagers: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/list";
                    app.ajaxPost(url, $this.managerQueryParams, function (data) {
                        if (data.success) {
                            $this.loaded = true;
                            var managers = data.data.records;
                            $(managers).each(function () {
                                this.checked = false;
                            });
                            $this.managers = managers;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载管理员失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("加载管理员失败");
                    });
                },
                changeAllChecked: function () {
                    var $this = this;
                    $($this.managers).each(function (i) {
                        $this.$set($this.managers[i], "checked", $this.allChecked);
                    });
                },
                changeChecked: function () {
                    var $this = this;
                    var allChecked = true;
                    $($this.managers).each(function () {
                        if (!this.checked) {
                            allChecked = false;
                            return false;
                        }
                    });
                    $this.allChecked = allChecked;
                },
                initDepartmentUserMescroll: function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.departmentUserMescroll)) {
                        $this.departmentUserMescroll = new MeScroll("mescroll-container", {
                            //上拉加载的配置项
                            up: {
                                callback: function () {
                                    $this.loadDepartmentUser();
                                },
                                isBounce: false,
                                noMoreSize: 3,
                                htmlNodata: '<div class="loadMore loading"><p style="display: block" class="loadEndText"></p></div>',
                                lazyLoad: {
                                    use: false
                                }
                            }
                        });
                    } else {
                        $this.departmentUsers = [];
                        $this.departmentUserQueryParams.pageNum = 1;
                        $this.departmentUserMescroll.resetUpScroll();
                    }
                },
                search: function () {
                    var $this = this;
                    var url = ctx + "/api/wfw/contacter/search";
                    $this.searchUserQueryParams.sw = $this.sw;
                    app.ajaxPost(url, $this.searchUserQueryParams, function (data) {
                        if (data.success) {
                            $this.searchLoaded = true;
                            var searchUsers = data.data.records;
                            $(searchUsers).each(function () {
                                this.checked = $this.isNeedChecked(this.puid);
                            });
                            $this.searchUsers = searchUsers;
                            $this.$nextTick(function () {
                                $(".item-choosed,.choose-list").getNiceScroll().resize();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("加载失败");
                    });

                },
                clearSearch: function () {
                    var $this = this;
                    $this.searchLoaded = false;
                    if ($this.departmentUserQueryParams.sw != $this.sw) {
                        $this.sw = "";
                    } else {
                        $this.search();
                    }
                },
                batchAddSubmit: function () {
                    var $this = this;
                    var managers = [];
                    $($this.checkedDepartmentUsers).each(function () {
                        managers.push({
                            activityId: $this.activityId,
                            uid: this.puid,
                            userName: this.name
                        });
                    });
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/add/batch";
                    app.ajaxPostWithPayload(url, JSON.stringify(managers), function (data) {
                        if (data.success) {
                            $this.addShow = false;
                            app.showMsg("处理成功", function () {
                                window.location.reload();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("添加失败");
                    }, '添加');
                },
                toDelete: function (index) {
                    var $this = this;
                    $this.operateIndex = index;
                    $this.$refs.deleteWindow.show = true;
                },
                toBatchDelete: function (l) {
                    var $this = this;
                    $this.$refs.batchDeleteWindow.show = true;
                },
                deleteSubmit: function () {
                    var $this = this;
                    var deleteManager = $this.managers[$this.operateIndex];
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/" + deleteManager.uid + "/delete";
                    $this.$refs.deleteWindow.show = false;
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            app.showMsg("处理成功", function () {
                                window.location.reload();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("处理成功");
                    }, '处理');
                },
                batchDeleteSubmit: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/delete/batch";
                    var uids = [];
                    $($this.managers).each(function () {
                        if (this.checked) {
                            uids.push(this.uid);
                        }
                    });
                    $this.$refs.batchDeleteWindow.show = false;
                    app.ajaxPostWithPayload(url, JSON.stringify(uids), function (data) {
                        if (data.success) {
                            app.showMsg("处理成功", function () {
                                window.location.reload();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("处理失败");
                    }, '');
                },
                initNiceScroll: function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.niceScroll)) {
                        $this.niceScroll = $(".item-choosed,.choose-list").niceScroll({
                            cursorborder: "",
                            cursorwidth: 8,
                            cursorcolor: "#DADADA",
                            boxzoom: false,
                            autohidemode: true
                        });
                        $(".item-choosed,.choose-list").getNiceScroll().resize();
                    }
                },
                toAdd: function () {
                    var $this = this;
                    $this.addShow = true;
                    $this.$nextTick(function () {
                        $this.initNiceScroll();
                    });
                },
                // 展开面包屑
                expandCrumb: function (index) {
                    var $this = this;
                    if (index == $this.crumbs.length - 1) {
                        // 点击的最后一级
                        return;
                    }
                    // 移除后面的面包屑
                    $this.crumbs.splice(index + 1);
                    var crumb = $this.crumbs[index];
                    switch (crumb.type) {
                        case "all":
                            break;
                        case "org":
                            // 筛选level为1的部门
                            var departments = [];
                            $($this.allDepartments).each(function () {
                                if (this.level == 1) {
                                    departments.push(this);
                                }
                            });
                            $this.departments = departments;
                            break;
                        case "supperDepartment":
                            // 筛选当前面包屑下的部门
                            var id = crumb.id;
                            var departments = [];
                            $($this.allDepartments).each(function () {
                                if (this.pid == id) {
                                    departments.push(this);
                                }
                            });
                            $this.departments = departments;
                            break;
                        case "department":
                            $this.initDepartmentUserMescroll();
                            break;
                        default:

                    }
                },
                // 展开机构
                expandOrg: function (index) {
                    var $this = this;
                    var org = $this.orgs[index];
                    var fid = org.fid;
                    // 加入面包屑
                    $this.crumbs.push(
                        {name: org.name, type: "org", id: fid}
                    );
                    // 加载部门列表
                    $this.currentDepartmentId = "";
                    $this.loadDepartment(fid);
                },
                // 加载机构下的部门
                loadDepartment: function (fid) {
                    var $this = this;
                    var url = ctx + "/api/wfw/org/" + fid + "/department";
                    app.ajaxPost(url, {}, function (data) {
                        if (data.success) {
                            var allDepartments = data.data.records;
                            $this.allDepartments = allDepartments;
                            // 筛选level为1的部门列表
                            var departments = [];
                            $(allDepartments).each(function () {
                                if (this.level == 1) {
                                    departments.push(this);
                                }
                            });
                            $this.departments = departments;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载部门失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("加载部门失败");
                    });
                },
                // 展开部门
                expandDepartment: function (index) {
                    var $this = this;
                    var department = $this.departments[index];
                    var id = department.id;
                    // 下级部门的数量
                    var subdeptcount = department.subdeptcount;
                    var haveSubDepartment = subdeptcount > 0;
                    // 面包屑添加
                    $this.crumbs.push({
                        id: id,
                        name: department.name,
                        type: haveSubDepartment ? "supperDepartment" : "department"
                    });
                    if (haveSubDepartment) {
                        // 筛选下级
                        var departments = [];
                        $($this.allDepartments).each(function () {
                            if (this.pid == id) {
                                departments.push(this);
                            }
                        });
                        $this.departments = departments;
                    } else {
                        // 加载部门下的员工
                        $this.initDepartmentUserMescroll();
                    }
                },
                // 加载部门用户列表
                loadDepartmentUser: function () {
                    var $this = this;
                    // 当前选中的部门
                    var crumb = $this.crumbs[$this.crumbs.length - 1];
                    var url = ctx + "/api/wfw/department/" + crumb.id + "/contacter";
                    var params = {
                        pageNum: $this.departmentUserQueryParams.pageNum,
                        pageSizeSize: $this.departmentUserQueryParams.pageSize
                    };
                    app.ajaxPost(url, params, function (data) {
                        if (data.success) {
                            $this.departmentUserQueryParams.pageNum++;
                            var departmentUsers = data.data.records;
                            $(departmentUsers).each(function () {
                                this.checked = $this.isNeedChecked(this.puid);
                            });
                            // 是否被选中
                            $this.departmentUsers.pushArray(departmentUsers);
                            $this.departmentUserMescroll.endBySize(departmentUsers.length, data.data.total);
                            $this.$nextTick(function () {
                                $(".item-choosed,.choose-list").getNiceScroll().resize();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("加载失败");
                    });
                },
                // 是否需要被选中
                isNeedChecked: function (uid) {
                    var $this = this;
                    var exist = false;
                    $($this.checkedDepartmentUsers).each(function () {
                        if (uid == this.puid) {
                            exist = true;
                            return false;
                        }
                    });
                    if (!exist) {
                        $($this.managers).each(function () {
                            if (uid == this.uid) {
                                exist = true;
                                return false;
                            }
                        });
                    }
                    return exist;
                },
                changeSearchUserChecked: function (index) {
                    var $this = this;
                    var user = $this.searchUsers[index];
                    var uid = user.puid;
                    if (user.checked) {
                        $this.checkedDepartmentUsers.push(user);
                    } else {
                        $($this.checkedDepartmentUsers).each(function (i) {
                            if (uid == this.puid) {
                                $this.checkedDepartmentUsers.splice(i, 1);
                                return false;
                            }
                        });
                    }
                },
                changeDepartmentUserCheck: function (index) {
                    var $this = this;
                    var user = $this.departmentUsers[index];
                    var uid = user.puid;
                    if (user.checked) {
                        $this.checkedDepartmentUsers.push(user);
                    } else {
                        $($this.checkedDepartmentUsers).each(function (i) {
                            if (uid == this.puid) {
                                $this.checkedDepartmentUsers.splice(i, 1);
                                return false;
                            }
                        });
                    }
                },
                removeCheckedDepartmentUser: function (index) {
                    var $this = this;
                    var checkedDepartmentUser = $this.checkedDepartmentUsers[index];
                    $this.checkedDepartmentUsers.splice(index, 1);
                    $($this.departmentUsers).each(function (i) {
                        if (checkedDepartmentUser.puid == this.puid) {
                            $this.$set($this.departmentUsers[i], "checked", false);
                            return false;
                        }
                    });
                    $($this.searchUsers).each(function (i) {
                        if (checkedDepartmentUser.puid == this.puid) {
                            $this.$set($this.searchUsers[i], "checked", false);
                            return false;
                        }
                    });
                }
            }
        });
    </script>
</th:block>
</html>