<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title th:text="${activity.name}">活动主页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/pc/assets/css/activityHomePage.css" th:href="@{/pc/assets/css/activityHomePage.css}">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="activity-vue" v-cloak>
    <div class="slider">
        <div class="title">
            <span th:text="${activity.name}">成都少儿阅读活动</span>
        </div>
        <div class="menu">
            <div class="entry">
                <!--报名名单-->
                <div :class="{'item': true, 'active': menus.signUpList.selected}" v-if="signActivityManageIndex.signUpExist" @click="toSignUpList">
                    <img :src="menus.signUpList.iconUrl">
                    <span>{{menus.signUpList.name}}</span>
                </div>
                <!--签到管理-->
                <div :class="{'item': true, 'active': menus.signInManage.selected}" v-if="signActivityManageIndex.signInExist" @click="toSignInManage">
                    <img :src="menus.signInManage.iconUrl">
                    <span>{{menus.signInManage.name}}</span>
                </div>
            </div>
            <div class="message" v-if="signActivityManageIndex.signUpExist">
                <!--发通知-->
                <div :class="{'item': true, 'active': menus.notice.selected}" @click="toAddNotice">
                    <img :src="menus.notice.iconUrl">
                    <span>{{menus.notice.name}}</span>
                </div>
            </div>
            <div class="statistics" v-show="false">
                <!--统计-->
                <div :class="{'item': true, 'active': menus.stat.selected}">
                    <img :src="menus.stat.iconUrl">
                    <span>{{menus.stat.name}}</span>
                </div>
            </div>
        </div>
        <div class="edit">
            <div class="item" @click="toEdit">
                <img src="/static/pc/assets/images/icon-edit-default.png" th:src="@{/pc/assets/images/icon-edit-default.png}">
                <span>编辑活动</span>
            </div>
        </div>
    </div>
    <div class="content">
        <iframe id="content" src=""></iframe>
    </div>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script th:inline="javascript">
        activityVue = new Vue({
            el: "#activity-vue",
            data: {
                activity: [[${activity}]],
                signActivityManageIndex: [[${signActivityManageIndex}]],
                menus: {
                    // 报名签到
                    signUpList: {name: "报名名单", iconUrl: ctx + "/pc/assets/images/icon-name-list-active.png", url: "http://reading.chaoxing.com/qd/manage/sign-up/" + [[${signActivityManageIndex.signUpId}]], selected: false},
                    signInManage: {name: "签到管理", iconUrl: ctx + "/pc/assets/images/icon-name-list-default.png", url: "http://reading.chaoxing.com/qd/manage/sign-in/list?signId=" + [[${signActivityManageIndex.signId}]], selected: false},
                    // 通知
                    notice: {name: "发通知", iconUrl: ctx + "/pc/assets/images/icon-notice-default.png", url: "http://reading.chaoxing.com/qd/manage/notice/add?signId=" + [[${signActivityManageIndex.signId}]], selected: false},
                    // 统计
                    stat: {name: "统计", iconUrl: ctx + "/pc/assets/images/icon-statistics-default.png", url: "", selected: false}
                },
                iframeUrl: ""
            },
            created: function () {

            },
            mounted: function () {
                var $this = this;
                if ($this.signActivityManageIndex.signUpExist) {
                    $this.toSignUpList();
                }else {
                    $this.toSignInManage();
                }
            },
            methods: {
                loadUrl: function (url) {
                    $("#content")[0].src = url;
                },
                selectMenu: function (menuKey) {
                    var $this = this;
                    for (var key in $this.menus) {
                        $this.$set($this.menus[key], "selected", false);
                    }
                    $this.$set($this.menus[menuKey], "selected", true);
                    $this.loadUrl($this.menus[menuKey].url);
                },
                // 报名名单
                toSignUpList: function () {
                    var $this = this;
                    $this.selectMenu("signUpList");
                },
                // 签到管理
                toSignInManage: function () {
                    var $this = this;
                    $this.selectMenu("signInManage");
                },
                // 发通知
                toAddNotice: function () {
                    var $this = this;
                    $this.selectMenu("notice");
                },
                // 去编辑活动
                toEdit: function () {
                    var $this = this;
                    var url = ctx + $this.activity.id + "/edit";
                    window.open(url);
                }
            }
        });
    </script>
</div>
</body>
</html>