<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${activity == null ? '创建活动' : '编辑活动'}">创建活动</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css" th:href="@{/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/reset.css" th:href="@{/pc/assets/css/reset.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/create.css" th:href="@{/pc/assets/css/create.css}">
    <style type="text/css">
        .webuploader-element-invisible {
            display: none;
        }
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="//api.map.baidu.com/api?v=3.0&ak=aG5nWGO5m5tkVhBHGuVppoIRfKbyp5H3"></script>
</head>

<body>
<div class="page" id="activity-vue" v-cloak>
    <!-- 创建活动头部 -->
    <div class="top flex box" v-if="!activity.id">
        <div class="flex">
            <img src="/static/pc/assets/images/left.png" th:src="@{/pc/assets/images/left.png}" class="left" v-show="step > 1" @click="preStep">
            <span class="create">创建活动</span>
        </div>
        <div>
            <button type="button" class="create-btn" v-show="step == 1" @click="nextStep">下一步</button>
        </div>
    </div>
    <!-- 编辑活动头部 -->
    <div class="top flex box" v-if="activity.id">
        <div class="flex">
            <img src="/static/pc/assets/images/left.png" th:src="@{/pc/assets/images/left.png}" class="left" v-show="step > 1" @click="preStep">
            <span class="create">编辑活动</span>
        </div>
        <div>
            <!--<button type="button" class="cancle-btn" v-show="activity.webTemplateId">预览</button>-->
            <button type="button" class="create-btn" v-show="step == 1" @click="save">保存</button>
        </div>
    </div>
    <div v-show="step == 1">
        <div class="info box">
            <form action="">
                <div class="title">基本信息</div>
                <div class="form-item">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">名称</label>
                    <div class="input-box">
                        <el-input type="text" placeholder="请填写信息，简短的活动名称" v-model.trim="activity.name" maxlength="20" show-word-limit></el-input>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">时间</label>
                    <div class="input-box">
                        <el-date-picker v-model="activityDateTimeScope" type="datetimerange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm:ss" :editable=false range-separator="至" start-placeholder="开始时间" end-placeholder="结束时间" @change="selectActivityDate($event)"></el-date-picker>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label position" style="line-height: 100px;"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">封面</label>
                    <div class="input-box">
                        <div class="img-box">
                            <img :src="activity.coverCloudId | getCloudImgUrl" class="cover-img jqthumbImg">
                        </div>
                        <div class="font-box">
                            <span>建议尺寸：1080x500</span>
                            <span>大小：小于5M</span>
                            <span>格式：jpg、png、gif</span>
                            <div class="cancle-btn upload" id="cover-upload-btn">上传文件</div>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label">活动类型</label>
                    <div class="input-box">
                        <el-radio v-for="(activityType, index) of activityTypes" :key="'activity-type-' + index" v-model="activity.activityType" :label="activityType.value" name="active-type">{{activityType.name}}</el-radio>
                    </div>
                </div>
                <div class="form-item" v-show="activity.activityType == 'offline'">
                    <label class="label">位置</label>
                    <div class="input-box">
                        <input type="text" readonly required lay-verify="required" v-model.trim="activity.address" placeholder="请选择活动地点" autocomplete="off" class="layui-input name show-addr" style="cursor: pointer;" @click="showActivityMap">
                        <img src="/static/pc/assets/images/location.png" th:src="@{/pc/assets/images/location.png}" class="length icon">
                    </div>
                </div>
                <div class="form-item">
                    <label class="label">活动分类</label>
                    <div class="input-box wrap">
                        <div :class="{'type-item': true, 'active': activityClassify.selected}" v-for="(activityClassify, index) of activityClassifies" :key="'activity-classify-' + index" @click="selectActivityClassify(index)">{{activityClassify.name}}
                                <img src="/static/pc/assets/images/more.png" th:src="@{/pc/assets/images/more.png}" style="margin-left: 10px;" v-if="!activityClassify.system">
                            <div class="edit-box" v-if="!activityClassify.system">
                                <div @click="toEditActivityClassify(index, $event)">编辑</div>
                                <div @click="toDeleteActivityClassify(index, $event)">删除</div>
                            </div>
                        </div>
                        <div class="type-item add" @click="toAddActivityClassify">
                            <img src="/static/pc/assets/images/add.png" th:src="@{/pc/assets/images/add.png}" style="margin-right: 10px;">
                            新增
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label">参与范围</label>
                    <div class="input-box wrap">
                        <span class="label"><span>{{participatedOrgs.length}}</span>个单位</span>
                        <div class="type-item add" @click="toAddParticipateScope">
                            <img src="/static/pc/assets/images/add.png" th:src="@{/pc/assets/images/add.png}" style="margin-right: 10px;">
                            添加
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="info box">
            <div class="set-box">
                <div class="title set">报名设置</div>
                <el-switch v-model="enableSignUp" class="switch"></el-switch>
            </div>
            <!-- 点击参与设置 -->
            <form action="" class="setForm" v-show="enableSignUp">
                <div class="form-item">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">报名时间</label>
                    <div class="input-box">
                        <el-date-picker v-model="signUpTimeScope" type="datetimerange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm:ss" :editable=false range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" @change="selectSignUpTime($event)"></el-date-picker>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label">人数限制</label>
                    <div class="input-box">
                        <div class="select-person">
                            <el-select v-model="personLimitValue" value-key="id" placeholder="请选择">
                                <el-option label="无限制" :value="0"></el-option>
                                <el-option label="自定义人数" :value="1"></el-option>
                            </el-select>
                        </div>
                        <input v-show="sign.signUp.limitPerson" v-model="sign.signUp.personLimit" type="number" min="1" step="1" maxlength="10" placeholder="请输入正整数" class="person"><span class="person-span" v-show="sign.signUp.limitPerson">人</span>
                    </div>
                </div>
                <div class="form-item" v-if="false">
                    <label class="label" style="line-height: 20px;">信息填写</label>
                    <div class="input-box column">
                        <div class="set-box">
                            <el-switch v-model="sign.signUp.fillInfo"></el-switch>
                            <span class="tips">如何创建报名信息表单？</span>
                        </div>
                        <div class="select" v-show="sign.signUp.fillInfo">
                            <el-select v-model="sign.signUp.fillInfoFormId" placeholder="请选择">
                                <el-option v-for="(form, index) of forms" :key="'form-' + index" :label="form.name" :value="form.id"></el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label">报名名单公开</label>
                    <div class="input-box">
                        <el-switch v-model="sign.signUp.publicList"></el-switch>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">按钮名称</label>
                    <div class="input-box btn-name">
                        <el-input type="text" v-model.trim="sign.signUp.btnName" placeholder="请输入内容" maxlength="6" show-word-limit></el-input>
                    </div>
                </div>
            </form>
        </div>
        <div class="info box">
            <div class="set-box">
                <div class="title set">签到设置</div>
                <el-switch v-model="enableSignIn" class="switch"></el-switch>
            </div>
            <!-- 点击参与设置 -->
            <form action="" class="setForm" v-show="enableSignIn">
                <div class="form-item">
                    <label class="label">签到方式</label>
                    <div class="input-box">
                        <el-radio v-for="(signInWay, index) of signInWays" :key="'sign-in-way-' + index" v-model="sign.signIn.way" :label="signInWay.value" name="signInWay">{{signInWay.name}}</el-radio>
                    </div>
                </div>
                <div class="form-item" v-show="sign.signIn.way == 2">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">位置</label>
                    <div class="input-box">
                        <input type="text" readonly required lay-verify="required" v-model.trim="sign.signIn.address" placeholder="请选择签到地点" autocomplete="off" class="layui-input name" style="cursor: pointer;" @click="showSignInMap">
                        <img src="/static/pc/assets/images/location.png" th:src="@{/pc/assets/images/location.png}" class="length icon">
                    </div>
                </div>
                <div class="form-item" v-show="sign.signIn.way == 3">
                    <label class="label">扫码方式</label>
                    <div class="input-box">
                        <div>
                            <el-select v-model="sign.signIn.scanCodeWay" placeholder="请选择">
                                <el-option v-for="(scanCodeWay, index) of scanCodeWays" :key="'scan-code-way-' + index" :label="scanCodeWay.name" :value="scanCodeWay.value"></el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">签到时间</label>
                    <div class="input-box">
                        <el-date-picker v-model="signInTimeScope" type="datetimerange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm:ss" :editable=false range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"  @change="selectSignInTime($event)"></el-date-picker>
                    </div>
                </div>
                <div class="form-item" v-if="false">
                    <label class="label" style="line-height: 20px;">信息填写</label>
                    <div class="input-box column">
                        <div class="set-box">
                            <el-switch v-model="sign.signIn.fillInfo"></el-switch>
                            <span class="tips">如何创建报名信息表单？</span>
                        </div>
                        <div class="select" v-show="sign.signIn.fillInfo">
                            <el-select v-model="sign.signIn.fillInfoFormId" placeholder="请选择">
                                <el-option v-for="(form, index) of forms" :key="'form-' + index" :label="form.name" :value="form.id"></el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label">签到名单公开</label>
                    <div class="input-box">
                        <el-switch v-model="sign.signIn.publicList"></el-switch>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">按钮名称</label>
                    <div class="input-box btn-name">
                        <el-input type="text" v-model.trim="sign.signIn.btnName" placeholder="请输入内容" maxlength="6" show-word-limit></el-input>
                    </div>
                </div>
            </form>
        </div>
        <div class="info box">
            <div class="set-box">
                <div class="title set">签退设置</div>
                <el-switch v-model="enableSignOut" class="switch"></el-switch>
            </div>
            <!-- 点击参与设置 -->
            <form action="" class="setForm" v-show="enableSignOut">
                <div class="form-item">
                    <label class="label">签到方式</label>
                    <div class="input-box">
                        <el-radio v-for="(signInWay, index) of signInWays" :key="'sign-out-way-' + index" v-model="sign.signOut.way" :label="signInWay.value" name="signInWay">{{signInWay.name}}</el-radio>
                    </div>
                </div>
                <div class="form-item" v-show="sign.signOut.way == 2">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">位置</label>
                    <div class="input-box">
                        <input type="text" readonly required lay-verify="required" v-model.trim="sign.signOut.address" placeholder="请选择签到地点" autocomplete="off" class="layui-input name" style="cursor: pointer;" @click="showSignOutMap">
                        <img src="/static/pc/assets/images/location.png" th:src="@{/pc/assets/images/location.png}" class="length icon">
                    </div>
                </div>
                <div class="form-item" v-show="sign.signOut.way == 3">
                    <label class="label">扫码方式</label>
                    <div class="input-box">
                        <div>
                            <el-select v-model="sign.signOut.scanCodeWay" placeholder="请选择">
                                <el-option v-for="(scanCodeWay, index) of scanCodeWays" :key="'scan-code-way-' + index" :label="scanCodeWay.name" :value="scanCodeWay.value"></el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">签到时间</label>
                    <div class="input-box">
                        <el-date-picker v-model="signOutTimeScope" type="datetimerange" format="yyyy-MM-dd HH:mm" value-format="yyyy-MM-dd HH:mm:ss" :editable=false range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"  @change="selectSignOutTime($event)"></el-date-picker>
                    </div>
                </div>
                <div class="form-item" v-if="false">
                    <label class="label" style="line-height: 20px;">信息填写</label>
                    <div class="input-box column">
                        <div class="set-box">
                            <el-switch v-model="sign.signOut.fillInfo"></el-switch>
                            <span class="tips">如何创建报名信息表单？</span>
                        </div>
                        <div class="select" v-show="sign.signOut.fillInfo">
                            <el-select v-model="sign.signOut.fillInfoFormId" placeholder="请选择">
                                <el-option v-for="(form, index) of forms" :key="'form-' + index" :label="form.name" :value="form.id"></el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label">签到名单公开</label>
                    <div class="input-box">
                        <el-switch v-model="sign.signOut.publicList"></el-switch>
                    </div>
                </div>
                <div class="form-item">
                    <label class="label position"><img src="/static/pc/assets/images/required.png" th:src="@{/pc/assets/images/required.png}" class="required-img">按钮名称</label>
                    <div class="input-box btn-name">
                        <el-input type="text" v-model.trim="sign.signOut.btnName" placeholder="请输入内容" maxlength="6" show-word-limit></el-input>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--选择门户模板-->
    <div class="info box" v-show="step > 1">
        <div class="title">选择模板</div>
        <div class="page-show">
            <div class="page-box">
                <div class="page-item" v-for="(webTemplate, index) of webTemplates" :key="'web-templates' + index">
                    <div class="mask-box">
                        <img class="img" :src="webTemplate.coverUrl">
                        <div class="mask">
                            <div class="normal-btn preview" @click="previewTemplate(index)">预览</div>
                            <div class="normal-btn after-sure" @click="selectTemplate(index)">选择</div>
                        </div>
                    </div>
                    <div class="desc overHidden1">{{webTemplate.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 新增活动分类和自定义选项的弹出框 -->
    <div class="dailog-box1" v-show="addEditActivityClassifyWindowShow">
        <div class="dailog">
            <div class="header">
                <span>分类名称</span>
                <div @click="addEditActivityClassifyWindowShow = false">
                    <img src="/static/pc/assets/images/close.png" th:src="@{/pc/assets/images/close.png}" class="close">
                </div>
            </div>
            <div class="body">
                <el-input type="text" class="fenlei-input" v-model="addEditActivityClassify.name" placeholder="请输入" maxlength="6" show-word-limit></el-input>
            </div>
            <div class="footer">
                <div class="normal-btn cancle" @click="addEditActivityClassifyWindowShow = false">取消</div>
                <div :class="{'normal-btn': true, 'before-sure': !addEditActivityClassify.name, 'after-sure': addEditActivityClassify.name}" @click="addEditActivityClassifySubmit">确定</div>
            </div>
        </div>
    </div>
    <!-- 确认删除分类弹框 -->
    <div class="dailog-box3" v-show="deleteActivityClassifyWindowShow">
        <div class="dailog delete-dailog">
                <img src="/static/pc/assets/images/warning.png" th:src="@{/pc/assets/images/warning.png}" class="warn">
            <span>确认删除此分类</span>
            <div>
                <div class="normal-btn" @click="deleteActivityClassifyWindowShow = false">保留</div>
                <div class="normal-btn after-sure" @click="deleteActivityClassifySubmit">删除</div>
            </div>
        </div>
    </div>
    <!-- 活动创建成功弹框 -->
    <div class="dailog-box3" style="display: none;">
        <div class="dailog delete-dailog">
            <div class="warn">
                <img src="/static/pc/assets/images/success.png" th:src="@{/pc/assets/images/success.png}">
            </div>
            <span>活动创建成功</span>
            <div>
                <div class="normal-btn">配置页面</div>
                <div class="normal-btn after-sure">完成</div>
            </div>
        </div>
    </div>
    <!-- 预览弹窗 -->
    <div class="dailog-box1" style="display: none;">
        <div class="dailog look-dailog">
            <div class="header">
                <span>预览</span>
                <img src="/static/pc/assets/images/close.png" th:src="@{/pc/assets/images/close.png}" class="close">
            </div>
            <div class="body">
                <!-- 二维码 -->
                <div class="code"><img src="/static/pc/assets/images/example.jpg" th:src="@{/pc/assets/images/example.jpg}"></div>
                <span>使用学习通扫码查看</span>
                <div class="link-box">
                    <span>链接</span>
                    <input type="text" class="input-link">
                    <a href="">访问</a>
                </div>
            </div>
        </div>
    </div>
    <!--编辑页面就不到下一步了-->
    <div class="info box" v-if="activity.pageId">
        <div class="set-box">
            <div class="title">页面设置</div>
        </div>
        <div class="item-box" v-if="activity.webTemplateId == webTemplate.id" v-for="(webTemplate, index) of webTemplates" :key="'web-templates' + index">
            <div class="page-demo">
                <img :src="webTemplate.coverUrl" class="jqthumbImg">
            </div>
            <div class="pageset-right">
                <div class="copy-box">
                    <el-input readonly type="text" class="copy-link" v-model.trim="activity.previewUrl"></el-input>
                    <a href="javascript:" class="copy" @click="copyTemplatePreviewUrl">复制</a>
                </div>
                <button type="button" class="cancle-btn" @click="configPage">页面配置</button>
            </div>
        </div>
    </div>
    <!-- 地图弹窗 -->
    <vue-map ref="activityMap" :map-dom-id="'activity-map'" @callback="activityAddressSure"></vue-map>
    <vue-map ref="signInMap" :map-dom-id="'sign-in-map'" @callback="signInAddressSure"></vue-map>
    <vue-map ref="signOutMap" :map-dom-id="'sign-out-map'" @callback="signOutAddressSure"></vue-map>
    <!-- 活动参与范围弹窗 -->
    <vue-activity-participate-scope :fid="fid" ref="activityParticipateScopeWindow" @callback="updateParticipatedOrgs"></vue-activity-participate-scope>
    <!--预览url复制容器-->
    <input type="text" id="template-preview-url-input" v-model.trim="activity.previewUrl" style="position: absolute; top: -100px; height: 1px;">
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js}"></script>
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.min.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.min.js}"></script>
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.exedit.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.exedit.js}"></script>
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/webuploader/webuploader.js" th:src="@{/pc/assets/lib/webuploader/webuploader.js}"></script>
    <script src="/static/pc/assets/component/map.js" th:src="@{/pc/assets/component/map.js}"></script>
    <script src="/static/pc/assets/component/activity-participate-scope.js" th:src="@{/pc/assets/component/activity-participate-scope.js}"></script>
    <script src="/static/pc/assets/lib/jqthumb.min.js" th:src="@{/pc/assets/lib/jqthumb.min.js}"></script>
    <script th:inline="javascript">
        activityVue = new Vue({
            el: "#activity-vue",
            data: {
                step: 1,
                fid: [[${session._login_user_.fid}]],
                activity: [[${activity}]],
                // 模板列表
                webTemplates: [[${webTemplates}]],
                // 活动日期的范围
                activityDateTimeScope: "",
                activityTypes: [[${activityTypes}]],
                activityClassifies: [[${activityClassifies}]],
                // 文件上传
                uploader: null,
                // 显示隐藏
                // 是否显示地图弹窗
                mapWindowShow: false,
                // 新增修改活动分类弹窗的显示
                addEditActivityClassifyWindowShow: false,
                deleteActivityClassifyWindowShow: false,
                addEditActivityClassify: {
                    id: null,
                    name: ""
                },
                deleteActivityClassifyId: null,
                // 参与机构列表
                participatedOrgs: [[${participatedOrgs}]],
                // 处理的模板id
                handleWebTemplateId: "",

                // 签到报名相关
                sign: [[${sign}]],
                // 机构下的表单列表
                forms: [],
                // 签到方式
                signInWays: [],
                // 扫码方式
                scanCodeWays: [],
                // 是否开启报名
                enableSignUp: false,
                // 是否开启签到
                enableSignIn: false,
                // 是否开启签退
                enableSignOut: false,
                // 报名时间范围
                signUpTimeScope: "",
                // 签到时间范围
                signInTimeScope: "",
                // 签退时间范围
                signOutTimeScope: "",
                // 人数限制值
                personLimitValue: 0
            },
            created: function () {
                var $this = this;
                var step = [[${step}]];
                if (!activityApp.isEmpty(step)) {
                    $this.step = step > 2 ? 2 : step;
                }
                if (activityApp.isEmpty($this.activity)) {
                    // 第一个分类的id
                    var firstActivityClassifyId = $this.activityClassifies[0].id;
                    $this.activity = {
                        id: null,
                        name: "",
                        startTime: "",
                        endTime: "",
                        coverCloudId: activityApp.getDefaultCoverCloudId(),
                        activityType: "offline",
                        address: "",
                        longitude: "",
                        dimension: "",
                        activityClassifyId: firstActivityClassifyId,
                        enableSign: true
                    };
                }else {
                    $this.activity.createTime = null;
                    $this.activity.updateTime = null;
                    $this.activity.releaseTime = null;
                    $this.activityDateTimeScope = [$this.activity.startTimeStr, $this.activity.endTimeStr];
                    $this.activity.startTime = $this.activity.startTimeStr;
                    $this.activity.endTime = $this.activity.endTimeStr;
                }
                $($this.activityTypes).each(function (i) {
                    if ($this.activity.activityType == this.value) {
                        $this.$set($this.activityTypes[i], "selected", true);
                    } else {
                        $this.$set($this.activityTypes[i], "selected", false);
                    }
                });
                var selectedActivityClassifyId = $this.activity.activityClassifyId;
                $($this.activityClassifies).each(function (i) {
                    if (this.id == selectedActivityClassifyId) {
                        $this.$set($this.activityClassifies[i], "selected", true);
                    } else {
                        $this.$set($this.activityClassifies[i], "selected", false);
                    }
                });
                $this.signInWays = [
                    {name: "直接签到", value: 1},
                    {name: "指定位置签到", value: 2},
                    {name: "扫码签到", value: 3}
                ];
                $this.scanCodeWays = [
                    {name: "用户扫码", value: 1},
                    {name: "管理员扫码", value: 2}
                ];
                if (activityApp.isEmpty($this.sign.id)) {
                    // 生成新的签到报名活动
                    $this.sign = signApp.newSign();
                    $this.enableSignUp = true;
                    $this.enableSignIn = false;
                    $this.enableSignOut = false;
                } else {
                    $this.sign.createTime = "";
                    $this.sign.updateTime = "";
                    // 报名
                    if (!activityApp.isEmpty($this.sign.signUp)) {
                        $this.enableSignUp = true;
                    }else {
                        $this.enableSignUp = false;
                        $this.sign.signUp = signApp.newSignUp();
                    }
                    var signUpStartTimeStr = $this.sign.signUp.startTimeStr;
                    var signUpEndTimeStr = $this.sign.signUp.endTimeStr;
                    if (!activityApp.isEmpty(signUpStartTimeStr) && !activityApp.isEmpty(signUpEndTimeStr)) {
                        $this.signUpTimeScope = [signUpStartTimeStr, signUpEndTimeStr];
                        $this.sign.signUp.startTime = signUpStartTimeStr;
                        $this.sign.signUp.endTime = signUpEndTimeStr;
                    }
                    // 签到
                    if (!activityApp.isEmpty($this.sign.signIn)) {
                        $this.enableSignIn = true;
                    } else {
                        $this.enableSignIn = false;
                        $this.sign.signIn = signApp.newSignIn();
                    }
                    var signInStartTimeStr = $this.sign.signIn.startTimeStr;
                    var signInEndTimeStr = $this.sign.signIn.endTimeStr;
                    if (!activityApp.isEmpty(signInStartTimeStr) && !activityApp.isEmpty(signInEndTimeStr)) {
                        $this.signInTimeScope = [signInStartTimeStr, signInEndTimeStr];
                        $this.sign.signIn.startTime = signInStartTimeStr;
                        $this.sign.signIn.endTime = signInEndTimeStr;
                    }
                    // 签退
                    if (!activityApp.isEmpty($this.sign.signOut)) {
                        $this.enableSignOut = true;
                    } else {
                        $this.enableSignOut = false;
                        $this.sign.signOut = signApp.newSignOut();
                    }
                    var signOutStartTimeStr = $this.sign.signOut.startTimeStr;
                    var signOutEndTimeStr = $this.sign.signOut.endTimeStr;
                    if (!activityApp.isEmpty(signOutStartTimeStr) && !activityApp.isEmpty(signOutEndTimeStr)) {
                        $this.signOutTimeScope = [signOutStartTimeStr, signOutEndTimeStr];
                        $this.sign.signOut.startTime = signOutStartTimeStr;
                        $this.sign.signOut.endTime = signOutEndTimeStr;
                    }
                }
                $this.calPersonLimitValue();
                if (activityApp.isEmpty($this.participatedOrgs)) {
                    $this.participatedOrgs = [];
                }
            },
            mounted: function () {
                var $this = this;
                $this.initUploader();
                $this.handleImg();
            },
            watch: {
                // 报名的人数限制
                personLimitValue: function () {
                    var $this = this;
                    if ($this.personLimitValue == 0) {
                        // 不限制
                        $this.$set($this.sign.signUp, "limitPerson", false);
                    } else {
                        $this.$set($this.sign.signUp, "limitPerson", true);
                    }
                }
            },
            methods: {
                handleImg: function () {
                    $('.jqthumbImg').jqthumb({
                        width: '100%',
                        height: '100%'
                    });
                },
                // 初始化文件上传
                initUploader: function () {
                    var $this = this;
                    $this.uploader = WebUploader.create({
                        // swf文件路径
                        swf: ctx + "/pc/assets/lib/webuploader/Uploader.swf",
                        // 文件接收服务端。
                        server: ctx + "/api/upload/img",
                        // 选择文件的按钮。可选。
                        // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                        pick: "#cover-upload-btn",
                        // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                        resize: false,
                        auto: true,
                        // 只允许选择图片文件。
                        accept: {
                            title: 'Images',
                            extensions: 'gif,jpg,jpeg,bmp,png',
                            mimeTypes: 'image/*'
                        }
                    });
                    $this.uploader.on("uploadSuccess", function (file, response) {
                        if (response.success) {
                            var data = response.data;
                            data = activityApp.getJsonObject(data);
                            var result = data.result;
                            if (result == 1) {
                                var cloudId = data.objectid;
                                $this.$set($this.activity, "coverCloudId", cloudId);
                                $this.handleImg();
                            } else {
                                app.showMsg("上传失败");
                            }
                        } else {
                            var errorMessage = response.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "上传失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    });
                    $this.uploader.on("uploadError", function (file, reason) {
                        app.showMsg(reason);
                    });
                },
                // 加载表单列表
                loadForms: function () {
                    var $this = this;
                    var url = ctx + "/api/form/list";
                    app.ajaxPost(url, {}, function (data) {
                        if (data.success) {
                            $this.forms = data.data;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载表单失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("加载表单失败");
                    });
                },
                // 修改活动类型
                changeActivityType: function (index) {
                    var $this = this;
                    var activityType = $this.activityTypes[index];
                    $this.activity.activityType = activityType.value;
                },
                // 显示参与范围弹窗
                toAddParticipateScope: function () {
                    var $this = this;
                    $this.$refs.activityParticipateScopeWindow.showWindow($this.participatedOrgs);
                },
                // 更新参与范围的机构
                updateParticipatedOrgs: function () {
                    var $this = this;
                    $this.participatedOrgs = $this.$refs.activityParticipateScopeWindow.selectedOrgs;
                },
                // 显示百度地图
                showActivityMap: function () {
                    var $this = this;
                    $this.$refs.activityMap.show = true;
                },
                showSignInMap: function () {
                    var $this = this;
                    $this.$refs.signInMap.show = true;
                },
                showSignOutMap: function () {
                    var $this = this;
                    $this.$refs.signOutMap.show = true;
                },
                // 确定活动地址
                activityAddressSure: function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.$refs.activityMap.longitude) || activityApp.isEmpty($this.$refs.activityMap.dimension)) {
                        app.showMsg("请选择地址");
                        return;
                    }
                    $this.activity.address = $this.$refs.activityMap.address;
                    $this.activity.longitude = $this.$refs.activityMap.longitude;
                    $this.activity.dimension = $this.$refs.activityMap.dimension;
                },
                // 确定签到地址
                signInAddressSure: function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.$refs.signInMap.longitude) || activityApp.isEmpty($this.$refs.signInMap.dimension)) {
                        app.showMsg("签到请选择地址");
                        return;
                    }
                    $this.sign.signIn.address = $this.$refs.signInMap.address;
                    $this.sign.signIn.longitude = $this.$refs.signInMap.longitude;
                    $this.sign.signIn.dimension = $this.$refs.signInMap.dimension;
                },
                // 确定签退地址
                signOutAddressSure: function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.$refs.signOutMap.longitude) || activityApp.isEmpty($this.$refs.signOutMap.dimension)) {
                        app.showMsg("请选择签退地址");
                        return;
                    }
                    $this.sign.signOut.address = $this.$refs.signOutMap.address;
                    $this.sign.signOut.longitude = $this.$refs.signOutMap.longitude;
                    $this.sign.signOut.dimension = $this.$refs.signOutMap.dimension;
                },
                selectActivityClassify: function (index) {
                    var $this = this;
                    $($this.activityClassifies).each(function (i) {
                        if (i == index) {
                            $this.$set($this.activityClassifies[i], "selected", true);
                            $this.activity.activityClassifyId = this.id;
                        } else {
                            $this.$set($this.activityClassifies[i], "selected", false);
                        }
                    });
                },
                toAddActivityClassify: function () {
                    var $this = this;
                    $this.addEditActivityClassify = {
                        id: null,
                        name: ""
                    };
                    $this.addEditActivityClassifyWindowShow = true;
                },
                toEditActivityClassify: function (index, e) {
                    e.stopPropagation();
                    var $this = this;
                    var activityClassify = $this.activityClassifies[index];
                    $this.addEditActivityClassify = {
                        id: activityClassify.id,
                        name: activityClassify.name
                    };
                    $this.addEditActivityClassifyWindowShow = true;
                },
                addEditActivityClassifySubmit: function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.addEditActivityClassify.name)) {
                        return;
                    }
                    var isAdd = activityApp.isEmpty($this.addEditActivityClassify.id);
                    var tips = "新增";
                    var url = ctx + "/api/activity/classify/add";
                    if (!isAdd) {
                        url = ctx + "/api/activity/classify/edit";
                        tips = "修改";
                    }
                    var params = {
                        id: $this.addEditActivityClassify.id,
                        name: $this.addEditActivityClassify.name
                    };
                    app.ajaxPostWithLoading(url, params, function (data) {
                        if (data.success) {
                            var data = data.data;
                            if (isAdd) {
                                data.selected = false;
                                $this.activityClassifies.push(data);
                            } else {
                                $($this.activityClassifies).each(function (i) {
                                    if (this.id == data.id) {
                                        data.selected = this.selected;
                                        $this.activityClassifies.splice(i, 1, data);
                                        return false;
                                    }
                                });
                            }
                            $this.addEditActivityClassifyWindowShow = false;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = tips + "分类失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg(tips + "分类失败");
                    });
                },
                toDeleteActivityClassify: function (index, e) {
                    e.stopPropagation();
                    var $this = this;
                    var activityClassify = $this.activityClassifies[index];
                    $this.deleteActivityClassifyId = activityClassify.id;
                    $this.deleteActivityClassifyWindowShow = true;
                },
                deleteActivityClassifySubmit: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/classify/"+ $this.deleteActivityClassifyId +"/delete";
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        $this.deleteActivityClassifyWindowShow = false;
                        if (data.success) {
                            $($this.activityClassifies).each(function (i) {
                                if (this.id == $this.deleteActivityClassifyId) {
                                    if (this.selected) {
                                        $this.activity.activityClassifyId = null;
                                    }
                                    $this.activityClassifies.splice(i, 1);
                                    return false;
                                }
                            });
                        } else {
                            var errorMessage = data.errorMessage;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "删除分类失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        $this.deleteActivityClassifyWindowShow = false;
                        app.showMsg("删除分类失败");
                    });
                },
                // 计算限制人数value
                calPersonLimitValue: function () {
                    var $this = this;
                    $this.personLimitValue = $this.sign.signUp.limitPerson ? 1 : 0;
                },
                // 验证输入
                validateForm: function () {
                    var $this = this;
                    if (activityApp.isEmpty($this.activity.name)) {
                        app.showMsg("活动名称不能为空");
                        return false;
                    }
                    if (activityApp.isEmpty($this.activity.startTime)) {
                        app.showMsg("活动开始时间不能为空");
                        return false;
                    }
                    if (activityApp.isEmpty($this.activity.endTime)) {
                        app.showMsg("活动结束时间不能为空");
                        return false;
                    }
                    if (activityApp.isEmpty($this.activity.coverCloudId)) {
                        app.showMsg("请上传活动封面");
                        return false;
                    }
                    if (activityApp.isEmpty($this.activity.activityClassifyId)) {
                        app.showMsg("活动分类不能为空");
                        return false;
                    }
                    // 参与范围
                    if (activityApp.isEmpty($this.participatedOrgs) || $this.participatedOrgs.length < 1) {
                        app.showMsg("请选择参与范围");
                        return false;
                    }
                    // 报名和签到至少应该开启一个
                    if (!$this.enableSignUp && !$this.enableSignIn) {
                        app.showMsg("报名或签到功能请至少开启一项");
                        return false;
                    }
                    // 报名设置
                    if ($this.enableSignUp) {
                        if (activityApp.isEmpty($this.sign.signUp.startTime)) {
                            app.showMsg("报名开始时间不能为空");
                            return false;
                        }
                        if (activityApp.isEmpty($this.sign.signUp.endTime)) {
                            app.showMsg("报名结束时间不能为空");
                            return false;
                        }
                        if ($this.sign.signUp.limitPerson) {
                            // 启用人数限制
                            if ($this.sign.signUp.personLimit < 1) {
                                app.showMsg("报名限制的人数不能小于1");
                                return false;
                            }
                        }
                        if ($this.sign.signUp.fillInfo) {
                            if (activityApp.isEmpty($this.sign.signUp.fillInfoFormId)) {
                                app.showMsg("请选择报名需要填写的表单");
                                return false;
                            }
                        }
                        if (activityApp.isEmpty($this.sign.signUp.btnName)) {
                            app.showMsg("报名按钮名称不能为空");
                            return false;
                        }
                    }
                    // 签到设置
                    if ($this.enableSignIn) {
                        // 签到方式
                        if ($this.sign.signIn.way == 2) {
                            // 位置签到
                            if (activityApp.isEmpty($this.sign.signIn.address)) {
                                app.showMsg("签到位置不能为空");
                                return false;
                            }
                        }
                        if (activityApp.isEmpty($this.sign.signIn.startTime)) {
                            app.showMsg("签到开始时间不能为空");
                            return false;
                        }
                        if (activityApp.isEmpty($this.sign.signIn.endTime)) {
                            app.showMsg("签到结束时间不能为空");
                            return false;
                        }
                        if ($this.sign.signIn.fillInfo) {
                            if (activityApp.isEmpty($this.sign.signIn.fillInfoFormId)) {
                                app.showMsg("请选择签到需要填写的表单");
                                return false;
                            }
                        }
                        if (activityApp.isEmpty($this.sign.signIn.btnName)) {
                            app.showMsg("签到按钮名称不能为空");
                            return false;
                        }
                    }
                    // 签退设置
                    if ($this.enableSignOut) {
                        // 签到方式
                        if ($this.sign.signOut.way == 2) {
                            // 位置签到
                            if (activityApp.isEmpty($this.sign.signOut.address)) {
                                app.showMsg("签退位置不能为空");
                                return false;
                            }
                        }
                        if (activityApp.isEmpty($this.sign.signOut.startTime)) {
                            app.showMsg("签退开始时间不能为空");
                            return false;
                        }
                        if (activityApp.isEmpty($this.sign.signOut.endTime)) {
                            app.showMsg("签退结束时间不能为空");
                            return false;
                        }
                        if ($this.sign.signOut.fillInfo) {
                            if (activityApp.isEmpty($this.sign.signOut.fillInfoFormId)) {
                                app.showMsg("请选择签退需要填写的表单");
                                return false;
                            }
                        }
                        if (activityApp.isEmpty($this.sign.signOut.btnName)) {
                            app.showMsg("签退按钮名称不能为空");
                            return false;
                        }
                    }
                    return true;
                },
                preStep: function () {
                    var $this = this;
                    if ($this.step > 1) {
                        $this.step--;
                    }
                },
                // 下一步（创建活动）
                nextStep: function () {
                    var $this = this;
                    if (!$this.validateForm()) {
                        return;
                    }
                    // 创建活动
                    var url = ctx + "/api/activity/new";
                    var sign = $.extend({}, $this.sign);
                    if (!$this.enableSignUp) {
                        sign.signUp = null;
                    }
                    if (!$this.enableSignIn) {
                        sign.signIn = null;
                    }else {
                        var way = sign.signIn.way;
                        switch (way) {
                            case 1:
                            case 3:
                                sign.signIn.address = "";
                                sign.signIn.longitude = null;
                                sign.signIn.dimension = null;
                                break;
                            default:
                        }
                    }
                    if (!$this.enableSignOut) {
                        sign.signOut = null;
                    }else {
                        var way = sign.signIn.way;
                        switch (way) {
                            case 1:
                            case 3:
                                sign.signOut.address = "";
                                sign.signOut.longitude = null;
                                sign.signOut.dimension = null;
                                break;
                            default:
                        }
                    }
                    var params = {
                        activityJsonStr: activityApp.getJsonStr($this.activity),
                        participateScopeJsonStr: activityApp.getJsonStr($this.participatedOrgs),
                        signJsonStr: activityApp.getJsonStr(sign)
                    };
                    app.ajaxPostWithLoading(url, params, function (data) {
                        if (data.success) {
                            app.activityChanged();
                            var activityData = data.data;
                            $this.$set($this.activity, "id", activityData.id);
                            $this.$set($this.sign, "id", activityData.signId);
                            $this.step = 2;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "创建活动失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("创建活动失败");
                    });
                },
                // 编辑活动提交
                save: function () {
                    var $this = this;
                    if (!$this.validateForm()) {
                        return;
                    }
                    var url = ctx + "/api/activity/edit";
                    var sign = $.extend({}, $this.sign);
                    if (!$this.enableSignUp) {
                        sign.signUp = null;
                    }
                    if (!$this.enableSignIn) {
                        sign.signIn = null;
                    }
                    if (!$this.enableSignOut) {
                        sign.signOut = null;
                    }
                    var params = {
                        activityJsonStr: activityApp.getJsonStr($this.activity),
                        participateScopeJsonStr: activityApp.getJsonStr($this.participatedOrgs),
                        signJsonStr: activityApp.getJsonStr(sign)
                    };
                    app.ajaxPostWithLoading(url, params, function (data) {
                        if (data.success) {
                            app.activityChanged();
                            var activityData = data.data;
                            $this.$set($this.sign, "id", activityData.signId);
                            if (activityApp.isEmpty($this.activity.pageId)) {
                                $this.step = 2;
                            } else {
                                app.showMsg("修改活动成功", function () {
                                    window.close();
                                });
                            }
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "修改活动失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("修改活动失败");
                    });
                },
                // 选中活动的日期范围
                selectActivityDate: function (obj) {
                    var $this = this;
                    $this.activity.startTime = obj[0];
                    $this.activity.endTime = obj[1];
                },
                // 选中报名的时间范围
                selectSignUpTime: function (obj) {
                    var $this = this;
                    $this.sign.signUp.startTime = obj[0];
                    $this.sign.signUp.endTime = obj[1];
                },
                // 选中签到的时间范围
                selectSignInTime: function (obj) {
                    var $this = this;
                    $this.sign.signIn.startTime = obj[0];
                    $this.sign.signIn.endTime = obj[1];
                },
                // 选中签退的时间范围
                selectSignOutTime: function (obj) {
                    var $this = this;
                    $this.sign.signOut.startTime = obj[0];
                    $this.sign.signOut.endTime = obj[1];
                },
                // 预览模板
                previewTemplate: function (index) {
                    var $this = this;
                    var webTemplate = $this.webTemplates[index];
                    window.open(webTemplate.previewUrl);
                },
                // 选择模板
                selectTemplate: function (index) {
                    var $this = this;
                    var webTemplate = $this.webTemplates[index];
                    $this.handleWebTemplateId = webTemplate.id;
                    var url = ctx + "/api/activity/"+ $this.activity.id +"/bind/template/" + webTemplate.id;
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            app.activityChanged();
                            var editUrl = data.data.editUrl;
                            $this.$set($this.activity, "webTemplateId", $this.handleWebTemplateId);
                            app.showMsg("选择模板成功", function () {
                                // 到编辑门户页面
                                window.location.replace(editUrl);
                            });
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "选择模板失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("选择模板失败");
                    });
                },
                // 预览页面
                previePage: function () {
                    var $this = this;
                    window.open($this.activity.previewUrl);
                },
                // 配置页面
                configPage: function () {
                    var $this = this;
                    window.location.href = $this.activity.editUrl;
                },
                // 复制预览地址
                copyTemplatePreviewUrl: function () {
                    var $this = this;
                    $("#template-preview-url-input")[0].select();
                    document.execCommand("copy");
                    app.showMsg("复制成功");
                }
            }
        })
    </script>
</div>
</body>
</html>