<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>管理员</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css" th:href="@{/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/layui/css/layui.css" th:href="@{/pc/assets/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/sign/assets/css/confirm_dialog.css" th:href="@{/pc/assets/sign/assets/css/confirm_dialog.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/choose-dialog.css" th:href="@{/pc/assets/css/choose-dialog.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/organizer-manage.css" th:href="@{/pc/assets/css/organizer-manage.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/limits-manage.css" th:href="@{/pc/assets/css/limits-manage.css}">
    <link rel="stylesheet" href="/static/mobile/assets/lib/mescroll/mescroll.css" th:href="@{/mobile/assets/lib/mescroll/mescroll.css}">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="manage-container" id="activity-manager-vue" v-cloak>
    <div class="manage-header" v-show="false">
        管理员
    </div>
    <div class="manage-content" id="manager-content">
        <div class="btn-add btn-size fl" @click="toAdd">
            <img th:src="@{/pc/assets/images/add-small.png}">
            <span>添加</span>
        </div>
        <div class="btn-del-disable btn-size fl" v-show="!batchEnable">批量移除</div>
        <div class="btn-del btn-size fl" v-show="batchEnable" @click="toBatchDelete">批量移除</div>
        <div class="clear"></div>
        <table class="table-box table-th-three">
            <thead>
            <tr>
                <th class="check-box">
                    <el-checkbox v-model="allChecked" :disabled="!allCheckEnable" class="check-item-checkbox fl" @change="changeAllChecked"></el-checkbox>
                </th>
                <th>姓名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(manager, index) of managers" :key="'manager-' + index">
                <th class="check-box">
                    <el-checkbox class="check-item-checkbox fl" :disabled="isCreator(manager.uid)" v-model="manager.checked" @change="changeChecked"></el-checkbox>
                </th>
                <th>{{manager.userName}}</th>
                <th>
                    <span v-if="isCreator(manager.uid)">-</span>
                    <template v-else>

                        <span @click="openPermissionDialog(index)">权限设置</span>
                        <!--活动创建者不显示移除按钮-->
                        <span @click="toDelete(index)">移除</span>
                    </template>
                </th>
            </tr>
            </tbody>
        </table>
        <div class="no-content" v-if="managers.length < 1 && loaded">
            暂无内容
        </div>
    </div>

    <!-- 权限设置弹出框 -->
    <el-dialog class="manageStatusDialog" title="权限设置" :visible.sync="permissionDialogShow" width="422px"
               :before-close="handleClose">
        <div class="manage-name">
            <span>{{operateManagerName}}</span> 拥有以下模块的管理权限
        </div>
        <div class="manage-status" v-for="menu in menus">
            <span class="limit-name">{{menu.name}}</span>
            <el-switch v-model="menu.active"></el-switch><span class="limit-detail">{{menu.desc}}</span>
        </div>
        <span slot="footer" class="dialog-footer">
                <div @click="handleClose" class="btn-size btn-cancel">取消</div>
                <div @click="confirmConfig" class="btn-size btn-submit">确定</div>
            </span>
    </el-dialog>

    <!-- 移除弹窗 -->
    <vue-confirm ref="deleteWindow" :message="'确定移除吗？'" :cancel="'取消'" :sure="'移除'" @callback="deleteSubmit"></vue-confirm>
    <!--批量移除弹窗-->
    <vue-confirm ref="batchDeleteWindow" :message="'确定移除吗？'" :cancel="'取消'" :sure="'移除'" @callback="batchDeleteSubmit"></vue-confirm>
    <!--人员选择-->
    <vue-user-select ref="userSelectWindow" @callback="userSelectSubmit"></vue-user-select>
</div>
</body>
<th:block th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/jquery.nicescroll.min.js" th:src="@{/pc/assets/lib/jquery.nicescroll.min.js}"></script>
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/layui/layui.js" th:src="@{/pc/assets/lib/layui/layui.js}"></script>
    <script src="/static/pc/assets/component/confirm.js" th:src="@{/pc/assets/component/confirm.js}"></script>
    <script src="/static/pc/assets/component/user-select.js" th:src="@{/pc/assets/component/user-select.js}"></script>
    <script src="/static/mobile/assets/lib/mescroll/mescroll.js" th:src="@{/mobile/assets/lib/mescroll/mescroll.js}"></script>
    <script th:inline="javascript">
        activityManagerVue = new Vue({
            el: "#activity-manager-vue",
            data: {
                activity: [[${activity}]],
                activityId: [[${activity.id}]],
                managerUids: [[${managerUids}]],
                menus: [[${menus}]],
                // 管理员
                managers: [],
                managerQueryParams: {
                    pageNum: 1,
                    pageSize: 10
                },
                operateIndex: null,
                operateManagerName: "",
                permissionDialogShow: false,
                allChecked: false,
                loaded: false
            },
            created: function () {
                var $this = this;
                // 解决跨域
                document.domain = "chaoxing.com";
            },
            mounted: function () {
                var $this = this;
                $this.loadManagers();
                $this.initMenu("");
            },
            computed: {
                "batchEnable": function () {
                    var $this = this;
                    var existChecked = false;
                    $($this.managers).each(function () {
                        if (this.checked && !$this.isCreator(this.uid)) {
                            existChecked = true;
                            return false;
                        }
                    });
                    return existChecked;
                },
                "allCheckEnable": function () {
                    var $this = this;
                    var allCheckEnable = false;
                    $($this.managers).each(function () {
                        if (!$this.isCreator(this.uid)) {
                            allCheckEnable = true;
                            return false;
                        }
                    });
                    return allCheckEnable;
                }
            },
            methods: {
                initMenu: function (existMenus) {
                    var $this = this;
                    existMenus = existMenus || "";
                    $($this.menus).each(function () {
                        // 临时active属性初始化为false
                        $this.$set(this, 'active', existMenus.indexOf(this.value) != -1)
                    });
                },
                loadManagers: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/list";
                    app.ajaxPost(url, $this.managerQueryParams, function (data) {
                        if (data.success) {
                            $this.loaded = true;
                            var managers = data.data.records;
                            $(managers).each(function () {
                                this.checked = false;
                            });
                            $this.managers = managers;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载管理员失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("加载管理员失败");
                    });
                },
                // 是不是创建者
                isCreator: function (uid) {
                    var $this = this;
                    return $this.activity.createUid == uid;
                },
                changeAllChecked: function () {
                    var $this = this;
                    $($this.managers).each(function (i) {
                        if (!$this.isCreator(this.uid)) {
                            $this.$set($this.managers[i], "checked", $this.allChecked);
                        }
                    });
                },
                changeChecked: function () {
                    var $this = this;
                    var allChecked = true;
                    $($this.managers).each(function () {
                        if (!this.checked && !$this.isCreator(this.uid)) {
                            allChecked = false;
                            return false;
                        }
                    });
                    $this.allChecked = allChecked;
                },
                toAdd: function () {
                    var $this = this;
                    $this.$refs.userSelectWindow.show = true;
                },
                userSelectSubmit: function () {
                    var $this = this;
                    var selectedUsers = $this.$refs.userSelectWindow.selectedUsers;
                    var users = [];
                    $(selectedUsers).each(function () {
                        users.push({
                            activityId: $this.activityId,
                            uid: this.puid,
                            userName: this.name
                        });
                    });
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/add/batch";
                    app.ajaxPostWithPayload(url, JSON.stringify(users), function (data) {
                        if (data.success) {
                            $this.addShow = false;
                            app.showMsg("操作成功", function () {
                                window.location.reload();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("添加失败");
                    }, '添加');
                },
                // 打开权限配置弹窗，并进行相应数据初始化
                openPermissionDialog: function (index) {
                    var $this = this;
                    var manager = $this.managers[index];
                    $this.operateIndex = index;
                    $this.operateManagerName = manager.userName;
                    $this.initMenu(manager.menu);
                    $this.permissionDialogShow = true;
                },
                // 确认权限配置
                confirmConfig: function () {
                    var $this = this;
                    var menus = [];
                    $($this.menus).each(function () {
                        if (this.active) {
                            menus.push(this.value);
                        }
                    });
                    $this.managers[$this.operateIndex].menu = menus.join(",");
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/menus/config";
                    app.ajaxPostWithPayload(url, JSON.stringify($this.managers[$this.operateIndex]), function (data) {
                        if (data.success) {
                            app.showMsg("操作成功", function () {
                                $this.handleClose();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("权限配置失败");
                    }, '权限配置');
                },
                handleClose() {
                    this.permissionDialogShow = false;
                },
                toDelete: function (index) {
                    var $this = this;
                    $this.operateIndex = index;
                    $this.$refs.deleteWindow.show = true;
                },
                toBatchDelete: function (l) {
                    var $this = this;
                    $this.$refs.batchDeleteWindow.show = true;
                },
                deleteSubmit: function () {
                    var $this = this;
                    var deleteManager = $this.managers[$this.operateIndex];
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/" + deleteManager.uid + "/delete";
                    $this.$refs.deleteWindow.show = false;
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            app.showMsg("操作成功", function () {
                                window.location.reload();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("操作成功");
                    }, '处理');
                },
                batchDeleteSubmit: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/" + $this.activityId + "/manager/delete/batch";
                    var uids = [];
                    $($this.managers).each(function () {
                        if (this.checked) {
                            uids.push(this.uid);
                        }
                    });
                    $this.$refs.batchDeleteWindow.show = false;
                    app.ajaxPostWithPayload(url, JSON.stringify(uids), function (data) {
                        if (data.success) {
                            app.showMsg("操作成功", function () {
                                window.location.reload();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("操作失败");
                    }, '');
                }
            }
        });
    </script>
</th:block>
</html>
