<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title th:text="${activity.name}">活动主页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/activityHomePage.css" th:href="@{/pc/assets/css/activityHomePage.css}">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container" id="activity-vue" v-cloak>
        <div class="slider">
            <div class="title color333">
                <div class="title-box">
                    <img :src="activity | getCloudImgUrl(cloudDomain)" alt="">
                    <span class="title-name ">{{activity.name}}</span>
                    <div class="clear"></div>
                </div>
                <div class="title-pop">
                    <div class="img">
                        <img :src="activity | getCloudImgUrl(cloudDomain)" alt="">
                    </div>
                    <div class="pop-info">
                        <p class="color333 fs14 font600">{{activity.name}}</p>
                        <p class="color666 fs14 info-time">{{activity.startTime | timestampScopeFormat(activity.endTime)}}</p>
                        <div id="qrCodeMini" @click="showActivityHomeQrcode"></div>
                        <p class="fs12 color999">扫码访问首页</p>
                    </div>
                </div>
            </div>
            <hr class="divider">
            <div class="menu color333">
                <div class="entry menu-item">
                    <div :class="{item: true, active: menu.selected}" v-for="(menu, index) in menus" :key="'activity-menu-' + index" @click="selectMenu(index)">
                        <img v-show="menu.selected" :src="menu.activeIconUrl">
                        <img v-show="!menu.selected" :src="menu.defaultIconUrl">
                        <span>
                            {{menu.name}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <iframe id="content" src=""></iframe>
        </div>
        <!--正常二维码-->
        <el-dialog
                :visible.sync="activityHomeQrcodeShow"
                    custom-class="qrCode-dialog"
                width="428px"
                center>
            <div class="inner">
                <div id="qrCode"></div>
                <p class="tips">扫码访问</p>
            </div>

        </el-dialog>
    </div>
</body>
</html>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/layui/layui.js" th:src="@{/pc/assets/lib/layui/layui.js}"></script>
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/jquery.qrcode.min.js" th:src="@{/pc/assets/lib/jquery.qrcode.min.js}"></script>
    <script th:inline="javascript">
        var signWebSimpleDomain = [[${signWebDomain}]];
        signWebSimpleDomain = signWebSimpleDomain.replace(/http(|s):\/\//, "");
        var xiamenTrainingPlatformDomain = [[${xiamenTrainingPlatformDomain}]];
        xiamenTrainingPlatformDomain = xiamenTrainingPlatformDomain.replace(/http(|s):\/\//, "")

        var vm = new Vue({
            el: '#activity-vue',
            data: function () {
                return {
                    mainDomain: [[${mainDomain}]],
                    signWebDomain: [[${signWebDomain}]],
                    cloudDomain: [[${cloudDomain}]],
                    activity: [[${activity}]],
                    loginUser: [[${session._login_user_}]],
                    signActivityManageIndex: [[${signActivityManageIndex}]],
                    customMenus: [],    // 自定义菜单列表
                    visibleMenus: [],   //  当前用户所能看到的菜单code列表
                    // 系统应用菜单enums
                    systemMenus: {
                        // 报名签到
                        sign_up: {
                            name: [[${signActivityManageIndex.signUpKeyword == null || signActivityManageIndex.signUpKeyword == '' ? '报名' : signActivityManageIndex.signUpKeyword}]] + "名单",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-project-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-project-active.png",
                            url: "//" + signWebSimpleDomain + "/manage/sign-up?signId=" + [[${signActivityManageIndex.signId}]],
                            selected: false
                        },
                        sign_in: {
                            name: "签到管理",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-sign-in-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-sign-in-active.png",
                            url: "//" + signWebSimpleDomain + "/manage/sign-in/list?signId=" + [[${signActivityManageIndex.signId}]],
                            selected: false
                        },
                        form_collection: {
                            name: "表单采集",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-file-text-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-file-text-active.png",
                            url: "//" + signWebSimpleDomain + "/manage/form-collection/list?signId=" + [[${signActivityManageIndex.signId}]],
                            selected: false
                        },
                        task: {
                            name: "任务",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-form-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-form-active.png",
                            url: "//" + xiamenTrainingPlatformDomain + "/activity/task?activityId=" + [[${activity.id}]],
                            selected: false
                        },
                        discuss: {
                            name: "讨论",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-discuss-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-discuss-active.png",
                            url: "//" + xiamenTrainingPlatformDomain + "/activity/work?activityId=" + [[${activity.id}]] + "&uid=" + [[${session._login_user_.uid}]],
                            selected: false
                        },
                        homework: {
                            name: "作业",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-module-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-module-active.png",
                            url: "//" + xiamenTrainingPlatformDomain + "/activity/discuss?activityId=" + [[${activity.id}]] + "&uid=" + [[${session._login_user_.uid}]],
                            selected: false
                        },
                        review_management: {
                            name: "评审",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-audit-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-audit-active.png",
                            url: "//" + xiamenTrainingPlatformDomain + "/review/list?activityId=" + [[${activity.id}]],
                            selected: false
                        },
                        results_manage: {
                            name: "考核管理",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-assess-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-assess-active.png",
                            url: ctx + "/activity/" + [[${activity.id}]] + "/results/manage",
                            selected: false
                        },
                        // 证书
                        certificate: {
                            name: "证书发放",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-certificate-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-certificate-active.png",
                            url: ctx + "/activity/" + [[${activity.id}]] + "/certificate",
                            selected: false
                        },
                        // 通知
                        notice: {
                            name: "发通知",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-volume-notice-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-volume-notice-active.png",
                            url: "//" + signWebSimpleDomain + "/manage/notice/add?signId=" + [[${signActivityManageIndex.signId}]],
                            selected: false
                        },
                        // 统计
                        stat: {
                            name: "统计",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-statistics-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-statistics-active.png",
                            url: ctx + "/activity/" + [[${activity.id}]] + "/stat",
                            selected: false
                        },
                        setting: {
                            name: "设置",
                            defaultIconUrl: ctx + "/pc/assets/images/unified-icons/icon-setting2-default.png",
                            activeIconUrl: ctx + "/pc/assets/images/unified-icons/icon-setting2-active.png",
                            url: ctx + "/activity/" + [[${activity.id}]] + "/setting/index",
                            selected: false
                        }
                    },
                    menus: [],
                    iframeUrl: "",
                    activityHomeQrcodeShow: false,
                    activityHomeQrcodeGenerated: false
                }
            },
            created: function () {
                var $this = this;
                // 解决跨域
                document.domain = $this.mainDomain;
                $this.$nextTick(function () {
                    $this.handleActivityMenus();
                    app.bindActivityChangeEvent(function (activityId) {
                        if ($this.activity.id == activityId) {
                            window.location.reload();
                        }
                    });
                })
            },
            mounted: function () {
                var $this = this;
                $this.$nextTick(function (){
                    $this.resizePageHeight();
                    var url = $this.activity.previewUrl;
                    $('#qrCodeMini').qrcode({
                        text: url,
                        width: 62,
                        height: 62
                    });
                    window.onresize = function () {
                        $this.resizePageHeight();
                    };
                    $this.selectMenu(0);
                });

            },
            methods: {
                handleActivityMenus: function () {
                    var $this = this;
                    // 初始化
                    $this.visibleMenus = []; $this.customMenus = [];
                    var menuSequenceMap = {};

                    var userActivityMenus = [[${userActivityMenus}]] || [];
                    $(userActivityMenus).each(function () {
                        menuSequenceMap[this.code] = this.sequence;
                        // 将菜单code 放进visibleMenus，后续做菜单显隐控制判断
                        if (!$this.visibleMenus.includes(this.code)) {
                            $this.visibleMenus.push(this.code);
                        }
                        // 非系统模块菜单
                        if (!this.system) {
                            this.url += "?activityId=" + $this.activity.id + "&uid=" + $this.loginUser.uid + "&state=" + $this.loginUser.fid;
                            $this.customMenus.push(this);
                            $this.menus.push({
                                name: this.name,
                                code: this.code,
                                defaultIconUrl: this.defaultIconUrl,
                                activeIconUrl: this.activeIconUrl,
                                url: this.url ,
                                openBlank: this.openBlank || false,
                                selected: false
                            });
                        }
                    });
                    // 系统菜单处理
                    var systemMenuCodes = Object.keys($this.systemMenus);
                    var interactionMenus = ['task', 'discuss', 'homework', 'review_management']
                    for (var i = 0 ; i < systemMenuCodes.length; i++) {
                        var menu = systemMenuCodes[i];
                        var sysMenu = $this.systemMenus[menu];
                        sysMenu.openBlank = false;

                        if (menu == 'sign_up') {
                            var { signUpExist, signUpIds } = $this.signActivityManageIndex;
                            var existSignUp = signUpExist && signUpIds && (signUpIds.length > 0);
                            // 若报名不存在，则不将报名加入菜单中
                            if (!existSignUp) {
                                continue;
                            }
                            if (signUpIds.length > 1) {
                                sysMenu.name = ($this.signActivityManageIndex.signUpKeyword || '报名') + "项目";
                            }
                        }
                        // 含有班级互动菜单，却未开启班级互动，则菜单过滤掉
                        if (interactionMenus.includes(menu) && !$this.activity.openClazzInteraction) {
                            continue;
                        }
                        if ($this.visibleMenus.includes(menu)) {
                            sysMenu.sequence = menuSequenceMap[menu] || i;
                            $this.menus.push(sysMenu);
                        }
                    }
                    // 菜单排序
                    $this.menus.sort(function(a, b) { return a.sequence - b.sequence; });
                },
                selectMenu: function (index) {
                    var $this = this;
                    $($this.menus).each(function () {
                        $this.$set(this, "selected", false);
                    });
                    $this.$set($this.menus[index], "selected", true);
                    var url = $this.menus[index].url;
                    var protocol = location.protocol;
                    if (url.startsWith("http")) {
                        var urlProtocol = url.startsWith("https:") ? "https:" : "http:";
                        if (protocol != urlProtocol) {
                            url = url.replace(urlProtocol, protocol);
                        }
                    }
                    var openBlank = $this.menus[index].openBlank || false;
                    $this.loadUrl(url, openBlank);
                },
                loadUrl: function (url, openBlank) {
                    var $this = this;
                    if (url.indexOf("?") != -1) {
                        url += "&";
                    } else {
                        url += "?";
                    }
                    url += "time=" + new Date().getTime();
                    if (openBlank) {
                        window.open(url);
                        return;
                    }
                    $("#content")[0].src = url;
                    $("#content")[0].onload = function() {
                        $this.resizePageHeight();
                    };
                },
                resizePageHeight: function () {
                    // container的最小高度
                    var containerMinHeight = $(".container").css("min-height");
                    containerMinHeight = containerMinHeight.replace(/px/gi, "");
                    var containerHeight = $(".container").height();
                    // 窗口的高度
                    var windowHeight = $(window).height() - 40;
                    // iframe的高度
                    var iframeHeight = $("#content").height();
                    // iframe中内容的真实高度
                    var iframeContentHeight = $("#content").contents().find("body").find("div:first-child").height() + 24;
                    // container应该取最大高度
                    var maxHeight = containerMinHeight > containerHeight ? containerMinHeight : containerHeight;
                    maxHeight = maxHeight > windowHeight ? maxHeight : windowHeight;
                    maxHeight = maxHeight > iframeHeight ? maxHeight : iframeHeight;
                    maxHeight = maxHeight > iframeContentHeight ? maxHeight : iframeContentHeight;
                    // 如果窗口高度能满足最大高度就是用窗口高度
                    if (windowHeight > iframeContentHeight) {
                        maxHeight = windowHeight;
                    }
                    $(".container").height(maxHeight);
                    $("#content").height(maxHeight);
                    $("#content").contents().find("body").height(maxHeight);
                },
                showActivityHomeQrcode: function () {
                    var $this = this;
                    $this.activityHomeQrcodeShow = true;
                    $this.$nextTick(function () {
                        $this.generateActivityHomeQrcode();
                    });
                },
                generateActivityHomeQrcode: function () {
                    var $this = this;
                    if ($this.activityHomeQrcodeGenerated) {
                        return;
                    }
                    var url = $this.activity.previewUrl;
                    $("#qrCode").qrcode({
                        text: url,
                        width: 300,
                        height: 300
                    });
                    $this.activityHomeQrcodeGenerated = true;
                }
            }
        });

    </script>
</div>


