<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title th:text="${activity.name}">活动主页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/pc/assets/css/activityHomePage.css" th:href="@{/pc/assets/css/activityHomePage.css}">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container" id="activity-vue" v-cloak>
    <div class="slider">
        <div class="title">
            <span th:text="${activity.name}">成都少儿阅读活动</span>
        </div>
        <div class="menu">
            <div class="entry">
                <!--报名名单-->
                <div :class="{'item': true, 'active': menus.signUpList.selected}" v-if="signActivityManageIndex.signUpExist" @click="toSignUpList">
                    <img :src="menus.signUpList.activeIconUrl" v-if="menus.signUpList.selected">
                    <img :src="menus.signUpList.defaultIconUrl" v-else>
                    <span>{{menus.signUpList.name}}</span>
                </div>
                <!--签到管理-->
                <div :class="{'item': true, 'active': menus.signInManage.selected}" @click="toSignInManage">
                    <img :src="menus.signInManage.activeIconUrl" v-if="menus.signInManage.selected">
                    <img :src="menus.signInManage.defaultIconUrl" v-else>
                    <span>{{menus.signInManage.name}}</span>
                </div>
            </div>
            <div class="entry">
                <!--成绩管理-->
                <div :class="{'item': true, 'active': menus.resultsManage.selected}" v-if="signActivityManageIndex.signUpExist || signActivityManageIndex.signInExist" @click="toResultsManage">
                    <img :src="menus.resultsManage.activeIconUrl" v-if="menus.resultsManage.selected">
                    <img :src="menus.resultsManage.defaultIconUrl" v-else>
                    <span>{{menus.resultsManage.name}}</span>
                </div>
            </div>
            <div class="message" v-if="signActivityManageIndex.signUpExist">
                <!--发通知-->
                <div :class="{'item': true, 'active': menus.notice.selected}" @click="toAddNotice">
                    <img :src="menus.notice.activeIconUrl" v-if="menus.notice.selected">
                    <img :src="menus.notice.defaultIconUrl" v-else>
                    <span>{{menus.notice.name}}</span>
                </div>
            </div>
            <div class="statistics" v-show="false">
                <!--统计-->
                <div :class="{'item': true, 'active': menus.stat.selected}">
                    <img :src="menus.stat.activeIconUrl" v-if="menus.stat.selected">
                    <img :src="menus.stat.defaultIconUrl" v-else>
                    <span>{{menus.stat.name}}</span>
                </div>
            </div>
        </div>
        <div class="edit">
            <div class="item" @click="toEdit">
                <img src="/static/pc/assets/images/icon-edit-default.png" th:src="@{/pc/assets/images/icon-edit-default.png}">
                <span>编辑活动</span>
            </div>
        </div>
    </div>
    <div class="content">
        <iframe id="content" src=""></iframe>
    </div>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script th:inline="javascript">
        activityVue = new Vue({
            el: "#activity-vue",
            data: {
                activity: [[${activity}]],
                signActivityManageIndex: [[${signActivityManageIndex}]],
                menus: {
                    // 报名签到
                    signUpList: {name: "报名名单", defaultIconUrl: ctx + "/pc/assets/images/icon-name-list-default.png", activeIconUrl: ctx + "/pc/assets/images/icon-name-list-active.png", url: "//reading.chaoxing.com/qd/manage/sign-up/" + [[${signActivityManageIndex.signUpId}]], selected: false},
                    signInManage: {name: "签到管理", defaultIconUrl: ctx + "/pc/assets/images/icon-sign-in-default.png", activeIconUrl: ctx + "/pc/assets/images/icon-sign-in-active.png", url: "//reading.chaoxing.com/qd/manage/sign-in/list?signId=" + [[${signActivityManageIndex.signId}]], selected: false},
                    resultsManage: {name: "成绩管理", defaultIconUrl: ctx + "/pc/assets/images/icon-sign-in-default.png", activeIconUrl: ctx + "/pc/assets/images/icon-sign-in-active.png", url: "//reading.chaoxing.com/qd/manage/results?signId=" + [[${signActivityManageIndex.signId}]], selected: false},
                    // 通知
                    notice: {name: "发通知", defaultIconUrl: ctx + "/pc/assets/images/icon-notice-default.png", activeIconUrl: ctx + "/pc/assets/images/icon-notice-active.png", url: "//reading.chaoxing.com/qd/manage/notice/add?signId=" + [[${signActivityManageIndex.signId}]], selected: false},
                    // 统计
                    stat: {name: "统计", defaultIconUrl: ctx + "/pc/assets/images/icon-statistics-default.png", activeIconUrl: ctx + "/pc/assets/images/icon-statistics-active.png", url: "", selected: false}
                },
                iframeUrl: ""
            },
            created: function () {
                var $this = this;
                // 解决跨域
                document.domain = "chaoxing.com";
                app.bindActivityChangeEvent(function (activityId) {
                    if ($this.activity.id == activityId) {
                        window.location.reload();
                    }
                });
            },
            mounted: function () {
                var $this = this;
                $this.resizePageHeight();
                window.onresize = function () {
                    $this.resizePageHeight();
                };
                if ($this.signActivityManageIndex.signUpExist) {
                    $this.toSignUpList();
                }else {
                    $this.toSignInManage();
                }
            },
            methods: {
                resizePageHeight: function () {
                    // container的最小高度
                    var containerMinHeight = $(".container").css("min-height");
                    containerMinHeight = containerMinHeight.replaceAll("px", "");
                    var containerHeight = $(".container").height();
                    // 窗口的高度
                    var windowHeight = $(window).height() - 40;
                    // iframe的高度
                    var iframeHeight = $("#content").height();
                    // iframe中内容的真实高度
                    var iframeContentHeight = $("#content").contents().find("body").find("div:first-child").height() + 24;
                    // container应该取最大高度
                    var maxHeight = containerMinHeight > containerHeight ? containerMinHeight : containerHeight;
                    maxHeight = maxHeight > windowHeight ? maxHeight : windowHeight;
                    maxHeight = maxHeight > iframeHeight ? maxHeight : iframeHeight;
                    maxHeight = maxHeight > iframeContentHeight ? maxHeight : iframeContentHeight;
                    // 如果窗口高度能满足最大高度就是用窗口高度
                    if (windowHeight > iframeContentHeight) {
                        maxHeight = windowHeight;
                    }
                    $(".container").height(maxHeight);
                    $("#content")[0].style.height = maxHeight + "px";
                    $("#content").contents().find("body").height(maxHeight);
                },
                loadUrl: function (url) {
                    var $this = this;
                    if (url.indexOf("?") != -1) {
                        url += "&";
                    } else {
                        url += "?";
                    }
                    $("#content")[0].src = url + "time=" + new Date().getTime();
                    $("#content")[0].onload = function() {
                        $this.resizePageHeight();
                    };
                },
                selectMenu: function (menuKey) {
                    var $this = this;
                    for (var key in $this.menus) {
                        $this.$set($this.menus[key], "selected", false);
                    }
                    $this.$set($this.menus[menuKey], "selected", true);
                    $this.loadUrl($this.menus[menuKey].url);
                },
                // 报名名单
                toSignUpList: function () {
                    var $this = this;
                    $this.selectMenu("signUpList");
                },
                // 签到管理
                toSignInManage: function () {
                    var $this = this;
                    $this.selectMenu("signInManage");
                },
                // 成绩管理
                toResultsManage: function () {
                    var $this = this;
                    $this.selectMenu("resultsManage");
                },
                // 发通知
                toAddNotice: function () {
                    var $this = this;
                    $this.selectMenu("notice");
                },
                // 去编辑活动
                toEdit: function () {
                    var $this = this;
                    var url = ctx + $this.activity.id + "/edit";
                    window.open(url);
                }
            }
        });

        /**
         * 重置iframe的高度
         */
        function resetIframeHeight() {
            activityVue.resizePageHeight();
        }
    </script>
</div>
</body>
</html>