<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>活动管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/css/create.css" th:href="@{/pc/assets/css/create.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css" th:href="@{/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/reset.css" th:href="@{/pc/assets/css/reset.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/manage.css" th:href="@{/pc/assets/css/manage.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/jquery.mCustomScrollbar.css" th:href="@{/pc/assets/lib/jquery.mCustomScrollbar.css}">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="page" id="activity-vue" v-cloak>
    <div class="top box">
        活动管理
    </div>
    <div class="main box">
        <div class="manage-create-btn">
            <img src="/static/pc/assets/images/icon-add.png" th:src="@{/pc/assets/images/icon-add.png}">
            <div class="text" @click="toAdd">
                创建活动
            </div>
        </div>
        <div class="search-Box">
            <el-input placeholder="活动名称/创建人/创建单位" icon="search" class="search" v-model.trim="sw" maxlength="10" suffix-icon="el-icon-search" @keyup.enter.native="search"></el-input>
            <img v-show="sw" class="btn-cancel" style="display: block;" src="/static/pc/assets/images/icon-cancel.png" th:src="@{/pc/assets/images/icon-cancel.png}" @click="clearSearch">
        </div>
        <div class="table">
            <el-table :data="activities" style="width: 100%">
                <el-table-column label="活动名称" min-width="40%">
                    <template slot-scope="scope">
                        <div class="item">
                            <div class="img">
                                <img :src="scope.row | getCloudImgUrl" class="jqthumbImg">
                            </div>
                            <div class="desc">
                                <div class="title" @click="previewPage(scope.row)">{{scope.row.name}}</div>
                                <div class="time"><span>{{scope.row.startTime | timestamp2YMDHM}}</span> ~ <span>{{scope.row.endTime | timestamp2YMDHM}}</span></div>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column label="创建单位" min-width="15%">
                    <template slot-scope="scope">
                        <div class="overHidden2">{{scope.row.createOrgName}}</div>
                    </template>
                </el-table-column>
                <el-table-column label="创建人" min-width="10%">
                    <template slot-scope="scope">
                        <div class="overHidden2">{{scope.row.createUserName}}</div>
                    </template>
                </el-table-column>
                <el-table-column label="状态" min-width="10%">
                    <template slot="header" slot-scope="scope">
                        <div class="status">{{selectedFilterStatusName}}<i class="el-icon-arrow-down el-down"></i></div>
                        <!--状态筛选-->
                        <div class="filters">
                            <p :class="{'blue': status.selected}" v-for="(status, index) of filterStatus" :key="'status-' + index" @click="changeStatus(index)">{{status.name}}</p>
                        </div>
                    </template>
                    <template slot-scope="scope">
                        <span :class="{'blue2': (scope.row.status == '1'), 'blue': (scope.row.status == '2'), 'green': (scope.row.status == '3')}">{{scope.row.status | activityStatusInstructions}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作" min-width="25%">
                    <template slot-scope="scope">
                        <div>
                            <el-button type="text" v-if="index < 3" v-for="(operation, index) of scope.row.operations" @click="operateProxy(scope.row.id, operation.value)">{{operation.name}}</el-button>
                            <div class="manage-more-btn" v-if="scope.row.operations.length > 3">
                                <el-button type="text"><img src="/static/pc/assets/images/more-vertical.png" th:src="@{/pc/assets/images/more-vertical.png}"></el-button>
                                <div class="more">
                                    <p v-if="index > 2" v-for="(operation, index) of scope.row.operations" @click="operateProxy(scope.row.id, operation.value)">{{operation.name}}</p>
                                </div>
                            </div>
                        </div>
                    </template>
                </el-table-column>
                <template slot="empty">
                    <div class="noData" v-show="loaded">
                        暂无内容
                    </div>
                </template>
            </el-table>
        </div>
        <el-pagination v-show="pages > 1" background layout="prev, pager, next" :total="total" :page-size="queryParams.pageSize" :current-page="queryParams.pageNum" @current-change="changePage" style="text-align: center;"></el-pagination>
        <!-- 删除弹窗 -->
        <vue-confirm ref="deleteWindow" :message="'删除后，将清空该活动的相关信息和记录'" :cancel="'取消'" :sure="'删除'" @callback="deleteSubmit"></vue-confirm>
        <!--下架弹窗-->
        <vue-confirm ref="releaseWindow" :message="'发布后，该活动将展示在活动市场中'" :cancel="'取消'" :sure="'发布'" @callback="release"></vue-confirm>
        <!--下架弹窗-->
        <vue-confirm ref="canReleaseWindow" :message="'下架后，该活动将不在活动广场中显示'" :cancel="'取消'" :sure="'下架'" @callback="cancelRelease"></vue-confirm>
    </div>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js}"></script>
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.min.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.min.js}"></script>
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.exedit.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.exedit.js}"></script>
    <script src="/static/pc/assets/component/confirm.js" th:src="@{/pc/assets/component/confirm.js}"></script>
    <script src="/static/pc/assets/component/activity-scope.js" th:src="@{/pc/assets/component/activity-scope.js}"></script>
    <script src="/static/pc/assets/lib/jqthumb.min.js" th:src="@{/pc/assets/lib/jqthumb.min.js}"></script>
    <script th:inline="javascript">
        Vue.filter("timestamp2YMDHM", function (timestamp) {
            var dateObj = activityApp.millisecond2DateObj(timestamp);
            return dateObj.year + "." + dateObj.month + "." + dateObj.day + " " + dateObj.hour + ":" + dateObj.minute;
        });
        activityVue = new Vue({
            el: "#activity-vue",
            data: {
                activities: [],
                uid: [[${session._login_user_.uid}]],
                fid: [[${session._login_user_.fid}]],
                filterStatus: [],
                selectedFilterStatusName: "全部",
                sw: "",
                queryParams: {
                    pageNum: 1,
                    pageSize: 8,
                    status: "",
                    sw: ""
                },
                loaded: false,
                // 总记录数
                total: 0,
                // 总页数
                pages: 0,
                // 正在处理的活动id
                processedActivityId: null,
                operations: {
                    edit: {name: "编辑", value: "edit"},
                    delete: {name: "删除", value: "delete"},
                    manage: {name: "管理", value: "manage"},
                    release: {name: "发布", value: "release"},
                    cancelRelease: {name: "下架", value: "cancelRelease"}
                },
                code: [[${code}]]
            },
            created: function () {
                var $this = this;
                $this.filterStatus = [
                    {name: "全部", value: "", selected: true},
                    {name: "待发布", value: "1", selected: false},
                    {name: "待开始", value: "2", selected: false},
                    {name: "进行中", value: "3", selected: false},
                    {name: "已结束", value: "4", selected: false}
                ];
            },
            mounted: function () {
                var $this = this;
                $this.bindEvents();
                $this.loadData();
                // 监听活动的创建，当创建或者编辑活动后重新加载数据
                document.addEventListener('visibilitychange',function(){
                    if ("visible" === document.visibilityState) {
                        // 判断storage的变化
                        if (app.isActivityChanged()) {
                            $this.loadData();
                        }
                    }
                });
            },
            methods: {
                bindEvents: function () {
                    $(document).on("click", ".status", function () {
                        $('.filters').toggle();
                        $('.el-down').toggleClass('rotate')
                    });
                    $(document).on("mouseover", ".manage-more-btn", function () {
                        $(this).children('.more').show();
                    });
                    $(document).on("mouseout", ".manage-more-btn", function () {
                        $(this).children('.more').hide();
                    });
                },
                // 处理操作顺序
                handleOperationSequence: function (activities) {
                    var $this = this;
                    if (activities && activities.length > 0) {
                        $(activities).each(function () {
                            var activity = this;
                            var isCreator = activity.createUid == $this.uid;
                            var isCurrentOrgCreated = activity.createFid == $this.fid;
                            var status = activity.status;
                            activity.operations = [];
                            switch (status) {
                                case 1:
                                    if (isCreator || isCurrentOrgCreated) {
                                        activity.operations.push($this.operations.release);
                                        activity.operations.push($this.operations.edit);
                                        if (isCreator && activity.enableSign) {
                                            activity.operations.push($this.operations.manage);
                                        }
                                        activity.operations.push($this.operations.delete);
                                    }
                                    break;
                                case 2:
                                case 3:
                                    activity.operations.push($this.operations.cancelRelease);
                                    if (isCreator || isCurrentOrgCreated) {
                                        activity.operations.push($this.operations.edit);
                                        if (isCreator && activity.enableSign) {
                                            activity.operations.push($this.operations.manage);
                                        }
                                        activity.operations.push($this.operations.delete);
                                    }
                                    break;
                                case 4:
                                    if (isCreator || isCurrentOrgCreated) {
                                        activity.operations.push($this.operations.edit);
                                        if (isCreator && activity.enableSign) {
                                            activity.operations.push($this.operations.manage);
                                        }
                                        activity.operations.push($this.operations.delete);
                                    }
                                    break;
                                default:
                            }
                        });
                    }
                },
                toAdd: function () {
                    var $this = this;
                    window.open(activityApp.getRelativeUrl("/activity/add?code=" + $this.code));
                },
                toEdit: function (id) {
                    window.open("/activity/" + id + "/edit");
                },
                // 修改状态
                changeStatus: function (index) {
                    var $this = this;
                    var status = $this.filterStatus[index];
                    $($this.filterStatus).each(function (i) {
                        if (i == index) {
                            $this.$set($this.filterStatus[i], "selected", true);
                            $this.selectedFilterStatusName = $this.filterStatus[i].name;
                        } else {
                            $this.$set($this.filterStatus[i], "selected", false);
                        }
                    });
                    $('.filters').toggle();
                    $('.el-down').removeClass('rotate')
                    $this.queryParams.status = status.value;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                changePage: function (pageNum) {
                    var $this = this;
                    $this.queryParams.pageNum = pageNum;
                    $this.loadData();
                },
                // 搜索
                search: function () {
                    var $this = this;
                    $this.queryParams.sw = $this.sw;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                // 清空搜索
                clearSearch: function () {
                    var $this = this;
                    $this.sw = "";
                    if ($this.queryParams.sw != $this.sw) {
                        $this.queryParams.sw = $this.sw;
                        // 重新搜索
                        $this.search();
                    }
                },
                loadData: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/list/managing";
                    $this.loaded = false;
                    app.ajaxPost(url, $this.queryParams, function (data) {
                        $this.loaded = true;
                        if (data.success) {
                            $this.handleOperationSequence(data.data.records);
                            $this.activities = data.data.records;
                            $this.$nextTick(function () {
                                $(".jqthumbImg").jqthumb({
                                    width: "100%",
                                    height: "100%"
                                });
                            });
                            $this.total = data.data.total;
                            $this.pages = data.data.pages;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载活动失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        $this.loaded = true;
                        app.showMsg("加载活动失败");
                    });
                },
                // 操作代理
                operateProxy: function (id, operation) {
                    var $this = this;
                    switch (operation) {
                        case "edit":
                            $this.toEdit(id);
                            break;
                        case "delete":
                            $this.toDelete(id);
                            break;
                        case "manage":
                            $this.toManage(id);
                            break;
                        case "release":
                            $this.toRelease(id);
                            break;
                        case "cancelRelease":
                            $this.toCancelRelease(id);
                            break;
                        default:
                    }
                },
                // 删除
                toDelete: function (id) {
                    var $this = this;
                    $this.processedActivityId = id;
                    $this.$refs.deleteWindow.show = true;
                },
                deleteSubmit: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/" + $this.processedActivityId + "/delete"
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            $this.$refs.deleteWindow.show = false;
                            // 重新查询
                            $this.loadData();
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "删除活动失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("删除活动失败");
                    });
                },
                toRelease: function (id) {
                    var $this = this;
                    $this.processedActivityId = id;
                    $this.$refs.releaseWindow.show = true;
                },
                // 发布
                release: function () {
                    var $this = this;
                    var activity = null;
                    $($this.activities).each(function () {
                        if (this.id == $this.processedActivityId) {
                            activity = this;
                            return false;
                        }
                    });
                    if (activityApp.isEmpty(activity.pageId)) {
                        app.showMsg("活动未创建完成，请选择活动模板", function () {
                            var url = ctx + "/activity/" + $this.processedActivityId + "/edit?step=2";
                            window.open(url);
                        });
                        return;
                    }
                    $this.$refs.releaseWindow.show = false;
                    var url = ctx + "/api/activity/" + $this.processedActivityId + "/release";
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            app.showMsg("发布成功", function () {
                                $this.loadData();
                            });
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "发布失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("发布失败");
                    });
                },
                toCancelRelease: function (id) {
                    var $this = this;
                    $this.processedActivityId = id;
                    $this.$refs.canReleaseWindow.show = true;
                },
                cancelRelease: function () {
                    var $this = this;
                    $this.$refs.canReleaseWindow.show = false;
                    var url = ctx + "/api/activity/" + $this.processedActivityId + "/release/cancel";
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            app.showMsg("下架成功", function () {
                                $this.loadData();
                            });
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "下架失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("下架失败");
                    });
                },
                // 配置页面
                configPage: function (activity) {
                    var editUrl = activity.editUrl;
                    if (!activityApp.isEmpty(editUrl)) {
                        window.open(editUrl);
                    }
                },
                // 预览页面
                previewPage: function (activity) {
                    var previewUrl = activity.previewUrl;
                    if (!activityApp.isEmpty(previewUrl)) {
                        window.open(previewUrl);
                    }
                },
                // 管理页面
                toManage: function (activityId) {
                    var url = ctx + "/activity/" + activityId;
                    window.open(url);
                }
            }
        });
    </script>
</div>
</body>

</html>