<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" th:href="@{/pc/assets/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" th:href="@{/pc/assets/css/dialog.css}">
    <link rel="stylesheet" th:href="@{/pc/assets/css/organizer-manage.css}">
    <link rel="stylesheet" th:href="@{/mobile/assets/lib/mescroll/mescroll.css}">
    <title>组织者管理</title>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body >

    <div class="manage-container" id="vue" v-cloak>
        <div class="manage-header">
            组织者管理
        </div>
        <div class="manage-content" id="manager-content">
            <div class="btn-add btn-size fl" @click="addDialog()">
                <img th:src="@{/pc/assets/images/add-small.png}" alt="">
                <span>添加</span>
            </div>
            <div v-show="!removeBatchStatus()" class="btn-del-disable btn-size fl">批量移除</div>
            <div v-show="removeBatchStatus()" class="btn-del btn-size fl" @click="openDeleteBatchDialog()">批量移除</div>
            <div class="clear"></div>
            <table class="table-box">
                <thead>
                    <tr>
                        <th class="check-box">
                            <el-checkbox v-model="checkAllStatus" class="check-item-checkbox fl"
                                @change="checkAllChange">
                            </el-checkbox>
                        </th>
                        <th>姓名</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="l of list">
                        <th class="check-box">
                            <el-checkbox v-model="l.checked" class="check-item-checkbox fl"
                                @change="checkChangeHandle(l)">
                            </el-checkbox>
                        </th>
                        <th>{{l.userName}}</th>
                        <th>
                            <span @click="openWeightSetDialog(l)">权限设置</span>
                            <span @click="openDeleteDialog(l)">移除</span>
                        </th>
                    </tr>

                </tbody>
            </table>
            <div class="no-content" v-if="list.length == 0 && loaded">
                暂无内容
            </div>
        </div>

        <!-- 权限设置弹出框 -->
       <!-- <el-dialog class="manageStatusDialog" title="权限设置" :visible.sync="dialogVisible" width="422px"
            :before-close="handleClose">
            <div class="manage-name">
                <span>赵嘉豪</span> 拥有以下模块的管理权限
            </div>
            <div class="manage-status">
                <span class="limit-name">报名管理</span>
                <el-switch v-model="value1"></el-switch><span class="limit-detail">管理报名名单、报名审核等功能</span>
            </div>
            <div class="manage-status">
                <span class="limit-name">签到管理</span>
                <el-switch v-model="value2"></el-switch><span class="limit-detail">管理签到、发布签到</span>
            </div>
            <div class="manage-status">
                <span class="limit-name">评价管理</span>
                <el-switch v-model="value3"></el-switch><span class="limit-detail">管理、审核评价内容</span>
            </div>
            <div class="manage-status last-manage-status">
                <span class="limit-name">成绩管理</span>
                <el-switch v-model="value4"></el-switch><span class="limit-detail">审核用户参与活动的成绩是否为合格</span>
            </div>
            <span slot="footer" class="dialog-footer">
                <div @click="dialogVisible = false" class="btn-size btn-cancel">取消</div>
                <div @click="submithandle" class="btn-size btn-submit">确定</div>
            </span>
        </el-dialog>-->

        <!-- 确认删除分类弹框 -->
        <div class="dailog-box3" v-show="deleteShow">
            <div class="dailog delete-dailog">
                <div class="warn"><img th:src="@{/pc/assets/images/warning.png}" alt=""></div>
                <span>移除后可重新添加。确定移除吗？</span>
                <div>
                    <div class="normal-btn" @click="handleSave">保留</div>
                    <div class="normal-btn after-sure" @click="deleteManager()">移除</div>
                </div>
            </div>
        </div>

        <!-- 确认删除分类弹框 -->
        <div class="dailog-box3 batch" v-show="deleteBatchShow">
            <div class="dailog delete-dailog">
                <div class="warn"><img th:src="@{/pc/assets/images/warning.png}" alt=""></div>
                <span>移除后可重新添加。确定批量移除吗？</span>
                <div>
                    <div class="normal-btn" @click="handleSave">保留</div>
                    <div class="normal-btn after-sure" @click="deleteBatchManager()">移除</div>
                </div>
            </div>
        </div>

        <!--添加弹框-->
        <div class="dailog-box1" v-show="addShow">
            <div class="dailog choose-dialog">
                <div class="header">
                    <span>选择人员</span>
                    <img th:src="@{/pc/assets/images/close.png}" alt="" class="close" @click="addShow = false">
                </div>
                <div class="body clear">
                    <div class="choose-list fl mescroll"  id="search-content" >
                        <div>
                        <div class="search">
                            <input class="search-ipt" type="text" name="" id="" placeholder="姓名"
                                v-model="searchKey" @input="searchKeyHandle()"  @keyup.enter="initSearchUsers()">
                            <i class="icon close" v-show="closeValue" @click="clearSearchKey()"></i>
                            <i class="icon search-icon"></i>
                        </div>
                        <div class="crumb" style="display: block;">
                            <ul class="clear" v-if="searchKey == ''">
                                <li class="back-item" v-for="(folder,index) of folders" v-if="index < folders.length-1" @click="gotoFolder(folder)">{{folder.name}}{{' > '}}</li>
                                <li>{{folders[folders.length-1].name}}</li>
                            </ul>
                        </div>
                        <template v-if="searchKey == ''">
                            <div class="catalog-list" style="display: block;">
                                <template v-if="curFolder.type === 1">
                                    <div class="catalog-item" v-for="f of userOrganizations" @click="goFolder(f,2)">
                                        <div class="catalog-photo">
                                            <img th:src="@{/pc/assets/images/catalog1.png}" alt="">
                                        </div>
                                        <div class="catalog-title">
                                            {{f.fname}}
                                        </div>
                                        <img class="right-img" th:src="@{/pc/assets/images/icon-right.png}" alt="">
                                    </div>
                                </template>
                                <template v-if="curFolder.type >= 2">
                                    <template v-for="l of depts" :key="l.id">
                                        <div class="catalog-item" @click="goFolder(l,3)">
                                            <div class="catalog-photo">
                                                <img th:src="@{/pc/assets/images/catalog1.png}" alt="">
                                            </div>
                                            <div class="catalog-title">
                                                {{l.name}}
                                            </div>
                                            <img class="right-img" th:src="@{/pc/assets/images/icon-right.png}" alt="">
                                        </div>
                                    </template>
                                </template>
                                <template v-if="curFolder.type > 2">
                                    <div v-for="l of members" :class='{"catalog-item":true,"bgc-blue": l.checked}' :key="l.puid">
                                        <div class="catalog-photo">
                                            <img :src="'http://photo.chaoxing.com/p/'+l.puid+'_80'" alt="">
                                        </div>
                                        <div class="catalog-title">
                                            {{l.name}}
                                        </div>
                                        <el-checkbox class="right-check" v-model="l.checked" @change="changeCheckUser(l)"></el-checkbox>
                                    </div>
                                </template>
                            </div>
                        </template>
                            <template v-else>
                                <div class="catalog-list" style="display: block;">
                                    <div v-for="l of members" :class='{"catalog-item":true,"bgc-blue": l.checked}' :key="l.puid">
                                        <div class="catalog-photo">
                                            <img :src="'http://photo.chaoxing.com/p/'+l.puid+'_80'" alt="">
                                        </div>
                                        <div class="catalog-title">
                                            {{l.name}}
                                        </div>
                                        <el-checkbox class="right-check" v-model="l.checked" @change="changeCheckUser(l)"></el-checkbox>
                                    </div>
                                </div>
                            </template>
                       <!-- <div class="loading" style="display: block;">
                            <img src="../assets/images/icon-loading.png" alt="">
                            <span>加载中</span>
                        </div>-->
                        <div class="empty-content" style="display: none;">
                            无搜索结果
                        </div>
                        </div>
                    </div>
                    <div class="item-choosed fl">
                        <div class="choose-number">已选0人</div>
                        <div class="catalog-list" style="display: block;">
                            <div class="catalog-item" v-for="l of checkedUsers">
                                <div class="catalog-photo">
                                    <img :src="'http://photo.chaoxing.com/p/'+l.puid+'_80'" alt="">
                                </div>
                                <div class="catalog-title">
                                    {{l.name}}
                                </div>
                                <div class="del-img" @click="deleteCheckUser(l)"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="normal-btn cancle" @click="addShow=false">取消</div>
                    <div class="normal-btn before-sure" v-if="checkedUsers.length == 0">完成</div>
                    <div class="normal-btn after-sure" v-else @click="addConcat()">完成</div>
                </div>
            </div>
        </div>
    </div>
</body>
<th:block th:replace="pc/include/common_js :: common_js(~{::script})">
    <script>
        Array.prototype.unshiftArray = function (array) {
            var that = this;
            $.each(array, function () {
                that.unshift(this);
            });
        }
    </script>
    <script type="text/javascript" th:src="@{/pc/assets/lib/jquery.nicescroll.min.js}"></script>
    <script type="text/javascript" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script type="text/javascript" th:src="@{/pc/assets/lib/layui/layui.js}"></script>
    <script th:src="@{/mobile/assets/lib/mescroll/mescroll.js}"></script>
    <script th:inline="javascript">
        var vm = new Vue({
            el: '#vue',
            data: function () {
                return {
                    activity:[[${activity}]],
                    uid: [[${session._login_user_.uid}]],
                    fid: [[${session._login_user_.fid}]],
                    //辅助分页
                    page:1,
                    mescroll:{},
                    list:[],
                    loaded:false,
                    //

                    cur:{},

                    folders:[{'type':1,'name':'全部','key':'','fid':''}],
                    curFolder:{},
                    folderMescroll:null,
                    depts:[],
                    members:[],
                    userOrganizations:[],
                    searchKey:"",
                    checkedUsers:[],

                    checkAllStatus: false,

                    dialogVisible: false,

                    // 删除弹出框
                    deleteShow: false,
                    deleteBatchShow: false,
                    //添加弹出框
                    addShow: false,
                    // 输入框清空按钮是否显示
                    closeValue: false,
                }
            },
            created: function () {
                var self = this;
                self.curFolder = self.folders[0];
            },
            mounted: function () {
                var self = this;

                self.mescroll = self.initMescroll("body", self.getManagers);
                // self.folderMescroll = self.initMescroll("search-content", self.getContactMangers);

                self.getUserOrganization();
            },
            methods: {

                initMescroll: function (mescrollId,callback) {
                    //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,刷新列表数据;
                    var mescroll = new MeScroll(mescrollId, {
                        //上拉加载的配置项
                        up: {
                            callback: callback, //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
                            isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                            noMoreSize: 3, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
                            /*   empty: {
                                tip: "暂无相关数据~", //提示
                            },*/
                            htmlNodata: '<div class="loadMore loading"><p style="display: block" class="loadEndText"></p></div>',
                            // htmlLoading:'<div class="loadMore loading"><p style="display: block" class="loadingText">正在加载中，请稍候...</p></div>',
                            lazyLoad: {
                                use: false // 是否开启懒加载,默认false
                            },
                            page: {
                                num: 1,
                                size: 10,
                                time: null
                            }
                        },
                        down:{
                            use:false,
                        }
                    });
                    return mescroll;
                },
                getManagers: function (page) {
                    var self = this;
                    var url = ctx + "/activity/"+self.activity.id +"/managers";
                    app.ajaxPost(url, {page: page.num, pageSize: page.size}, function (data) {
                        self.loaded = true;
                        if (data.success) {
                            for (var i = 0; i < data.data.length; i++) {
                                var l = data.data[i];
                                l.checked = false;
                                self.list.push(l);
                            }
                            self.page = page.num;
                            self.mescroll.endSuccess(data.data.length); //必传参数(当前页的数据个数, 总数据量)
                            self.$nextTick(function () {

                            });

                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        self.loaded = true;
                        app.showMsg("加载失败");
                    });
                },

                initSearchUsers:function(){
                    var self = this;
                    if(self.searchKey != '' || self.curFolder.type > 2) {
                        if (self.folderMescroll) {
                            self.folderMescroll.resetUpScroll()
                        } else {
                            self.folderMescroll = self.initMescroll("search-content", self.getUsers);
                        }
                    }
                },

                getUsers:function(page){
                    var self = this;
                    if(self.searchKey != ''){
                        self.searchUsers(page);
                    }else{
                        self.getDeptMembers(page);
                    }
                },

                searchUsers:function(page){
                    var self = this;
                    var url = ctx + "/wfw/contact/"+self.uid +"/search";
                    app.ajaxPost(url, {page: page.num, pageSize: page.size,keyword:self.searchKey}, function (data) {
                        self.loaded = true;
                        if (data.success) {
                            if(page.num === 1){
                                self.members.splice(0,self.members.length);
                            }
                            var list = data.data.list;
                            for (let i = 0; i < list.length; i++) {
                                var l = list[i];
                                l.checked = self.checkUser(l);
                                self.members.push(l);
                            }
                            self.page = page.num;
                            self.folderMescroll.endBySize(data.data.list.length,data.data.allCount); //必传参数(当前页的数据个数, 总数据量)
                            self.$nextTick(function () {
                                $(".item-choosed,.choose-list").getNiceScroll().resize();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        self.loaded = true;
                        app.showMsg("加载失败");
                    });
                },

                getDepts: function () {
                    var self = this;
                    var url = ctx + "/wfw/contact/"+self.curFolder.fid +"/depts";
                    app.ajaxPost(url, {page: 1, pageSize: 1000,pid:self.curFolder.key}, function (data) {
                        self.loaded = true;
                        if (data.success) {
                            self.depts.splice(0,self.depts.length);
                            for (var i = 0; i < data.data.length; i++) {
                                var dept = data.data[i];
                                if(dept.pid == self.curFolder.key){
                                    self.depts.push(dept);
                                }
                            }

                            self.$nextTick(function () {
                                $(".item-choosed,.choose-list").getNiceScroll().resize();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        self.loaded = true;
                        app.showMsg("加载失败");
                    });
                },

                getDeptMembers: function (page) {
                    var self = this;
                    var url = ctx + "/wfw/contact/dept/"+self.curFolder.key +"/members";
                    app.ajaxPost(url, {page: page.num, pageSize: page.size,deptId:self.curFolder.key}, function (data) {
                        self.loaded = true;
                        if (data.success) {
                            if(page.num === 1){
                                self.members.splice(0,self.members.length);
                            }
                            var list = data.data.list;
                            for (let i = 0; i < list.length; i++) {
                                var l = list[i];
                                l.checked = self.checkUser(l);
                                self.members.push(l);
                            }
                            self.page = page.num;
                            self.folderMescroll.endBySize(data.data.list.length,data.data.allCount); //必传参数(当前页的数据个数, 总数据量)
                            self.$nextTick(function () {
                                $(".item-choosed,.choose-list").getNiceScroll().resize();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        self.loaded = true;
                        app.showMsg("加载失败");
                    });
                },

                getUserOrganization: function () {
                    var self = this;
                    var url = ctx + "/wfw/contact/"+self.uid+"/organizations";
                    app.ajaxPost(url, {}, function (data) {
                        if (data.success) {
                            self.userOrganizations.pushArray(data.data);
                            self.$nextTick(function () {
                                self.initScroll();
                            });

                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        self.loaded = true;
                        app.showMsg("加载失败");
                    });
                },

                addConcat:function() {
                    var self = this;
                    var users = self.checkedUsers;
                    var managers = [];
                    for (var i = 0; i < users.length; i++) {
                        var user = users[i];
                        var manager = {};
                        manager.uid = user.puid;
                        manager.userName = user.name;
                        managers.push(manager);
                    }
                    var url = ctx + "/activity/" + self.activity.id + "/add/batch/manager";
                    app.ajaxPostWithPayload(url, JSON.stringify(managers), function (data) {
                        if (data.success) {
                            self.list.unshiftArray(data.data);
                            self.checkedUsers.splice(0,self.checkedUsers.length);
                            for (let i = 0; i < self.members.length; i++) {
                                var l = self.members[i];
                                l.checked = false;
                            }
                            self.addShow = false;
                            self.$nextTick(function () {
                                $(".item-choosed,.choose-list").getNiceScroll().resize();
                            });
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("添加失败");
                    }, '添加');
                },
                openDeleteDialog:function(l){
                    var self = this;
                    self.cur = l;
                    self.deleteShow = true;
                },
                openDeleteBatchDialog:function(l){
                    var self = this;
                    self.cur = l;
                    self.deleteBatchShow = true;
                },
                deleteManager:function(){
                    var self = this;
                    var url = ctx + "/activity/"+self.activity.id +"/manager/delete/"+self.cur.uid;
                    app.ajaxPost(url, {}, function (data) {
                        if (data.success) {
                            self.list.remove(self.cur);
                            self.deleteShow = false;
                            self.cur = {};
                            app.showMsg("移除成功")
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("移除成功");
                    },'移除');
                },
                deleteBatchManager:function(){
                    var self = this;
                    var url = ctx + "/activity/"+self.activity.id +"/manager/delete/batch";
                    var uids = [];
                    var checkeds = [];
                    for (var i = 0; i < self.list.length; i++) {
                        var l = self.list[i];
                        if(l.checked){
                            uids.push(l.uid);
                            checkeds.push(l);
                        }
                    }
                    app.ajaxPostWithPayload(url, JSON.stringify(uids), function (data) {
                        if (data.success) {
                            for (let i = 0; i < checkeds.length; i++) {
                                self.list.remove(checkeds[i]);
                            }
                            self.deleteBatchShow = false;
                            app.showMsg("移除成功")
                        } else {
                            var errorMessage = data.message;
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("移除成功");
                    },'删除');
                },
                openWeightSetDialog:function(l){
                    app.showMsg("功能暂未开放")
                },
                goFolder:function(f,type){
                    var self = this;
                    var folder = {};
                    if(type === 2){
                        folder.name = f.fname;
                        folder.key = "-1";
                        folder.fid = f.fid;
                    }else{
                        folder.name = f.name;
                        folder.key = f.id;
                        folder.fid = self.folders[1].fid;
                    }
                    folder.type = type;
                    self.folders.push(folder);
                    self.gotoFolder(folder);
                },
                gotoFolder:function(f) {
                    var self = this;
                    let indexOf = self.folders.indexOf(f);
                    self.folders.splice(indexOf+1, self.folders.length);
                    self.curFolder = f;
                    if(f.type > 1){
                        self.getDepts();
                        if (f.type > 2) {
                            if(self.folderMescroll){
                                self.folderMescroll.resetUpScroll()
                            }else{
                                self.folderMescroll = self.initMescroll("search-content", self.getUsers);
                            }
                        }
                    }
                    self.$nextTick(function () {
                        $(".item-choosed,.choose-list").getNiceScroll().resize();
                    })

                },
                removeBatchStatus:function(){
                    var self = this;
                    for (var i = 0; i < self.list.length; i++) {
                        if(self.list[i].checked) return true;
                    }
                    return false;
                },

                checkChangeHandle: function (l) {
                    var self = this;
                    self.checkAllStatus = true;
                    for (var i = 0; i < self.list.length; i++) {
                        if(!self.list[i].checked) {
                            self.checkAllStatus = false;
                            break;
                        }
                    }
                },
                checkAllChange: function () {
                    var self = this;
                    for (var i = 0; i < self.list.length; i++) {
                        self.list[i].checked = self.checkAllStatus;
                    }
                },

                changeCheckUser:function(l){
                    var self = this;
                    if(l.checked){
                        self.checkedUsers.push(l);
                    }else{
                        self.removeCheckedUser(l);
                    }
                },
                removeCheckedUser:function(l){
                    var self = this;
                    var index = -1;
                    for (let i = 0; i < self.checkedUsers.length; i++) {
                        var check = self.checkedUsers[i];
                        if(check.puid === l.puid){
                           index = i;
                           break;
                        }
                    }
                    if(index > -1){
                        self.checkedUsers.splice(index,1);
                    }
                },
                checkUser:function(l){
                    var self = this;
                    for (let i = 0; i < self.checkedUsers.length; i++) {
                        var check = self.checkedUsers[i];
                        if(check.puid === l.puid){
                            return true;
                        }
                    }
                    return false;
                },
                deleteCheckUser:function(l){
                    var self = this;
                    self.removeCheckedUser(l);
                    for (let i = 0; i < self.members.length; i++) {
                        var check = self.members[i];
                        if(check.puid === l.puid){
                            check.checked = false;
                            break;
                        }
                    }
                    self.$forceUpdate();
                },

                handleClose(done) {
                    this.dialogVisible = false;
                },
                // 提交事件
                submithandle: function () {
                    layer.msg('权限设置成功');
                    this.dialogVisible = false;
                },
                handleSave: function () {
                    this.deleteShow = false
                    this.deleteBatchShow = false
                },
                handleSure: function () {
                    layer.msg('移除成功');
                    this.deleteShow = false
                },
                // 监听添加弹框input
                searchKeyHandle: function () {
                    if (this.searchKey.trim() !== "") {
                        this.closeValue = true
                    } else {
                        this.closeValue = false
                    }
                   this.$nextTick(function () {
                       $(".item-choosed,.choose-list").getNiceScroll().resize();
                       this.members.splice(0,this.members.length);
                   })
                },
                // 清空输入框的值
                clearSearchKey: function () {
                    this.searchKey = "";
                    this.closeValue = false;
                    this.$nextTick(function () {
                        $(".item-choosed,.choose-list").getNiceScroll().resize();
                        this.initSearchUsers();
                    })

                },
                initScroll: function () {
                    $(".item-choosed,.choose-list").niceScroll({
                        cursorborder: "",
                        cursorwidth: 8,
                        cursorcolor: "#DADADA",
                        boxzoom: false,
                        autohidemode: true
                    });
                    $(".item-choosed,.choose-list").getNiceScroll().resize();
                },
                addDialog:function () {
                    var self = this;
                    self.addShow = true;
                },
            }
        });
    </script>
</th:block>
</html>

