<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>活动管理</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/table-icomoon/style.css" th:href="@{/pc/assets/table-icomoon/style.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css" th:href="@{/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}">
    <link rel="stylesheet" href="/static/pc/assets/sign/assets/css/commonTable.css" th:href="@{/pc/assets/sign/assets/css/commonTable.css}">
    <link rel="stylesheet" href="/static/pc/assets/sign/assets/css/confirm_dialog.css" th:href="@{/pc/assets/sign/assets/css/confirm_dialog.css}">

    <style type="text/css">
        [v-cloak] {
            display: none;
        }
        .search-Box .el-input--suffix .el-input__inner {
            padding-right: 0;
        }
    </style>
</head>
<body>
<div id="activity-vue" v-cloak>
    <div style="display: block">
        <!-- 选项卡内容 -->
        <div class="tab-content-box">
            <div class="tab-item">
                <!-- 操作栏 -->
                <div class="operate-box">
                    <div class="table-operate-box fs0">
                        <el-button type="primary" class="btn-bg-blue" @click="toAdd">
                            <i class="el-icon-plus inlineMiddle"></i>
                            <span class="inlineMiddle" style="margin-left: unset;">新建</span>
                        </el-button>
                        <el-button class="btn-customize" round @click="exportData">导出</el-button>
                        <el-button class="btn-customize" round @click="exportRecord">导出记录</el-button>
                        <div class="search-Box">
                            <el-input placeholder="名称/创建人/创建单位"
                                      icon="search"
                                      class="search"
                                      v-model.trim="sw"
                                      @keyup.enter.native="search"
                            >
                            </el-input>
                            <i class="icon-cancel btn-cancel fs16" v-show="sw" @click="clearSearch"></i>
                        </div>
                    </div>
                    <!-- 计数栏 -->
                    <div class="table-count-box fs12">
                        <div class="count-info fl">
                            <span class="color999">共 {{ total }} 个</span>
                        </div>
                        <div class="setting-box" v-show="marketId">
                            <el-dropdown :hide-on-click="false" trigger="click">
                                <el-tooltip class="item" effect="dark" content="显示字段" placement="top">
                                    <span class="icon-setting fs16"></span>
                                </el-tooltip>
                                <el-dropdown-menu slot="dropdown" class="set-dropdown">
                                    <div class="dropdown-lists">
                                        <el-dropdown-item v-for="(item, index) in configTableFieldDetails" :key="'detail-' + item.id">
                                            <el-checkbox v-model="item.defaultChecked" :disabled="!item.allowUncheck" @change="checkFieldChange(item)"> {{item.name}}</el-checkbox>
                                            <el-tooltip v-if="item.allowTop" class="item" effect="dark" :content="item.defaultTop ? '取消置顶' : '置顶'" placement="top">
                                                <i :class="`btn-fix icon-${item.defaultTop ? 'pinned' : 'pin'} fs16`" @click="topConfigChange(item)"></i>
                                            </el-tooltip>
                                            <i v-else :class="`btn-fix icon-${item.defaultTop ? 'pinned' : 'pin'} fs16`"></i>
                                        </el-dropdown-item>
                                    </div>
                                    <div class="bottom-btns fs14 colorBlue">
                                        <el-button type="text" class="btn-confirm" @click="configSubmit">确定</el-button>
                                        <el-button type="text" class="btn-reset" @click="resetConfig">重置</el-button>
                                    </div>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <el-table v-if="tbodyHeight > 0"
                          class="table-box"
                          :data="activities"
                          :max-height="tbodyHeight"
                          :empty-text="loaded && activities.length === 0 ? '暂无数据' : '数据加载中'"
                          @filter-change="filterChange"
                          @sort-change="sortChange">
                    <template v-for="item in showTableFieldDetails" v-if="item.defaultChecked">
                        <el-table-column
                                v-if="item.code === 'cover'"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                        >
                            <template slot-scope="scope">
                                <el-image class="table-img jqthumbImg" :src="scope.row | getCloudImgUrl" fit="cover"></el-image>
                                <span class="table-img-top" v-show="scope.row.top">置顶</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else-if="item.code === 'name'"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                        >
                            <template slot-scope="scope">
                                <span style="cursor: pointer; color: #0084FF" @click="previewPage(scope.row)">{{scope.row.name}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else-if="item.code === 'signedInRate'"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                        >
                            <template slot-scope="scope">
                                <span>{{scope.row.signedInRate | percentageFormat}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else-if="item.code === 'status'"
                                class-name="th-dropdwon-radio"
                                :fixed="item.defaultTop"
                                column-key="status"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                                :filters="filterStatus"
                                :filter-multiple="false"
                                filter-placement="bottom"
                        >
                            <template slot-scope="scope">
                                <span :class="{'btn-no-public': (scope.row.status == 1), 'btn-is-not-start': (scope.row.status == 2), 'btn-is-progress': (scope.row.status == 3), 'btn-is-end': (scope.row.status == 4)}">{{scope.row.status | activityStatusInstructions}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else-if="item.code === 'poster'"
                                :prop="item.code"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                        >
                            <template slot-scope="scope">
                                <el-button type="text" @click="toPoster(scope.row.id)">查看</el-button>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else-if="item.code === 'personLimit'"
                                :prop="item.code"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                        >
                            <template slot-scope="scope">
                                <span v-if="!scope.row.personLimit">不限</span>
                                <span v-else>{{scope.row.personLimit}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else-if="item.code === 'activityClassify'"
                                class-name="th-dropdwon-radio"
                                :fixed="item.defaultTop"
                                column-key="activityClassifyId"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                                :filters="filterClassifies"
                                :filter-multiple="false"
                                filter-placement="bottom"
                        >
                            <template slot-scope="scope">
                                <span>{{scope.row.activityClassifyName}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else-if="item.code === 'dualSelect'"
                                :prop="item.code"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                        >
                            <template slot-scope="scope">
                                <div>
                                    <el-button type="text" @click="operateProxy(scope.row, operations.dualSelectStatExport.value)">{{ operations.dualSelectStatExport.name}}</el-button>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else-if="item.code === 'startTime' || item.code === 'endTime'"
                                :prop="item.code"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                                :sortable="item.sortable ? 'custom' : item.sortable"
                        >
                            <template slot-scope="scope">
                                <span>{{scope.row[item.code] | timestampFormat}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else
                                :prop="item.code"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth"
                                :sortable="item.sortable ? 'custom' : item.sortable"
                        >
                        </el-table-column>
                    </template>
                    <el-table-column label="操作" fixed="right" min-width="180">
                        <template slot-scope="scope">
                            <div class="more-three-link">
                                <el-button type="text" v-if="index < 3" v-for="(operation, index) of scope.row.operations" :key="'operation-' + index" @click="operateProxy(scope.row, operation.value)">{{operation.name}}</el-button>
                                <el-dropdown class="status-dropdown inlineMiddle" v-if="scope.row.operations.length > 3">
                                      <span class="el-dropdown-link">
                                        <img src="/static/pc/assets/images/more-vertical2.png" th:src="@{/pc/assets/images/more-vertical2.png}">
                                      </span>
                                    <el-dropdown-menu slot="dropdown">
                                        <el-dropdown-item v-if="index > 2" v-for="(operation, index) of scope.row.operations" :key="'operation-' + index" @click.native="operateProxy(scope.row, operation.value)">{{operation.name}}</el-dropdown-item>
                                    </el-dropdown-menu>
                                </el-dropdown>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination class="fixPage" v-show="pages > 1" background layout="prev, pager, next" :total="total" :page-size="queryParams.pageSize" :current-page="queryParams.pageNum" @current-change="changePage" style="text-align: center;"></el-pagination>
            </div>
        </div>
        <!-- 表格内容 -->
    </div>
    <!-- 删除弹窗 -->
    <vue-confirm-common ref="deleteWindow" :message="'删除后，将清空该活动的相关信息和记录'" :cancel="'取消'" :sure="'删除'" @callback="deleteSubmit"></vue-confirm-common>
    <!--下架弹窗-->
    <vue-confirm-common ref="releaseWindow" :message="'发布后，该活动将展示在活动市场中'" :cancel="'取消'" :sure="'发布'" @callback="release"></vue-confirm-common>
    <!--下架弹窗-->
    <vue-confirm-common ref="canReleaseWindow" :message="'下架后，该活动将不在活动广场中显示'" :cancel="'取消'" :sure="'下架'" @callback="cancelRelease"></vue-confirm-common>
    <!--去选择模版-->
    <vue-confirm-common ref="selectTemlateWindow" :message="'活动还未选择模板，请选择模板后发布'" :cancel="'取消'" :sure="'去选择'" @callback="toSelectTemplate"></vue-confirm-common>
    <!--    导出成功-->
    <vue-confirm-common ref="exportSuccessWindow" :message="'数据准备中，导出完成的数据会保存在“导出记录”中，请稍后下载'" :cancel="'完成'" :sure="'导出记录'" @callback="exportRecord"></vue-confirm-common>

</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js}"></script>
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.min.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.min.js}"></script>
    <script src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.exedit.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.exedit.js}"></script>
    <script src="/static/pc/assets/component/confirm-common.js" th:src="@{/pc/assets/component/confirm-common.js}"></script>
    <script src="/static/pc/assets/lib/jqthumb.min.js" th:src="@{/pc/assets/lib/jqthumb.min.js}"></script>
    <script src="/static/pc/assets/lib/set-iframe-height-child.js" th:src="@{/pc/assets/lib/set-iframe-height-child.js}"></script>
    <script th:inline="javascript">
        Vue.filter("timestampFormat", function (timestamp) {
            if (activityApp.isEmpty(timestamp)) {
                return "";
            }
            var dateObj = moment(timestamp);
            return dateObj.format("YYYY-MM-DD HH:mm");
        });
        vm = new Vue({
            el: "#activity-vue",
            data: {
                activities: [],
                uid: [[${session._login_user_.uid}]],
                fid: [[${fid != null ? fid : session._login_user_.fid}]],
                classifies: [[${classifies}]],
                marketId: [[${marketId}]],
                filterStatus: [],
                filterClassifies: [],
                selectedFilterStatusName: "全部",
                sw: "",
                // 严格模式 只查询自己创建的
                strict: [[${strict}]],
                queryParams: {
                    fid: [[${fid != null ? fid : session._login_user_.fid}]],
                    marketId: [[${marketId}]],
                    pageNum: 1,
                    pageSize: 8,
                    status: "",
                    activityClassifyId: "",
                    activityFlag: [[${flag}]],
                    // 严格模式 只查询自己创建的
                    strict: [[${strict}]],
                    sw: "",
                    orderFieldId: null,
                    orderType: 'DESC'
                },
                loaded: false,
                // 总记录数
                total: 0,
                // 总页数
                pages: 0,
                // 正在处理的活动id
                operateActivityId: null,
                operations: {
                    edit: {name: "编辑", value: "edit"},
                    delete: {name: "删除", value: "delete"},
                    manage: {name: "管理", value: "manage"},
                    setTop: {name: "置顶", value: "setTop"},
                    cancelSetTop: {name: "取消置顶", value: "cancelSetTop"},
                    configPage: {name: "页面配置", value: "configPage"},
                    release: {name: "发布", value: "release"},
                    cancelRelease: {name: "下架", value: "cancelRelease"},
                    dualSelectStatExport: {name: "导出投递数据", value: "dualSelectStatExport"}
                },
                // 活动标示
                flag: [[${flag}]],
                tableFieldId: [[${tableFieldId}]],
                // 配置项源数据
                tableFieldDetails: [[${tableFieldDetails}]],
                // 页面展示字段配置源数据
                marketTableFields: [[${marketTableFields}]],
                // 配置项数据
                configTableFieldDetails: [],
                // 表格显示的字段列表
                showTableFieldDetails: [],
                bodyHeight: $(window).height(),
                tbodyHeight: 0
            },
            created: function () {
                var $this = this;
                // 解决跨域
                document.domain = "chaoxing.com";
                $this.filterStatus = [
                    {text: "未发布", value: "1"},
                    {text: "未开始", value: "2"},
                    {text: "进行中", value: "3"},
                    {text: "已结束", value: "4"}
                ];

                $this.filterClassifies = $.map($this.classifies, function (item) {
                    return {text: item.name, value: item.id};
                })
                $this.calShowTableFieldDetails();
                $this.configTableFieldDetails = $this.calConfigTableFieldDetails();
            },
            mounted: function () {
                var $this = this;
                var headH = $('.header-box').height();
                var operateH = $('.operate-box').height();
                $this.tbodyHeight = $this.bodyHeight - (headH + operateH + 48 + 16 + 32);

                $this.loadData();
                $this.reSortSettingData();
                // 监听活动的创建，当创建或者编辑活动后重新加载数据
                app.bindActivityChangeEvent(function (activityId) {
                    $this.loadData();
                });
            },
            methods: {
                // 处理操作顺序
                handleOperationSequence: function (activities) {
                    var $this = this;
                    if (activities && activities.length > 0) {
                        $(activities).each(function () {
                            var activity = this;
                            var manager = $this.isActivityManager(activity);
                            var isCurrentOrgCreated = activity.createFid == $this.fid;
                            var isDualSelect = activity.flag == "dual_select";
                            var status = activity.status;
                            activity.operations = [];
                            switch (status) {
                                case 1:
                                    activity.operations.push($this.operations.release);
                                    if (manager || isCurrentOrgCreated) {
                                        if (manager) {
                                            activity.operations.push($this.operations.edit);
                                            activity.operations.push($this.operations.manage);
                                            if (isDualSelect) {
                                                activity.operations.push($this.operations.dualSelectStatExport);
                                            }
                                            activity.operations.push($this.operations.delete);
                                        }
                                    }
                                    break;
                                case 2:
                                case 3:
                                    activity.operations.push($this.operations.cancelRelease);
                                    if (manager || isCurrentOrgCreated) {
                                        if (manager) {
                                            activity.operations.push($this.operations.edit);
                                            activity.operations.push($this.operations.manage);
                                            if (isDualSelect) {
                                                activity.operations.push($this.operations.dualSelectStatExport);
                                            }
                                            activity.operations.push($this.operations.delete);
                                        }
                                    }
                                    break;
                                case 4:
                                    // 已结束支持有上下架功能
                                    if (manager || isCurrentOrgCreated) {
                                        if (activity.released) {
                                            activity.operations.push($this.operations.cancelRelease);
                                        }else {
                                            activity.operations.push($this.operations.release);
                                        }
                                        if (manager) {
                                            activity.operations.push($this.operations.edit);
                                            activity.operations.push($this.operations.manage);
                                            if (isDualSelect) {
                                                activity.operations.push($this.operations.dualSelectStatExport);
                                            }
                                            activity.operations.push($this.operations.delete);
                                        }
                                    }
                                    break;
                                default:
                            }
                            if (manager) {
                                activity.operations.push($this.operations.configPage);
                            }
                            if ($this.marketId) {
                                if (activity.released) {
                                    var existCancelRelease = $.grep(activity.operations, function (it) {
                                        return it.value == "cancelRelease";
                                    });
                                    if (existCancelRelease && existCancelRelease.length < 1) {
                                        activity.operations.push($this.operations.cancelRelease);
                                    }
                                }else {
                                    var existRelease = $.grep(activity.operations, function (it) {
                                        return it.value == "release";
                                    });
                                    if (existRelease && existRelease.length < 1) {
                                        activity.operations.push($this.operations.release);
                                    }
                                }
                                if (activity.top) {
                                    activity.operations.push($this.operations.cancelSetTop);
                                } else {
                                    activity.operations.push($this.operations.setTop);
                                }
                                var existDeletes = $.grep(activity.operations, function (it) {
                                    return it.value == "delete";
                                });
                                if (!existDeletes || existDeletes.length === 0) {
                                    activity.operations.push($this.operations.delete);
                                }
                            }
                        });
                    }
                },
                toAdd: function () {
                    var $this = this;
                    var marketId = $this.marketId;
                    if (activityApp.isEmpty(marketId)) {
                        marketId = "";
                    }
                    var flag = $this.flag;
                    if (activityApp.isEmpty(flag)) {
                        flag = "";
                    }
                    var url = activityApp.getRelativeUrl("/activity/add?marketId=" + marketId + "&flag=" + flag + "&strict=" + $this.strict + "&fullScreen=" + activityApp.getUrlParamter("fullScreen"));
                    if (activityApp.isEmbedded()) {
                        window.location = url;
                    } else {
                        window.open(url);
                    }
                },
                toEdit: function (id) {
                    var $this = this;
                    var url = ctx + "/activity/" + id + "/edit?strict=" + $this.strict + "&fullScreen=" + activityApp.getUrlParamter("fullScreen");
                    if (activityApp.isEmbedded()) {
                        window.location = url;
                    } else {
                        window.open(url);
                    }
                },
                filterChange: function (filterItem) {
                    var $this = this;
                    var key = Object.keys(filterItem)[0]
                    var value;
                    if (key == 'status') {
                        // 单选过滤取第一个
                         value = filterItem[key][0];
                        $this.queryParams[key] = activityApp.isEmpty(value) ? null : parseInt(value);
                    } else if (key == 'activityClassifyId') {
                        value = filterItem[key][0];
                        $this.queryParams[key] = activityApp.isEmpty(value) ? null : parseInt(value);
                    }
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                sortChange: function (column) {
                    var $this = this;
                    var sortFieldItem = $($this.showTableFieldDetails).filter(function() {
                        return this.code === column.prop
                    })[0];
                    $this.queryParams.orderFieldId = sortFieldItem ? sortFieldItem.id : null;
                    if (column.order === 'descending') {
                        $this.queryParams.orderType = 'DESC';
                    } else if (column.order === 'ascending'){
                        $this.queryParams.orderType = 'ASC';
                    } else {
                        $this.queryParams.orderType = null;
                    }
                    $this.loadData();
                },
                changePage: function (pageNum) {
                    var $this = this;
                    $this.queryParams.pageNum = pageNum;
                    $this.loadData();
                },
                // 搜索
                search: function () {
                    var $this = this;
                    $this.queryParams.sw = $this.sw;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                // 清空搜索
                clearSearch: function () {
                    var $this = this;
                    $this.sw = "";
                    if ($this.queryParams.sw != $this.sw) {
                        $this.queryParams.sw = $this.sw;
                        // 重新搜索
                        $this.search();
                    }
                },
                loadData: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/list/managing";
                    $this.loaded = false;
                    app.ajaxPost(url, $this.queryParams, function (data) {
                        $this.loaded = true;
                        if (data.success) {
                            $this.handleOperationSequence(data.data.records);
                            $this.activities = data.data.records;
                            $this.total = data.data.total;
                            $this.pages = data.data.pages;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载活动失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        $this.loaded = true;
                        app.showMsg("加载活动失败");
                    });
                },
                // 操作代理
                operateProxy: function (activity, operation) {
                    var id = activity.id;
                    var $this = this;
                    switch (operation) {
                        case "edit":
                            $this.toEdit(id);
                            break;
                        case "delete":
                            $this.toDelete(id);
                            break;
                        case "manage":
                            $this.toManage(id);
                            break;
                        case "release":
                            $this.toRelease(id);
                            break;
                        case "cancelRelease":
                            $this.toCancelRelease(id);
                            break;
                        case "dualSelectStatExport":
                            $this.toDualSelectStatExport(id, activity.createFid);
                            break;
                        case "setTop":
                            $this.toSetTop(id, activity.createFid);
                            break;
                        case "cancelSetTop":
                            $this.cancelSetTop(id, activity.createFid);
                            break;
                        case "configPage":
                            $this.configPage(activity);
                            break;
                        default:
                    }
                },
                // 删除
                toDelete: function (id) {
                    var $this = this;
                    $this.operateActivityId = id;
                    $this.$refs.deleteWindow.show = true;
                },
                deleteSubmit: function () {
                    var $this = this;
                    var marketId = $this.marketId || "";
                    var url = ctx + "/api/activity/" + $this.operateActivityId + "/delete/?marketId=" + marketId;
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            $this.$refs.deleteWindow.show = false;
                            // 重新查询
                            $this.loadData();
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "删除活动失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("删除活动失败");
                    });
                },
                toRelease: function (id) {
                    var $this = this;
                    $this.operateActivityId = id;
                    $this.$refs.releaseWindow.show = true;
                },
                // 发布
                release: function () {
                    var $this = this;
                    var activity = null;
                    $($this.activities).each(function () {
                        if (this.id == $this.operateActivityId) {
                            activity = this;
                            return false;
                        }
                    });
                    if (!$this.selectedTemplateValidate(activity)) {
                        return;
                    }
                    $this.$refs.releaseWindow.show = false;
                    var marketId = $this.marketId || "";
                    var url = ctx + "/api/activity/" + $this.operateActivityId + "/release";
                    if (!activityApp.isEmpty(marketId)) {
                        url = ctx + "/api/market/" + marketId + "/release/activity/" + $this.operateActivityId;
                    }
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            app.showMsg("发布成功", function () {
                                $this.loadData();
                            });
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "发布失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("发布失败");
                    });
                },
                isActivityManager: function (activity) {
                    var $this = this;
                    return activity.managerUids.indexOf($this.uid) > -1 || activity.createUid == $this.uid;
                },
                // 已选择模版验证
                selectedTemplateValidate: function (activity) {
                    var $this = this;
                    if (activityApp.isEmpty(activity.pageId)) {
                        if ($this.isActivityManager(activity)) {
                            // 有管理权限
                            $this.$refs.selectTemlateWindow.show = true;
                        } else {
                            app.showMsg("活动未选择模板，请联系活动创建者完善活动信息");
                        }
                        return false;
                    }
                    return true;
                },
                // 去选中模版
                toSelectTemplate: function () {
                    var $this = this;
                    var url = ctx + "/activity/" + $this.operateActivityId + "/edit?step=2";
                    window.open(url);
                },
                toSetTop: function (activityId) {
                    var $this = this;
                    var marketId = $this.marketId || "";
                    var url = ctx + "/api/activity/" + activityId + "/set-top/?marketId=" + marketId;
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            $this.loadData();
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "置顶失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("置顶失败");
                    });
                },
                cancelSetTop: function (activityId) {
                    var $this = this;
                    var marketId = $this.marketId || "";
                    var url = ctx + "/api/activity/" + activityId + "/cancel-top/?marketId=" + marketId;
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            $this.loadData();
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "取消置顶失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("取消置顶失败");
                    });
                },
                toCancelRelease: function (id) {
                    var $this = this;
                    $this.operateActivityId = id;
                    $this.$refs.canReleaseWindow.show = true;
                },
                cancelRelease: function () {
                    var $this = this;
                    $this.$refs.canReleaseWindow.show = false;
                    var marketId = $this.marketId || "";
                    var url = ctx + "/api/activity/" + $this.operateActivityId + "/release/cancel";
                    if (!activityApp.isEmpty(marketId)) {
                        url = ctx + "/api/market/" + marketId + "/cancel-release/activity/" + $this.operateActivityId;
                    }
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            app.showMsg("下架成功", function () {
                                $this.loadData();
                            });
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "下架失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("下架失败");
                    });
                },
                toDualSelectStatExport: function (activityId, fid) {
                    var url = activityApp.generateDualSelectStatExportUrl(activityId, fid);
                    window.open(url);
                },
                // 配置页面
                configPage: function (activity) {
                    var editUrl = activity.editUrl;
                    if (!activityApp.isEmpty(editUrl)) {
                        window.open(editUrl);
                    }
                },
                // 预览页面
                previewPage: function (activity) {
                    var $this = this;
                    $this.operateActivityId = activity.id;
                    if (!$this.selectedTemplateValidate(activity)) {
                        return;
                    }
                    var previewUrl = activity.previewUrl;
                    if (!activityApp.isEmpty(previewUrl)) {
                        window.open(previewUrl);
                    }
                },
                toPoster: function (activityId) {
                    var url = "http://hd.chaoxing.com/activity/" + activityId + "/poster";
                    window.open(url);
                },
                // 管理页面
                toManage: function (activityId) {
                    var url = "https://manage.hd.chaoxing.com/activity/" + activityId;
                    window.open(url);
                },
                // 活动的来源是不是活动申报
                isActivityDeclaration: function (activity) {
                    return "activity_declaration" == activity.originType;
                },
                calShowTableFieldDetails: function () {
                    var $this = this;
                    // 计算表格显示的字段列表
                    if ($this.marketTableFields.length < 1) {
                        // 机构没有配置显示的字段。使用默认的
                        $($this.tableFieldDetails).each(function () {
                            if (this.defaultChecked) {
                                $this.showTableFieldDetails.push($.extend({}, this));
                            }
                        });
                    } else {
                        $($this.marketTableFields).each(function () {
                            var orgTableField = this;
                            var tableFieldDetailId = orgTableField.tableFieldDetailId;
                            $($this.tableFieldDetails).each(function () {
                                if (tableFieldDetailId === this.id) {
                                    var tableFieldDetail = $.extend({}, this);
                                    tableFieldDetail.defaultChecked = true;
                                    tableFieldDetail.defaultTop = orgTableField.top;
                                    $this.showTableFieldDetails.push(tableFieldDetail);
                                    return false;
                                }
                            });
                        });
                    }
                },
                calConfigTableFieldDetails: function () {
                    var $this = this;
                    var configTableFieldDetails = [];
                    $($this.tableFieldDetails).each(function () {
                        configTableFieldDetails.push($.extend({}, this));
                    });
                    if ($this.marketTableFields.length > 0) {
                        $(configTableFieldDetails).each(function () {
                            var configTableFieldDetail = this;
                            configTableFieldDetail.defaultChecked = false;
                            $($this.marketTableFields).each(function () {
                                if (configTableFieldDetail.id === this.tableFieldDetailId) {
                                    configTableFieldDetail.defaultChecked = true;
                                    configTableFieldDetail.defaultTop = this.top;
                                }
                            });
                        });
                    }
                    return configTableFieldDetails;
                },
                // 取消勾选
                checkFieldChange: function (item) {
                    var $this = this;
                    if (!item.defaultChecked) {
                        item.defaultTop = item.defaultChecked;
                    }
                    $this.reSortSettingData()
                },
                // 取消置顶配置
                topConfigChange: function(item) {
                    item.defaultTop = !item.defaultTop;
                    this.reSortSettingData();
                },
                // 对设置重排序
                reSortSettingData: function() {
                    var $this = this;
                    $this.configTableFieldDetails.sort(function(a, b) {
                        if (b.defaultChecked > a.defaultChecked) {
                            return 1;
                        } else if (b.defaultChecked < a.defaultChecked){
                            return -1;
                        } else {
                            return b.defaultTop - a.defaultTop;
                        }
                    });
                    $($this.configTableFieldDetails).each(function(i) {
                        this.sequence = i;
                    });
                },
                // 重置配置
                resetConfig: function () {
                    var $this = this;
                    $this.configTableFieldDetails = $this.calConfigTableFieldDetails();
                    $this.reSortSettingData();
                },
                // 封装提交的配置
                packageSubmitTableFieldDetails: function () {
                    var $this = this;
                    var marketTableFieldDetails = [];
                    var sequence = 1;
                    $($this.configTableFieldDetails).each(function () {
                        if (this.defaultChecked) {
                            var orgTableFieldDetail = {
                                tableFieldDetailId: this.id,
                                top: this.defaultTop,
                                sequence: sequence++
                            }
                            marketTableFieldDetails.push(orgTableFieldDetail);

                        }
                    });
                    return marketTableFieldDetails;
                },
                // 配置提交
                configSubmit: function () {
                    var $this = this;
                    var marketTableFieldDetails = $this.packageSubmitTableFieldDetails();
                    var url = ctx + "/api/market/" + $this.marketId + "/table-field/" + $this.tableFieldId + "/config";
                    var params = {
                        marketTableFieldsStr: activityApp.getJsonStr(marketTableFieldDetails)
                    };
                    app.ajaxPostWithLoading(url, params, function (data) {
                        if (data.success) {
                            window.location.reload();
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "配置失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("配置失败");
                    });
                },
                // 导出
                exportData: function () {
                    var $this = this;
                    var url = ctx + "/api/export";
                    $this.loaded = false;
                    var params = {
                        queryParamStr: activityApp.getJsonStr($this.queryParams),
                        exportType: "activity_manage"
                    };
                    app.ajaxPostWithLoading(url, params, function (data) {
                        $this.loaded = true;
                        if (data.success) {
                            $this.$refs.exportSuccessWindow.show = true;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "导出失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("导出失败");
                    });
                },
                // 导出记录
                exportRecord: function () {
                    window.open(ctx + '/export-record?exportType=activity_manage');
                }
            }
        });
    </script>
</div>
</body>

</html>