body {
  background: #ffffff;
}

.noContent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.noContent p {
  text-align: center;
  color: #999999;
  font-size: 14px;
  line-height: 20px;
}

.header-con {
  position: fixed;
  top: 0;
  z-index: 100000;
  width: calc(100% - 144px);
  background: #ffffff;
  padding: 0 72px;
}

.header-con .header-inner-content {
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.header-con .searchDiv {
  padding-right: 61px;
  padding-left: 16px;
  width: 220px;
  height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 25px;
  position: relative;
}

.header-con .searchDiv .inputValue {
  color: #333333;
  width: 100%;
  background: none;
  height: 30px;
  line-height: 30px;
  border: none;
  font-size: 14px;
}

.header-con .searchDiv .icon-delete1 {
  cursor: pointer;
  position: absolute;
  right: 35px;
  display: inline-block;
  width: 17px;
  height: 30px;
  background: url("../images/icon-delete.png") center center no-repeat;
  background-size: 100%;
}

.header-con .searchDiv .icon-delete1:hover {
  background: url("../images/icon-delete-hover.png") center center no-repeat;
  background-size: 100%;
}

.header-con .searchDiv .icon-search1 {
  cursor: pointer;
  position: absolute;
  right: 9px;
  display: inline-block;
  width: 17px;
  height: 30px;
  background: url("../images/icon-search.png") center center no-repeat;
  background-size: 100%;
}

.header-con .searchDiv .icon-search1:hover {
  background: url("../images/icon-search-hover.png") center center no-repeat;
  background-size: 100%;
}

.header-con .user {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header-con .user .icon-user {
  line-height: 30px;
  color: #0084FF;
  display: inline-block;
  margin-right: 4px;
}

.header-con .user a {
  color: #0084FF;
  line-height: 30px;
  font-size: 14px;
}

.header-con .user:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.filter {
  padding-top: 63px;
}

.filter .item {
  margin-top: 4px;
  position: relative;
}

.filter .item:first-child {
  margin-top: 16px;
}

.filter .item label {
  width: 44px;
  font-size: 14px;
  line-height: 28px;
  color: #666666;
  position: absolute;
  left: 0;
}

.filter .item .option-list {
  padding-left: 44px;
}

.filter .item .option-list ul li {
  position: relative;
  float: left;
  margin-right: 10px;
  font-size: 14px;
  padding: 4px 8px;
  color: #333333;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
  line-height: 20px;
}

.filter .item .option-list ul li:hover {
  background: rgba(0, 0, 0, 0.04);
}

.filter .item .option-list ul li.active {
  color: #0084FF;
  background: rgba(0, 132, 255, 0.1);
}

.filter .item .option-list ul li .select-time {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.filter .item .option-list ul li .select-time .el-input__icon {
  display: none;
}

.filter .item .option-list ul li .select-time.el-input--prefix .el-input__inner {
  padding-left: 0;
  cursor: pointer;
}

.filter .item .option-list ul li .select-time.el-input--suffix .el-input__inner {
  padding-right: 0;
}

.inner-content {
  min-width: 936px;
  padding: 0 72px;
}

.inner-content .switch-box {
  overflow: hidden;
  margin-top: 4px;
}

.inner-content .switch-box .list-total {
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}

.inner-content .switch-box .el-checkbox__label {
  font-size: 12px;
}

.activity-market1 .card-list {
  margin-bottom: 24px;
}

.activity-market1 .card-list ul li {
  position: relative;
  margin-bottom: 24px;
}

.activity-market1 .card-list ul li .inner {
  padding-left: 248px;
  min-height: 120px;
  position: relative;
}

.activity-market1 .card-list ul li .img-box {
  position: absolute;
  left: 0;
  border: 1px solid #E9E9E9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 232px;
  height: 120px;
  overflow: hidden;
}

.activity-market1 .card-list ul li .img-box .js-crop-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 232px;
  height: 120px;
}

.activity-market1 .card-list ul li .img-box .num {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  padding: 26px 0 10px;
  border-radius: 0 0 3px 3px;
  color: #FFFFFF;
}

.activity-market1 .card-list ul li .img-box .num i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100%;
  margin-left: 10px;
  margin-right: 4px;
}

.activity-market1 .card-list ul li .img-box .tips-box {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 0;
  z-index: 1;
}

.activity-market1 .card-list ul li .img-box .tips {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
  height: 22px;
  line-height: 22px;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 4px;
}

.activity-market1 .card-list ul li .img-box .tips.sign {
  position: relative;
  margin-right: 6px;
}

.activity-market1 .card-list ul li .img-box .tips .sign-dot {
  position: absolute;
  top: 8px;
  left: 6px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
}

.activity-market1 .card-list ul li .img-box .color1 {
  background: -o-linear-gradient(170.6deg, #24BB1D 0.2%, #48DF4E 100.2%);
  background: linear-gradient(279.4deg, #24BB1D 0.2%, #48DF4E 100.2%);
}

.activity-market1 .card-list ul li .img-box .color2 {
  background: -o-linear-gradient(350.6deg, #91D3FF -0.2%, #51B9FF 99.8%);
  background: linear-gradient(99.4deg, #91D3FF -0.2%, #51B9FF 99.8%);
}

.activity-market1 .card-list ul li .img-box .color3 {
  background: -o-linear-gradient(350.6deg, #ACB8BF -0.2%, #7F8E98 99.8%);
  background: linear-gradient(99.4deg, #ACB8BF -0.2%, #7F8E98 99.8%);
}

.activity-market1 .card-list ul li .img-box .color4 {
  background: -o-linear-gradient(350.83deg, #FD8585 1.9%, #FC564C 99.8%);
  background: linear-gradient(99.17deg, #FD8585 1.9%, #FC564C 99.8%);
}

.activity-market1 .card-list ul li .img-box .color5 {
  background: -o-linear-gradient(353.32deg, #FFB763 1.14%, #FF8B20 98.13%);
  background: linear-gradient(96.68deg, #FFB763 1.14%, #FF8B20 98.13%);
}

.activity-market1 .card-list ul li .img-box .color6 {
  background: -webkit-gradient(linear, left top, right top, from(#02C4FF), to(#43A3FF));
  background: -o-linear-gradient(left, #02C4FF 0%, #43A3FF 100%);
  background: linear-gradient(90deg, #02C4FF 0%, #43A3FF 100%);
  background: -o-linear-gradient(353.32deg, #02C4FF 0%, #43A3FF 100%);
}

.activity-market1 .card-list ul li .card-info {
  text-align: left;
}

.activity-market1 .card-list ul li .card-info .info-top {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  width: 40px;
  height: 22px;
  background: rgba(0, 132, 255, 0.06);
  border-radius: 4px;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #0084FF;
}

.activity-market1 .card-list ul li .card-info .title {
  color: #333333;
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 24px;
  cursor: pointer;
}

.activity-market1 .card-list ul li .card-info .title:hover {
  color: #0084FF;
}

.activity-market1 .card-list ul li .card-info .time {
  color: #666666;
  font-size: 14px;
  line-height: 24px;
}

.activity-market1 .card-list ul li .card-info .type-box {
  margin-top: 8px;
  font-size: 0;
}

.activity-market1 .card-list ul li .card-info .type-box .type-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  border: 1px solid #E9E9E9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  font-size: 13px;
  color: #666666;
}

.activity-market1 .card-list ul li .card-info .address {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-top: 8px;
}

.activity-market2 .inner-content {
  width: auto;
}

.activity-market2 .card-list {
  overflow: hidden;
  margin-top: 16px;
}

.activity-market2 .card-list ul li {
  float: left;
  margin-right: 24px;
  margin-bottom: 24px;
  width: calc(33.333% - 16px);
  border: 1px solid #E9E9E9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.activity-market2 .card-list ul li:nth-child(3n) {
  margin-right: 0;
}

.activity-market2 .card-list ul li .img-box {
  position: relative;
  width: 100%;
  height: 148px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.activity-market2 .card-list ul li .img-box .js-crop-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.activity-market2 .card-list ul li .img-box .num {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  padding: 23px 0 11px;
  color: #FFFFFF;
}

.activity-market2 .card-list ul li .img-box .num i {
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 4px;
}

.activity-market2 .card-list ul li .img-box .type-box {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 0;
  z-index: 10;
}

.activity-market2 .card-list ul li .img-box .type-box .type-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 99px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 22px;
  line-height: 17px;
  padding: 2.5px 6px;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
}

.activity-market2 .card-list ul li .img-box .tips-box {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 0;
  z-index: 1;
}

.activity-market2 .card-list ul li .img-box .tips {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
  height: 22px;
  line-height: 22px;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 4px;
}

.activity-market2 .card-list ul li .img-box .tips.sign {
  position: relative;
  padding-left: 14px;
  margin-right: 6px;
}

.activity-market2 .card-list ul li .img-box .tips .sign-dot {
  position: absolute;
  top: 8px;
  left: 6px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
}

.activity-market2 .card-list ul li .img-box .color1 {
  background: -o-linear-gradient(170.6deg, #24BB1D 0.2%, #48DF4E 100.2%);
  background: linear-gradient(279.4deg, #24BB1D 0.2%, #48DF4E 100.2%);
}

.activity-market2 .card-list ul li .img-box .color2 {
  background: -o-linear-gradient(350.6deg, #91D3FF -0.2%, #51B9FF 99.8%);
  background: linear-gradient(99.4deg, #91D3FF -0.2%, #51B9FF 99.8%);
}

.activity-market2 .card-list ul li .img-box .color3 {
  background: -o-linear-gradient(350.6deg, #ACB8BF -0.2%, #7F8E98 99.8%);
  background: linear-gradient(99.4deg, #ACB8BF -0.2%, #7F8E98 99.8%);
}

.activity-market2 .card-list ul li .img-box .color4 {
  background: -o-linear-gradient(350.83deg, #FD8585 1.9%, #FC564C 99.8%);
  background: linear-gradient(99.17deg, #FD8585 1.9%, #FC564C 99.8%);
}

.activity-market2 .card-list ul li .img-box .color5 {
  background: -o-linear-gradient(353.32deg, #FFB763 1.14%, #FF8B20 98.13%);
  background: linear-gradient(96.68deg, #FFB763 1.14%, #FF8B20 98.13%);
}

.activity-market2 .card-list ul li .img-box .color6 {
  background: -webkit-gradient(linear, left top, right top, from(#02C4FF), to(#43A3FF));
  background: -o-linear-gradient(left, #02C4FF 0%, #43A3FF 100%);
  background: linear-gradient(90deg, #02C4FF 0%, #43A3FF 100%);
  background: -o-linear-gradient(353.32deg, #02C4FF 0%, #43A3FF 100%);
}

.activity-market2 .card-list ul li .card-info {
  text-align: left;
  padding: 8px 16px 16px;
}

.activity-market2 .card-list ul li .card-info .height80 {
  height: 80px;
}

.activity-market2 .card-list ul li .card-info .title {
  color: #333333;
  font-size: 15px;
  line-height: 24px;
  cursor: pointer;
}

.activity-market2 .card-list ul li .card-info .title:hover {
  color: #0084FF;
}

.activity-market2 .card-list ul li .card-info .info-top {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  width: 40px;
  height: 22px;
  background: rgba(0, 132, 255, 0.06);
  border-radius: 4px;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  color: #0084FF;
}

.activity-market2 .card-list ul li .card-info .time {
  color: #666666;
  font-size: 13px;
  line-height: 18px;
  margin-top: 8px;
}

.activity-market2 .card-list ul li .card-info .type-box {
  margin-top: 8px;
  font-size: 0;
}

.activity-market2 .card-list ul li .card-info .type-box .type-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
  border: 1px solid #E9E9E9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  font-size: 13px;
  color: #666666;
}

.activity-market2 .card-list ul li .card-info .address {
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  margin-top: 8px;
}

.activity-market2 .card-list ul li .card-info .address i {
  margin: 0 4px;
}

.activity-market2 .card-list ul li:hover {
  -webkit-box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08), 0px 9px 28px rgba(0, 0, 0, 0.05), 0px 12px 48px 16px rgba(0, 0, 0, 0.03);
}

.loading {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
  margin-bottom: 50px;
}

.loading img {
  width: 32px;
  height: 32px;
}

.noMore {
  margin-bottom: 26px;
}

@media screen and (min-width: 1080px) and (max-width: 1365px) {
  .activity-market2 .card-list ul li {
    width: calc(33.333% - 16px);
    height: 283.51px;
    margin-right: 24px !important;
  }
  .activity-market2 .card-list ul li:nth-child(3n) {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .activity-market2 .card-list ul li {
    width: calc(25% - 18px);
    margin-right: 24px !important;
    height: 279.11px;
  }
  .activity-market2 .card-list ul li:nth-child(4n) {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1920px) and (max-width: 2299px) {
  .activity-market2 .card-list ul li {
    width: calc(20% - 19.2px);
    margin-right: 24px !important;
    height: 304.26px;
  }
  .activity-market2 .card-list ul li .img-box {
    height: 173px;
  }
  .activity-market2 .card-list ul li .img-box .js-crop-img {
    height: 100%;
  }
  .activity-market2 .card-list ul li:nth-child(5n) {
    margin-right: 0 !important;
  }
}

@media only screen and (min-width: 2300px) {
  .activity-market2 .card-list ul li {
    width: calc(16.666% - 20px);
    margin-right: 24px !important;
    height: 305.99px;
  }
  .activity-market2 .card-list ul li .img-box {
    height: 174px;
  }
  .activity-market2 .card-list ul li .img-box .js-crop-img {
    height: 100%;
  }
  .activity-market2 .card-list ul li:nth-child(6n) {
    margin-right: 0 !important;
  }
}
