.banner {
    width: 100%;
    height: 380px;
}

.banner img {
    width: 100%;
    height: 100%;
}

.content {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.search {
    position: relative;
    width: 400px;
    height: 40px;
    background: #f0f0f0;
    border-radius: 20px;
    display: flex;
    box-sizing: border-box;
}

.search input {
    height: 40px;
    border: none;
    outline: none;
    flex: 1;
    color: #333333;
    font-size: 14px;
    padding-left: 20px;
    border-radius: 20px;
    background: #f0f0f0;
}
.search input::placeholder{
    color: #ababab;
}
.search-foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 40px;
    background: #415285;
    border-radius: 0px 20px 20px 0px;
    box-sizing: border-box;
    cursor: pointer;
}

.search-foot img {
    width: 16px;
    height: 16px;
}

.typeItem {
    color: #333333;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 30px;
}

.title {
    line-height: 28px;
    margin-right: 20px;
    float: left;
}
.typeItem ul {
    display: flex;
    flex-flow: row wrap;
}

.typeItem ul li {
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    margin-right: 18px;
    cursor: pointer;
}

.active {
    height: 28px;
    background: #415285;
    border-radius: 3px;
    color: white;
}
.item-box{
    min-height: 429px;
}
.item-box .head {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #999999;
}

.item-box .head li {
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
}

.active1 {
    color: #415285;
}

.c-item {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.c-item .item {
    width: 380px;
    /* height: 318px; */
    height: 360px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.c-item .item:nth-of-type(3n){
    margin-right: 0;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #415285;
    color: #FFF;
    font-weight: 400;
}

.img-box {
    position: relative;
    width: 380px;
    height: 176px;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 64px;
    height: 26px;
    line-height: 26px;
    background: #ff7124;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}
.font-box{
    color: #666666;
    font-size: 14px;
    text-align: left;
    padding: 10px 16px;
}



.font-box p{
    margin-top: 6px;
    line-height: 24px;
}
.active2{
    color: #415285 !important;      
}
.title1{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-top: 0 !important;
    line-height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}
.title1:hover{
    color: #415285;
}
.green{
    background: #13B35E !important;
}
.black{
    background: #797979 !important;
}
.el-pagination{
    margin-bottom: 30px;
    text-align: center;
}
.empty-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    color: #666666;
    /* padding: 130px 0;
    margin-bottom: 120px; */
    height: 390px;
}
.empty-box img{
    width: 160px;
    height: 110px;
}
.empty-box p{
    margin-top: 15px;
}
.overHidden2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
}