.page {
    width: 1000px;
    margin: 0px auto;
    font-size: 14px;
    color: #999999;
}

.top {
    width: 1000px;
    height: 68px;
    background: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 12px;
    padding: 0 24px;
    color: #666666;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    display: flex;
    align-items: center;
}

.box {
    margin-top: 16px;
}

.main {
    width: 1000px;
    height: 980px;
    background: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
}

.create-btn {
    width: 80px;
    height: 30px;
    background: #0084ff;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}

.icon {
    width: 16px;
    height: 16px;
}

table {
    width: 100%;
}
/* table tr{
    display: flex;
} */
thead>tr {
    width: 960px;
    height: 40px;
    background: #fafafa;
}

tbody>tr {
    height: 100px;
    border-bottom: 1px solid #f8f8f8;
}

tr>td {
    position: relative;
    text-align: left;
    padding: 0 14px;
}

.select-box {
    position: absolute;
    top: 40px;
    left: -10px;
    width: 88px;
    height: 140px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03), 0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
}

.select-box>div {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    text-align: center;
    line-height: 34px;
}
.flex{
    display: flex;
}