<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>机构活动统计</title>
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/reset-tongji.css" th:href="@{/pc/assets/css/reset-tongji.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/common.css" th:href="@{/pc/assets/css/common.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/activity-detail.css" th:href="@{/pc/assets/css/activity-detail.css}">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="activity-statistics" id="activity-statistics" v-cloak>
        <div class="white-part title-box">
            <div class="clear name-box">
                <span class="title fl">机构活动统计</span>
                <span class="tip fr">统计数据每天更新一次</span>
            </div>
            <div class="date-box">
                <el-date-picker v-model="time" type="daterange" range-separator=""
                                start-placeholder="开始日期" end-placeholder="结束日期"
                                format="yyyy-MM-dd" value-format="yyyy-MM-dd"
                                @change="dateRangeChange" />
            </div>
        </div>
        <div class="white-part paddingb12">
            <p class="title">概况</p>
            <div class="content1">
                <ul class="count-ul clearfix">
                    <li class="count-li fl">
                        <img class="count-img" src="/static/pc/assets/images/yd-icon/icon-activity.png" th:src="@{/pc/assets/images/yd-icon/icon-activity.png}" alt="">
                        <div class="text-box">
                            <p>
                                <span class="count-num">{{activityOrgStat.activityNum}}</span>
                            </p>
                            <p class="count-name">活动个数(个)</p>
                        </div>
                    </li>
                    <li class="count-li fl">
                        <img class="count-img" src="/static/pc/assets/images/yd-icon/icon-eye.png" th:src="@{/pc/assets/images/yd-icon/icon-eye.png}" alt="">
                        <div class="text-box">
                            <p>
                                <span class="count-num">{{activityOrgStat.pv}}</span>
                            </p>
                            <p class="count-name">浏览量(pv)</p>
                        </div>
                    </li>
                    <li class="count-li fl">
                        <img class="count-img" src="/static/pc/assets/images/yd-icon/icon-shi2.png" th:src="@{/pc/assets/images/yd-icon/icon-shi2.png}" alt="">
                        <div class="text-box">
                            <p>
                                <span class="count-num">{{activityOrgStat.signedUpNum}}</span>
                            </p>
                            <p class="count-name">报名人数(人)</p>
                        </div>
                    </li>
                    <li class="count-li fl">
                        <img class="count-img" src="/static/pc/assets/images/yd-icon/icon-sign-number.png" th:src="@{/pc/assets/images/yd-icon/icon-sign-number.png}" alt="">
                        <div class="text-box">
                            <p>
                                <span class="count-num">{{activityOrgStat.signedInNum}}</span>
                            </p>
                            <p class="count-name">签到数(人·次)</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="white-part line-box">
            <div class="height417px" id="line-aqxec"></div>
        </div>
        <div class="white-part bar-box">
            <div id="bar-aqxec" class="height336px"></div>
        </div>
        <div class="white-part">
            <div class="clear">
                <p class="title fl">TOP活动榜</p>
<!--                <div class="export-date fr">-->
<!--                    <i class="export"></i>-->
<!--                    导出数据-->
<!--                </div>-->
            </div>
            <div class="table-box">
                <el-table :data="topActivityStat" style="width: 100%">
                    <el-table-column prop="rank" label="排名" width="50" align="center">
                        <template slot-scope="scope">
                            <span
                                :class="scope.row.rank == 1 ? 'rank one' : scope.row.rank == 2 ? 'rank two' : scope.row.rank == 3 ? 'rank three' : 'rank' ">{{scope.row.rank}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="activityName" label="活动名称" width="421">
                    </el-table-column>
                    <el-table-column prop="pv" label="浏览量" width="234" align="center">
                        <template #header>
                            <div class="number" :class="{'active': sortCol && sortCol.field === 'pv'}" @click.stop="loadTopActivity(sortField.pv, $event)"> 浏览量<i class="down-icon"></i></div>
                        </template>
                        <template slot-scope="scope">
                            <span class="color">{{scope.row.pv || 0}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="signedUpNum" label="报名人数" align="center">
                        <template #header>
                            <div class="number" :class="{'active': sortCol && sortCol.field === 'signedUpNum'}" @click="loadTopActivity(sortField.signedUpNum, $event)"> 报名人数<i class="down-icon"></i></div>
                        </template>
                        <template slot-scope="scope">
                            <span class="color">{{scope.row.signedUpNum || 0}}</span>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</body>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/echarts4.min.js" th:src="@{/pc/assets/lib/echarts4.min.js}"></script>
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/jquery.nicescroll.min.js" th:src="@{/pc/assets/lib/jquery.nicescroll.min.js}"></script>
    <script th:inline="javascript">
        // $(function () {
        //     $('.el-table .number').click(function () {
        //         $(this).parents('.el-table').find($(' .number')).removeClass('active')
        //         $(this).addClass('active')
        //     })
        // })
        var vm = new Vue({
            el: '#activity-statistics',
            data: {
                fid: [[${fid}]],
                activityOrgStat: [[${activityOrgStat}]],
                topActivityStat: [[${topActivityStat}]],
                // 排序列-> 0: 浏览量， 1: 报名人数
                sortCol: null,
                sortField: {
                    pv: {
                        desc: true,
                        field: 'pv'
                    },
                    signedUpNum: {
                        desc: true,
                        field: 'signedUpNum'
                    }
                },
                queryParams: {
                    fid: [[${fid}]],
                    startDate: null,
                    endDate: null,
                    orderField: 'pv',
                    orderType: 'DESC',
                    activityIds: [[${activityOrgStat.activityIds}]]
                },
                time: []
            },
            mounted: function () {
                var $this = this;
                $(".number.active").on("click", function (){
                    $(this).find(".down-icon").toggleClass("rotate180")
                })
                $this.initChart();
                $this.loadTopActivity();
            },
            methods: {
                initChart: function () {
                    /* 条形图 */
                    var $this = this;

                    // 日期
                    var data1 = [];
                    // 浏览量趋势
                    var data2 = [];
                    // 报名人数
                    var data3 = [];

                    var pvTrendObj = {};
                    var signUpTrendObj = {};
                    var max = 0;
                    $($this.activityOrgStat.pvTrend).each(function () {
                        var val = parseInt(this.value || '0');
                        max = val > max ? val : max;
                        pvTrendObj[this.dateStr] = this.value;
                    });

                    $($this.activityOrgStat.signUpTrend).each(function () {
                        var val = parseInt(this.value || '0');
                        max = val > max ? val : max;
                        signUpTrendObj[this.dateStr] = this.value;
                    });

                    max += 10;
                    $this.activityOrgStat.daily.forEach(dateStr => {
                        data1.push(dateStr);
                        data2.push(pvTrendObj[dateStr] || '0');
                        data3.push(signUpTrendObj[dateStr] || '0');
                    });

                    // 活动参与趋势
                    var myChart1 = echarts.init(document.getElementById('line-aqxec'));
                    var option1 = [];
                    if (data1.length > 1) {
                        option1 = {
                            title: {
                                text: '活动参与趋势图',
                                textStyle: {
                                    fontWeight: 500,
                                    fontSize: 16,
                                    color: '#333333',
                                },
                                left: 0,
                                top: 0,
                            },
                            color: ['#3A8BFF', '#9FE6B8'],
                            legend: {
                                top: 0,
                                right: 0,
                                itemWidth: 8,
                                itemHeight: 8,
                                itemGap: 16,
                                textStyle: {
                                    fontWeight: 500,
                                    fontSize: 12,
                                    color: '#666666'
                                },
                                icon: 'circle',
                                data: ['报名人数', '浏览量']
                            },
                            grid: {
                                bottom: 10,
                                top: 70,
                                left: 0,
                                right: 20,
                                containLabel: true,
                            },
                            tooltip: {
                                trigger: 'axis',
                                backgroundColor: 'rgba(0,0,0,0.7)',
                                padding: [12, 16],
                                axisPointer: {
                                    type: 'line',
                                    lineStyle: {
                                        color: 'rgba(0, 0, 0, 0.1)'
                                    }
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: data1,
                                axisLine: {
                                    show: true,
                                    lineStyle: {
                                        color: '#E3ECFB',
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                splitLine: {
                                    lineStyle: {
                                        color: '#f8f8f8',
                                    },
                                },
                                axisLabel: {
                                    lineHeight: 40,
                                    textStyle: {
                                        color: '#767690'
                                    }
                                },
                                offset: 10
                            },
                            yAxis: {
                                type: 'value',
                                name: '',
                                axisLine: {
                                    show: false
                                },
                                axisTick: {
                                    show: false
                                },
                                splitLine: {
                                    lineStyle: {
                                        type: 'dashed',
                                        color: '#E3ECFB',
                                    },
                                },
                                min: 0,
                                max: max
                            },
                            series: [{
                                name: '报名人数',
                                data: data3,
                                type: 'line',
                                itemStyle: {
                                    normal: {
                                        opacity: 0,
                                    },
                                },
                                smooth: true,
                                lineStyle: {
                                    normal: {
                                        color: '#3A8BFF',
                                        width: 2,
                                    }
                                },
                                areaStyle: {
                                    normal: {
                                        color: {
                                            type: 'linear',
                                            x: 0,
                                            y: 0,
                                            x2: 0,
                                            y2: 1,
                                            colorStops: [{
                                                offset: 0,
                                                color: 'rgba(58,139,255,0.3)' // 0% 处的颜色
                                            }, {
                                                offset: 1,
                                                color: 'rgba(58,139,255,0)' // 100% 处的颜色
                                            }],
                                            global: false // 缺省为 false
                                        },
                                    },
                                },
                            },
                                {
                                    name: '浏览量',
                                    data: data2,
                                    type: 'line',
                                    itemStyle: {
                                        normal: {
                                            opacity: 0,
                                        },
                                    },
                                    smooth: true,
                                    lineStyle: {
                                        normal: {
                                            color: '#9FE6B8',
                                            width: 2,
                                        }
                                    },
                                    areaStyle: {
                                        normal: {
                                            color: {
                                                type: 'linear',
                                                x: 0,
                                                y: 0,
                                                x2: 0,
                                                y2: 1,
                                                colorStops: [{
                                                    offset: 0,
                                                    color: 'rgba(159,230,184,0.3)' // 0% 处的颜色
                                                }, {
                                                    offset: 1,
                                                    color: 'rgba(159,230,184,0)' // 100% 处的颜色
                                                }],
                                                global: false // 缺省为 false
                                            },
                                        },
                                    },
                                }
                            ]
                        };
                    } else {
                        option1 = {
                            title: {
                                text: '活动参与趋势图',
                                textStyle: {
                                    fontSize: 16,
                                    color: '#333333',
                                },
                                left: 0,
                                top: 0,
                            },
                            color: ['#3A8BFF', '#9FE6B8'],
                            legend: {
                                top: 0,
                                right: 20,
                                itemWidth: 8,
                                itemHeight: 8,
                                itemGap: 16,
                                textStyle: {
                                    fontSize: 12,
                                    color: '#666666'
                                },
                                icon: 'circle',
                                data: ['报名人数', '浏览量']
                            },
                            grid: {
                                bottom: 10,
                                top: 70,
                                left: 0,
                                right: 20,
                                containLabel: true,
                            },
                            tooltip: {
                                trigger: 'axis',
                                backgroundColor: 'rgba(0,0,0,0.7)',
                                padding: [12, 16],
                                axisPointer: {
                                    type: 'line',
                                    lineStyle: {
                                        color: 'rgba(0, 0, 0, 0.1)'
                                    }
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: data1,
                                axisLine: {
                                    show: true,
                                    lineStyle: {
                                        color: '#E3ECFB',
                                    }
                                },
                                axisTick: {
                                    show: false
                                },
                                splitLine: {
                                    lineStyle: {
                                        color: '#f8f8f8',
                                    },
                                },
                                axisLabel: {
                                    lineHeight: 40,
                                    textStyle: {
                                        color: '#767690'
                                    }
                                },
                            },
                            yAxis: {
                                type: 'value',
                                name: '',
                                axisLine: {
                                    show: false
                                },
                                axisTick: {
                                    show: false
                                },
                                splitLine: {
                                    lineStyle: {
                                        type: 'dashed',
                                        color: '#E3ECFB',
                                    },
                                },
                                min: 0,
                                max: 120
                            },
                            series: [{
                                name: '报名人数',
                                data: [5],
                                type: 'line',
                                lineStyle: {
                                    normal: {
                                        color: '#3A8BFF',
                                        width: 2,
                                    }
                                },
                                areaStyle: {
                                    normal: {
                                        color: {
                                            type: 'linear',
                                            x: 0,
                                            y: 0,
                                            x2: 0,
                                            y2: 1,
                                            colorStops: [{
                                                offset: 0,
                                                color: 'rgba(58,139,255,0.3)' // 0% 处的颜色
                                            }, {
                                                offset: 1,
                                                color: 'rgba(58,139,255,0)' // 100% 处的颜色
                                            }],
                                            global: false // 缺省为 false
                                        },
                                    },
                                },
                            },
                                {
                                    name: '浏览量',
                                    data: [3],
                                    type: 'line',
                                    lineStyle: {
                                        normal: {
                                            color: '#9FE6B8',
                                            width: 2,
                                        }
                                    },
                                    areaStyle: {
                                        normal: {
                                            color: {
                                                type: 'linear',
                                                x: 0,
                                                y: 0,
                                                x2: 0,
                                                y2: 1,
                                                colorStops: [{
                                                    offset: 0,
                                                    color: 'rgba(159,230,184,0.3)' // 0% 处的颜色
                                                }, {
                                                    offset: 1,
                                                    color: 'rgba(159,230,184,0)' // 100% 处的颜色
                                                }],
                                                global: false // 缺省为 false
                                            },
                                        },
                                    },
                                }
                            ]
                        };
                    }
                    myChart1.setOption(option1);

                    window.onload = function () {
                        myChart1.resize();
                    }
                    window.onresize = function () {
                        myChart1.resize();
                    }

                    /* 饼图 */
                    var myChart2 = echarts.init(document.getElementById('bar-aqxec'));
                    var pieData = [];
                    var typeNameData = [];
                    var totalActivity = 0;
                    $($this.activityOrgStat.classifyStatList).each(function () {
                        var obj = {
                            value: this.typeNum || 0,
                            name: this.typeName || '未知',
                            itemStyle: {
                                normal: {
                                    color: $this.randomHexColor()
                                }
                            }
                        };
                        totalActivity += obj.value;
                        pieData.push(obj);
                        typeNameData.push(this.typeName || '未知');
                    });
                    var option2 = {
                        title: {
                            text: '活动类型分布',
                            textStyle: {
                                fontWeight: 500,
                                fontSize: 16,
                                color: '#333333',
                            },
                            left: 0,
                            top: 0,
                        },
                        tooltip: {
                            trigger: 'item',
                            padding: [12, 16],
                            formatter: function (param) {
                                return param.name + "<br>" + param.marker + '占比：' + param.percent + '%'
                            }
                        },
                        legend: {
                            data: typeNameData,
                            textStyle: {
                                fontSize: 12,
                                color: '#333'
                            },
                            formatter: function (name) {
                                const val = pieData.filter(function (item) {
                                    return item.name === name
                                })
                                return '{a|' + name + '}{b|' + val[0].value + '个}'
                            },
                            textStyle: {
                                rich: {
                                    a: {
                                        fontSize: 12,
                                        color: '#666666',
                                        align: 'left',
                                    },
                                    b: {
                                        width: 500,
                                        fontSize: 12,
                                        color: '#333333',
                                        align: 'left',
                                        padding: [0, 0, 0, 36]
                                    },
                                }
                            },
                            icon: 'circle',
                            itemWidth: 8,
                            itemHeight: 8,
                            itemGap: 20,
                            y: 'center',
                            x: '60%'
                        },
                        series: [{
                            type: 'pie',
                            radius: '60%',
                            radius: ['50%', '70%'],
                            center: ['40%', '50%'],
                            label: {
                                normal: {
                                    show: true,
                                    position: 'center',
                                    formatter: '{total|' + totalActivity + '}' + '\n\r' + '{active|活动数（个）}',
                                    rich: {
                                        total: {
                                            fontSize: 32,
                                            color: '#565E64'
                                        },
                                        active: {
                                            fontSize: 14,
                                            color: '#91A0B5',
                                            lineHeight: 30,
                                            fontWeight: 'normal'
                                        },
                                    }
                                },

                            },
                            emphasis: {
                                show: true,
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data: pieData
                        }]
                    }
                    myChart2.setOption(option2);
                    window.onload = function () {
                        myChart2.resize();
                    }
                    window.onresize = function () {
                        myChart2.resize();
                    }
                },
                randomHexColor: function () {
                    return '#'+Math.floor(Math.random() * 0xffffff).toString(16).padEnd(6, '0');
                },
                dateRangeChange: function (range) {
                    var $this = this;
                    $this.reloadActivityStat();
                },
                reloadActivityStat: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/stat/org/" + $this.fid +"/query";
                    var params = {
                        startDate: $this.time[0],
                        endDate: $this.time[1],
                    };

                    app.ajaxPost(url, params, function (res) {
                        if (res.success) {
                            $this.activityOrgStat = res.data;
                            $this.initChart();
                            // 重新获取top排行榜数据
                            $this.queryParams.activityIds = $this.activityOrgStat.activityIds;
                            $this.loadTopActivity();
                        } else {
                            var errorMessage = res.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "获取机构统计数据失败!";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("获取机构统计数据失败!");
                    });
                },
                loadTopActivity: function (sortCol, e) {
                    var $this = this;
                    if (sortCol) {
                        if ($this.sortCol && $this.sortCol.field === sortCol.field) {
                            $this.sortCol.desc = !this.sortCol.desc;
                            if (e) {
                                var iconClassName = $(e.target).get(0).className.indexOf('down-icon') !== -1;
                                if (iconClassName) {
                                    $(e.target).toggleClass("rotate180");
                                } else {
                                    $(e.target).find(".down-icon").toggleClass("rotate180");
                                }
                            }
                        } else {
                            $this.sortCol = sortCol;
                        }
                        $this.queryParams.orderField = $this.sortCol.field;
                        $this.queryParams.orderType = $this.sortCol.desc ? 'DESC' : 'ASC';
                    }
                    var url = ctx + "/api/activity/stat/org/top-activity";
                    app.ajaxPost(url, {queryParamStr: activityApp.getJsonStr($this.queryParams)}, function (res) {
                        if (res.success) {
                            $this.topActivityStat = res.data;
                        } else {
                            var errorMessage = res.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "获取TOP活动榜数据失败!";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("获取TOP活动榜数据失败!");
                    });
                }
            }
        })
    </script>
</div>


</html>