<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/table-icomoon/style.css" th:href="@{/pc/assets/table-icomoon/style.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css" th:href="@{/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
    <link rel="stylesheet" href="/static/pc/assets/css/commonTable.css" th:href="@{/pc/assets/css/commonTable.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/confirm_dialog.css" th:href="@{/pc/assets/css/confirm_dialog.css}">
    <title>复杂表格</title>
</head>

<body>
<div id="orgActivityStatVue" v-cloak>
    <div style="display: block">
        <!-- 选项卡内容 -->
        <div class="tab-content-box">
            <div class="tab-item">
                <!-- 操作栏 -->
                <div class="table-operate-box fs0">
                    <el-button class="btn-customize" round>导出</el-button>
                    <el-button class="btn-customize" round>导出记录</el-button>
                    <div class="search-Box">
                        <el-input placeholder="活动名称"
                                  icon="search"
                                  class="search"
                                  v-model="queryParams.activityName"
                                  suffix-icon="el-icon-search">
                        </el-input>
                        <i class="icon-cancel btn-cancel fs16"
                            v-show="queryParams.activityName && queryParams.activityName.length > 0"
                            @click="queryParams.activityName = ''"></i>
                    </div>
                </div>
                <!-- 查询栏 -->
                <div class="table-search-box fs0">
                    <el-date-picker
                            v-model="dateValue1"
                            range-separator=""
                            type="daterange"
                            prefix-icon="el-icon-time"
                            start-placeholder="开始日期"
                            end-placeholder="结束日期"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            @change="dateRangeChange"
                    >
                    </el-date-picker>
                    <div class="popbtnInput">
                        <input type="text" autocomplete="off" class="layui-input" readonly value="全部参与范围" @click="selectPopFunc">
                    </div>
                    <el-button class="btn-customize" round @click="search">查询</el-button>
                </div>
                <!-- 计数栏 -->
                <div class="table-count-box fs12">
                    <div class="count-info fl">
                        <span class="color999">共 {{total}} 条</span>
                    </div>
                    <div class="setting-box">
                        <el-dropdown :hide-on-click="false" trigger="click">
                            <el-tooltip class="item" effect="dark" content="显示字段" placement="top">
                                <span class="icon-setting fs16"></span>
                            </el-tooltip>
                            <el-dropdown-menu slot="dropdown" class="set-dropdown">
                                <div class="dropdown-lists">
                                    <el-dropdown-item v-for="(item, index) in configTableFieldDetails">
                                        <el-checkbox v-model="item.defaultChecked" :disabled="item.allowUnchec" @change="reSortSettingData"> {{item.name}}</el-checkbox>
                                        <el-tooltip v-if="item.allowTop" class="item" effect="dark" :content="item.defaultTop ? '取消置顶' : '置顶'" placement="top">
                                            <i :class="`btn-fix icon-${item.defaultTop ? 'pinned' : 'pin'} fs16`" @click="topConfigChange(item)"></i>
                                        </el-tooltip>
                                        <i v-else :class="`btn-fix icon-${item.defaultTop ? 'pinned' : 'pin'} fs16`"></i>
                                    </el-dropdown-item>
                                </div>
                                <div class="bottom-btns fs14 colorBlue">
                                    <el-button type="text" class="btn-confirm" @click="configSubmit">确定</el-button>
                                    <el-button type="text" class="btn-reset" @click="resetConfig">重置</el-button>
                                </div>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                    <div class="clear"></div>
                </div>

                <el-table class="table-box" :data="tableData" @sort-change="sortChange">
                    <template v-for="item in showTableFieldDetails" v-if="item.defaultChecked">
                        <el-table-column
                                v-if="item.code === 'activityName'"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth || 120"
                                :sortable="item.sortable ? 'custom' : item.sortable"
                        >
                            <template slot-scope="scope">
                                <div style="cursor: pointer" @click="toActivityDetail(scope.row.activityPreviewUrl)">
                                    {{scope.row.activityName}}
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column
                                v-else
                                :prop="item.code"
                                :fixed="item.defaultTop"
                                :label="item.name"
                                :ifCenter="item.align"
                                :min-width="item.minWidth || 120"
                                :sortable="item.sortable ? 'custom' : item.sortable"
                        >
                        </el-table-column>
                    </template>
                </el-table>
                <el-pagination
                        background
                        layout="prev, pager, next"
                        :total="total"
                        :page-size="pageSize"
                        :current-page="pageNum"
                        @current-change="changePage">
                </el-pagination>
            </div>
        </div>
        <!-- 表格内容 -->
    </div>

    <!-------------------------------------------------分割线------------------------------------------------>
    <!-- 参与范围 -->
    <div class="dialog-box selectPop" v-show="ifSelectPop">
        <div class="dialog-wrap">
            <div class="header">
                <span class="color333">参与范围</span>
                <img src="/static/pc/assets/images/close.png" th:src="@{/pc/assets/images/close.png}" @click="ifSelectPop = false">
            </div>
           <div class="dialog-content">
                <!-- ztree内容 -->
               <div class="ztree-box">
                   <div class="count-box fs14">
                       <span class="color666">选择活动参与范围 </span>
                       <div class="fr colorBlue">
                           <span>已选</span>
                           <span id="checkCount"></span>
                       </div>
                   </div>
                   <ul id="treeList" class="ztree"></ul>
               </div>
           </div>
            <div class="btns">
                <span class="btn inlineMiddle btn-border" @click="ifSelectPop = false">取消</span>
                <span class="btn inlineMiddle btn-normal">确定</span>
            </div>
        </div>
    </div>

    <!-- toast提示 -->
    <div class="toast-box">
        toast提示，停留3s，自动消失，句末不加标点
    </div>
    <!--遮罩-->
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script type="text/javascript" src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.js}"></script>
    <script th:inline="javascript">
        Vue.filter("statusFormat", function (status) {
            if (status !== 0 && !status) {
                return '未知状态';
            }
            switch (status) {
                case 0:
                    return '已删除';
                case 1:
                    return '待发布';
                case 2:
                    return '已发布';
                case 3:
                    return '进行中';
                case 4:
                    return '已结束';
                default:
                    return '未知状态';
            }
        });
        var orgActivityStatVue = new Vue({
            el: '#orgActivityStatVue',
            data: {
                loaded: false,
                fid: [[${fid}]],
                tableFieldId: [[${tableFieldId}]],
                pageNum: 1,
                pageSize: 10,
                queryParams: {
                    activityName: '',
                    startTime: '',
                    endTime: '',
                    orderFieldId: null,
                    orderType: 'asc'
                },
                // 配置项源数据
                tableFieldDetails: [[${tableFieldDetails}]],
                // 配置项数据
                configTableFieldDetails: [],
                // 页面展示字段配置源数据
                orgTableFields: [[${orgTableFields}]],
                // 表格显示的字段列表
                showTableFieldDetails: [],
                // 页面数据
                tableData: [[${activityStatSummaryPage.records}]],
                // 总记录数
                total: [[${activityStatSummaryPage.total}]],
                // 总页数
                pages: [[${activityStatSummaryPage.pages}]],
                dateValue1:'',  //日期范围选择值
                ifSelectPop: false, //参与范围的弹窗展示
                setting: {
                    view: {
                        showLine: false
                    },
                    check: {
                        enable: true
                    },
                    data: {
                        simpleData: {
                            enable: true
                        }
                    },
                    callback: {
                        onClick:  (e, treeId, treeNode)=> app.zTreeOnClick(e, treeId, treeNode),
                        onCheck: (e, treeId, treeNode)=> app.zTreeOnCheck(e, treeId, treeNode)
                    }
                },
                zNodes: [
                    { id:1, pId:0, name:"天津教育局天津教育局天津教育局（12）", open:true},
                    { id:11, pId:1, name:"二级二级二级", open:true},
                    { id:111, pId:11, name:"can check 1-1-1"},
                    { id:112, pId:11, name:"can check 1-1-2"},
                    { id:12, pId:1, name:"can check 1-2", open:true},
                    { id:121, pId:12, name:"can check 1-2-1"},
                    { id:122, pId:12, name:"can check 1-2-2"},
                    { id:2, pId:0, name:"can check 2", checked:true, open:true},
                    { id:21, pId:2, name:"can check 2-1"},
                    { id:22, pId:2, name:"can check 2-2", open:true},
                    { id:221, pId:22, name:"can check 2-2-1", checked:true},
                    { id:222, pId:22, name:"can check 2-2-2"},
                    { id:23, pId:2, name:"can check 2-3"}
                ],
                clearFlag: false,
            },
            created: function () {
                var $this = this;
                $this.calShowTableFieldDetails();
                $this.configTableFieldDetails = $this.calConfigTableFieldDetails();
            },
            mounted: function () {
                var $this = this;
                $(document).ready(()=>{
                    $.fn.zTree.init($("#treeList"), $this.setting, $this.zNodes);
                });
                $this.reSortSettingData()
            },
            methods: {
                calShowTableFieldDetails: function () {
                    var $this = this;
                    // 计算表格显示的字段列表
                    if ($this.orgTableFields.length < 1) {
                        // 机构没有配置显示的字段。使用默认的
                        $($this.tableFieldDetails).each(function () {
                            if (this.defaultChecked) {
                                $this.showTableFieldDetails.push($.extend({}, this));
                            }
                        });
                    } else {
                        $($this.orgTableFields).each(function () {
                            var orgTableField = this;
                            var tableFieldDetailId = orgTableField.tableFieldDetailId;
                            $($this.tableFieldDetails).each(function () {
                                if (tableFieldDetailId === this.id) {
                                    var tableFieldDetail = $.extend({}, this);
                                    tableFieldDetail.defaultChecked = true;
                                    tableFieldDetail.defaultTop = orgTableField.top;
                                    $this.showTableFieldDetails.push(tableFieldDetail);
                                    return false;
                                }
                            });
                        });
                    }
                },
                calConfigTableFieldDetails: function () {
                    var $this = this;
                    var configTableFieldDetails = [];
                    $($this.tableFieldDetails).each(function () {
                        configTableFieldDetails.push($.extend({}, this));
                    });
                    if ($this.orgTableFields.length > 0) {
                        $(configTableFieldDetails).each(function () {
                            var configTableFieldDetail = this;
                            configTableFieldDetail.defaultChecked = false;
                            $($this.orgTableFields).each(function () {
                                if (configTableFieldDetail.id === this.tableFieldDetailId) {
                                    configTableFieldDetail.defaultChecked = true;
                                    configTableFieldDetail.defaultTop = this.top;
                                }
                            });
                        });
                    }
                    return configTableFieldDetails;
                },
                // 重新加载数据
                loadData: function() {
                    var $this = this;
                    var url = ctx + "/api/stat/org/activity/page";
                    $this.loaded = false;
                    var params = {
                        pageNum: $this.pageNum,
                        pageSize: $this.pageSize,
                        fid: $this.fid,
                        queryParamStr: activityApp.getJsonStr($this.queryParams)
                    }

                    app.ajaxPostWithLoading(url, params, function (data) {
                        $this.loaded = true;
                        if (data.success) {
                            $this.tableData = data.data.records;
                            $this.total = data.data.total;
                            $this.pages = data.data.pages;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载活动统计汇总数据失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        $this.loaded = true;
                        app.showMsg("加载活动统计汇总数据失败");
                    });
                },
                search: function () {
                    var $this = this;
                    $this.pageNum = 1;
                    $this.pageSize = 10;
                    $this.loadData();
                },
                // 下一页或上一页
                changePage: function (pageNum) {
                    var $this = this;
                    $this.pageNum = pageNum;
                    $this.loadData();
                },
                sortChange: function (column) {
                    var $this = this;
                    var sortFieldItem = $this.showTableFieldDetails.filter(item => item.code === column.prop)[0];
                    $this.queryParams.orderFieldId = sortFieldItem ? sortFieldItem.id : null;

                    if (column.order === 'descending') {
                        $this.queryParams.orderType = 'desc';
                    } else if (column.order === 'ascending'){
                        $this.queryParams.orderType = 'asc';
                    } else {
                        $this.queryParams.orderType = null;
                    }
                    $this.loadData();
                },
                // 跳转活动详情页
                toActivityDetail: function (previewUrl) {
                    var $this = this;
                    if (!activityApp.isEmpty(previewUrl)) {
                        window.open(previewUrl);
                    }
                },
                // 日期范围查询改变
                dateRangeChange: function (range) {
                    var $this = this;
                    $this.queryParams.startTime = range[0];
                    $this.queryParams.endTime = range[1];
                },
                // 取消置顶配置
                topConfigChange: function(item) {
                    item.defaultTop = !item.defaultTop;
                    this.reSortSettingData();
                },
                // 对设置重排序
                reSortSettingData: function() {
                    var $this = this;
                    $this.configTableFieldDetails.sort(function(a, b) {
                        if (b.defaultChecked > a.defaultChecked) {
                            return 1;
                        } else if (b.defaultChecked < a.defaultChecked){
                            return -1;
                        } else {
                            return b.defaultTop - a.defaultTop;
                        }
                    });
                    $($this.configTableFieldDetails).each(function(i) {
                       this.sequence = i;
                    });
                    console.log($this.configTableFieldDetails)
                },
                // 重置配置
                resetConfig: function () {
                    var $this = this;
                    $this.configTableFieldDetails = $this.calConfigTableFieldDetails();
                    $this.reSortSettingData();
                },
                // 封装提交的配置
                packageSubmitTableFieldDetails: function () {
                    var $this = this;
                    var orgTableFieldDetails = [];
                    var sequence = 1;
                    $($this.configTableFieldDetails).each(function () {
                        if (this.defaultChecked) {
                            var orgTableFieldDetail = {
                                tableFieldDetailId: this.id,
                                top: this.defaultTop,
                                sequence: sequence++
                            }
                            orgTableFieldDetails.push(orgTableFieldDetail);

                        }
                    });
                    return orgTableFieldDetails;
                },
                // 配置提交
                configSubmit: function () {
                    var $this = this;
                    var orgTableFieldDetails = $this.packageSubmitTableFieldDetails();
                    var url = ctx + "/api/org/" + $this.fid + "/table-field/" + $this.tableFieldId + "/config";
                    var params = {
                        orgTableFieldsStr: activityApp.getJsonStr(orgTableFieldDetails)
                    };
                    app.ajaxPostWithLoading(url, params, function (data) {
                        window.location.reload();
                    }, function () {

                    });
                },
                showToast(){
                    $('.toast-box').fadeIn();
                    setTimeout(function () {
                        $('.toast-box').fadeOut();
                    },2000)
                },
                selectPopFunc(){
                    this.ifSelectPop = true;
                    var $this = this;
                    $.fn.zTree.init($("#treeList"), $this.setting, $this.zNodes);
                    this.count();
                },
                zTreeOnClick: function(event, treeId, treeNode) {
                    console.log(treeNode.tId + ", " + treeNode.name);
                },
                zTreeOnCheck: function(e, treeId, treeNode) {
                    this.count();
                    if (this.clearFlag) {
                        this.clearCheckedOldNodes();
                    }
                },
                clearCheckedOldNodes() {
                    var zTree = $.fn.zTree.getZTreeObj("treeList"),
                        nodes = zTree.getChangeCheckedNodes();
                    for (var i=0, l=nodes.length; i<l; i++) {
                        nodes[i].checkedOld = nodes[i].checked;
                    }
                },
                count() {
                    var zTree = $.fn.zTree.getZTreeObj("treeList");
                    var checkCount = zTree.getCheckedNodes(true).length;
                    $("#checkCount").text(checkCount);

                },
            }
        })
    </script>
</div>

</body>

</html>
