<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>用户统计</title>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/pc/assets/table-icomoon/style.css" th:href="@{/pc/assets/table-icomoon/style.css}">
	<link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
	<link rel="stylesheet" href="/static/pc/assets/lib/zTree_v3_table/css/zTreeStyle/zTreeStyle.css" th:href="@{/pc/assets/lib/zTree_v3_table/css/zTreeStyle/zTreeStyle.css}" type="text/css">
	<link rel="stylesheet" href="/static/pc/assets/css/commonTable.css" th:href="@{/pc/assets/css/commonTable.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/confirm_dialog.css" th:href="@{/pc/assets/css/confirm_dialog.css}">
	<style type="text/css">
		[v-cloak] {
			display: none;
        }
        .ztree li a.curSelectedNode {
	        background-color: #F8F8F8;
        }
	</style>
</head>
<body>
<div id="stat-vue" v-cloak>
	<div>
		<div class="tab-content-box">
			<div class="tab-item">
				<!-- 操作栏 -->
				<div class="table-operate-box fs0">
					<el-button class="btn-customize" round @click="exportData">导出</el-button>
					<el-button class="btn-customize" round @click="exportRecord">导出记录</el-button>
					<div class="search-Box">
						<el-input placeholder="姓名/学号"
						          v-model.trim="sw"
						          icon="search"
						          class="search"
						          suffix-icon="el-icon-search"
						          @keyup.enter.native="search">
						</el-input>
						<i class="icon-cancel btn-cancel fs16" v-show="sw" @click="clearSw"></i>
					</div>
				</div>
				<!-- 查询栏 -->
				<div class="table-search-box fs0">
					<el-cascader :options="groups" :props="groupPops" clearable placeholder="组织架构" @change="groupChange"></el-cascader>
					<el-button class="btn-customize" round @click="search">查询</el-button>
				</div>
				<!-- 计数栏 -->
				<div class="table-count-box fs12">
					<div class="count-info fl">
						<span class="color999">共 {{total}} 人</span>
					</div>
					<div class="setting-box">
						<el-dropdown :hide-on-click="false" trigger="click">
							<el-tooltip class="item" effect="dark" content="显示字段" placement="top">
								<span class="icon-setting fs16"></span>
							</el-tooltip>
							<el-dropdown-menu slot="dropdown" class="set-dropdown">
								<div class="dropdown-lists">
									<el-dropdown-item v-for="(field, index) of configTableFieldDetails" :key="'field-' + field.id">
										<el-checkbox v-model="field.defaultChecked" :disabled="!field.allowUncheck"> {{field.name}}</el-checkbox>
										<el-tooltip v-if="field.defaultTop" class="item" effect="dark" content="取消固定列" placement="top">
											<i class="btn-fix icon-pinned fs16" @click="untop(index)"></i>
										</el-tooltip>
										<el-tooltip v-else class="item" effect="dark" content="固定列" placement="top">
											<i class="btn-fix icon-pin fs16" @click="top(index)"></i>
										</el-tooltip>
									</el-dropdown-item>
								</div>
								<div class="bottom-btns fs14 colorBlue">
									<el-button type="text" class="btn-confirm" @click="configSubmit">确定</el-button>
									<el-button type="text" class="btn-reset" @click="resetConfig">重置</el-button>
								</div>
							</el-dropdown-menu>
						</el-dropdown>
					</div>
					<div class="clear"></div>
				</div>
				<el-table class="table-box" :data="orgUserStats" @sort-change="changeOrderField">
					<template v-for="(field, index) of showTableFieldDetails">
						<el-table-column v-if="field.code == 'orgName'" :align="field.align" :fixed="field.top" :sortable="field.sortable" :label="field.name" :prop="field.code" :min-width="field.minWidth">
							<template slot-scope="scope">
								{{scope.row.withinTheOrg ? orgName : ''}}
							</template>
						</el-table-column>
						<el-table-column v-else-if="field.code == 'signedInRate'" :align="field.align" :fixed="field.top" :sortable="field.sortable" :label="field.name" :prop="field.code" :min-width="field.minWidth">
							<template slot-scope="scope">
								{{scope.row.signedInRate | percentConversion}}
							</template>
						</el-table-column>
						<el-table-column v-else :align="field.align" :fixed="field.top" :sortable="field.sortable" :label="field.name" :prop="field.code" :min-width="field.minWidth"></el-table-column>
					</template>
				</el-table>
				<!--分页-->
				<el-pagination v-show="loaded && total > queryParams.pageSize" background layout="prev, pager, next" :total="total" :page-size="queryParams.pageSize" :current-page="queryParams.pageNum" @current-change="changePage"></el-pagination>
			</div>
		</div>
	</div>
	<!--导出成功弹窗-->
	<vue-confirm-common ref="exportSuccessWindow" :message="'数据准备中，导出完成的数据会保存在“导出记录”中，请稍后下载'" :cancel="'完成'" :sure="'导出记录'" @callback="exportRecord"></vue-confirm-common>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
	<script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
	<script type="text/javascript" src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.core.js}"></script>
	<script type="text/javascript" src="/static/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.js" th:src="@{/pc/assets/lib/zTree_v3/js/jquery.ztree.excheck.js}"></script>
	<script src="/static/pc/assets/component/confirm-common.js" th:src="@{/pc/assets/component/confirm-common.js}"></script>
	<script src="/static/pc/assets/lib/set-iframe-height-child.js" th:src="@{/pc/assets/lib/set-iframe-height-child.js}"></script>
	<script src="/static/pc/assets/lib/jquery.mCustomScrollbar.concat.min.js" th:src="@{/pc/assets/lib/jquery.mCustomScrollbar.concat.min.js}"></script>
	<script th:inline="javascript">
		Vue.filter("percentConversion", function (value) {
			if (!value) {
				return '0';
			}
			var str = parseInt(value);
			str += "%";
			return str;
		});
        vm = new Vue({
            el: "#stat-vue",
            data: {
                fid: [[${fid}]],
	            orgName: [[${orgName}]],
                tableFieldId: [[${tableFieldId}]],
                tableFieldDetails: [[${tableFieldDetails}]],
                orgTableFields: [[${orgTableFields}]],
	            // 表格显示的字段列表
	            showTableFieldDetails: [],
	            // 配置使用的字段列表
	            configTableFieldDetails: [],
                // 组织架构
                allWfwGroups: [[${allWfwGroups}]],
                groups: [[${groups}]],
	            sw: "",
	            groupPops: {
                    checkStrictly: true,
                    value: "id",
		            label: "groupname"
	            },
	            orgUserStats: [],
	            loaded: false,
	            queryParams: {
                    fid: [[${fid}]],
					pageNum: 1,
		            pageSize: 10,
                    groupId: null,
                    groupLevel: null,
                    sw: "",
                    orderTableFieldId: null,
                    orderType: "DESC"
	            },
                total: 0,

            },
            created: function () {
				var $this = this;
	            // 解决跨域
	            document.domain = "chaoxing.com";
				// 计算表格显示的字段列表
                if ($this.orgTableFields.length < 1) {
                    // 机构没有配置显示的字段。使用默认的
                    $($this.tableFieldDetails).each(function () {
                        if (this.defaultChecked) {
                            $this.showTableFieldDetails.push($.extend({}, this));
                        }
                    });
                } else {
                    $($this.orgTableFields).each(function () {
                        var orgTableField = this;
                        var tableFieldDetailId = orgTableField.tableFieldDetailId;
                        $($this.tableFieldDetails).each(function () {
                            if (tableFieldDetailId == this.id) {
                                var tableFieldDetail = $.extend({}, this);
                                tableFieldDetail.defaultChecked = true;
                                tableFieldDetail.defaultTop = orgTableField.top;
                                $this.showTableFieldDetails.push(tableFieldDetail);
                                return false;
                            }
                        });
                    });
                }
                $this.configTableFieldDetails = $this.calConfigTableFieldDetails();
            },
            mounted: function () {
                var $this = this;
                $this.loadData();
            },
            methods: {
                groupChange: function (value) {
                    var $this = this;
	                var groupId = null;
	                var groupLevel = null;
	                if (value.length > 0) {
		                groupId = value[value.length - 1];
		                $($this.allWfwGroups).each(function () {
			                if (groupId == this.id) {
				                groupLevel = this.groupLevel;
				                return false;
			                }
		                });
	                }
                    $this.queryParams.groupId = groupId;
                    $this.queryParams.groupLevel = groupLevel;
                },
                calConfigTableFieldDetails: function () {
                    var $this = this;
                    var configTableFieldDetails = [];
                    $($this.tableFieldDetails).each(function () {
                        configTableFieldDetails.push($.extend({}, this));
                    });
                    if ($this.orgTableFields.length > 0) {
                        $(configTableFieldDetails).each(function () {
                            var configTableFieldDetail = this;
                            configTableFieldDetail.defaultChecked = false;
                            $($this.orgTableFields).each(function () {
                                if (configTableFieldDetail.id == this.tableFieldDetailId) {
                                    configTableFieldDetail.defaultChecked = true;
                                    configTableFieldDetail.defaultTop = this.top;
                                }
                            });
                        });
                    }
                    return configTableFieldDetails;
                },
	            // 重置配置
                resetConfig: function () {
                    var $this = this;
                    $this.configTableFieldDetails = $this.calConfigTableFieldDetails();
                },
	            // 封装提交的配置
                packageSubmitTableFieldDetails: function () {
                    var $this = this;
                    var orgTableFieldDetails = [];
                    var sequence = 1;
                    $($this.configTableFieldDetails).each(function () {
                        if (this.defaultChecked) {
                            var orgTableFieldDetail = {
	                            tableFieldDetailId: this.id,
	                            top: this.defaultTop,
	                            sequence: sequence++
                            }
                            orgTableFieldDetails.push(orgTableFieldDetail);
                        }
                    });
                    return orgTableFieldDetails;
                },
	            // 配置提交
                configSubmit: function () {
                    var $this = this;
                    var orgTableFieldDetails = $this.packageSubmitTableFieldDetails();
                    var url = ctx + "/api/org/" + $this.fid + "/table-field/" + $this.tableFieldId + "/config";
                    var params = {
                        orgTableFieldsStr: activityApp.getJsonStr(orgTableFieldDetails)
                    };
                    app.ajaxPostWithLoading(url, params, function (data) {
                        if (data.success) {
                            window.location.reload();
                        } else {
							var message = data.message;
                            if (activityApp.isEmpty(message)) {
                                message = "操作失败";
                            }
                            app.showMsg(message);
                        }
                    }, function () {
                        app.showMsg("操作失败");
                    });
                },
                loadData: function () {
					var $this = this;
                    var url = ctx + "/api/stat/org/user-stat-summary/list";
                    $this.loaded = false;
                    $this.orgUserStats = [];
                    app.ajaxPostWithLoading(url, $this.queryParams, function (data) {
                        if (data.success) {
                            $this.loaded = true;
							$this.orgUserStats = data.data.records;
							$this.total = data.data.total;
                        } else {
                            var message = data.message;
                            if (activityApp.isEmpty(message)) {
                                message = "加载数据失败";
                            }
                            app.showMsg(message);
                        }
                    }, function () {
                        app.showMsg("加载数据失败");
                    });
                },
	            // 改变排序字段
                changeOrderField: function (column) {
                    var $this = this;
                    $($this.tableFieldDetails).each(function () {
                        if (column.prop == this.code) {
                            $this.queryParams.orderTableFieldId = this.id;
                            return false;
                        }
                    });
                    if ("descending" == column.order) {
                        $this.queryParams.orderType = "DESC";
                    } else {
                        $this.queryParams.orderType = "ASC";
                    }
                    $this.loadData();
                },
                loadOrgGroup: function (gid, parentNode){
                    var $this = this;
                    var url = ctx + "/api/wfw/org/groups?gid=" + gid;
                    app.ajaxPostWithLoading(url, {}, function (data) {
                        if (data.success) {
                            var newNodes = data.data;

                        } else {
                            var message = data.message;
                            if (activityApp.isEmpty(message)) {
                                message = "获取机构组织架构失败";
                            }
                            app.showMsg(message);
                        }
                    }, function () {
                        app.showMsg("获取机构组织架构失败");
                    });
                },
	            clearSw: function () {
                	var $this = this;
		            $this.sw = "";
		            if ($this.queryParams.sw != $this.sw) {
			            // 已经搜索了
			            $this.queryParams.sw = "";
			            $this.search();
		            }
	            },
                search: function () {
                    var $this = this;
					$this.queryParams.pageNum = 1;
					$this.queryParams.sw = $this.sw;
                    $this.loadData();
                },
                changePage: function (pageNum) {
                    var $this = this;
                    $this.queryParams.pageNum = pageNum;
                    $this.loadData();
                },
	            // 置顶
	            top: function (index) {
		            var $this = this;
		            $this.topHandle(index, true);
	            },
	            // 取消置顶
	            unTop: function (index) {
		            var $this = this;
		            $this.topHandle(index, false);
	            },
	            topHandle: function (index, top) {
		            var $this = this;
		            var configTableFieldDetails = [];
		            $($this.configTableFieldDetails).each(function () {
			            configTableFieldDetails.push(this);
		            });
		            var configTableFieldDetail = configTableFieldDetails[index];
		            // 移除index的元素
		            configTableFieldDetails.splice(index, 1);
		            var lastTopIndex = -1;
		            $(configTableFieldDetails).each(function (i) {
			            if (this.defaultTop) {
				            lastTopIndex = i;
			            }
		            });
		            configTableFieldDetail.defaultTop = top;
		            if (lastTopIndex > -1) {
			            lastTopIndex++;
		            }
		            configTableFieldDetails.splice(lastTopIndex, 0, configTableFieldDetail);
		            $this.configTableFieldDetails = configTableFieldDetails;
	            },
	            // 导出
	            exportData: function () {
		            var $this = this;
		            var url = ctx + "/api/export";
		            $this.loaded = false;
		            var params = {
			            queryParamStr: activityApp.getJsonStr($this.queryParams),
			            exportType: "org_user_stat"
		            };
		            app.ajaxPostWithLoading(url, params, function (data) {
			            $this.loaded = true;
			            if (data.success) {
				            $this.$refs.exportSuccessWindow.show = true;
			            } else {
				            var errorMessage = data.message;
				            if (activityApp.isEmpty(errorMessage)) {
					            errorMessage = "导出失败";
				            }
				            app.showMsg(errorMessage);
			            }
		            }, function () {
			            app.showMsg("导出失败");
		            });
	            },
	            // 导出记录
	            exportRecord: function () {
		            window.open(ctx + '/export-record?exportType=org_user_stat');
	            }
            }
        })
	</script>
</div>
</body>
</html>