<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>活动首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/index.css" th:href="@{/pc/assets/css/index.css}">
    <script th:if="${pageId != null}" th:src="|//portal.chaoxing.com/outer/${pageId}/header|"></script>
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
<div class="page" id="activity-vue" v-cloak>
    <div class="banner">
        <img src="/static/pc/assets/images/banner.png" th:src="@{/pc/assets/images/banner.png}">
    </div>
    <div class="content">
        <div class="search">
            <input type="text" id="search-input" v-model.trim="sw" placeholder="搜索标题" @keyup.enter="search">
            <div class="search-foot" @click="search">
                <div class="img">
                    <img src="/static/pc/assets/images/search.png" th:src="@{/pc/assets/images/search.png}">
                </div>
            </div>
        </div>
        <div class="type-box">
            <div class="typeItem" >
                <span class="title">类型</span>
                <ul>
                    <li :class="{'active': item.selected}" v-for="(item, index) of activityClassifies" @click="changeActivityClassifySelected(index)">{{item.name}}</li>
                </ul>
            </div>
            <div class="typeItem" >
                <span class="title">时间</span>
                <ul>
                    <li :class="{'active': item.selected}" v-for="(item, index) of activityQueryDates" @click="changeActivityTimeSelected(index)">{{item.name}}</li>
                </ul>
            </div>
            <div class="typeItem" v-show="regions.length > 0">
                <span class="title">地区</span>
                <ul>
                    <li :class="{'active': item.selected}" v-for="(item, index) of regions" @click="changeActivityRegionsSelected(index)">{{item.name}}</li>
                </ul>
            </div>
            <div class="typeItem" >
                <span class="title">状态</span>
                <ul>
                    <li :class="{'active':item.selected}" v-for="(item, index) of statuses" @click="changeActivityStatusSelected(index)">{{item.name}}</li>
                </ul>
            </div>
        </div>
        <div class="item-box">
            <div class="head">
                <!--<ul>
                    <li class="active1">最新</li>
                    <li>热门</li>
                    <li>推荐</li>
                </ul>-->
                <div class="count">共<span>{{total}}</span>个活动</div>
            </div>
            <div class="c-item" >
                <div class="item" v-for="(item, index) of activities" :key="'item-' + index" @click="detail(index)">
                    <div class="img-box">
                        <img :src="item.coverCloudId| getCloudImgUrl">
                        <div class="tag" v-if="item.status == 2">活动预告</div>
                        <div class="tag green" v-if="item.status == 3">进行中</div>
                        <div class="tag black" v-if="item.status == 4">已结束</div>
                    </div>
                    <div class="font-box">
                        <p class="title1 overHidden2" >{{item.name}}</p>
                        <p>活动时间：{{item.startDate | timestamp2YMD}} ～ {{item.endDate | timestamp2YMD}}</p>
                        <p>主办单位：{{item.createOrgName}}</p>
                        <p class="overHidden2" v-show="item.address">活动地点：{{item.address}}</p>
                    </div>
                </div>
            </div>
            <el-pagination style="text-align: center;" v-show="pages > 1" background layout="prev, pager, next" :total="total" :page-size="queryParams.pageSize" :current-page="queryParams.pageNum" @current-change="currenClick"></el-pagination>
            <!-- 当列表为空时展示 -->
            <div class="empty-box" v-show="total < 1 && loaded">
                <img src="/static/pc/assets/images/empty.png" th:src="@{/pc/assets/images/empty.png}">
                <p>无结果～</p>
            </div>
    </div>
</div>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script type="text/javascript" src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/jqthumb.min.js" th:src="@{/pc/assets/lib/jqthumb.min.js}"></script>
    <script th:if="${pageId != null}" th:src="|//portal.chaoxing.com/outer/${pageId}/footer|"></script>
    <script th:inline="javascript">
        activityVue = new Vue({
            el: '#activity-vue',
            data: {
                fids: [[${fids}]],
                activityClassifyNames: [[${activityClassifyNames}]],
                activityQueryDates: [[${activityQueryDates}]],
                activityClassifies: [],
                regions: [[${regions}]],
                areaCode: [[${areaCode}]],
                statuses: [],
                pages: 0,
                sw: "",
                //筛选查询参数对象
                queryParams: {},
                activities: [],
                loaded: false,
                searchShow: false,
                total: 0,
                //分页
                currentPage: 1,
                filterWindowShow: false,
                searchShadeShow: false
            },
            created: function () {
                var $this = this;
                $this.activityClassifies.push({name: "全部",value: "", selected: true});
                $($this.activityClassifyNames).each(function () {
                    $this.activityClassifies.push({name: this,value: this,selected: false});
                });
                $($this.activityQueryDates).each(function (i) {
                    $this.$set($this.activityQueryDates[i], "selected", i == 0);
                });
                //地区
                var regions = [];
                if($this.regions.length >0){
                    $($this.regions).each(function () {
                        var region = this;
                        region.value = this.name;
                        region.selected = false;
                        regions.push(region);
                    });
                    regions.splice(0, 0, {
                        name: "全部",
                        value: "",
                        selected: true
                    });
                    $this.regions = regions;
                }
                //状态
                $this.statuses = [
                    {name: "全部", value: "", selected: true},
                    {name: "活动预告", value: "2", selected: false},
                    {name: "进行中", value: "3", selected: false},
                    {name: "已结束", value: "4", selected: false}
                ];
                $this.resetQueryParams();
            },
            mounted:function() {
              var $this = this;
              $this.resetQueryParams();
              $this.loadData();
                $('.banner img').jqthumb({
                    width:'100%',
                    height:'100%'
                });
            },
            methods: {
                //改变选中状态
                changeActivityClassifySelected: function(index){
                    var $this = this;
                    $($this.activityClassifies).each(function (i) {
                        $this.$set($this.activityClassifies[i], "selected", i == index);
                    });
                    $this.queryParams.activityClassifyName = $this.activityClassifies[index].value;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                changeActivityTimeSelected: function(index){
                    var $this = this;
                    $($this.activityQueryDates).each(function (i) {
                        $this.$set($this.activityQueryDates[i], "selected", i == index);
                    });
                    $this.queryParams.date = $this.activityQueryDates[index].value;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                changeActivityRegionsSelected: function(index){
                    var $this = this;
                    $($this.regions).each(function (i) {
                        $this.$set($this.regions[i], "selected", i == index);
                    });
                    $this.queryParams.area = $this.regions[index].value;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                changeActivityStatusSelected: function(index){
                    var $this = this;
                    $($this.statuses).each(function (i) {
                        $this.$set($this.statuses[i], "selected", i == index);
                    });
                    $this.queryParams.status = $this.statuses[index].value;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                //重置查询条件
                resetQueryParams: function (){
                    var $this = this;
                    $this.queryParams = {
                        pageNum: 1,
                        pageSize: 9,
                        sw: "",
                        activityClassifyName: "",
                        date: "",
                        area: "",
                        status: "",
                        areaCode: $this.areaCode,
                        topFid: [[${topFid}]]
                    };
                },
                //数据加载渲染
                loadData: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/list/participate";
                    var params = $this.queryParams;
                    $this.loaded = false;
                    $this.searchShow = false;
                    app.ajaxPost(url, {data: activityApp.getJsonStr(params), pageNum: params.pageNum, pageSize: params.pageSize}, function (data) {
                        $this.loaded = true;
                        if (data.success) {
                            $this.loaded = true;
                            $this.activities = data.data.records
                            $this.pages = data.data.pages;
                            $this.total = data.data.total;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载活动列表失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        $this.loaded = true;
                        app.showMsg("加载活动列表失败");
                    });
                },
                search: function () {
                    var $this = this;
                    $this.queryParams.sw = $this.sw;
                    $("#search-input").blur();
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                currenClick:function (currentPage) {
                    var $this = this;
                    $this.queryParams.pageNum = currentPage;
                    $this.loadData();
                },
                detail: function (index) {
                    var $this = this;
                    var activity = $this.activities[index];
                    console.log(activity);
                    var pageId = activity.pageId;
                    if (!activityApp.isEmpty(pageId)) {
                        window.open(activityApp.getMhPreviewUrl(pageId));
                    }
                }
            }
        })
    </script>
</div>
</body>
</html>