<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>活动首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/index.css" th:href="@{/pc/assets/css/index.css}">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
<div class="page" id="activity-vue" v-cloak>
    <div class="banner" th:if="${banner eq 1}">
        <img class="jqthumbImg" src="/static/pc/assets/images/banner.png" th:src="@{/pc/assets/images/banner.png}">
    </div>
    <div class="content">
        <div class="search">
            <input type="text" id="search-input" v-model.trim="sw" placeholder="搜索标题、主办方" @keyup.enter="search">
            <div class="search-foot" @click="search">
                <div class="img">
                    <img src="/static/pc/assets/images/search.png" th:src="@{/pc/assets/images/search.png}">
                </div>
            </div>
        </div>
        <div class="type-box">
            <div class="typeItem" v-show="showFilter('activityType')">
                <span class="title">类型</span>
                <ul>
                    <li :class="{'active': item.selected}" v-for="(item, index) of activityTypes" v-if="item.value != 'other' || showOtherActivityType" @click="changeActivityTypesSelected(index)">{{item.name}}</li>
                </ul>
            </div>
            <div class="typeItem" v-show="showFilter('activityClassify')">
                <span class="title">分类</span>
                <ul>
                    <li :class="{'active': item.selected}" v-for="(item, index) of classifies" @click="changeActivityClassifySelected(index)">{{item.name}}</li>
                </ul>
            </div>
            <div class="typeItem" v-show="showFilter('time')">
                <span class="title">时间</span>
                <ul>
                    <li :class="{'active': item.selected}" v-for="(item, index) of activityQueryDates" @click="changeActivityTimeSelected(index)">{{item.name}}</li>
                </ul>
            </div>
            <div class="typeItem" v-show="showFilter('region') && regions.length > 0">
                <span class="title">地区</span>
                <ul>
                    <li :class="{'active': item.selected}" v-for="(item, index) of regions" @click="changeActivityRegionsSelected(index)">{{item.name}}</li>
                </ul>
            </div>
            <div class="typeItem" v-show="showFilter('status')">
                <span class="title">状态</span>
                <ul>
                    <li :class="{'active':item.selected}" v-for="(item, index) of statuses" @click="changeActivityStatusSelected(index)">{{item.name}}</li>
                </ul>
            </div>
        </div>
        <div class="item-box">
            <div class="head">
                <!--<ul>
                    <li class="active1">最新</li>
                    <li>热门</li>
                    <li>推荐</li>
                </ul>-->
                <div class="count">共<span>{{total}}</span>个活动</div>
            </div>
            <div style="min-height: 696px;">
                <div v-show="activities.length > 0">
                    <div class="c-item">
                        <div class="item" v-for="(item, index) of activities" :key="'item-' + index" @click="detail(index)">
                            <div class="img-box">
                                <img class="jqthumbImg" :src="item | getCloudImgUrl">
                                <!--报名状态-->

                                <div class="tag" v-if="item.status == 2">即将开始</div>
                                <div class="tag green" v-if="item.status == 3">进行中</div>
                                <div class="tag black" v-if="item.status == 4">已结束</div>
                            </div>
                            <div class="font-box">
                                <p class="title1" >{{item.name}}</p>
                                <p>活动时间：{{item.startTime | timestampScopeFormat(item.endTime)}}</p>
                                <p>主办单位：{{item.organisers}}</p>
                                <p v-show="item.address">活动地点：{{item.address}}{{item.detailAddress ? item.detailAddress : ''}}</p>
                            </div>
                        </div>
                    </div>
                    <el-pagination style="text-align: center;" v-if="!signUpAble" v-show="pages > 1" background layout="prev, pager, next" :total="total" :page-size="queryParams.pageSize" :current-page="queryParams.pageNum" @current-change="currenClick"></el-pagination>
                </div>
                <!-- 当列表为空时展示 -->
                <div class="empty-box" v-show="total < 1 && loaded">
                    <img src="/static/pc/assets/images/empty.png" th:src="@{/pc/assets/images/empty.png}">
                    <p>无结果～</p>
                </div>
            </div>
    </div>
</div>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script type="text/javascript" src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/lib/jqthumb.min.js" th:src="@{/pc/assets/lib/jqthumb.min.js}"></script>
    <script src="/static/pc/assets/lib/set-iframe-height-child.js" th:src="@{/pc/assets/lib/set-iframe-height-child.js}"></script>
    <script src="/static/pc/assets/lib/jquery.mCustomScrollbar.concat.min.js" th:src="@{/pc/assets/lib/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:inline="javascript">
        activityVue = new Vue({
            el: '#activity-vue',
            data: {
                fids: [[${fids}]],
                classifyNames: [[${classifyNames}]],
                activityQueryDates: [[${activityQueryDates}]],
                classifies: [],
                activityTypes: [],
                regions: [[${regions}]],
                areaCode: [[${areaCode}]],
                hideFilter: [[${hideFilter}]],
                statuses: [],
                pages: 0,
                sw: "",
                //筛选查询参数对象
                queryParams: {},
                activities: [],
                loaded: false,
                searchShow: false,
                total: 0,
                //分页
                currentPage: 1,
                filterWindowShow: false,
                searchShadeShow: false,
                topFid: [[${topFid}]],
                // 是否查询能报名的活动
                signUpAble: [[${signUpAble}]],
                showOtherActivityType: activityApp.showOtherActivityType([[${marketId}]])
            },
            created: function () {
                var $this = this;
                $this.classifies.push({name: "全部",value: "", selected: true});
                $($this.classifyNames).each(function () {
                    $this.classifies.push({name: this,value: this,selected: false});
                });
                $($this.activityQueryDates).each(function (i) {
                    $this.$set($this.activityQueryDates[i], "selected", i == 0);
                });
                //地区
                var regions = [];
                if($this.regions.length >0){
                    $($this.regions).each(function () {
                        var region = this;
                        region.value = this.code;
                        region.selected = false;
                        regions.push(region);
                    });
                    regions.splice(0, 0, {
                        name: "全部",
                        value: "",
                        selected: true
                    });
                    $this.regions = regions;
                }
                // 活动类型
                $this.activityTypes = [
                    {name: '全部', value: '', selected: true},
                    {name: '线上', value: 'online', selected: false},
                    {name: '线下', value: 'offline', selected: false},
                    {name: '线上+线下', value: 'other', selected: false}
                ];
                //状态
                $this.statuses = [
                    {name: "全部", value: "", selected: true},
                    {name: "即将开始", value: "2", selected: false},
                    {name: "进行中", value: "3", selected: false},
                    {name: "已结束", value: "4", selected: false}
                ];
                $this.resetQueryParams();
            },
            mounted:function() {
                var $this = this;
                document.domain = "chaoxing.com";
                $(".jqthumbImg").jqthumb({
                    width:'100%',
                    height:'100%'
                });
                $this.resetQueryParams();
                // 如果topFid符合regions的manageFid那么选中
                if (!activityApp.isEmpty($this.topFid) && !activityApp.isEmpty($this.regions)) {
                    var exist = false;
                    var index = 0;
                    $($this.regions).each(function (i) {
                        if (this.manageFid == $this.topFid && $this.topFid != 2120) {
                            exist = true;
                            index = i;
                            return false;
                        }
                    });
                    if (exist) {
                        $this.changeActivityRegionsSelected(index);
                        return;
                    }
                }
                $this.loadData();
            },
            methods: {
                //改变选中状态
                changeActivityClassifySelected: function(index){
                    var $this = this;
                    $($this.classifies).each(function (i) {
                        $this.$set($this.classifies[i], "selected", i == index);
                    });
                    $this.queryParams.activityClassifyName = $this.classifies[index].value;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                changeActivityTimeSelected: function(index){
                    var $this = this;
                    $($this.activityQueryDates).each(function (i) {
                        $this.$set($this.activityQueryDates[i], "selected", i == index);
                    });
                    $this.queryParams.dateScope = $this.activityQueryDates[index].value;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                changeActivityRegionsSelected: function(index){
                    var $this = this;
                    $($this.regions).each(function (i) {
                        $this.$set($this.regions[i], "selected", i == index);
                    });
                    $this.queryParams.areaCode = $this.regions[index].value;
                    if (activityApp.isEmpty($this.queryParams.areaCode)) {
                        $this.queryParams.areaCode = $this.areaCode;
                    }
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                changeActivityTypesSelected: function(index){
                    var $this = this;
                    $($this.activityTypes).each(function (i) {
                        $this.$set($this.activityTypes[i], "selected", i == index);
                    });
                    $this.queryParams.activityType = $this.activityTypes[index].value;
                    $this.activities = [];
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                changeActivityStatusSelected: function(index){
                    var $this = this;
                    $($this.statuses).each(function (i) {
                        $this.$set($this.statuses[i], "selected", i == index);
                    });
                    $this.queryParams.status = $this.statuses[index].value;
                    $this.queryParams.pageNum = 1;
                    $this.loadData();
                },
                showFilter: function (type) {
                    var $this = this;
                    return activityApp.isEmpty($this.hideFilter) || $this.hideFilter.indexOf(type) == -1;
                },
                //重置查询条件
                resetQueryParams: function (){
                    var $this = this;
                    $this.queryParams = {
                        pageNum: 1,
                        pageSize: 9,
                        sw: "",
                        activityClassifyName: "",
                        dateScope: "",
                        status: "",
                        areaCode: $this.areaCode,
                        activityType: "",
                        scope: [[${scope}]],
                        topFid: [[${topFid}]],
                        marketId: [[${marketId}]],
                        flag: [[${flag}]],
                        // 是否只查询能报名的，如果是则不分页
                        signUpAble: [[${signUpAble}]],
                        timeOrder: [[${timeOrder}]]
                    };
                },
                //数据加载渲染
                loadData: function () {
                    var $this = this;
                    var url = ctx + "/api/activity/list/participate";
                    var params = $this.queryParams;
                    $this.loaded = false;
                    $this.searchShow = false;
                    app.ajaxPost(url, {data: activityApp.getJsonStr(params), pageNum: params.pageNum, pageSize: params.pageSize}, function (data) {
                        $this.activities = [];
                        $this.loaded = true;
                        if (data.success) {
                            $this.loaded = true;
                            $this.activities = data.data.records
                            $this.$nextTick(function () {
                                $(".jqthumbImg").jqthumb({
                                    width:'100%',
                                    height:'100%'
                                });
                            });
                            $this.pages = data.data.pages;
                            $this.total = data.data.total;
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "加载活动列表失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        $this.activities = [];
                        $this.loaded = true;
                        app.showMsg("加载活动列表失败");
                    });
                },
                search: function () {
                    var $this = this;
                    $this.queryParams.sw = $this.sw;
                    $("#search-input").blur();
                    $this.queryParams.pageNum = 1;
                    $this.activities = [];
                    $this.loadData();
                },
                currenClick:function (currentPage) {
                    var $this = this;
                    $this.queryParams.pageNum = currentPage;
                    $this.loadData();
                },
                detail: function (index) {
                    var $this = this;
                    var activity = $this.activities[index];
                    var previewUrl = activity.previewUrl;
                    if (!activityApp.isEmpty(previewUrl)) {
                        // 回收积分
                        activityApp.integralPush(activity.id, activity.name);
                        // 浙江图书馆的需要使用统一的域名
                        // var path = /http(?:s?):\/\/.*?(\/.*)/.exec(previewUrl)[1];
                        // previewUrl = "https://share.zjlib.cn" + path;
                        window.open(previewUrl);
                    }
                }
            }
        })
    </script>
</div>
</body>
</html>