<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common_js(scripts)">
    <script type="text/javascript" th:inline="text">
        var ctx = "[[@{/}]]".replace(/\/$/, "");
    </script>
    <script type="text/javascript" src="/static/assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
    <script type="text/javascript" src="/static/assets/js/vue.js" th:src="@{/assets/js/vue.js}"></script>
    <script type="text/javascript" src="/static/assets/js/json2.js" th:src="@{/assets/js/json2.js}"></script>
    <script type="text/javascript" src="/static/pc/assets/lib/layer/layer.js" th:src="@{/pc/assets/lib/layer/layer.js}"></script>
    <script type="text/javascript" src="/static/assets/js/activity.app.js" th:src="@{/assets/js/activity.app.js}"></script>
    <script type="text/javascript" src="/static/assets/js/sign.app.js" th:src="@{/assets/js/sign.app.js}"></script>
    <script type="text/javascript" src="/static/pc/assets/js/app.pc.js" th:src="@{/pc/assets/js/app.pc.js}"></script>
    <th:block th:replace="${scripts}" />
</div>