<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>基本信息</title>
    <link rel="stylesheet" href="/static/pc/assets/lib/layui/css/layui.css" th:href="@{/pc/assets/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/icomoon/style.css" th:href="@{/pc/assets/icomoon/style.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/common.css" th:href="@{/pc/assets/css/common.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/set.css" th:href="@{/pc/assets/css/set.css}">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="basicInfoVue" v-cloak>
        <el-form class="basic-show" ref="form" label-width="74px" onsubmit="return false">
            <template v-if="additionRequiredFields.length > 0" v-for="(code, index) in additionRequiredFields">
                <el-form-item label="名称" v-if="code == 'activity_name'">
                    <div class="txt">{{activity.name}}</div>
                </el-form-item>
                <el-form-item label="时间" v-else-if="code == 'activity_time_scope'">
                    <div class="txt">{{activity.startTimeStamp | timestampScopeFormat(activity.endTimeStamp)}}</div>
                </el-form-item>
                <template v-else-if="code == 'activity_type'">
                    <el-form-item label="形式">
                        <div class="txt">{{activity.activityType == "offline" ? "线下" : (activity.activityType == "online" ? "线上" : "")}}</div>
                    </el-form-item>
                    <el-form-item v-show="activity.activityType != 'online'" label="位置">
                        <div class="txt">{{activity.address || ""}}{{activity.detailAddress || ""}}</div>
                    </el-form-item>
                </template>
                <el-form-item label="封面" v-else-if="code == 'activity_cover'">
                    <div class="img-box js-crop-img" v-if="isNotEmpty(activity.coverUrl) || isNotEmpty(activity.coverCloudId)">
                        <img :src="activity | getCloudImgUrl" class="cover-img jqthumbImg" height="100%">
                    </div>
                </el-form-item>
            </template>
            <template v-if="templateComponents.length > 0" v-for="item in templateComponents">
                <template v-if="item.code == 'activity_type'">
                    <el-form-item :label="item.name">
                        <div class="txt">{{activity.activityType == "offline" ? "线下" : (activity.activityType == "online" ? "线上" : "")}}</div>
                    </el-form-item>
                    <el-form-item v-show="activity.activityType != 'online'" label="位置">
                        <div class="txt">{{activity.address || ""}}{{activity.detailAddress || ""}}</div>
                    </el-form-item>
                </template>
                <el-form-item v-else-if="item.code == 'introduction'" v-show="isNotEmpty(activity.introduction)" :label="item.name">
                    <div class="input-box">
                        <div class="txt">
                            <div class="width640 overHidden2">{{activity.introduction}}</div>
                        </div>
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'activity_name'">
                    <div class="txt">
                        {{activity.name}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'activity_cover'">
                    <div class="img-box js-crop-img" v-if="isNotEmpty(activity.coverUrl) || isNotEmpty(activity.coverCloudId)">
                        <img :src="activity | getCloudImgUrl" class="cover-img jqthumbImg" height="100%">
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'activity_time_scope'">
                    <div class="txt">
                        {{activity.startTimeStamp | timestampScopeFormat(activity.endTimeStamp)}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'activity_organisers'" v-show="isNotEmpty(activity.organisers)">
                    <div class="txt">
                        {{activity.organisers}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'activity_classify'" v-show="isNotEmpty(activity.activityClassifyName)">
                    <div class="txt">
                        {{activity.activityClassifyName}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'integral'" v-show="isNotEmpty(activity.integral)">
                    <div class="txt">
                        {{activity.integral}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'period'" v-show="isNotEmpty(activity.period)">
                    <div class="txt">
                        {{activity.period}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'credit'" v-show="isNotEmpty(activity.credit)">
                    <div class="txt">
                        {{activity.credit}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'max_participate_time_length'" v-show="isNotEmpty(activity.timeLengthUpperLimit)">
                    <div class="txt">
                        {{activity.timeLengthUpperLimit}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'activity_release_scope'" v-show="isNotEmpty(participateScopes)">
                    <div class="txt">
                        {{participateScopes | releaseScopeFormat}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'tags'" v-show="isNotEmpty(activity.tags)">
                    <div class="txt">
                        {{activity.tags}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.code == 'timing_release'" v-show="isNotEmpty(activity.timingReleaseTimeStamp)">
                    <div class="txt">
                        {{activity.timingReleaseTimeStamp | timestampFormat}}
                    </div>
                </el-form-item>
                <el-form-item :label="item.name" v-else-if="item.type == 'text' || item.type == 'checkbox' || item.type == 'radio'">
                    <div class="txt">
                        {{activityComponentValueMap[item.id] && activityComponentValueMap[item.id].value}}
                    </div>
                </el-form-item>
            </template>
            <div class="footer">
                <div class="btn-box">
                    <button class="btn-main btn-width-80 edit-btn" style="margin-right: 24px;" @click="toEditPage">编辑</button>
                    <button class="btn-second-normal btn-width-80" @click="toWebTemplateConfig">页面配置</button>
                </div>
            </div>
        </el-form>
    </div>
    <div th:replace="pc/include/common_js :: common_js(~{::script})">
        <!--引入js-->
        <script src="/static/pc/assets/lib/layui/layui.js" th:src="@{/pc/assets/lib/layui/layui.js}"></script>
        <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
        <script src="/static/pc/assets/lib/jquery.nicescroll.min.js" th:src="@{/pc/assets/lib/jquery.nicescroll.min.js}"></script>
        <script src="/static/pc/assets/lib/jqthumb.min.js" th:src="@{/pc/assets/lib/jqthumb.min.js}"></script>
        <script src="/static/pc/assets/js/create-active.js" th:src="@{/pc/assets/js/create-active.js}"></script>
        <script src="/static/pc/assets/js/main.js" th:src="@{/pc/assets/js/main.js}"></script>
        <script src="/static/pc/assets/js/common.js" th:src="@{/pc/assets/js/common.js}"></script>
        <script th:inline="javascript">
            Vue.filter("releaseScopeFormat", function (value) {
                if (!value) {
                    return "";
                }
                if (value.length >= 5) {
                    return value.slice(0, 4).join(",").concat("等" + value.length + "个单位");
                }
                return value.join(",");
            })
            var vm = new Vue({
                el: '#basicInfoVue',
                data: {
                    activity: [[${activity}]],
                    templateComponents: [[${templateComponents}]],
                    additionRequiredFields: [], // 补充必填字段
                    participateScopes: [[${participateScopes}]],
                    activityComponentValueMap: {},
                    showMore:true
                },
                created: function () {
                    var $this = this;
                    document.domain = "chaoxing.com";

                    var templateComponentMap = {};
                    if (!activityApp.isEmpty($this.activity.introduction)) {
                        $this.activity.introduction = $this.activity.introduction.replace(/<[^>]+>/g,"");
                    }
                    var requiredFieldCodes = ['activity_name', 'activity_time_scope', 'activity_cover', 'activity_type'];
                    var existRequiredFieldCodes = []; // 已存在必填字段
                    $($this.templateComponents).each(function() {
                        if (requiredFieldCodes.indexOf(this.code) != -1) {
                            existRequiredFieldCodes.push(this.code);
                        }
                        templateComponentMap[this.id] = this;
                    });
                    $(requiredFieldCodes).each(function (i) {
                        var code = requiredFieldCodes[i];
                        if (existRequiredFieldCodes.indexOf(code) == -1) {
                            $this.additionRequiredFields.push(code);
                        }
                    });
                    if ($this.activity.activityComponentValues) {
                        $($this.activity.activityComponentValues).each(function () {
                            var componentField = $.extend({}, this);
                            $this.$set($this.activityComponentValueMap, this.templateComponentId, componentField);
                        });
                    }
                },
                mounted: function () {
                    var $this = this;
                    $this.handleImg();
                },
                methods: {
                    isNotEmpty: function (value) {
                        return !activityApp.isEmpty(value);
                    },
                    handleImg: function () {
                        $('.jqthumbImg').jqthumb({
                            width: '100%',
                            height: '100%'
                        });
                    },
                    //    展开更多
                    showMoreFun:function (){
                        this.showMore = !this.showMore;
                    },
                    toEditPage: function () {
                        window.location.href = ctx + "/activity/[[${activityId}]]/setting/basic-info/edit"
                    },
                    toWebTemplateConfig: function () {
                        window.open(this.activity.previewUrl)
                    }
                }
            });
        </script>
    </div>



</body>


</html>