<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>模块设置</title>
    <link rel="stylesheet" href="/static/pc/assets/lib/layui/css/layui.css" th:href="@{/pc/assets/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/icomoon/style.css" th:href="@{/pc/assets/icomoon/style.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/common.css" th:href="@{/pc/assets/css/common.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/moduleSet.css" th:href="@{/pc/assets/css/moduleSet.css}">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="vue">
    <div class="manage-page">
        <div class="top-title">
            <span class="font16 color333 title-name">管理功能</span>
            <el-button class="fr btn-add" plain round @click="toAddBackendMenu">添加</el-button>
        </div>
        <div class="sortable-box ">
            <ul class="table-deader fs0">
                <li class="li-drag">排序</li>
                <li class="li-name">菜单名称</li>
                <li class="li-status">开启</li>
                <li class="li-operate">操作</li>
            </ul>
            <div class="table-body" id="sortDragBox1">
                <ul v-for="(item, index) in backendMenus" :key="'backend-menu-' + index" class="table-tr fs0 list-group-item">
                    <li class="table-td li-drag"><i class="icon-drag"></i></li>
                    <li class="table-td li-name">{{item.name}}</li>
                    <li class="table-td li-status">
                        <el-switch v-model="item.enable"></el-switch>
                    </li>
                    <li class="table-td li-operate" v-show="item.dataOrigin == 'activity'">
                        <span class="btn btn-edit">编辑</span>
                        <span class="btn btn-delete" @click="ifDeletePop=true">删除</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top-title">
            <span class="font16 color333 title-name">用户参与按钮</span>
            <el-button class="fr btn-add" plain round @click="toAddFrontendMenu">添加</el-button>
        </div>
        <div class="sortable-box ">
            <ul class="table-deader fs0">
                <li class="li-drag">排序</li>
                <li class="li-button">按钮</li>
                <li class="li-rule">显示规则</li>
                <li class="li-status">开启</li>
                <li class="li-operate">操作</li>
            </ul>
            <div class="table-body" id="sortDragBox2">
                <ul v-for="(item, index) in frontendMenus" :key="'frontend-menu-' + index"
                    class="table-tr fs0 list-group-item">
                    <li class="table-td li-drag"><i class="icon-drag"></i></li>
                    <li class="table-td li-button">{{item.name}}</li>
                    <li class="table-td li-rule">
                        <el-select v-model="item.showRule" placeholder="请选择">
                            <el-option v-for="it in showRules" :key="it.value" :label="it.label"
                                       :value="it.value"></el-option>
                        </el-select>
                    </li>
                    <li class="table-td li-status">
                        <el-switch v-model="item.enable" @change="changeFrontendMenuEnable($event, item)"></el-switch>
                    </li>
                    <li class="table-td li-operate" v-show="item.dataOrigin == 'activity'">
                        <span class="btn btn-edit">编辑</span>
                        <span class="btn btn-delete" @click="ifDeletePop=true">删除</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--添加修改弹窗-->
        <div class="dialog-mask selectLinkPop" v-show="showAddEditDialog">
            <div class="dailog">
                <div class="dailog-header">
                    <span>添加模块</span>
                    <i class="close" @click="closeAddEditMenu"></i>
                </div>
                <div class="body">
                    <div class="form">
                        <div class="content-switch-box marginBottom20">
                            <div class="link-lists link-lists1">
                                <div class="link-list marginBottom16">
                                    <div class="left-box">
                                        <div class="line1 marginBottom16">
                                            <div class="icon-img" @click="openIconDialog">
                                                <img v-if="addEditMenu.defaultIconCloudId" :src="cloudDomain + '/star3/origin/' + addEditMenu.defaultIconCloudId" alt="">
                                            </div>
                                            <el-input v-model="addEditMenu.name" type="text" placeholder="标题"
                                                      maxlength="4" show-word-limit></el-input>
                                        </div>
                                        <div class="line2">
                                            <el-input v-model="addEditMenu.url" type="text" placeholder="链接"></el-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="terminal-select">
                                    <el-checkbox v-model="addEditMenu.pc">电脑端</el-checkbox>
                                    <el-checkbox v-model="addEditMenu.mobile">移动端</el-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="btn-box">
                        <div class="border-btn" @click="closeAddEditMenu">取消</div>
                        <div class="normal-btn" @click="confirmAddEditMenu">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 图标选择弹窗 -->
    <vue-icon-select ref="iconSelectWindow" :cloud-domain="cloudDomain" :icons="icons"
                     @callback="confirmIconChoose"></vue-icon-select>

</div>
</body>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/layui/layui.js" th:src="@{/pc/assets/lib/layui/layui.js}"></script>
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/component/icon-select.js" th:src="@{/pc/assets/component/icon-select.js}"></script>
    <script src="/static/pc/assets/lib/Sortable.js" th:src="@{/pc/assets/lib/Sortable.js}"></script>
    <script th:inline="javascript">
        var uuid = function () {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0,
                    v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
        var vm = new Vue({
            el: '#vue',
            data: function () {
                return {
                    cloudDomain: [[${cloudDomain}]],
                    canConfigMenus: [[${canConfigMenus}]] || [],  //  可配置的菜单列表
                    icons: [[${icons}]],
                    showRules: [
                        {value: 'no_limit', label: '不限'},
                        {value: 'before_sign_up', label: '报名前'},
                        {value: 'after_sign_up', label: '报名后'}
                    ],  // 显示规则列表
                    backendMenus: [],
                    frontendMenus: [],
                    backendMenuMaxSeq: 0,
                    frontendMenuMaxSeq: 0,
                    // 显示新增修改菜单弹窗
                    showAddEditDialog: false,
                    addEditMenu: {},
                    // 排序对象
                    backendSortable: null,
                    frontendSortable: null
                }
            },
            created: function () {
                var $this = this;
                $($this.canConfigMenus).each(function () {
                    if (this.type == 'backend') {
                        $this.backendMenus.push(this);
                    } else if (this.type == 'frontend') {
                        $this.frontendMenus.push(this);
                    }
                });
                var backendLen = $this.backendMenus.length;
                var frontendLen = $this.frontendMenus.length;
                if (backendLen > 0) {
                    $this.backendMenuMaxSeq = $this.backendMenus[backendLen - 1].sequence || 0;
                }
                if (frontendLen > 0) {
                    $this.frontendMenuMaxSeq = $this.frontendMenus[backendLen - 1].sequence || 0;
                }
            },
            mounted: function () {
                var $this = this;
                $this.$nextTick(function () {
                    $this.createSortable();
                });
            },
            methods: {
                createSortable: function () {
                    var $this = this;
                    $this.backendSortable = new Sortable(document.getElementById('sortDragBox1'), {
                        animation: 150,
                        handle: '.icon-drag',
                        group: '.list-group-item',
                        onEnd: function ({oldIndex, newIndex}) {
                            var temp = $this.backendMenus[oldIndex];
                            if( oldIndex < newIndex ){//向下移动调整顺序
                                for(var i = oldIndex ; i < newIndex ; i++){
                                    $this.backendMenus[i] = $this.backendMenus[i+1];
                                }
                            } else if( oldIndex > newIndex ){//向上移动时调整顺序
                                for(var j = oldIndex ; j > newIndex ; j--){
                                    $this.backendMenus[j] = $this.backendMenus[j-1];
                                }
                            }
                            $this.backendMenus[newIndex] = temp;
                        }
                    });

                    $this.frontendSortable = new Sortable(document.getElementById('sortDragBox2'), {
                        handle: '.icon-drag',
                        animation: 150,
                        group: '.list-group-item',
                        onEnd: function ({oldIndex, newIndex}) {
                            var temp = $this.frontendMenus[oldIndex];
                            if( oldIndex < newIndex ){//向下移动调整顺序
                                for(var i = oldIndex ; i < newIndex ; i++){
                                    $this.frontendMenus[i] = $this.frontendMenus[i+1];
                                }
                            } else if( oldIndex > newIndex ){//向上移动时调整顺序
                                for(var j = oldIndex ; j > newIndex ; j--){
                                    $this.frontendMenus[j] = $this.frontendMenus[j-1];
                                }
                            }
                            $this.frontendMenus[newIndex] = temp;
                        }
                    });
                },
                // 打开图标选择弹窗
                openIconDialog: function (type, index) {
                    var $this = this;
                    $this.currIconType = type;
                    var iconId;
                    if (type == 'frontend') {
                        iconId = $this.innerAddEditItem.frontendMenus[index].iconId;
                    } else if (type == 'backend') {
                        iconId = $this.innerAddEditItem.backendConfigs[index].iconId;
                    }
                    $this.appConfigOperateIndex = index;
                    $this.$refs.iconSelectWindow.showWindow(iconId);
                },
                // 确认图标选择
                confirmIconChoose: function (icon) {
                    var $this = this;
                    if ($this.currIconType == 'frontend') {
                        $this.innerAddEditItem.frontendMenus[$this.appConfigOperateIndex].iconId = icon.id;
                        $this.innerAddEditItem.frontendMenus[$this.appConfigOperateIndex].defaultIconCloudId = icon.defaultIconCloudId;
                    } else if ($this.currIconType == 'backend') {
                        $this.innerAddEditItem.backendConfigs[$this.appConfigOperateIndex].iconId = icon.id;
                        $this.innerAddEditItem.backendConfigs[$this.appConfigOperateIndex].defaultIconCloudId = icon.defaultIconCloudId;
                    }
                },
                toAddBackendMenu: function () {
                    var $this = this;
                    $this.toAddMenu("backend");
                },
                toAddFrontendMenu: function () {
                    var $this = this;
                    $this.toAddMenu("frontend");
                },
                toAddMenu: function (type) {
                    var $this = this;
                    var {id, defaultIconCloudId} = $this.icons[0] || {};
                    $this.frontendMenuMaxSeq = $this.frontendMenuMaxSeq + 1;
                    $this.backendMenuMaxSeq = $this.backendMenuMaxSeq + 1;
                    $this.addEditMenu = $.extend({}, {
                        id: uuid(),
                        activityId: $this.activityId,
                        type: type,
                        name: '',
                        iconId: id,
                        defaultIconCloudId: defaultIconCloudId,
                        url: '',
                        pc: true,
                        mobile: false,
                        showRule: 'no_limit',
                        sequence: type == 'frontend' ? $this.frontendMenuMaxSeq : $this.backendMenuMaxSeq,
                        system: false
                    });
                    $this.showAddEditDialog = true;
                },
                confirmAddEditMenu: function () {
                    var $this = this;
                    var addEditMenu = $.extend({}, $this.addEditMenu)
                    if ($this.addEditMenu.type == 'frontend') {
                        $this.frontendMenus.push(addEditMenu);
                    } else {
                        $this.backendMenus.push(addEditMenu);
                    }
                    $this.closeAddEditMenu();
                },
                closeAddEditMenu: function () {
                    var $this = this;
                    $this.addEditMenu = {};
                    $this.showAddEditDialog = false;
                },
                changeFrontendMenuEnable: function (e, menu) {
                    debugger
                },
            }
        });
    </script>
</div>
</html>
