<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>模块设置</title>
    <link rel="stylesheet" href="/static/pc/assets/lib/layui/css/layui.css" th:href="@{/pc/assets/lib/layui/css/layui.css}">
    <link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
    <link rel="stylesheet" href="/static/pc/assets/icomoon/style.css" th:href="@{/pc/assets/icomoon/style.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/common.css" th:href="@{/pc/assets/css/common.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/moduleSet.css" th:href="@{/pc/assets/css/moduleSet.css}">
    <link rel="stylesheet" href="/static/pc/assets/css/engine-design.css" th:href="@{/pc/assets/css/engine-design.css}">
    <style>
        [v-cloak] {
            display: none;
        }
        .header {
            width: inherit;
        }
    </style>
</head>
<body>
<div id="vue" v-cloak>
    <div class="manage-page">
        <div class="top-title">
            <span class="font16 color333 title-name">管理功能</span>
            <el-button class="fr btn-add" plain round @click="toAddBackendMenu">添加</el-button>
        </div>
        <div class="sortable-box ">
            <ul class="table-deader fs0">
                <li class="li-drag">排序</li>
                <li class="li-name">菜单名称</li>
                <li class="li-status">开启</li>
                <li class="li-operate">操作</li>
            </ul>
            <div class="table-body" id="sortDragBox1">
                <ul v-for="(item, index) in backendMenus" :key="'backend-menu-' + index" class="table-tr fs0 list-group-item" v-if="item.code != 'setting'">
                    <li class="table-td li-drag"><i class="icon-drag" :menu-code="item.code"></i></li>
                    <li class="table-td li-name">{{item.name}}</li>
                    <li class="table-td li-status">
                        <el-switch v-model="item.enable" @change="changeBackendMenuEnable(index)"></el-switch>
                    </li>
                    <li class="table-td li-operate" v-show="item.dataOrigin == 'activity'">
                        <span class="btn btn-edit" @click="toEditBackendMenu(index)">编辑</span>
                        <span class="btn btn-delete" @click="toRemoveBackendMenu(index)">删除</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top-title" v-show="false">
            <span class="font16 color333 title-name">用户参与按钮</span>
            <el-button class="fr btn-add" plain round @click="toAddFrontendMenu">添加</el-button>
        </div>
        <div class="sortable-box" v-show="false">
            <ul class="table-deader fs0">
                <li class="li-drag">排序</li>
                <li class="li-button">按钮</li>
                <li class="li-rule">显示规则</li>
                <li class="li-status">开启</li>
                <li class="li-operate">操作</li>
            </ul>
            <div class="table-body" id="sortDragBox2">
                <ul v-for="(item, index) in frontendMenus" :key="'frontend-menu-' + index"
                    class="table-tr fs0 list-group-item">
                    <li class="table-td li-drag"><i class="icon-drag" :menu-code="item.code"></i></li>
                    <li class="table-td li-button">{{item.name}}</li>
                    <li class="table-td li-rule">
                        <el-select v-model="item.showRule" placeholder="请选择" @change="changeFrontendShowRule(index)">
                            <el-option v-for="it in showRules" :key="it.value" :label="it.label"
                                       :value="it.value"></el-option>
                        </el-select>
                    </li>
                    <li class="table-td li-status">
                        <el-switch v-model="item.enable" @change="changeFrontendMenuEnable(index, item)"></el-switch>
                    </li>
                    <li class="table-td li-operate" v-show="item.dataOrigin == 'activity'">
                        <span class="btn btn-edit" @click="toEditFrontendMenu(index)">编辑</span>
                        <span class="btn btn-delete" @click="toRemoveFrontendMenu(index)">删除</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--添加修改弹窗-->
        <div class="dialog-mask selectLinkPop" v-show="showAddEditDialog">
            <div class="dailog">
                <div class="dailog-header">
                    <span>{{operateMenuType == 'backend' ? '管理功能菜单' : '用户参与按钮'}}</span>
                    <i class="close" @click="closeAddEditMenu"></i>
                </div>
                <div class="body">
                    <div class="form">
                        <div class="content-switch-box">
                            <div class="link-lists link-lists1">
                                <div class="link-list marginBottom16">
                                    <div class="left-box">
                                        <div class="line1 marginBottom16">
                                            <div class="icon-img" @click="openIconDialog">
                                                <img v-show="addEditMenu.defaultIconUrl" :src="addEditMenu.defaultIconUrl" alt="">
                                            </div>
                                            <el-input v-model="addEditMenu.name" type="text" placeholder="标题"
                                                      maxlength="4" show-word-limit></el-input>
                                        </div>
                                        <div class="line2">
                                            <el-input v-model="addEditMenu.url" type="text" placeholder="链接"></el-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="terminal-select-box marginBottom16">
                                    <label class="box-title color333 font14">显示终端</label>
                                    <div class="terminal-select">
                                        <el-checkbox v-model="addEditMenu.pc">电脑端</el-checkbox>
                                        <el-checkbox v-model="addEditMenu.mobile">移动端</el-checkbox>
                                    </div>
                                    <div class="switch-box">
                                        <label class="label color666">新页面打开</label>
                                        <el-switch class="switch" v-model="addEditMenu.openBlank"></el-switch>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="btn-box">
                        <div class="border-btn" @click="closeAddEditMenu">取消</div>
                        <div class="normal-btn" @click="confirmAddEditMenu">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 图标选择弹窗 -->
    <vue-icon-select ref="iconSelectWindow" :cloud-domain="cloudDomain" :icons="icons" @callback="confirmIconChoose"></vue-icon-select>
    <vue-confirm-common ref="deleteWindow" :message="'确认删除?'" :cancel="'保留'" :sure="'删除'" @callback="removeMenu"></vue-confirm-common>

</div>
</body>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
    <script src="/static/pc/assets/lib/layui/layui.js" th:src="@{/pc/assets/lib/layui/layui.js}"></script>
    <script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
    <script src="/static/pc/assets/component/icon-select.js" th:src="@{/pc/assets/component/icon-select.js}"></script>
    <script src="/static/pc/assets/component/confirm-common.js" th:src="@{/pc/assets/component/confirm-common.js}"></script>
    <script src="/static/pc/assets/lib/Sortable.js" th:src="@{/pc/assets/lib/Sortable.js}"></script>
    <script th:inline="javascript">
        var uuid = function () {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0,
                    v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
        var vm = new Vue({
            el: '#vue',
            data: function () {
                return {
                    activityId: [[${activityId}]],
                    cloudDomain: [[${cloudDomain}]],
                    canConfigMenus: [[${canConfigMenus}]] || [],  //  可配置的菜单列表
                    icons: [[${icons}]],
                    showRules: [
                        {value: 'no_limit', label: '不限'},
                        {value: 'before_sign_up', label: '报名前'},
                        {value: 'after_sign_up', label: '报名后'}
                    ],  // 显示规则列表
                    backendMenus: [],
                    frontendMenus: [],
                    backendMenuMaxSeq: 0,
                    frontendMenuMaxSeq: 0,
                    // 是否新增
                    isAdd: false,
                    // 显示新增修改菜单弹窗
                    showAddEditDialog: false,
                    addEditMenu: {},
                    // 删除菜单的操作id
                    operateMenuIndex: -1,
                    operateMenuType: '',
                    // 排序对象
                    backendSortable: null,
                    frontendSortable: null
                }
            },
            created: function () {
                var $this = this;
                $($this.canConfigMenus).each(function () {
                    if (this.type == 'backend') {
                        $this.backendMenus.push(this);
                    } else if (this.type == 'frontend') {
                        $this.frontendMenus.push(this);
                    }
                });
                var backendLen = $this.backendMenus.length;
                var frontendLen = $this.frontendMenus.length;
                if (backendLen > 0) {
                    $this.backendMenuMaxSeq = $this.backendMenus[backendLen - 1].sequence || 10000;
                }
                if (frontendLen > 0) {
                    $this.frontendMenuMaxSeq = $this.frontendMenus[backendLen - 1].sequence || 10000;
                }
            },
            mounted: function () {
                var $this = this;
                $this.$nextTick(function () {
                    $this.createSortable();
                });
            },
            methods: {
                // 创建排序选择器
                createSortable: function () {
                    var $this = this;
                    $this.backendSortable = new Sortable(document.getElementById('sortDragBox1'), {
                        animation: 150,
                        handle: '.icon-drag',
                        group: '.list-group-item',
                        onEnd: function () {
                            var sequence = 0;
                            var menuMap = {};
                            $($this.backendMenus).each(function () {
                                menuMap[this.code] = this;
                            });
                            var menus = [];
                            $("#sortDragBox1 .icon-drag[menu-code]").each(function () {
                                var menuCode = $(this).attr("menu-code");
                                var menu = menuMap[menuCode];
                                menu.sequence = ++sequence;
                                menus.push(menu);
                            })
                            $this.backendMenuMaxSeq = menus.length || 10000;
                            $this.updateMenuSort(menus);
                        }
                    });

                    $this.frontendSortable = new Sortable(document.getElementById('sortDragBox2'), {
                        handle: '.icon-drag',
                        animation: 150,
                        group: '.list-group-item',
                        onEnd: function () {
                            var sequence = 0;
                            var menuMap = {};
                            $($this.frontendMenus).each(function () {
                                menuMap[this.code] = this;
                            });
                            var menus = [];
                            $("#sortDragBox2 .icon-drag[menu-code]").each(function () {
                                var menuCode = $(this).attr("menu-code");
                                var menu = menuMap[menuCode];
                                menu.sequence = ++sequence;
                                menus.push(menu);
                            })
                            $this.frontendMenuMaxSeq = menus.length || 10000;
                            $this.updateMenuSort(menus);
                        }
                    });
                },
                // 打开图标选择弹窗
                openIconDialog: function () {
                    var $this = this;
                    $this.$refs.iconSelectWindow.showWindow($this.addEditMenu.iconId);
                },
                // 确认图标选择
                confirmIconChoose: function (icon) {
                    var $this = this;
                    $this.addEditMenu.iconId = icon.id;
                    $this.addEditMenu.defaultIconUrl = $this.cloudDomain + '/star3/origin/' + icon.defaultIconCloudId;
                },
                // 添加后台菜单
                toAddBackendMenu: function () {
                    var $this = this;
                    $this.operateMenuType = "backend";
                    $this.toAddMenu();
                },
                // 编辑后台菜单
                toEditBackendMenu: function (index) {
                    var $this = this;
                    $this.operateMenuIndex = index;
                    $this.operateMenuType = 'backend';
                    $this.addEditMenu = $.extend({}, $this.backendMenus[index]);
                    $this.isAdd = false;
                    $this.showAddEditDialog = true;
                },
                // 添加前端按钮
                toAddFrontendMenu: function () {
                    var $this = this;
                    $this.operateMenuType = "frontend";
                    $this.toAddMenu();
                },

                // 编辑前端按钮
                toEditFrontendMenu: function (index) {
                    var $this = this;
                    $this.operateMenuIndex = index;
                    $this.operateMenuType = 'frontend';
                    $this.addEditMenu = $.extend({}, $this.frontendMenus[index]);
                    $this.isAdd = false;
                    $this.showAddEditDialog = true;
                },
                // 添加菜单
                toAddMenu: function () {
                    var $this = this;
                    var { id, defaultIconCloudId } = $this.icons[0] || {};
                    $this.frontendMenuMaxSeq = $this.frontendMenuMaxSeq + 1;
                    $this.backendMenuMaxSeq = $this.backendMenuMaxSeq + 1;
                    $this.addEditMenu = $.extend({}, {
                        activityId: $this.activityId,
                        type: $this.operateMenuType,
                        name: '',
                        iconId: id,
                        defaultIconUrl: $this.cloudDomain + '/star3/origin/' + $this.icons[0].defaultIconCloudId,
                        defaultIconCloudId: defaultIconCloudId, // 该字段暂时用不上
                        url: '',
                        pc: true,
                        mobile: false,
                        openBlank: true,
                        showRule: 'no_limit',
                        dataOrigin: 'activity',
                        sequence: $this.operateMenuType == 'frontend' ? $this.frontendMenuMaxSeq : $this.backendMenuMaxSeq,
                        system: false
                    });

                    $this.isAdd = true;
                    $this.showAddEditDialog = true;
                },
                //确认菜单创建编辑
                confirmAddEditMenu: function () {
                    var $this = this;
                    var addEditMenu = $.extend({}, $this.addEditMenu)
                    var type = addEditMenu.type;
                    var url;
                    if ($this.isAdd) {
                       url = ctx + "/api/activity/menu/add/activity-menu";
                    } else {
                        url = ctx + "/api/activity/menu/update/activity-menu";
                    }
                    app.ajaxPostWithLoading(url, { activityMenuStr: activityApp.getJsonStr(addEditMenu) }, function (data) {
                        if (data.success) {
                            if ($this.isAdd) {
                                if (type == 'frontend') {
                                    $this.frontendMenus.push(data.data);
                                } else {
                                    $this.backendMenus.push(data.data);
                                }
                                app.showMsg("菜单添加成功");
                            } else {
                                if ($this.operateMenuType == 'frontend') {
                                    $this.frontendMenus[$this.operateMenuIndex] = $.extend({}, addEditMenu);
                                } else {
                                    $this.backendMenus[$this.operateMenuIndex] = $.extend({}, addEditMenu);
                                }
                                app.showMsg("菜单更新成功");
                            }
                            $this.closeAddEditMenu();
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "操作失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("操作失败");
                    });
                },
                // 关闭菜单创建编辑
                closeAddEditMenu: function () {
                    var $this = this;
                    $this.addEditMenu = {};
                    $this.isAdd = false;
                    $this.operateMenuIndex = -1;
                    $this.operateMenuType = '';
                    $this.showAddEditDialog = false;
                },
                getMenuFromOperateIndexAndType: function () {
                    var $this = this;
                    var menu;
                    if ($this.operateMenuType == 'backend') {
                        menu = $this.backendMenus[$this.operateMenuIndex];
                    } else if ($this.operateMenuType == 'frontend') {
                        menu = $this.frontendMenus[$this.operateMenuIndex];
                    }
                    return menu;
                },
                changeBackendMenuEnable: function (index) {
                    var $this = this;
                    $this.operateMenuIndex = index;
                    $this.operateMenuType = 'backend';
                    $this.changeMenuEnable();
                },
                changeFrontendMenuEnable: function (index) {
                    var $this = this;
                    $this.operateMenuIndex = index;
                    $this.operateMenuType = 'frontend';
                    $this.changeMenuEnable();
                },
                // 改变菜单启用状态
                changeMenuEnable: function () {
                    var $this = this;
                    var menu = $this.getMenuFromOperateIndexAndType();
                    if (!menu) {
                        return;
                    }
                    var url = ctx + "/api/activity/menu/update/menu-enable";
                    app.ajaxPostWithLoading(url, { activityMenuStr: activityApp.getJsonStr(menu) }, function (data) {
                        if (data.success) {
                            if ($this.operateMenuType == 'backend') {
                                $this.$set($this.backendMenus[$this.operateMenuIndex], "id", data.data)
                            } else if ($this.operateMenuType == 'frontend') {
                                $this.$set($this.frontendMenus[$this.operateMenuIndex], "id", data.data)
                            }
                            $this.operateMenuIndex = -1;
                            $this.operateMenuType = '';
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "更新菜单启用状态失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("更新菜单启用状态失败");
                    });
                },
                changeFrontendShowRule: function (index) {
                    var $this = this;
                    $this.operateMenuIndex = index;
                    $this.operateMenuType = 'frontend';
                    $this.changeMenuShowRule();
                },
                // 改变菜单显示规则
                changeMenuShowRule: function () {
                    var $this = this;
                    var menu = $this.getMenuFromOperateIndexAndType();
                    if (!menu) {
                        return;
                    }
                    var url = ctx + "/api/activity/menu/update/show-rule";
                    app.ajaxPostWithLoading(url, { activityMenuStr: activityApp.getJsonStr(menu) }, function (data) {
                        if (data.success) {
                            if ($this.operateMenuType == 'backend') {
                                $this.$set($this.backendMenus[$this.operateMenuIndex], "id", data.data)
                            } else if ($this.operateMenuType == 'frontend') {
                                $this.$set($this.frontendMenus[$this.operateMenuIndex], "id", data.data)
                            }
                            $this.operateMenuIndex = -1;
                            $this.operateMenuType = '';
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "更新菜单启用状态失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("更新菜单启用状态失败");
                    });
                },
                // 移除后端活动自定义菜单
                toRemoveBackendMenu: function (index) {
                    var $this = this;
                    $this.operateMenuIndex = index;
                    $this.operateMenuType = 'backend';
                    $this.$refs.deleteWindow.show = true;
                },
                // 移除前端活动自定义菜单
                toRemoveFrontendMenu: function (index) {
                    var $this = this;
                    $this.operateMenuIndex = index;
                    $this.operateMenuType = 'frontend';
                    $this.$refs.deleteWindow.show = true;
                },
                // 删除活动菜单
                removeMenu: function () {
                    var $this = this;
                    var menu = $this.getMenuFromOperateIndexAndType();
                    if (!menu) {
                        return;
                    }
                    var url = ctx + "/api/activity/menu/remove/activity-menu";
                    app.ajaxPostWithLoading(url, { menuId: menu.id, activityMenuId: menu.activityMenuId }, function (data) {
                        if (data.success) {
                            $this.$refs.deleteWindow.show = false;
                            // 移除
                            if ($this.operateMenuType == 'backend') {
                                $this.backendMenus.splice($this.operateMenuIndex, 1)
                            } else if ($this.operateMenuType == 'frontend') {
                                $this.frontendMenus.splice($this.operateMenuIndex, 1)
                            }
                            $this.operateMenuIndex = -1;
                            $this.operateMenuType = '';
                        } else {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "删除菜单失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("删除菜单失败");
                    });
                },
                updateMenuSort: function (menus) {
                    var $this = this;
                    var url = ctx + "/api/activity/menu/update/sort";
                    app.ajaxPostWithLoading(url, { menusJsonStr: activityApp.getJsonStr(menus) }, function (data) {
                        if (!data.success) {
                            var errorMessage = data.message;
                            if (activityApp.isEmpty(errorMessage)) {
                                errorMessage = "更新菜单排序失败";
                            }
                            app.showMsg(errorMessage);
                        }
                    }, function () {
                        app.showMsg("更新菜单排序失败");
                    });
                }
            }
        });
    </script>
</div>
</html>
