<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title th:text="|${market.name}后台|">活动市场</title>
	<link rel="stylesheet" href="/static/pc/assets/css/reset.css" th:href="@{/pc/assets/css/reset.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/iframe.css" th:href="@{/pc/assets/css/iframe.css}">
	<style>
		[v-cloak] {
			display: none;
        }
	</style>
</head>
<body class="overHidden1">
<div id="vm" v-cloak>
	<div class="topTabs">
		<div class="assess-header" v-show="!isEmbedded">
			<div class="assess-title">{{market.name}}后台</div>
			<div class="assess-header-right">
				<div class="login-container">
					<div class="after-login">
						<img class="login-tx" th:src="|http://photo.chaoxing.com/p/${session._login_user_.uid}_80|">
						<span class="user-name" th:text="${session._login_user_.realName}">王小明</span>
						<!--<ul class="login-downlist-info">
							<li class="login-downlist-item">
								<a href="#">进入空间</a>
							</li>
							<li class="login-downlist-item">
								<a href="#">退出登录</a>
							</li>
						</ul>-->
					</div>
				</div>
			</div>
		</div>
		<div class="menu">
			<ul>
				<li v-for="(menu, index) of menus" :key="'menu-' + index" :class="{'current': menu.active}" @click="activeMenu(index)">{{menu.name}}</li>
			</ul>
		</div>
	</div>
	<!--    右侧内容栏-->
	<div class="iframe-bot-content">
		<iframe src="" id="content" scrolling="auto" width="100%" frameborder="0"></iframe>
	</div>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
	<script src="/static/pc/assets/lib/set-iframe-height-child.js" th:src="@{/pc/assets/lib/set-iframe-height-child.js}"></script>
	<script th:inline="javascript">
        vm = new Vue({
	        el: "#vm",
	        data: {
                market: [[${market}]],
		        menus: [
			        {"name": [[${market.name}]], url: ctx + "/?marketId=[[${market.id}]]&fullScreen=true&pageMode=[[${pageMode}]]", active: true},
			        {"name": "规则设置", url: ctx + "/market/[[${market.id}]]/rule", active: false},
			        {"name": "黑名单", url: ctx + "/market/[[${market.id}]]/blacklist/list", active: false}
		        ],
                isEmbedded: activityApp.isEmbedded(),
		        url: "",

	        },
            created: function () {
                // 解决跨域
                document.domain = "chaoxing.com";
            },
            mounted: function () {
                var $this = this;
                $this.resetFrameHeight();
                $this.url = $this.menus[0].url;
            },
            watch: {
                "url": function () {
                    var $this = this;
                    $this.resetFrameHeight();
                    $("#content")[0].src = $this.url;
                }
            },
	        methods: {
	            // 激活菜单
                activeMenu: function (index) {
                    var $this = this;
                    var menu = $this.menus[index];
                    if (menu.active) {
                        return;
                    }
                    $($this.menus).each(function (i) {
                        $this.$set($this.menus[i], "active", false);
                    });
                    $this.$set($this.menus[index], "active", true);
                    $this.url = menu.url;
                },
                resetFrameHeight: function () {
                    $("#content").height($(window).height() - 68 - 20 - 5);
                }
	        }
        });
	</script>
</div>
</body>
</html>