<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title th:text="|${market.name}后台|">活动市场</title>
	<link rel="stylesheet" href="/static/pc/assets/css/reset.css" th:href="@{/pc/assets/css/reset.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/iframe.css" th:href="@{/pc/assets/css/iframe.css}">
	<style>
		[v-cloak] {
			display: none;
        }
	</style>
</head>
<body class="overHidden1">
<div id="vm" v-cloak>
	<div class="topTabs">
		<div class="assess-header" v-show="!isEmbedded">
			<div class="assess-title">{{market.name}}后台</div>
			<div class="assess-header-right">
				<div class="login-container">
					<div class="after-login">
						<img class="login-tx" th:src="|http://photo.chaoxing.com/p/${session._login_user_.uid}_80|">
						<span class="user-name" th:text="${session._login_user_.realName}">王小明</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--    右侧内容栏-->
	<div class="iframe-bot-content">
		<iframe src="" id="content" scrolling="auto" width="100%" frameborder="0"></iframe>
	</div>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
	<script src="/static/pc/assets/lib/set-iframe-height-child.js" th:src="@{/pc/assets/lib/set-iframe-height-child.js}"></script>
	<script th:inline="javascript">
        vm = new Vue({
	        el: "#vm",
	        data: {
                market: [[${market}]],
                areaCode: [[${areaCode == null ? '' : areaCode}]],
                pageMode: [[${pageMode}]],
                isEmbedded: activityApp.isEmbedded(),
		        url: ""
	        },
            created: function () {
                var $this = this;
                // 解决跨域
                document.domain = "chaoxing.com";
                // 如果被嵌入则跳转到活动管理列表页面
                if (activityApp.isEmbedded()) {
                    window.location.replace(ctx + "/?marketId=" + $this.market.id + "&fullScreen=true&areaCode=" + $this.areaCode + "&pageMode=" + $this.pageMode);
                }
            },
            mounted: function () {
                var $this = this;
                $this.resetFrameHeight();
                $this.url = ctx + "/?marketId=" + $this.market.id + "&fullScreen=true&areaCode=" + $this.areaCode + "&pageMode=" + $this.pageMode;
            },
            watch: {
                "url": function () {
                    var $this = this;
                    $this.resetFrameHeight();
                    $("#content")[0].src = $this.url;
                }
            },
	        methods: {
                resetFrameHeight: function () {
                    $("#content").height($(window).height() - 68 - 20 - 5);
                }
	        }
        });
	</script>
</div>
</body>
</html>