<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>报名填报模板</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/pc/assets/lib/layui/css/layui.css" th:href="@{/pc/assets/lib/layui/css/layui.css}">
	<link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
	<link rel="stylesheet" href="/static/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css" th:href="@{/pc/assets/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}">
	<link rel="stylesheet" href="/static/pc/assets/icomoon/style.css" th:href="@{/pc/assets/icomoon/style.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/common.css" th:href="@{/pc/assets/css/common.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/moduleSet.css" th:href="@{/pc/assets/css/moduleSet.css}">
	<link rel="stylesheet" href="/static/pc/assets/sign/assets/css/confirm_dialog.css" th:href="@{/pc/assets/sign/assets/css/confirm_dialog.css}">
	<style>
		[v-cloak] {
			display: none;
        }
	</style>
</head>
<body>
<div id="vue" v-cloak>
	<div class="manage-page write-module">
		<div class="top-title">
			<div class="btn normal-btn-blue" @click="toAddWfwForm"><i class="icon-plus"></i>添加表单</div>
			<div class="btn border-btn" @click="toAddApproval"><i class="icon-plus"></i>添加审批</div>
		</div>
		<div class="sortable-box ">
			<ul class="table-deader fs0">
				<li class="li-drag"></li>
				<li class="li-name">模板名称</li>
				<li class="li-status">开启</li>
				<li class="li-operate">操作</li>
			</ul>
			<div class="table-body" id="sortDragBox1">
				<ul v-for="(template, index) of signUpFillInTemplates" :key="'template-' + index" class="table-tr fs0 list-group-item" data-name="ul" :data-id="template.id">
					<li class="table-td li-drag"><i class="icon-drag"></i></li>
					<li class="table-td li-name">
						<span :class="{'state': true, 'bg1': (template.type == 'wfw_form')}">{{template.type == 'wfw_form' ? '表单' : '审批'}}</span> {{template.name}}
					</li>
					<li class="table-td li-status">
						<el-switch v-model="template.enable" @change="enableChange(index)"></el-switch>
					</li>
					<li class="table-td li-operate">
						<span class="btn btn-edit" @click="preview(index)">预览</span>
						<span class="btn btn-delete" @click="toEdit(index)">编辑</span>
						<span class="btn btn-delete" @click="toDelete(index)">删除</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 删除弹窗 -->
	<vue-confirm-common ref="deleteWindow" :message="'确认删除'" :cancel="'取消'" :sure="'删除'" @callback="deleteSubmit"></vue-confirm-common>
</div>
<div th:replace="pc/include/common_js :: common_js(~{::script})">
	<script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
	<script src="/static/pc/assets/lib/Sortable.js" th:src="@{/pc/assets/lib/Sortable.js}"></script>
	<script src="/static/pc/assets/component/confirm-common.js" th:src="@{/pc/assets/component/confirm-common.js}"></script>
	<script th:inline="javascript">
		vm = new Vue({
			el: '#vue',
			data: {
				marketId: [[${marketId}]],
				wfwFormDomain: [[${wfwFormDomain}]],
				signUpFillInTemplates: [[${signUpFillInTemplates}]],
				newWindow: null,
				deleteIndex: null
			},
			created: function () {
				var $this = this;
				$this.initSignUpFillInTemplates();
				window.addEventListener("message", function (e) {
					if (e.origin.indexOf($this.wfwFormDomain.replace(/http(|s):\/\//, "")) > -1) {
						var { data } = activityApp.getJsonObject(e.data);
						var formId = data.formId;
						var name = data.name;
						var formType = data.formType;
						var fid = data.fid;
						var openAddr = data.openAddr;
						var pcUrl = data.pcUrl;
						var wechatUrl = data.wechatUrl;
						var id = $this.getIdByFormId(formId);
						var obj = {
							id: $this.getIdByFormId(formId),
							marketId: $this.marketId,
							name: name,
							formId: formId,
							fid: fid,
							openAddr: openAddr,
							pcUrl: pcUrl,
							wechatUrl: wechatUrl
						};
						if (0 == formType) {
							// 审批
							if (!activityApp.isEmpty(id)) {
								$this.editApproval(obj);
							} else {
								$this.addApproval(obj);
							}
						} else {
							// 表单
							if (!activityApp.isEmpty(id)) {
								$this.editWfwForm(obj);
							} else {
								$this.addWfwForm(obj);
							}
						}
						$this.newWindow.close();
					}
				});
			},
			mounted: function () {
				var $this = this;
				$this.createSort();
			},
			methods: {
				initSignUpFillInTemplates: function () {
					var $this = this;
					// 给模板的添加oldEnable属性（switch切换失败的时候使用）
					var signUpFillInTemplates = [];
					$($this.signUpFillInTemplates).each(function () {
						this.oldEnable = this.enable;
						signUpFillInTemplates.push(this);
					});
					$this.signUpFillInTemplates = signUpFillInTemplates;
				},
				createSort: function () {
					var $this = this;
					var dragList1 = document.getElementById('sortDragBox1');
					new Sortable(dragList1, {
						animation: 150,
						handle: '.icon-drag',
						group: '.list-group-item',
						onEnd: function () {
							var ids = [];
							$("ul[data-name='ul']").each(function () {
								var id = $(this).data("id");
								ids.push(id);
							});
							$this.sort(ids);
						}
					});
				},
				getIdByFormId: function (formId) {
					var $this = this;
					var id = null;
					$($this.signUpFillInTemplates).each(function () {
						if (this.formId == formId) {
							id = this.id;
							return false;
						}
					});
					return id;
				},
				toAddWfwForm: function () {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/wfw-form/add";
					$this.newWindow = window.open(url);
				},
				addWfwForm: function (obj) {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/wfw-form/add";
					app.ajaxPostWithLoading(url, obj, function (data) {
						if (data.success) {
							app.showMsg("添加成功", function () {
								window.location.reload();
							});
						} else {
							var message = data.message;
							if (activityApp.isEmpty(message)) {
								message = "添加失败";
							}
							app.showMsg(message);
						}
					}, function () {
						app.showMsg("添加失败");
					});
				},
				toAddApproval: function () {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/approval/add";
					$this.newWindow = window.open(url);
				},
				addApproval: function (obj) {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/approval/add";
					app.ajaxPostWithLoading(url, obj, function (data) {
						if (data.success) {
							app.showMsg("添加成功", function () {
								window.location.reload();
							});
						} else {
							var message = data.message;
							if (activityApp.isEmpty(message)) {
								message = "添加失败";
							}
							app.showMsg(message);
						}
					}, function () {
						app.showMsg("添加失败");
					});
				},
				// 预览
				preview: function (index) {
					var $this = this;
					var template = $this.signUpFillInTemplates[index];
					var pcUrl = template.pcUrl;
					if (!activityApp.isEmpty(pcUrl)) {
						window.open(pcUrl);
					}
				},
				toEdit: function (index) {
					var $this = this;
					var template = $this.signUpFillInTemplates[index];
					if ("wfw_form" == template.type) {
						$this.toEditWfwForm(template.id);
					} else {
						$this.toEditApproval(template.id);
					}
				},
				toEditWfwForm: function (id) {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/wfw-form/edit?id=" + id;
					$this.newWindow = window.open(url);
				},
				editWfwForm: function (obj) {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/wfw-form/edit";
					app.ajaxPostWithLoading(url, obj, function (data) {
						if (data.success) {
							app.showMsg("编辑成功", function () {
								window.location.reload();
							});
						} else {
							var message = data.message;
							if (activityApp.isEmpty(message)) {
								message = "编辑失败";
							}
							app.showMsg(message);
						}
					}, function () {
						app.showMsg("编辑失败");
					});
				},
				toEditApproval: function (id) {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/approval/edit?id=" + id;
					$this.newWindow = window.open(url);
				},
				editApproval: function (obj) {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/approval/edit";
					app.ajaxPostWithLoading(url, obj, function (data) {
						if (data.success) {
							app.showMsg("编辑成功", function () {
								window.location.reload();
							});
						} else {
							var message = data.message;
							if (activityApp.isEmpty(message)) {
								message = "编辑失败";
							}
							app.showMsg(message);
						}
					}, function () {
						app.showMsg("编辑失败");
					});
				},
				enableChange: function (index) {
					var $this = this;
					var template = $this.signUpFillInTemplates[index];
					// 是否改变了
					if (template.enable == template.oldEnable) {
						return;
					}
					if (template.enable) {
						$this.enable(index);
					} else {
						$this.disable(index);
					}
				},
				enable: function (index) {
					var $this = this;
					var template = $this.signUpFillInTemplates[index];
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/enable";
					var params = {
						id: template.id
					};
					app.ajaxPostWithLoading(url, params, function (data) {
						if (data.success) {
							$this.signUpFillInTemplates[index].oldEnable = $this.signUpFillInTemplates[index].enable;
							app.showMsg("开启成功");
						} else {
							$this.signUpFillInTemplates[index].enable = !$this.signUpFillInTemplates[index].enable;
							var message = data.message;
							if (activityApp.isEmpty(message)) {
								message = "开启失败";
							}
							app.showMsg(message);
						}
					}, function () {
						$this.signUpFillInTemplates[index].enable = !$this.signUpFillInTemplates[index].enable;
						app.showMsg("开启失败");
					});
				},
				disable: function (index) {
					var $this = this;
					var template = $this.signUpFillInTemplates[index];
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/disable";
					var params = {
						id: template.id
					};
					app.ajaxPostWithLoading(url, params, function (data) {
						if (data.success) {
							$this.signUpFillInTemplates[index].oldEnable = $this.signUpFillInTemplates[index].enable;
							app.showMsg("关闭成功");
						} else {
							$this.signUpFillInTemplates[index].enable = !$this.signUpFillInTemplates[index].enable;
							var message = data.message;
							if (activityApp.isEmpty(message)) {
								message = "关闭失败";
							}
							app.showMsg(message);
						}
					}, function () {
						$this.signUpFillInTemplates[index].enable = !$this.signUpFillInTemplates[index].enable;
						app.showMsg("关闭失败");
					});
				},
				sort: function (ids) {
					var $this = this;
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/sort";
					var params = {
						ids: ids
					};
					app.ajaxPostWithLoading(url, params, function (data) {
						if (data.success) {

						} else {
							var message = data.message;
							if (activityApp.isEmpty(message)) {
								message = "处理失败";
							}
							app.showMsg(message);
						}
					}, function () {
						app.showMsg("处理失败");
					});
				},
				toDelete: function (index) {
					var $this = this;
					$this.deleteIndex = index;
					$this.$refs.deleteWindow.show = true;
				},
				deleteSubmit: function () {
					var $this = this;
					var template = $this.signUpFillInTemplates[$this.deleteIndex];
					var url = ctx + "/market/" + $this.marketId + "/template/sign-up/fill-in/delete";
					var params = {
						id: template.id
					};
					app.ajaxPostWithLoading(url, params, function (data) {
						if (data.success) {
							app.showMsg("删除成功", function () {
								window.location.reload();
							});
						} else {
							var message = data.message;
							if (activityApp.isEmpty(message)) {
								message = "删除失败";
							}
							app.showMsg(message);
						}
					}, function () {
						app.showMsg("删除失败");
					});
				}
			}
		});
	</script>
</div>
</body>
</html>