<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>创建应用</title>
	<link rel="stylesheet" href="/static/pc/assets/lib/element-ui/lib/theme-chalk/index.css" th:href="@{/pc/assets/lib/element-ui/lib/theme-chalk/index.css}">
	<link rel="stylesheet" href="/static/pc/assets/lib/webuploader/webuploader.css" th:href="@{/pc/assets/lib/webuploader/webuploader.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/public.css" th:href="@{/pc/assets/css/public.css}">
	<link rel="stylesheet" href="/static/pc/assets/css/engine-design.css" th:href="@{/pc/assets/css/engine-design.css}">
</head>
<body>
<div class="basic-setting" id="basic-setting">
	<div class="top-con">
		<div class="go-back white-border-btn"><i></i><span>返回</span></div>
		<div class="look-div fr">
			<div class="btn-width80px-color2">发布</div>
		</div>
	</div>
	<div class="content">
		<div class="w-900px basic-con">
			<form action="">
				<div class="input-box">
					<label class="label">应用名称</label>
					<el-input type="name" placeholder="请输入"></el-input>
				</div>
				<div class="input-box">
					<label class="label">应用图标</label>
					<div class="icon-box">
						<div class="img-box"><img src="/static/pc/assets/images/yq-design/icon-cover.png" th:src="@{/pc/assets/images/yq-design/icon-cover.png}" ></div>
						<div class="text-box fr">
							<p>请上传尺寸为256PX*256PX，500KB以内的PNG,GIF,JPG图标</p>
							<div class="btn-box">
								<div class="" id="upload-btn">上传</div>
								<div class="border-btn">从图标库选择</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="fixedTips">规则和字段配置请创建应用后在 应用详情 > 后台 中配置</div>
		</div>
	</div>

</div>
<script src="/static/pc/assets/lib/jquery.min.js" th:src="@{/pc/assets/lib/jquery.min.js}"></script>
<script src="/static/pc/assets/lib/vue.js" th:src="@{/pc/assets/lib/vue.js}"></script>
<script src="/static/pc/assets/lib/element-ui/lib/index.js" th:src="@{/pc/assets/lib/element-ui/lib/index.js}"></script>
<script src="/static/pc/assets/lib/jqthumb.min.js" th:src="@{/pc/assets/lib/jqthumb.min.js}"></script>
<script src="/static/pc/assets/lib/webuploader/webuploader.js" th:src="@{/pc/assets/lib/webuploader/webuploader.js}"></script>
<script>
	var app = new Vue({
		el: '#basic-setting',
		data: {
			name: '',
		}
	})
</script>
<script>
	function initUploader() {
		var $this = this;
		$this.uploader = WebUploader.create({
			// swf文件路径
			swf: "/static/pc/assets/lib/webuploader/Uploader.swf",
			// 文件接收服务端。
			server: "/api/upload/img",
			// 选择文件的按钮。可选。
			// 内部根据当前运行是创建，可能是input元素，也可能是flash.
			pick: "#upload-btn",
			// 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
			resize: false,
			auto: true,
			// 只允许选择图片文件。
			accept: {
				title: 'work',
				extensions: 'doc,docx',
				mimeTypes: 'application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document'
			}
		});
	}

	initUploader()
</script>
</body>
</html>