<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityMenuConfigMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityMenuConfig">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="menu" jdbcType="VARCHAR" property="menu" />
        <result column="data_origin" jdbcType="VARCHAR" property="dataOrigin" />
        <result column="show_rule" jdbcType="VARCHAR" property="showRule" />
        <result column="is_enable" jdbcType="BIT" property="enable" />
        <result column="template_component_id" jdbcType="INTEGER" property="templateComponentId" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.activity_id, t.menu, t.data_origin, t.show_rule, t.is_enable, t.template_component_id, t.sequence
    </sql>

    <insert id="batchAdd">
        INSERT INTO t_activity_menu_config ( activity_id, menu, data_origin, show_rule, template_component_id, sequence )
        VALUES
            <foreach collection="activityMenuConfigs" index="key" item="value" open="" close="" separator=",">
                ( #{value.activityId}, #{value.menu}, #{value.dataOrigin}, #{value.showRule} #{value.templateComponentId}, #{value.sequence} )
            </foreach>
    </insert>

</mapper>