<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityModuleMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityModule">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="icon_cloud_id" jdbcType="VARCHAR" property="iconCloudId" />
        <result column="external_id" jdbcType="VARCHAR" property="externalId" />
        <result column="pc_url" jdbcType="VARCHAR" property="pcUrl" />
        <result column="mobile_url" jdbcType="VARCHAR" property="mobileUrl" />
        <result column="template_app_id" jdbcType="INTEGER" property="templateAppId" />
        <result column="app_id" jdbcType="INTEGER" property="appId" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.chaoxing.activity.model.ActivityModule">
        <result column="external_config" jdbcType="LONGVARCHAR" property="externalConfig" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.activity_id, t.type, t.name, t.icon_cloud_id, t.external_id, t.pc_url, t.mobile_url, t.template_app_id, t.app_id, t.sequence, t.create_time, t.update_time
    </sql>
    <sql id="Blob_Column_List">
        t.external_config
    </sql>

    <insert id="batchAdd">
        INSERT INTO t_activity_module ( activity_id, type, `name`, icon_cloud_id, external_id, external_config, pc_url, mobile_url, template_app_id, app_id, `sequence` )
        VALUES
            <foreach collection="activityModules" index="key" item="value" open="" close="" separator=",">
                (
                    #{value.activityId},
                    #{value.type},
                    #{value.name},
                    #{value.iconCloudId},
                    #{value.externalId},
                    #{value.externalConfig},
                    #{value.pcUrl},
                    #{value.mobileUrl},
                    #{value.templateAppId},
                    #{value.appId},
                    #{value.sequence}
                )
            </foreach>
    </insert>

    <select id="getMaxSequenceByActivityId" resultType="java.lang.Integer">
        SELECT
            CASE
        WHEN
            MAX( t.sequence ) IS NULL THEN
                1 ELSE MAX( t.sequence ) + 1
            END
        FROM
            t_activity_module t
        WHERE
            t.activity_id = #{activityId}
    </select>

</mapper>