<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityComponentValueMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityComponentValue">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="component_id" jdbcType="INTEGER" property="componentId" />
        <result column="value" jdbcType="VARCHAR" property="value" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.activity_id, t.component_id, t.value
    </sql>
</mapper>