<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityCollectionMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityCollection">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="is_deleted" jdbcType="BIT" property="deleted" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.uid, t.activity_id, t.is_deleted, t.create_time, t.update_time
    </sql>
    <select id="statCollectedByActivityIds"
            resultType="com.chaoxing.activity.dto.activity.ActivityCollectionDTO">
        SELECT
            activity_id as activityId,
            count( 1 ) as collectedNum
        FROM
            t_activity_collection
        WHERE
            is_deleted = 0
            AND activity_id in
            <foreach collection="activityIds" item="value" open="(" close=")" separator=",">
                #{value}
            </foreach>
        GROUP BY
            activity_id
        ORDER BY
            activity_id
    </select>

</mapper>