<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityScopeMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityScope">
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="hierarchy_id" jdbcType="INTEGER" property="hierarchyId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="hierarchy_pid" jdbcType="INTEGER" property="hierarchyPid" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="links" jdbcType="VARCHAR" property="links" />
        <result column="level" jdbcType="INTEGER" property="level" />
        <result column="adjusted_level" jdbcType="INTEGER" property="adjustedLevel" />
        <result column="fid" jdbcType="INTEGER" property="fid" />
        <result column="is_exist_child" jdbcType="BIT" property="existChild" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>
    <sql id="Base_Column_List">
        t.activity_id, t.hierarchy_id, t.name, t.hierarchy_pid, t.code, t.links, t.level, t.adjusted_level, t.fid, t.is_exist_child, t.sort
    </sql>

    <insert id="batchAdd">
        INSERT INTO t_activity_scope ( activity_id, hierarchy_id, `name`, hierarchy_pid, `code`, links, `level`, adjusted_level, fid, is_exist_child, sort )
        VALUES
            <foreach collection="activityScopes" index="key" item="value" open="" close="" separator=",">
                (
                    #{value.activityId},
                    #{value.hierarchyId},
                    #{value.name},
                    #{value.hierarchyPid},
                    #{value.code},
                    #{value.links},
                    #{value.level},
                    #{value.adjustedLevel},
                    #{value.fid},
                    #{value.existChild},
                    #{value.sort}
                )
            </foreach>
    </insert>

    <select id="listOrgParticipateSignId" resultType="java.lang.Integer">
        SELECT
            t.sign_id
        FROM
            t_activity t
            INNER JOIN t_activity_scope t1 ON t.id = t1.activity_id
            AND t1.fid IN
                <foreach collection="fids" index="key" item="value" open="(" close=")" separator=",">
                    #{value}
                </foreach>
        WHERE
            t.sign_id IS NOT NULL
            AND t.is_enable_sign
    </select>

</mapper>