<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityStatSummaryMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityStatSummary">
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="signed_in_num" jdbcType="INTEGER" property="signedInNum" />
        <result column="sign_in_rate" jdbcType="DECIMAL" property="signInRate" />
        <result column="qualified_num" jdbcType="INTEGER" property="qualifiedNum" />
        <result column="avg_participate_in_length" jdbcType="INTEGER" property="avgParticipateInLength" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.activity_id, t.signed_in_num, t.sign_in_rate, t.qualified_num, t.avg_participate_in_length, t.create_time, t.update_time
    </sql>
</mapper>