<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityStatSummaryMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityStatSummary">
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="signed_in_num" jdbcType="INTEGER" property="signedInNum" />
        <result column="sign_in_rate" jdbcType="DECIMAL" property="signInRate" />
        <result column="qualified_num" jdbcType="INTEGER" property="qualifiedNum" />
        <result column="avg_participate_time_length" jdbcType="INTEGER" property="avgParticipateTimeLength" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.activity_id, t.signed_in_num, t.sign_in_rate, t.qualified_num, t.avg_participate_time_length, t.create_time, t.update_time
    </sql>
    <select id="activityStatSummaryPage" resultType="com.chaoxing.activity.dto.stat.ActivityStatSummaryDTO">
        SELECT
            t1.id as activityId,
            t1.name as activityName,
            t1.preview_url as activityPreviewUrl,
            t1.status as activityStatus,
            t1.activity_classify_id as activityClassifyId,
            t1.create_user_name as activityCreator,
            t1.create_uid as activityCreateUid,
            t1.integral_value as integral,
            t1.start_time as startTime,
            t1.end_time as endTime,
            t.signed_in_num as signedInNum,
            t.sign_in_rate as signInRate,
            t.qualified_num as qualifiedNum,
            t.create_time as createTime,
            t.update_time as updateTime
        FROM t_activity_stat_summary t
        INNER JOIN t_activity t1 ON t1.id = t.activity_id
        AND t1.create_fid = #{fid}
        <if test="startTime != null and startTime != ''">
            AND t1.start_time &gt;= #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            AND t1.end_time &gt;= #{endTime}
        </if>
        <if test="orderField != null and orderField != ''">
            ORDER BY ${orderField} <if test="orderType != null and orderType != ''">${orderType}</if>
        </if>

    </select>
</mapper>