<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityClassifyNewMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityClassifyNew">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="activity_market_id" jdbcType="INTEGER" property="activityMarketId" />
        <result column="fid" jdbcType="INTEGER" property="fid" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="is_deleted" jdbcType="BIT" property="deleted" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_uid" jdbcType="INTEGER" property="createUid" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_uid" jdbcType="INTEGER" property="updateUid" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.name, t.activity_market_id, t.fid, t.sequence, t.is_deleted, t.create_time, 
        t.create_uid, t.update_time, t.update_uid
    </sql>
</mapper>