<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityClassifyMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityClassify">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="is_system" jdbcType="INTEGER" property="system" />
        <result column="affiliation_fid" jdbcType="INTEGER" property="affiliationFid" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.name, t.is_system, t.affiliation_fid, t.sequence, t.status, t.create_time, t.update_time
    </sql>

    <select id="getMaxSequence" resultType="java.lang.Integer">
        SELECT
            CASE WHEN ISNULL( MAX( t.sequence ) ) THEN 1 ELSE MAX( t.sequence ) + 1 END
        FROM
            t_activity_classify t
        WHERE
            t.affiliation_fid = #{fid}
    </select>
    <select id="listByIds" resultType="com.chaoxing.activity.model.ActivityClassify">
        SELECT *
        FROM t_activity_classify
        WHERE id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="batchAdd">
        INSERT INTO t_activity_classify ( `name`, is_system, affiliation_fid, sequence )
        VALUES
            <foreach collection="activityClassifies" index="key" item="value" open="" close="" separator=",">
                (
                    #{value.name},
                    #{value.system},
                    #{value.affiliationFid},
                    #{value.sequence}
                )
            </foreach>
    </insert>

</mapper>