<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivityMarketMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivityMarket">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="market_id" jdbcType="INTEGER" property="marketId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="is_released" jdbcType="BIT" property="released" />
        <result column="is_top" jdbcType="BIT" property="top" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.activity_id, t.market_id, t.status, t.is_released, t.is_top
    </sql>


    <insert id="batchAdd">
        INSERT INTO
            t_activity_market ( activity_id, market_id, `status`, is_released, is_top )
        VALUES
        <foreach collection="activityMarkets" index="key" item="item" open="" close="" separator=",">
            (
             #{item.activityId},
             #{item.marketId},
             #{item.status},
             #{item.released},
             #{item.top}
            )
        </foreach>

    </insert>
</mapper>