<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ActivitySignModuleMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.ActivitySignModule">
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="module_type" jdbcType="VARCHAR" property="moduleType" />
        <result column="module_id" jdbcType="INTEGER" property="moduleId" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>

    <insert id="batchAdd">
        INSERT INTO t_activity_sign_module ( activity_id, module_type, module_id, `sequence` )
        VALUES
            <foreach collection="activitySignModules" index="key" item="value" open="" close="" separator=",">
                ( #{value.activityId}, #{value.moduleType}, #{value.moduleId}, #{value.sequence} )
            </foreach>
    </insert>

</mapper>