<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.ClassifyMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.Classify">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="is_system" jdbcType="BIT" property="system" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.name, t.is_system, t.create_time, t.update_time
    </sql>
    <select id="listByFid" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            t_classify t
            INNER JOIN t_org_classify t1 ON t.id = t1.classify_id
            AND t1.fid = #{fid}
            AND t1.is_deleted = 0
        ORDER BY
            t1.sequence
    </select>

    <select id="listByMarketId" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            t_classify t
            INNER JOIN t_market_classify t1 ON t.id = t1.classify_id
            AND t1.market_id = #{marketId}
            AND t1.is_deleted = 0
        ORDER BY
            t1.sequence
    </select>
</mapper>