<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.CustomAppInterfaceCallRecordMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.CustomAppInterfaceCallRecord">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="template_component_id" jdbcType="INTEGER" property="templateComponentId" />
        <result column="call_time" jdbcType="TIMESTAMP" property="callTime" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="message" jdbcType="VARCHAR" property="message" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.activity_id, t.template_component_id, t.call_time, t.status, t.message, t.create_time, 
        t.update_time
    </sql>
</mapper>