<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.CustomAppEnableMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.CustomAppEnable">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="template_component_id" jdbcType="INTEGER" property="templateComponentId" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.activity_id, t.template_component_id
    </sql>

    <insert id="batchAdd">
        INSERT INTO t_custom_app_enable ( activity_id, template_component_id )
        VALUES
        <foreach collection="waitSaveEnables" index="key" item="item" open="" close="" separator=",">
            (
                #{item.activityId},
                #{item.templateComponentId}
            )
        </foreach>
    </insert>

</mapper>