<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.GroupAffiliateOrgMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.GroupAffiliateOrg">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="group_id" jdbcType="INTEGER" property="groupId" />
        <result column="fid" jdbcType="INTEGER" property="fid" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.group_id, t.fid, t.create_time, t.update_time
    </sql>

    <select id="listFidByGroupCode" resultType="java.lang.Integer">
        SELECT
            t.fid
        FROM
            t_group_affiliate_org t
            INNER JOIN t_group t1 ON t.group_id = t1.id
            AND t1.`code` = #{groupCode}
    </select>
</mapper>