<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.GroupRegionFilterMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.GroupRegionFilter">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="group_id" jdbcType="INTEGER" property="groupId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="manage_fid" jdbcType="VARCHAR" property="manageFid" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.group_id, t.name, t.manage_fid, t.code, t.sequence, t.create_time, t.update_time
    </sql>

    <select id="listByGroupCode" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            t_group_region_filter t
            INNER JOIN t_group t1 ON t.group_id = t1.id
            AND t1.area_code = #{areaCode}
        ORDER BY
            t.sequence
    </select>

    <select id="getByCode" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"></include>
        FROM
            t_group_region_filter t
        WHERE
            t.code = #{code}
        LIMIT 1
    </select>

</mapper>