<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.InspectionConfigDetailMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.InspectionConfigDetail">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="config_id" jdbcType="INTEGER" property="configId" />
        <result column="action_type" jdbcType="VARCHAR" property="actionType" />
        <result column="action" jdbcType="VARCHAR" property="action" />
        <result column="score" jdbcType="DECIMAL" property="score" />
        <result column="upper_limit" jdbcType="DECIMAL" property="upperLimit" />
        <result column="is_deleted" jdbcType="BIT" property="deleted" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.config_id, t.action_type, t.action, t.score, t.upper_limit, t.is_deleted, 
        t.create_time, t.update_time
    </sql>
</mapper>