<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.MarketTableFieldMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.MarketTableField">
        <result column="fid" jdbcType="INTEGER" property="fid" />
        <result column="activity_flag" jdbcType="VARCHAR" property="activityFlag" />
        <result column="table_field_id" jdbcType="INTEGER" property="tableFieldId" />
        <result column="table_field_detail_id" jdbcType="INTEGER" property="tableFieldDetailId" />
        <result column="is_top" jdbcType="BIT" property="top" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_uid" jdbcType="INTEGER" property="createUid" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_uid" jdbcType="INTEGER" property="updateUid" />
    </resultMap>


    <insert id="batchAdd">
        INSERT INTO t_market_table_field ( fid, activity_flag, table_field_id, table_field_detail_id, is_top, sequence, create_uid, update_uid )
        VALUES
        <foreach collection="marketTableFields" index="key" item="value" open="" close="" separator=",">
            (
            #{value.fid},
            #{value.activityFlag},
            #{value.tableFieldId},
            #{value.tableFieldDetailId},
            #{value.top},
            #{value.sequence},
            #{value.createUid},
            #{value.updateUid}
            )
        </foreach>
    </insert>
</mapper>