<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.MarketSignUpConfigMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.MarketSignUpConfig">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="market_id" jdbcType="INTEGER" property="marketId" />
        <result column="sign_up_activity_limit" jdbcType="INTEGER" property="signUpActivityLimit" />
        <result column="sign_up_btn_name" jdbcType="VARCHAR" property="signUpBtnName" />
        <result column="sign_up_keyword" jdbcType="VARCHAR" property="signUpKeyword" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.market_id, t.sign_up_activity_limit, t.sign_up_btn_name, t.sign_up_keyword
    </sql>
</mapper>