<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.OrgFormMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.OrgForm">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="fid" jdbcType="INTEGER" property="fid" />
        <result column="form_id" jdbcType="INTEGER" property="formId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.fid, t.form_id, t.create_time, t.update_time
    </sql>
</mapper>