<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.OrgMarketDataPushMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.OrgMarketDataPush">
        <result column="fid" jdbcType="INTEGER" property="fid" />
        <result column="market_id" jdbcType="INTEGER" property="marketId" />
    </resultMap>

    <insert id="batchAdd">
        INSERT INTO t_org_market_data_push ( fid, market_id )
        VALUES
            <foreach collection="marketIds" index="key" item="value" open="" close="" separator=",">
                ( #{fid}, #{value} )
            </foreach>
    </insert>

</mapper>