<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.SignUpConditionMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.SignUpCondition">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="fid" jdbcType="INTEGER" property="fid" />
        <result column="template_component_id" jdbcType="INTEGER" property="templateComponentId" />
        <result column="origin_identify" jdbcType="VARCHAR" property="originIdentify" />
        <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
        <result column="is_allow_signed_up" jdbcType="BIT" property="allowSignedUp" />
        <result column="is_config_on_activity" jdbcType="BIT" property="configOnActivity" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.fid, t.template_component_id, t.origin_identify, t.field_name, t.is_allow_signed_up, t.is_config_on_activity
    </sql>

    <insert id="batchAdd">
        INSERT INTO t_sign_up_condition ( template_component_id, fid, origin_identify, field_name, is_allow_signed_up, is_config_on_activity )
        VALUES
            <foreach collection="signUpConditions" index="key" item="value" open="" close="" separator=",">
                ( #{value.templateComponentId}, #{value.fid}, #{value.originIdentify}, #{value.fieldName}, #{value.allowSignedUp}, #{value.configOnActivity} )
            </foreach>
    </insert>

    <select id="selectTemplateComponentIdByTemplateId" resultType="java.lang.Integer">
        SELECT
            t.template_component_id
        FROM
            t_sign_up_condition t
        LEFT JOIN t_template_component t1
            on t.template_component_id = t1.id
            and t1.template_id = #{templateId}
    </select>
    <select id="listActivityEnableSignUpCondition" resultType="com.chaoxing.activity.model.SignUpCondition">
        select t.*
        FROM t_sign_up_condition t
        INNER JOIN t_sign_up_condition_enable t1
            ON t.template_component_id = t1.template_component_id
            AND t1.activity_id = #{activityId}
    </select>
</mapper>