<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.SignUpFillInfoTypeMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.SignUpFillInfoType">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="template_component_id" jdbcType="INTEGER" property="templateComponentId" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="wfw_form_template_id" jdbcType="INTEGER" property="wfwFormTemplateId" />
        <result column="wfw_form_approval_template_id" jdbcType="INTEGER" property="wfwFormApprovalTemplateId" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.template_component_id, t.type, t.wfw_form_template_id, t.wfw_form_approval_template_id
    </sql>

    <insert id="batchAdd">
        INSERT INTO t_sign_up_fill_info_type ( template_component_id, `type`, wfw_form_template_id, wfw_form_approval_template_id )
        VALUES
            <foreach collection="signUpFillInfoTypes" index="key" item="value" open="" close="" separator=",">
                ( #{value.templateComponentId}, #{value.type}, #{value.wfwFormTemplateId}, #{value.wfwFormApprovalTemplateId} )
            </foreach>
    </insert>

</mapper>