<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.SignUpConditionMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.SignUpCondition">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="template_component_id" jdbcType="INTEGER" property="templateComponentId" />
        <result column="origin_identify" jdbcType="VARCHAR" property="originIdentify" />
        <result column="filed_name" jdbcType="VARCHAR" property="filedName" />
        <result column="is_allow_signed_up" jdbcType="BIT" property="isAllowSignedUp" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.template_component_id, t.origin_identify, t.filed_name, t.is_allow_signed_up
    </sql>
</mapper>