<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.SystemNoticeTemplateMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.SystemNoticeTemplate">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="notice_type" jdbcType="VARCHAR" property="noticeType" />
        <result column="receiver_description" jdbcType="VARCHAR" property="receiverDescription" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="code_title" jdbcType="VARCHAR" property="codeTitle" />
        <result column="content" jdbcType="LONGVARCHAR" property="content" />
        <result column="code_content" jdbcType="LONGVARCHAR" property="codeContent" />
        <result column="send_time_description" jdbcType="VARCHAR" property="sendTimeDescription" />
        <result column="is_support_time_config" jdbcType="BIT" property="supportTimeConfig" />
        <result column="delay_hour" jdbcType="INTEGER" property="delayHour" />
        <result column="delay_minute" jdbcType="INTEGER" property="delayMinute" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.notice_type, t.receiver_description, t.title, t.code_title, t.content, t.code_content, t.send_time_description,
        t.is_support_time_config, t.delay_hour, t.delay_minute, t.sequence
    </sql>

</mapper>