<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.TemplateComponentMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.TemplateComponent">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="pid" jdbcType="INTEGER" property="pid" />
        <result column="template_id" jdbcType="INTEGER" property="templateId" />
        <result column="component_id" jdbcType="INTEGER" property="componentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="is_required" jdbcType="BIT" property="required" />
        <result column="sequence" jdbcType="INTEGER" property="sequence" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.template_id, t.pid, t.component_id, t.name, t.introduction, t.is_required, t.sequence
    </sql>

    <insert id="batchAdd" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            t_template_component ( template_id, pid, component_id, `name`, introduction, is_required, `sequence` )
        VALUES
        <foreach collection="templateComponents" item="item" open="" close="" separator=",">
            (
                #{item.templateId},
                #{item.pid},
                #{item.componentId},
                #{item.name},
                #{item.introduction},
                #{item.required},
                #{item.sequence}
            )
        </foreach>
    </insert>
</mapper>