<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.UserActionRecordMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.UserActionRecord">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="activity_id" jdbcType="INTEGER" property="activityId" />
        <result column="action_type" jdbcType="VARCHAR" property="actionType" />
        <result column="action" jdbcType="VARCHAR" property="action" />
        <result column="action_identify" jdbcType="VARCHAR" property="actionIdentify" />
        <result column="action_description" jdbcType="VARCHAR" property="actionDescription" />
        <result column="score" jdbcType="DECIMAL" property="score" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.uid, t.activity_id, t.action_type, t.action, t.action_identify, t.action_description,
        t.score, t.create_time, t.update_time
    </sql>
</mapper>