<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.activity.mapper.WebTemplateMapper">
    <resultMap id="BaseResultMap" type="com.chaoxing.activity.model.WebTemplate">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <sql id="Base_Column_List">
        t.id, t.name, t.cover_url, t.create_time
    </sql>
</mapper>