<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>登录</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<meta name="format-detection" content="telephone=no, email=no">
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
</head>
<body>
<div id="vue"></div>
</body>
<div th:replace="mobile/include/common_js :: common_js(~{::script})">
	<script th:inline="javascript">
		function ready() {
			vm = new Vue({
				el: "#vue",
				data: {
					refer: [[${refer}]]
				},
				created: function () {
					var $this = this;
					if (app.isChaoxingApp()) {
						// 调用协议登录
						jsBridge.bind('CLIENT_LOGIN_STATUS', function (object) {
							if (1 == object.status) {
								// 已登录
								app.replaceUrl($this.refer);
							}
						});
						app.login();
					} else {
						window.location.replace("https://passport2.chaoxing.com/login?loginType=1&fid=&newversion=true&refer=" + $this.refer);
					}
				}
			});
		}
	</script>
</div>
</html>