.sign-container {
  width: 1000px;
  margin: 16px auto;
  text-align: left;
}

.topContent {
  background: #ffffff;
  border-radius: 12px;
  position: relative;
  padding: 30px;
}

.topContent .right-fixed {
  position: absolute;
  right: 20px;
  top: 20px;
}

.topContent .right-fixed .right-div {
  float: left;
  margin-left: 20px;
}

.topContent .right-fixed .share {
  color: #999999;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}

.topContent .right-fixed .share::before, .topContent .right-fixed .share:before {
  margin-right: 4px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icon-16-share.png) center center no-repeat;
  background-size: 100%;
  position: relative;
  top: 4px;
}

.topContent .right-fixed .edit {
  color: #999999;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}

.topContent .right-fixed .edit::before, .topContent .right-fixed .edit:before {
  margin-right: 4px;
  content: '';
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url(../images/icon-16-edit.png) center center no-repeat;
  background-size: 100%;
  position: relative;
  top: 3px;
}

.topContent .sign-img {
  position: absolute;
  width: 258px;
  height: 122px;
}

.topContent .sign-info {
  min-height: 122px;
  padding-left: 272px;
}

.topContent .sign-info .title {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  line-height: 20px;
}

.topContent .sign-info .time {
  font-size: 13px;
  color: #666666;
  line-height: 18px;
  margin: 8px 0;
}

.topContent .sign-info .dec {
  color: #666666;
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 8px;
  word-break: break-all;
}

.topContent .sign-info .more {
  color: #999999;
  line-height: 20px;
  font-size: 13px;
  cursor: pointer;
}

.topContent .sign-info .more::after, .topContent .sign-info .more:after {
  margin-left: 4px;
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/icon-arrow-down.png) center center no-repeat;
  background-size: 100%;
  position: relative;
  top: 4px;
}

.topContent .sign-info .more.active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.bottomContent {
  background: #ffffff;
  border-radius: 12px;
  position: relative;
  padding: 30px;
  margin-top: 16px;
  min-height: 366px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.bottomContent.padding0 {
  padding: 0;
}

.bottomContent.paddingB30 {
  padding-bottom: 30px;
}

.bottomContent .Num {
  text-align: right;
  color: #999999;
  line-height: 20px;
  font-size: 14px;
}

.bottomContent .Num span {
  margin-left: 10px;
}

.bottomContent .Num span.color {
  color: #0084ff;
  cursor: pointer;
}

.bottomContent .sign-btn {
  width: 126px;
  height: 126px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#1ab3ff), to(#0081fe));
  background: -o-linear-gradient(top, #1ab3ff, #0081fe);
  background: linear-gradient(180deg, #1ab3ff, #0081fe);
  -webkit-box-shadow: 0px 0.1875rem 0.625rem 0px rgba(0, 153, 255, 0.4);
          box-shadow: 0px 0.1875rem 0.625rem 0px rgba(0, 153, 255, 0.4);
  font-size: 20px;
  color: #ffffff;
  line-height: 28px;
  display: block;
  font-weight: 400;
  margin: 74px auto;
}

.bottomContent .sign-btn.grey {
  color: #c5c5c5;
  background: #eaeaea;
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.06);
}

.bottomContent .signInSuccess {
  margin: 60px auto;
  width: 140px;
  text-align: center;
}

.bottomContent .signInSuccess img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.bottomContent .signInSuccess p {
  font-size: 22px;
  font-weight: 400;
  color: #333333;
  line-height: 30px;
  margin-bottom: 8px;
}

.bottomContent .signInSuccess p.time {
  color: #999999;
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 14px;
}

.bottomContent .signInSuccess .cancelA {
  color: #0084ff;
  line-height: 20px;
  font-size: 14px;
}

.bottomContent .signInCode {
  margin-top: 60px;
  text-align: center;
}

.bottomContent .signInCode .tips {
  color: #333333;
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.bottomContent .signInCode img {
  width: 180px;
  height: 180px;
}

.bottomContent .signInCode .grey {
  color: #999999;
  line-height: 18px;
  font-size: 13px;
  margin-bottom: 20px;
}

.bottomContent .signInCode .cancelA {
  color: #0084ff;
  line-height: 20px;
  font-size: 14px;
}

.bottomContent .title {
  height: 63px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 16px 30px;
  border-bottom: 1px solid #f0f2f7;
}

.bottomContent .title .num {
  line-height: 30px;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
}

.bottomContent .title .num span {
  color: #999999;
  font-weight: 400;
  margin-left: 8px;
}

.bottomContent .title .btn {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 16px;
  border: 1px solid #82c3ff;
  border-radius: 15px;
  padding: 5px 14px;
  color: #0084ff;
  line-height: 18px;
  background: #ffffff;
  font-size: 13px;
}

.bottomContent .title .btn .QRCode-small {
  position: relative;
  top: 3px;
  margin-right: 5px;
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url("../images/icon-16-code-blue.png") no-repeat;
  background-size: 100%;
}

.bottomContent .table-div {
  padding: 0 30px;
}

.bottomContent .table-div .filter-div {
  padding: 16px 0;
}

.bottomContent .table-div .filter-div .filterBtn {
  margin-right: 20px;
}

.bottomContent .table-div .filter-div .search-div {
  position: relative;
  float: right;
}

.bottomContent .table-div .filter-div .search-div .searchIcon {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 14px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/icon-16-search.png") no-repeat;
  background-size: 100%;
}

.bottomContent .table-div .filter-div .search-div .deleteIcon {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 14px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/icon-16-cancel.png") no-repeat;
  background-size: 100%;
}

.bottomContent .table-div .filter-div .search-div .text {
  color: #cccccc;
  line-height: 18px;
  font-size: 13px;
  padding: 6px 48px 6px 16px;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  background: #ffffff;
  color: #333333;
}

.bottomContent .table-div table {
  font-size: 14px;
}

.bottomContent .table-div table tr {
  border-radius: 2px 2px 0px 0px;
}

.bottomContent .table-div table tr th {
  background: #fafafa;
  font-weight: 400;
  color: #999999;
}

.bottomContent .table-div table tr td {
  color: #333333;
}

.bottomContent .table-div table tr td .name {
  margin-top: 8px;
  display: inline-block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.bottomContent .table-div table tr td .btn-no-border {
  cursor: pointer;
  border: none;
  background: none;
  color: #0084FF;
  font-size: 14px;
  font-weight: 400;
}

.bottomContent .table-div table .el-checkbox__inner {
  width: 16px;
  height: 16px;
}

.bottomContent .table-div .el-table th > .cell {
  padding-left: 14px;
}

.bottomContent .table-div .el-table .cell {
  line-height: 20px;
}

.bottomContent .table-div .el-table th:nth-child(2) > .cell {
  padding-left: 60px;
}

.bottomContent .table-div .EUIPage {
  text-align: center;
  margin: 20px 0 0;
}

.bottomContent .table-div .el-table::before {
  height: 0;
}

.bottomContent .el-pagination.is-background .el-pager li:not(.disabled).active {
  background: #0084FF;
}

.normal-btn {
  line-height: 18px;
  padding: 5px 14px;
  color: #0084ff;
  font-size: 13px;
  border: 1px solid #82c3ff;
  border-radius: 15px;
  background: #ffffff;
}

.noTableData p {
  color: #999999;
  line-height: 20px;
  font-size: 14px;
  margin: 200px 0;
}

.noContent {
  text-align: center;
  margin: 200px 0;
}

.noContent p {
  color: #999999;
  line-height: 20px;
  font-size: 14px;
}

.myDialogStyle .el-dialog {
  border-radius: 10px;
}

.myDialogStyle .el-dialog__header {
  text-align: center;
  font-weight: 600;
  color: #333333;
  line-height: 22px;
  padding-top: 30px;
}

.myDialogStyle .el-dialog__headerbtn {
  top: 10px;
  right: 10px;
}

.myDialogStyle .el-dialog__body {
  padding: 10px 40px 20px;
}

.myDialogStyle .QRcode-div {
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  padding: 20px;
  position: relative;
}

.myDialogStyle .QRcode-div .code {
  width: 300px;
}

.myDialogStyle .QRcode-div .xxt {
  text-align: center;
  color: #999999;
  line-height: 18px;
  margin-top: 10px;
}

.myDialogStyle .QRcode-div .xxt1 {
  text-align: center;
  color: #333333;
  line-height: 25px;
  margin-top: 10px;
  font-size: 18px;
}

.myDialogStyle .QRcode-div .xxt1 span {
  color: #0084ff;
  font-weight: 600;
  margin-left: 10px;
}

.myDialogStyle .QRcode-div .downloadIcon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: url("../images/icon-16-download.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.myDialogStyle .participants-list {
  padding: 0 30px;
  max-height: 447px;
  overflow: auto;
}

.myDialogStyle .participants-list ul li {
  border-bottom: 1px solid #f0f2f7;
  padding: 10px 0;
}

.myDialogStyle .participants-list ul li img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  float: left;
}

.myDialogStyle .participants-list ul li .name {
  float: left;
  color: #333333;
  line-height: 36px;
  margin-left: 14px;
}

.myDialogStyle.headerLine .el-dialog {
  min-height: 520px;
}

.myDialogStyle.headerLine .el-dialog__header {
  border-bottom: 1px solid #e9e9e9;
  padding: 16px 20px;
}

.myDialogStyle.headerLine .el-dialog__body {
  padding: 0 0 30px 0;
}

.myDialogStyle .warning {
  margin-bottom: 20px;
}

.myDialogStyle .tips {
  color: #333333;
  line-height: 24px;
  font-size: 16px;
}

.myDialogStyle .el-dialog__footer {
  text-align: center;
}

.myDialogStyle .el-dialog__footer .el-button {
  border-radius: 15px;
  height: 30px;
  padding: 0 14px;
}

.myDialogStyle .el-dialog__footer .el-button:first-child {
  border: 1px solid #82c3ff;
  color: #0084ff;
}
