.administrators .title {
  position: relative;
  padding: 1rem;
  background: #ffffff;
}

.administrators .title .txt {
  padding-right: 5.6875rem;
  line-height: 1.5625rem;
  height: 1.5625rem;
  color: #333333;
  font-size: .9375rem;
  text-align: left;
}

.administrators .title .status {
  position: absolute;
  font-size: .8125rem;
  right: 1rem;
  top: 1rem;
}

.administrators .title .status.color0 {
  color: #51B9FF;
}

.administrators .title .status.color1 {
  color: #0084FF;
}

.administrators .title .status.color2 {
  color: #999999;
}

.administrators .index-list {
  padding: 0 .75rem;
}

.administrators .index-list .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0.375rem 0.75rem rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0.375rem 0.75rem rgba(0, 0, 0, 0.04);
  border-radius: .5rem;
  padding: 1rem;
  margin-top: .75rem;
}

.administrators .index-list .item img {
  width: 2.5rem;
  height: 2.5rem;
}

.administrators .index-list .item .flTxt {
  line-height: 2.5rem;
  color: #333333;
  font-size: .9375rem;
  margin-left: .5rem;
}

.administrators .index-list .item .frTxt {
  line-height: 2.5rem;
  font-size: .8125rem;
  color: #999999;
  margin-left: auto;
}

.administrators .index-list .item .icon-arrow-r {
  display: inline-block;
  width: .375rem;
  height: 2.5rem;
  background: url("../images/right-arrow.png") center center no-repeat;
  background-size: 100%;
  margin-left: .5rem;
}

.administrators .index-list .item .marginAuto {
  margin-left: auto;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.noContent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.noContent p {
  text-align: center;
  color: #999999;
  line-height: 1.25rem;
  font-size: 0.9375rem;
}
